@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.addons {
    padding-left: var(--gap-0);
}

.l,
.xl {
    & .addons {
        padding-left: var(--gap-0);
    }
}

.flagIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: var(--gap-12);
}

.emptyCountryIcon {
    color: var(--color-light-neutral-700);
}
