@import '../../vars/src/index.css';

:root {
    --skeleton-display: block;
    --skeleton-default-color: var(--color-light-neutral-translucent-100);
    --skeleton-border-radius: var(--border-radius-m);
    --skeleton-backdrop-filter: blur(20px);
    --skeleton-bg-animation-display: block;
    --skeleton-bg-animation-color: transparent;
}

.component {
    position: relative;
    display: var(--skeleton-display);
    vertical-align: middle;
    color: transparent;
    border-radius: var(--skeleton-border-radius);
    overflow: hidden;
    background: var(--skeleton-default-color);

    /* Safari overflow fix https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b */
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &.allowBackdropBlur {
        backdrop-filter: var(--skeleton-backdrop-filter);
    }
}

.component > * {
    visibility: hidden;
}

.component:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--skeleton-bg-animation-color);
}

.animate:before {
    display: var(--skeleton-bg-animation-display);
    animation-name: background;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    opacity: 0.5;
}

@supports (backdrop-filter: blur(1px)) {
    .animate:before {
        opacity: 0.4;
    }
}

@keyframes background {
    0% {
        background: var(--color-light-neutral-translucent-100);
    }
    100% {
        background: var(--color-light-neutral-translucent-300);
    }
}
