@import './vars.css';

.component {
    position: relative;
    display: var(--skeleton-display);
    vertical-align: middle;
    color: transparent;
    border-radius: var(--skeleton-border-radius);
    overflow: hidden;

    /* Safari overflow fix https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b */
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &.allowBackdropBlur {
        backdrop-filter: var(--skeleton-backdrop-filter);
    }
}

.component > * {
    visibility: hidden;
}

.component:before {
    content: '';
    position: absolute;
    top: var(--gap-0);
    left: var(--gap-0);
    right: var(--gap-0);
    bottom: var(--gap-0);
    background: var(--skeleton-bg-animation-color);
}

.animate:before {
    display: var(--skeleton-bg-animation-display);
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    opacity: 0.5;
}

@supports (backdrop-filter: blur(1px)) {
    .animate:before {
        opacity: 0.4;
    }
}
