@import './vars.css';

.component {
    background: var(--skeleton-inverted-default-color);
}

.component.animate {
    background: none;
}

.component.animate:before {
    background: var(--color-light-neutral-translucent-300-inverted);
    animation-name: opacity-animation-inverted;
}

@keyframes opacity-animation-inverted {
    0% {
        opacity: 0.55;
    }
    100% {
        opacity: 0.75;
    }
}
