@import '@alfalab/core-components-vars/src/index.css';

:root {
    --skeleton-display: block;
    --skeleton-border-radius: var(--border-radius-8); /* deprecated */
    --skeleton-backdrop-filter: blur(20px);
    --skeleton-bg-animation-display: block;
    --skeleton-bg-animation-color: transparent;
    --skeleton-default-color: var(--color-light-neutral-translucent-100);
    --skeleton-inverted-default-color: var(--color-light-neutral-translucent-100-inverted);
}
