@import '../../../packages/vars/src/index.css';

.tabs {
    margin-top: var(--gap-32);
    padding-bottom: var(--gap-16);
}

@media (--tablet-m) {
    .tabs {
        margin-top: var(--gap-48);
    }
}
