@import '../../../packages/vars/src/index.css';

.tabs {
    margin-top: var(--gap-2xl);
    padding-bottom: var(--gap-m);
}

@media (--tablet-m) {
    .tabs {
        margin-top: var(--gap-4xl);
    }
}
