@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    position: relative;
    display: inline-flex;
}

.fullWidthScroll {
    margin: 0 var(--gap-m);
}

.container {
    overflow: hidden;

    /* focus-outline fix */
    margin: var(--gap-2xs-neg) 0 var(--gap-2xs-neg) var(--gap-2xs-neg);
    padding: var(--gap-2xs) 0 var(--gap-2xs) var(--gap-2xs);
}

.title {
    white-space: nowrap;
}

/* sizes */

.xxs {
    & .title + .title,
    & .skeleton + .skeleton {
        margin-left: var(--secondary-tablist-xxs-gaps);
    }
}

.xs {
    & .title + .title,
    & .skeleton + .skeleton {
        margin-left: var(--secondary-tablist-xs-gaps);
    }
}

.s {
    & .title + .title,
    & .skeleton + .skeleton {
        margin-left: var(--secondary-tablist-s-gaps);
    }
}

.m {
    & .title + .title,
    & .skeleton + .skeleton {
        margin-left: var(--secondary-tablist-m-gaps);
    }
}

.l {
    & .title + .title,
    & .skeleton + .skeleton {
        margin-left: var(--secondary-tablist-l-gaps);
    }
}

.xl {
    & .title + .title,
    & .skeleton + .skeleton {
        margin-left: var(--secondary-tablist-xl-gaps);
    }
}
