@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    position: relative;
    display: flex;
    align-items: center;
    transition: margin 200ms ease-in;
}

.fullWidthScroll {
    margin: 0 var(--gap-m);
}

.container {
    display: flex;
    align-items: center;
}

.title {
    white-space: nowrap;
}

.rightOut {
    right: var(--gap-m-neg);
    margin-left: var(--gap-m-neg);
}

.leftOut {
    margin-left: var(--gap-2xl-neg);
}

/* sizes */

.xxs .title + .title {
    margin-left: var(--secondary-tablist-xxs-gaps);
}

.xs .title + .title {
    margin-left: var(--secondary-tablist-xs-gaps);
}

.s .title + .title {
    margin-left: var(--secondary-tablist-s-gaps);
}

.m .title + .title {
    margin-left: var(--secondary-tablist-m-gaps);
}

.l .title + .title {
    margin-left: var(--secondary-tablist-l-gaps);
}

.xl .title + .title {
    margin-left: var(--secondary-tablist-xl-gaps);
}
