@import '../../../../themes/src/default.css';

.addons {
    padding-left: 0;
}

.l,
.xl {
    & .addons {
        padding-left: 0;
    }
}

.flagIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: var(--gap-s);
}

.emptyCountryIcon {
    color: var(--color-light-graphic-secondary);
}

.input {
    padding-top: var(--gap-xs);
}

.error {
    color: var(--color-light-text-negative);
}
