@import '../../../../themes/src/default.css';

.component {
    @mixin paragraph_primary_small;

    color: var(--color-light-text-primary);
    padding: var(--gap-xl) var(--gap-s);
    height: 72px;
    border-top: 1px solid var(--color-light-neutral-400);
    vertical-align: top;
    box-sizing: border-box;

    &:first-child {
        padding-left: var(--gap-m);
    }

    &:last-child {
        padding-right: var(--gap-m);
    }
}

.compactHorizontal {
    padding-left: 6px;
    padding-right: 6px;
}

.compact {
    padding-top: var(--gap-xs);
    padding-bottom: var(--gap-xs);

    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
