@import '../../vars/src/index.css';

.positive-checkmark {
    background-color: var(--color-light-status-positive-inverted);
}

.negative-cross,
.negative-alert,
.negative-block {
    background-color: var(--color-light-status-negative-inverted);
}

.attention-alert {
    background-color: var(--color-light-status-attention-inverted);
}

.neutral-information,
.neutral-operation,
.neutral-cross {
    background-color: var(--color-light-neutral-700-inverted);
}
