@import '../../../../themes/src/default.css';
@import '../../vars.css';

.optionsList {
    width: 100%;
    outline: none;
    box-sizing: border-box;
    position: relative;
}

.optionsListHeader {
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease;

    &.headerHighlighted {
        border-bottom-color: var(--color-light-neutral-300);
    }
}

.optionsListFooter {
    position: sticky;
    bottom: 0;
    box-sizing: border-box;
    border-top: 1px solid transparent;
    transition: border-color 0.2s ease;

    &.withBorder {
        border-top-color: var(--color-light-neutral-300);
    }
}

.scrollable {
    overflow: auto;
    width: 100%;
}

.emptyPlaceholder {
    padding: var(--gap-m) var(--gap-s);
    color: var(--select-options-list-empty-placeholder-color);
}

.size-64 .emptyPlaceholder,
.size-72 .emptyPlaceholder {
    padding: var(--gap-xl) var(--gap-m);
}
