@import '../../../../themes/src/default.css';
@import '../../vars.css';

.optionsList {
    overflow: auto;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

.optionsListHeader {
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-light-border-secondary);
}

.optionsListFooter {
    box-sizing: border-box;
    border-top: 1px solid transparent;

    &.withBorder {
        border-top: 1px solid var(--color-light-border-secondary);
    }
}

.scrollable {
    overflow: auto;
    width: 100%;
}

.mobileList {
    margin-bottom: 80px;
}

.emptyPlaceholder {
    padding: var(--gap-m) var(--gap-s);
    color: var(--select-options-list-empty-placeholder-color);
}

.l .emptyPlaceholder,
.xl .emptyPlaceholder {
    padding: var(--gap-xl) var(--gap-m);
}
