@import '../../vars/src/index.css';
@import './vars.css';

.component {
    width: 100%;
    padding-top: var(--slider-progress-s-height);
    position: relative;

    & :global(.noUi-base:hover) {
        & :global(.noUi-connects) {
            background: var(--slider-progress-hover-background);
        }

        & :global(.noUi-connect) {
            background: var(--slider-progress-hover-color);
        }
    }

    & :global(.noUi-handle:hover .noUi-touch-area) {
        background: var(--slider-thumb-hover-color);
    }

    & :global(.noUi-handle:active .noUi-touch-area) {
        background: var(--slider-thumb-active-color);
    }

    & :global(.noUi-base) {
        position: absolute;
        width: 100%;
        height: var(--slider-clickable-area-size);
        transform: translateY(-50%);

        cursor: pointer;
    }

    & :global(.noUi-origin) {
        width: var(--slider-origin-width);
        position: absolute;
        top: 0;
        right: var(--slider-origin-right);
        height: 0;
    }

    & :global(.noUi-connects) {
        width: 100%;
        height: 100%;
        position: relative;
        background: var(--slider-progress-background);
        transition: background 0.15s;
        z-index: 1;
        overflow: hidden;
    }

    & :global(.noUi-connect) {
        background: var(--slider-progress-color);
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform-style: flat;
        will-change: transform;
        transform-origin: 0 0;
    }

    & :global(.noUi-handle) {
        position: absolute;
        top: calc((var(--slider-thumb-half-size) - var(--slider-clickable-area-half-size)) * -1);
        right: calc(var(--slider-thumb-half-size) * -1);
        width: var(--slider-thumb-size);
        height: var(--slider-thumb-size);

        box-sizing: border-box;
        border-radius: var(--border-radius-circle);
        box-shadow: var(--slider-thumb-box-shadow);
        border: var(--slider-thumb-border);
        cursor: grab;
        outline: none;
        transition: background 0.15s;
    }

    & :global(.noUi-touch-area) {
        border-radius: var(--border-radius-circle);
        background: var(--slider-thumb-color);
        width: 100%;
        height: 100%;
    }

    & :global(.noUi-pips) {
        @mixin paragraph_component_secondary;
        margin-top: 6px;
        height: 18px;
        color: var(--color-light-text-secondary);
        position: relative;
        width: 100%;
    }

    & :global(.noUi-marker) {
        display: none;
    }

    & :global(.noUi-value) {
        position: absolute;
        white-space: nowrap;
        text-align: center;
        top: 0;
        transform: translateX(-50%);

        &:nth-child(2) {
            transform: none;
        }

        &:last-child {
            transform: translateX(-100%);
        }
    }
}

.size-2 {
    & :global(.noUi-base) {
        border-radius: var(--slider-progress-s-border-radius);
        top: calc(var(--slider-progress-s-height) / 2);
    }

    & :global(.noUi-connects) {
        top: calc(var(--slider-clickable-area-half-size) - var(--slider-progress-s-height) / 2);
        height: var(--slider-progress-s-height);
        border-radius: var(--slider-progress-s-border-radius);
    }
}

.size-4 {
    & :global(.noUi-base) {
        border-radius: var(--slider-progress-m-border-radius);
        top: calc(var(--slider-progress-m-height) / 2);
    }

    & :global(.noUi-connects) {
        top: calc(var(--slider-clickable-area-half-size) - var(--slider-progress-m-height) / 2);
        height: var(--slider-progress-m-height);
        border-radius: var(--slider-progress-m-border-radius);
    }
}
