@import '../../themes/src/default.css';

:root {
    --slider-progress-color: var(--color-red-dark);
    --slider-progress-hover-color: var(--color-red-dark);
    --slider-thumb-color: var(--color-light-graphic-accent);
    --slider-thumb-hover-color: var(--color-light-graphic-accent-shade-7);
    --slider-thumb-active-color: var(--color-light-graphic-accent-shade-15);
    --slider-thumb-size: 20px;
    --slider-thumb-border: 2px solid transparent;
    --slider-thumb-box-shadow: none;
    --slider-progress-s-height: 2px;
    --slider-progress-m-height: 4px;
    --slider-progress-s-border-radius: 0;
    --slider-progress-m-border-radius: var(--border-radius-s);
    --slider-progress-background: var(--color-light-border-underline);
    --slider-progress-hover-background: var(--color-light-border-underline);

    /* Отступы по бокам — на мобилке thumb не должен заходить за края контрола */
    --slider-origin-width: 100%;
    --slider-origin-right: 0;
}

.component {
    width: 100%;

    & :global(.noUi-base:hover) {
        background: var(--slider-progress-hover-background);

        & :global(.noUi-connect) {
            background: var(--slider-progress-hover-color);
        }
    }

    & :global(.noUi-handle:hover .noUi-touch-area) {
        background: var(--slider-thumb-hover-color);
    }

    & :global(.noUi-handle:active .noUi-touch-area) {
        background: var(--slider-thumb-active-color);
    }

    & :global(.noUi-base) {
        position: relative;
        width: 100%;
        background: var(--slider-progress-background);
        transition: background 0.15s;
        cursor: pointer;
    }

    & :global(.noUi-origin) {
        width: var(--slider-origin-width);
        position: absolute;
        top: 0;
        right: var(--slider-origin-right);
        height: 0;
    }

    & :global(.noUi-connects) {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    & :global(.noUi-connect) {
        background: var(--slider-progress-color);
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform-style: flat;
        will-change: transform;
        transform-origin: 0 0;
    }

    & :global(.noUi-handle) {
        position: absolute;
        right: calc(var(--slider-thumb-size) / 2 * -1);
        width: var(--slider-thumb-size);
        height: var(--slider-thumb-size);

        box-sizing: border-box;
        border-radius: var(--border-radius-circle);
        box-shadow: var(--slider-thumb-box-shadow);
        border: var(--slider-thumb-border);
        cursor: grab;
        outline: none;
        transition: background 0.15s;
    }

    & :global(.noUi-touch-area) {
        border-radius: 50%;
        background: var(--slider-thumb-color);
        width: 100%;
        height: 100%;
    }

    & :global(.noUi-pips) {
        @mixin system_14-18_regular;
        margin-top: 6px;
        height: 18px;
        color: var(--color-light-text-secondary);
        position: relative;
        width: 100%;
    }

    & :global(.noUi-marker) {
        display: none;
    }

    & :global(.noUi-value) {
        position: absolute;
        white-space: nowrap;
        text-align: center;
        top: 0;
        transform: translateX(-50%);

        &:nth-child(2) {
            transform: none;
        }

        &:last-child {
            transform: translateX(-100%);
        }
    }
}

.s {
    & :global(.noUi-base) {
        height: var(--slider-progress-s-height);
        border-radius: var(--slider-progress-s-border-radius);
    }

    & :global(.noUi-connects) {
        border-radius: var(--slider-progress-s-border-radius);
    }

    & :global(.noUi-handle) {
        top: calc((var(--slider-thumb-size) / 2 - var(--slider-progress-s-height) / 2) * -1);
    }
}

.m {
    & :global(.noUi-base) {
        height: var(--slider-progress-m-height);
        border-radius: var(--slider-progress-m-border-radius);
    }

    & :global(.noUi-connects) {
        border-radius: var(--slider-progress-m-border-radius);
    }

    & :global(.noUi-handle) {
        top: calc((var(--slider-thumb-size) / 2 - var(--slider-progress-m-height) / 2) * -1);
    }
}
