@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

:root {
    --slider-progress-color: var(--color-light-accent-primary);
    --slider-progress-hover-color: var(--color-light-accent-primary);
    --slider-thumb-color: var(--color-light-accent-primary);
    --slider-thumb-hover-color: var(--color-light-accent-primary-hover);
    --slider-thumb-active-color: var(--color-light-accent-primary-press);
    --slider-thumb-size: 20px;
    --slider-thumb-half-size: calc(var(--slider-thumb-size) / 2);
    --slider-thumb-border: 2px solid transparent;
    --slider-thumb-box-shadow: none;
    --slider-progress-s-height: 2px;
    --slider-progress-m-height: 4px;
    --slider-progress-s-border-radius: 0;
    --slider-progress-m-border-radius: var(--border-radius-4);
    --slider-progress-background: var(--color-light-neutral-translucent-300);
    --slider-progress-hover-background: var(--color-light-neutral-translucent-300);
    --slider-clickable-area-size: 16px;
    --slider-clickable-area-half-size: calc(var(--slider-clickable-area-size) / 2);

    /* Отступы по бокам — на мобилке thumb не должен заходить за края контрола */
    --slider-origin-width: 100%;
    --slider-origin-right: var(--gap-0);
}
