@import '../../../../form-control/src/vars.css';
@import '../../vars.css';

.clearIcon {
    display: block;
    transition: opacity 0.2s ease;
}

.clearButton {
    & + * {
        margin-left: var(--gap-4);
    }

    &.size-40 + * {
        margin-left: 6px;
    }
}

.clearButton + [data-addon='error-icon'] {
    display: var(--input-error-icon-display);
}
