@import '@alfalab/core-components-vars/src/index.css';
@import './vars.css';

.backdrop {
    z-index: -1;
    position: fixed;
    right: var(--gap-0);
    bottom: var(--gap-0);
    top: var(--gap-0);
    left: var(--gap-0);
    background-color: var(--backdrop-visible-background);
    -webkit-tap-highlight-color: transparent; /* убирает хайлайт */
}

.appear,
.enter {
    opacity: 0;
}

.appearActive,
.enterActive,
.appearDone,
.enterDone {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.exit {
    opacity: 1;
}

.exitActive,
.exitDone {
    opacity: 0;
    transition: opacity 200ms ease-out;
}

.transparent.transparent {
    background-color: var(--backdrop-hidden-background);
}
