@import '@alfalab/core-components-vars/src/index.css';
@import './vars.css';

.backdrop {
    z-index: -1;
    position: fixed;
    right: var(--gap-0);
    bottom: var(--gap-0);
    top: var(--gap-0);
    left: var(--gap-0);
    -webkit-tap-highlight-color: transparent; /* убирает хайлайт */
}

.backdrop:before {
    position: absolute;
    inset: var(--gap-0);
    content: '';
    opacity: 0;
    pointer-events: none;
    background-color: var(--backdrop-visible-background);
}

.appear:before,
.enter:before {
    opacity: 0;
}

.appearActive:before,
.enterActive:before,
.appearDone:before,
.enterDone:before {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.exit:before {
    opacity: 1;
}

.exitActive:before,
.exitDone:before {
    opacity: 0;
    transition: opacity 200ms ease-out;
}

.transparent.transparent {
    background-color: var(--backdrop-hidden-background);
}

.transparent.transparent:before {
    background-color: var(--backdrop-hidden-background);
}
