@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../../vars.css';

.component {
    font: var(--font-family);
    @mixin action_component_secondary;

    border-radius: var(--border-radius-circle);
    width: 64px;
    height: 64px;

    justify-content: center;
    align-items: center;
    color: var(--color-light-text-primary);

    &.secondary {
        background: var(--button-bg-color);

        &:active {
            background: var(--button-bg-color-active);
        }
    }

    &.text {
        @mixin hover {
            color: var(--color-light-text-primary-hover);
        }

        &:active {
            color: var(--color-light-text-primary-press);
        }
    }

    @media screen and (min-width: 360px) {
        height: 76px;
        width: 76px;
    }

    @media screen and (min-width: 390px) {
        width: 86px;
        height: 86px;
    }
}
