@import '../../../../vars/src/index.css';

.component {
    grid-column: 1/3;
    display: grid;
    grid-row-gap: var(--gap-xs);

    &.none {
        margin-top: 0;
    }

    &.default {
        margin-top: var(--gap-xs);
    }
}
