@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    width: max-content;
    position: relative;
    outline: 0;
    max-width: 100%;
}

.sheet {
    overflow: hidden;
}

.sheetContent {
    padding: 0;

    & .modalContent {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}

.sheetContainer {
    padding: 0;
}

.block {
    width: 100%;
}

.optionsListWrapper {
    flex: 1;
}

.optionsList {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollbar {
    flex: 1;
}

.emptySearchPlaceholder {
    text-align: center;
}

.search {
    padding: var(--gap-m) var(--gap-xs) var(--gap-s);
}

/* width: max-content; fix for IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .component {
        float: left;
        clear: left;
    }
}

.option {
    padding: var(--gap-2xs) var(--gap-l) var(--gap-2xs) var(--gap-m);

    &:before {
        display: none;
    }
}

.optionGroup {
    padding: var(--gap-m) var(--gap-m) var(--gap-xs);
}
