@import '@alfalab/core-components-vars/src/index.css';
@import '../../vars.css';

.header {
    width: 100%;
    box-sizing: border-box;
    padding: var(--gap-16) var(--gap-16) var(--gap-12);
    transition: box-shadow 0.2s ease;
    display: flex;
    justify-content: center;
}

.withShadow {
    box-shadow: 0 1px 0 0 var(--color-light-neutral-300);
}
