@import '@alfalab/core-components-vars/src/no-typography-index.css';

.accordion {
    width: 100%;
}

.container {
    display: flex;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--gap-4);
}

.body {
    position: relative;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    transition: height 400ms cubic-bezier(0.2, 0, 0.2, 1.25), visibility 0s linear 400ms;
}

.expandedBody {
    visibility: visible;
    height: auto;
    transition: height 400ms cubic-bezier(0, 0.1, 0.5, 1);
    transform: translate3d(0, 0, 0);
}

.bodyContent {
    padding-top: var(--gap-12);
}

.endPosition {
    order: 2;
    margin-left: var(--gap-4);
}

.startPosition {
    margin-left: var(--gap-0);
}
