@import '../../../vars/src/index.css';
@import '../vars.css';

.component {
    box-sizing: border-box;
    padding: var(--gap-8) var(--gap-16) var(--gap-16);
    min-width: var(--pass-code-min-width);
}
