@import '../../vars.css';

.content {
    font-weight: var(--side-panel-header-desktop-font-weight);
    font-family: var(--side-panel-header-desktop-font-family);
}

.s .content {
    padding: var(--side-panel-s-header-desktop-content-paddings);
    font-size: var(--side-panel-s-header-desktop-font-size);
    line-height: var(--side-panel-s-header-desktop-line-height);
}

.s {
    padding: var(--side-panel-s-header-paddings);

    &:not(.hasContent) {
        padding-bottom: 0;
    }
}

.sticky {
    top: 0;
}
