@import '../../../../vars/src/safe-area.css';
@import '../../vars.css';

.header {
    padding: var(--side-panel-header-mobile-paddings);

    @media (display-mode: standalone) {
        padding-top: var(--sat);
    }
}

.sticky {
    top: var(--gap-0);

    & .background {
        display: none;
        @media (display-mode: standalone) {
            background: --side-panel-header-background;
            display: block;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0.85;
        }
    }
}

.content {
    font-size: var(--side-panel-header-mobile-font-size);
    line-height: var(--side-panel-header-mobile-line-height);
    font-family: var(--side-panel-header-mobile-font-family);
    font-weight: var(--side-panel-header-mobile-font-weight);
    padding: var(--side-panel-header-mobile-content-paddings);
}
