@import '../../../../vars/src/safe-area.css';
@import '../../vars.css';

.header {
    padding: var(--side-panel-header-mobile-paddings);
}

.sticky {
    top: var(--gap-0);

    @media (display-mode: standalone) {
        top: var(--sat);
    }
}

.content {
    font-size: var(--side-panel-header-mobile-font-size);
    line-height: var(--side-panel-header-mobile-line-height);
    font-family: var(--side-panel-header-mobile-font-family);
    font-weight: var(--side-panel-header-mobile-font-weight);
    padding: var(--side-panel-header-mobile-content-paddings);
}
