@import '../../../../vars/src/index.css';
@import '../../vars.css';

.footer {
    padding: var(--gap-16) var(--gap-16);
}

.sticky {
    position: sticky;
    bottom: var(--gap-0);
    z-index: 1;
}

@mixin bg-class-list;
