@import '@alfalab/core-components-vars/src/index.css';
@import '../../vars.css';

.footer {
    padding: var(--gap-16);

    &:empty {
        padding: var(--gap-16) var(--gap-0) var(--gap-0);
        position: sticky;
        bottom: var(--gap-0);
        z-index: 1;
    }
}

.sticky {
    position: sticky;
    bottom: var(--gap-0);
    z-index: 1;
}
