@import '../../../../themes/src/default.css';
@import '../../vars.css';

.footer {
    padding: var(--gap-16) var(--gap-16);
    background-color: var(--color-light-modal-bg-primary);
}

.sticky {
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.highlighted {
    border-top: var(--bottom-sheet-footer-border-top);
    background-color: var(--bottom-sheet-footer-background-color);
}

@mixin bg-class-list;
