@import '../../../../vars/src/index.css';
@import '../../vars.css';

.highlighted {
    background-color: var(--bottom-sheet-inverted-footer-background-color);
    border-top: var(--bottom-sheet-inverted-footer-border-top);
}

.hasContent {
    background-color: var(--bottom-sheet-inverted-footer-background-color);
    color: var(--bottom-sheet-inverted-text-color);
}
