@import '../../../../vars/src/index.css';

.component {
    display: flex;
}

.weight {
    font-weight: inherit;
}

.hidden {
    background: var(--color-light-neutral-translucent-400);
    border-radius: var(--border-radius-8);
    display: inline-block;
}

.hidden-xsmall {
    height: 16px;
    width: 88px;
}
.hidden-small {
    height: 18px;
    width: 100px;
}
.hidden-medium {
    height: 24px;
    width: 120px;
}
.hidden-large {
    height: 28px;
    width: 136px;
}
.hidden-xlarge {
    height: 32px;
    width: 156px;
}
.hiddenWrapper {
    display: flex;
}
.hiddenWrapper-xsmall {
    padding: var(--gap-4) var(--gap-0);
}
.hiddenWrapper-small {
    padding: var(--gap-8) var(--gap-0);
}
.hiddenWrapper-medium {
    padding: var(--gap-8) var(--gap-0);
}
.hiddenWrapper-large {
    padding: var(--gap-12) var(--gap-0);
}
.hiddenWrapper-xlarge {
    padding: var(--gap-16) var(--gap-0);
}
