@import '../../../../vars/src/index.css';

button.tag.tag {
    color: var(--color-light-text-secondary);
    border-radius: var(--border-radius-m);
    border: none;
    flex-shrink: 0;
    min-width: auto;
    min-height: auto;
    width: 32px;
    height: 32px;
    padding: var(--gap-0);

    &:disabled:not(.checked) {
        opacity: 0.3;
    }

    &:hover:not(:disabled) {
        background-color: var(--color-light-transparent-default-hover);
        color: var(--color-light-text-primary);
    }

    &:active:not(:disabled) {
        background-color: var(--color-light-transparent-default-press);
    }

    &.checked {
        cursor: default;
        background-color: var(--color-light-accent-secondary);
        color: var(--color-light-text-primary-inverted);
    }

    &.checked:hover:not(:disabled) {
        color: var(--color-light-text-primary-inverted);
    }

    &.checked:active:not(:disabled) {
        color: var(--color-light-text-primary);
    }
}
