@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

button.tag.tag {
    color: var(--color-light-text-secondary);
    border-radius: var(--border-radius-8);
    border: none;
    flex-shrink: 0;
    min-height: auto;
    min-width: 32px;
    height: 32px;

    &:not(.arrow) {
        padding: 0 6px;
    }

    &:disabled:not(.checked) {
        opacity: 0.3;
    }

    &:hover:not(:disabled) {
        background-color: var(--color-light-transparent-default-hover);
        color: var(--color-light-text-primary);
    }

    &:active:not(:disabled) {
        background-color: var(--color-light-transparent-default-press);
    }

    &.checked {
        cursor: default;
        background-color: var(--color-light-accent-secondary);
        color: var(--color-light-text-primary-inverted);
    }

    &.checked:hover:not(:disabled) {
        color: var(--color-light-text-primary-inverted);
    }

    &.checked:active:not(:disabled) {
        color: var(--color-light-text-primary);
    }
}
