@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';
@import '../../vars.css';

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: var(--pattern-lock-min-height);

    & canvas {
        display: block;
        margin: var(--gap-0) auto;
    }

    & .canvasContainer {
        box-sizing: border-box;
        padding: var(--gap-16) var(--gap-16);
        min-width: var(--pattern-lock-min-width);
        min-height: var(--pattern-lock-min-height);

        & .canvasInner {
            box-sizing: border-box;
            padding: var(--gap-0) var(--gap-16);
            min-width: var(--pattern-lock-min-height);
        }
    }

    &.disabled {
        pointer-events: none;
    }
}

.withForgotBtn {
    min-height: var(--pattern-lock-with-forgot-btn-min-height);
}

.forgotBtn {
    display: block;
    min-height: var(--size-xs-height);
}
