@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: var(--pattern-lock-min-height);

    & canvas {
        display: block;
        margin: 0 auto;
    }

    & .canvasContainer {
        box-sizing: border-box;
        padding: var(--gap-m) var(--gap-m);
        min-width: var(--pattern-lock-min-width);
        min-height: var(--pattern-lock-min-height);

        & .canvasInner {
            box-sizing: border-box;
            padding: 0 var(--gap-m);
            min-width: var(--pattern-lock-min-height);
        }
    }
}

.withForgotBtn {
    min-height: var(--pattern-lock-with-forgot-btn-min-height);
}

.forgotBtn {
    display: block;
    min-height: var(--size-xs-height);
}
