@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: var(--pattern-lock-min-height);
    padding: 0 var(--gap-m);

    & canvas {
        display: block;
        margin: 0 auto;
        padding: var(--gap-m) var(--gap-m);
    }
}

.withForgotBtn {
    min-height: var(--pattern-lock-with-forgot-btn-min-height);
}

.forgotBtn {
    display: block;
    min-height: var(--size-xs-height);
}
