@import './vars.css';

.spinner {
    display: none;
    box-sizing: content-box;
    animation: spin_animation var(--spinner-animation-duration) infinite
        var(--spinner-animation-timing-function);
}

.visible {
    display: var(--spinner-display-visible);
    vertical-align: middle;
}

@keyframes spin_animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.gradient {
    width: 100%;
    height: 100%;
}
