:root {
    --spinner-display-visible: inline-block;
    --spinner-animation-duration: 0.8s;
    --spinner-animation-timing-function: linear;
}

.spinner {
    display: none;
    box-sizing: border-box;
    animation: spin_animation var(--spinner-animation-duration) infinite
        var(--spinner-animation-timing-function);
    background-repeat: no-repeat;
    background-size: 100%;
}

.default {
    background-image: url('./assets/spinner-light.png');
}

.inverted {
    background-image: url('./assets/spinner-dark.png');
}

.visible {
    display: var(--spinner-display-visible);
    vertical-align: middle;
}

.xs {
    width: 16px;
    height: 16px;
    margin: calc(var(--gap-3xs) / 2);
}

.s {
    width: 20px;
    height: 20px;
    margin: var(--gap-3xs);
}

.m {
    width: 40px;
    height: 40px;
    margin: var(--gap-2xs);
}

@keyframes spin_animation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
