.target {
    position: relative;
    display: inline-block;

    & .overlap {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}

.inline {
    display: inline;
}
