@import '../../../../../themes/src/default.css';
@import '../../../vars.css';

.footer {
    background: var(--color-light-bg-primary);
    padding: var(--gap-s);
    outline: none;

    & > * + * {
        margin-left: var(--gap-xs);
    }
}

.footerMobile {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: var(--gap-m) var(--gap-m);
    background-color: var(--color-light-bg-primary);
    bottom: 0;

    & .footerButton:first-of-type {
        margin-right: var(--gap-m);
    }
}

.footerButton {
    width: 47.5%;
}
