@import '../../vars.css';
@import '@alfalab/core-components-vars/src/index.css';

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    @mixin _confirmation-title;

    margin-bottom: var(--gap-40);
}

.description {
    @mixin _confirmation-text;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--gap-4);
}

.loader {
    margin-right: var(--gap-8);
}

.timePassed {
    display: flex;
    min-width: 3em;
}

.getCodeButton {
    margin-top: var(--gap-32);
}

.alertIcon {
    text-align: center;
    margin-bottom: var(--gap-24);
    color: var(--color-static-status-red);
}
