@import '../../../vars.css';

.component {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    text-align: center;
}

.typographyTheme.typographyTheme {
    @mixin _confirmation-text;
}

.typographyThemeMobile.typographyThemeMobile {
    font-size: var(--confirmation-text-font-size-mobile);
    line-height: var(--confirmation-text-line-height-mobile);
    letter-spacing: var(--confirmation-text-letter-spacing-mobile);
    color: var(--color-light-text-secondary);
}

.button.button {
    margin-top: var(--confirmation-temp-block-over-button-margin-top);
}

.button.buttonMobile {
    margin-top: var(--confirmation-temp-block-over-button-margin-top-mobile);
}
