@import '../../../vars.css';

.component {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    text-align: center;
}

.typographyTheme.typographyTheme {
    @mixin _confirmation-text;
}

.typographyThemeMobile.typographyThemeMobile {
    color: var(--color-light-text-secondary);
}

.button.button {
    margin-top: var(--gap-32);
}
