@import '@alfalab/core-components-vars/src/index.css';

.component {
    display: inline-flex;
    align-items: center;
    position: relative;

    &,
    * {
        box-sizing: border-box;
    }
}

.label {
    position: absolute;
    top: var(--gap-0);
    left: var(--gap-0);
    overflow: hidden;
    z-index: 2;
    cursor: inherit;
    width: 0;
    height: 0;
}

.control {
    opacity: 0;
    cursor: inherit;

    &::-webkit-file-upload-button {
        cursor: inherit;
    }
}

.size-64 .file,
.size-64 .noFile {
    margin-left: var(--gap-12);
}

.file,
.noFile {
    display: inline-block;
    text-align: center;
    color: var(--color-light-text-secondary);
    margin-left: var(--gap-8);

    @mixin paragraph_secondary_large;
}

.abbreviation {
    text-decoration: none;
}

.clear {
    margin: var(--gap-0) var(--gap-0) var(--gap-0) 5px;
    padding: var(--gap-0);
    cursor: pointer;
    outline: none;
    user-select: none;
    color: inherit;
    font: inherit;
    background: none;
    border: none;

    &:before {
        content: '×';
    }
}

.progressBar {
    margin-top: var(--gap-4);
}

.disabled .noFile,
.disabled .file,
.disabled .icon {
    opacity: 0.3;
}

.disabled .clear {
    display: none;
}

.focused {
    @mixin focus-outline;
}
