@import '../../../../themes/src/default.css';

.componentWrapper {
    position: relative;
    display: inline-flex;
}

.component {
    display: flex;
    position: relative;
    color: var(--color-light-text-secondary);
}

.bg {
    fill: #f3f4f5;
}

.border {
    stroke: var(--color-light-specialbg-component);
    stroke-width: 1px;
    fill: transparent;
}

.children {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & svg {
        width: 100%;
        height: 100%;
    }
}

.addons {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    line-height: 0;

    & svg {
        width: 100%;
        height: 100%;
    }
}

.size_128 {
    & .children {
        width: 64px;
        height: 64px;
    }

    & .addons {
        width: 40px;
        height: 40px;
    }

    & .topAddons {
        top: -8px;
        right: -8px;
    }

    & .bottomAddons {
        bottom: -8px;
        right: -8px;
    }
}

.size_80 {
    & .children {
        width: 48px;
        height: 48px;
    }

    & .addons {
        width: 24px;
        height: 24px;
    }

    & .topAddons {
        top: -3px;
        right: -3px;
    }

    & .bottomAddons {
        bottom: -3px;
        right: -3px;
    }

    & .indicator {
        top: -6px;
        right: -12px;
    }
}

.size_64 {
    & .children {
        width: 32px;
        height: 32px;
    }

    & .addons {
        width: 24px;
        height: 24px;
    }

    & .topAddons {
        top: -7px;
        right: -7px;
    }

    & .bottomAddons {
        bottom: -7px;
        right: -7px;
    }

    & .indicator {
        top: -8px;
        right: -14px;
    }
}

.size_48 {
    & .children {
        width: 24px;
        height: 24px;
    }

    & .addons {
        width: 20px;
        height: 20px;
    }

    & .topAddons {
        top: -7px;
        right: -7px;
    }

    & .bottomAddons {
        bottom: -7px;
        right: -7px;
    }

    & .indicator {
        top: -7px;
        right: -11px;
    }
}

.size_40 {
    & .children {
        width: 24px;
        height: 24px;
    }

    & .addons {
        width: 20px;
        height: 20px;
    }

    & .topAddons {
        top: -7px;
        right: -7px;
    }

    & .bottomAddons {
        bottom: -7px;
        right: -7px;
    }

    & .indicator {
        top: -7px;
        right: -11px;
    }
}

.size_32 {
    & .children {
        width: 24px;
        height: 24px;
    }

    & .indicator {
        top: -4px;
        right: -4px;
    }
}

.size_24 {
    & .children {
        width: 24px;
        height: 24px;
    }

    & .indicator {
        top: -4px;
        right: -4px;
    }
}

.size_20 {
    & .children {
        width: 16px;
        height: 16px;
    }

    & .indicator {
        top: -5px;
        right: -5px;
    }
}
