@import '../../../../vars/src/index.css';

:root {
    --icon-view-color: var(--color-light-neutral-translucent-700);
    --icon-view-bg-color: var(--color-light-neutral-100);
}

.componentWrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.component {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: var(--icon-view-color);

    & > svg {
        vertical-align: top;
    }
}

.bg {
    fill: var(--icon-view-bg-color);
}

.border {
    stroke: var(--color-light-neutral-translucent-200);
    stroke-width: 1px;
    fill: transparent;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: var(--gap-0);
    top: var(--gap-0);
    overflow: hidden;
    text-align: center;
}

.children {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & svg,
    & :global(.cc-cdn-icon) {
        width: 100%;
        height: 100%;
    }
}

.addons {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    line-height: 0;
}

.wrapperSize_128 {
    width: 128px;
    height: 128px;

    & .children {
        width: 64px;
        height: 64px;
    }

    & .addons {
        width: 40px;
        height: 40px;
    }

    & .topAddons {
        top: var(--gap-8-neg);
        right: var(--gap-8-neg);
    }

    & .bottomAddons {
        bottom: var(--gap-8-neg);
        right: var(--gap-8-neg);
    }
}

.wrapperSize_80 {
    width: 80px;
    height: 80px;

    & .children {
        width: 48px;
        height: 48px;
    }

    & .addons {
        width: 24px;
        height: 24px;
    }

    & .topAddons {
        top: -3px;
        right: -3px;
    }

    & .bottomAddons {
        bottom: -3px;
        right: -3px;
    }

    & .indicator {
        top: -6px;
        right: -14px;
    }
}

.wrapperSize_72 {
    width: 72px;
    height: 72px;

    & .children {
        width: 56px;
        height: 56px;
    }

    & .addons {
        width: 24px;
        height: 24px;
    }

    & .topAddons {
        top: -5px;
        right: -5px;
    }

    & .bottomAddons {
        bottom: -5px;
        right: -5px;
    }

    & .indicator {
        top: -8px;
        right: -16px;
    }
}

.wrapperSize_64 {
    width: 64px;
    height: 64px;

    & .children {
        width: 32px;
        height: 32px;
    }

    & .addons {
        width: 24px;
        height: 24px;
    }

    & .topAddons {
        top: -7px;
        right: -7px;
    }

    & .bottomAddons {
        bottom: -7px;
        right: -7px;
    }

    & .indicator {
        top: var(--gap-8-neg);
        right: var(--gap-8-neg);
    }
}

.wrapperSize_56 {
    width: 56px;
    height: 56px;

    & .children {
        width: 40px;
        height: 40px;
    }

    & .addons {
        width: 20px;
        height: 20px;
    }

    & .topAddons {
        top: var(--gap-8-neg);
        right: -6px;
    }

    & .bottomAddons {
        bottom: var(--gap-8-neg);
        right: -6px;
    }

    & .indicator {
        top: -6px;
        right: var(--gap-12-neg);
    }
}

.wrapperSize_48 {
    width: 48px;
    height: 48px;

    & .children {
        width: 24px;
        height: 24px;
    }

    & .addons {
        width: 20px;
        height: 20px;
    }

    & .topAddons {
        top: -7px;
        right: -7px;
    }

    & .bottomAddons {
        bottom: -7px;
        right: -7px;
    }

    & .indicator {
        top: -7px;
        right: -13px;
    }
}

.wrapperSize_40 {
    width: 40px;
    height: 40px;

    & .children {
        width: 24px;
        height: 24px;
    }

    & .addons {
        width: 20px;
        height: 20px;
    }

    & .topAddons {
        top: -7px;
        right: -7px;
    }

    & .bottomAddons {
        bottom: -7px;
        right: -7px;
    }

    & .indicator {
        top: -7px;
        right: -13px;
    }
}

.wrapperSize_32 {
    width: 32px;
    height: 32px;

    & .children {
        width: 24px;
        height: 24px;
    }

    & .indicator {
        top: var(--gap-2-neg);
        right: var(--gap-2-neg);
    }
}

.wrapperSize_24 {
    width: 24px;
    height: 24px;

    & .children {
        width: 24px;
        height: 24px;
    }

    & .indicator {
        top: var(--gap-2-neg);
        right: var(--gap-2-neg);
    }
}

.wrapperSize_20 {
    width: 20px;
    height: 20px;

    & .children {
        width: 16px;
        height: 16px;
    }

    & .indicator {
        top: -3px;
        right: -3px;
    }
}

.wrapperSize_16 {
    width: 16px;
    height: 16px;

    & .children {
        width: 16px;
        height: 16px;
    }

    & .indicator {
        top: var(--gap-4-neg);
        right: var(--gap-4-neg);
    }
}

/* prettier-ignore */
@each $size in 16, 20, 24, 32, 40, 48, 56, 64, 72, 80, 128 {
    .children {
        &.childrenSize_$(size) {
            width: $(size)px;
            height: $(size)px;
        }
    }
}
