@import '../../../../vars/src/index.css';

.component {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow-x: auto;
    box-sizing: border-box;
    padding: var(--gap-12) var(--gap-32);
    scrollbar-width: none;
    background-color: var(--color-static-neutral-0-inverted);

    &.mobile {
        padding: var(--gap-8);
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.previews {
    display: flex;
}

.preview {
    flex-shrink: 0;
    margin-right: var(--gap-4);

    &.mobile {
        margin-right: var(--gap-2);
    }

    &:first-child {
        margin-left: auto;
    }

    &:last-child {
        margin-right: auto;
    }
}
