@import '../../vars/src/index.css';

.component > :first-child,
.component > p:first-child > :first-child {
    margin-top: 0;
}

.component > *:only-child,
.component > p:only-child > *:only-child {
    margin-top: 0;
    margin-bottom: 0;
}

.h1 {
    margin-bottom: var(--gap-m);
}

.h2 {
    margin-top: var(--gap-2xl);
    margin-bottom: var(--gap-m);
}

.h3 {
    margin-top: var(--gap-m);
    margin-bottom: var(--gap-m);
}

.h4 {
    margin-top: var(--gap-xs);
    margin-bottom: var(--gap-2xs);
}

.code {
    margin-bottom: var(--gap-m);
}

.blockquote > p {
    color: inherit;
    font: inherit;
}

.list > li {
    margin-top: 0;
    margin-bottom: var(--gap-s);
}

.list > li:only-child {
    margin-bottom: 0;
}

.list > li p {
    margin: 0;
    padding: 0 !important;
}

.imageContainer {
    margin-top: var(--gap-m);
    margin-bottom: var(--gap-xl);
}

.image {
    display: block;
    width: 100%;
    border-radius: var(--border-radius-l);
}
