@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import './vars.css';

.component {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--confirmation-text-font-family);
}

.error {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.errorHeader {
    @mixin _confirmation-title;

    margin-bottom: var(--gap-32);
    color: var(--confirmation-title-color);
}

.errorText {
    @mixin _confirmation-text;

    margin-bottom: var(--gap-32);
    color: var(--confirmation-text-color);
}

.phoneHintWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.phoneHintText {
    @mixin _confirmation-text;

    margin-bottom: var(--gap-24);
    color: var(--confirmation-text-color);
}

.phonesWrap {
    @mixin _confirmation-text;

    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-48);
}

.phoneWrap {
    margin-bottom: var(--gap-8);

    &:last-child {
        margin-bottom: var(--gap-0);
    }
}

.phoneDescription {
    color: var(--confirmation-text-color);
}

.component.center {
    text-align: center;
}

.center {
    & .phoneHintWrap {
        align-items: center;
    }

    & .error {
        align-items: center;
    }
}
