@import '@alfalab/core-components-vars/src/no-typography-index.css';

:root {
    /* title */
    --confirmation-title-color: var(--color-light-text-primary);

    /* text */
    --confirmation-text-color: var(--color-light-text-secondary);

    /* error */
    --confirmation-error-color: var(--color-light-text-negative);

    /* input */
    --confirmation-input-text-color: var(--color-light-text-primary);
    --confirmation-input-bg-color: var(--color-light-neutral-translucent-300);
    --confirmation-input-error-bg-color: var(--color-light-status-muted-negative);
}

@define-mixin _confirmation-title {
    @mixin headline-system_small;
    color: var(--confirmation-title-color);
}

@define-mixin _confirmation-text {
    @mixin paragraph_primary_medium;
    color: var(--confirmation-text-color);
}
