@import '../../../../vars/src/index.css';
@import '../../vars.css';

.footer {
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease, background 0.2s ease;
    padding: var(--gap-16) var(--gap-32) var(--gap-32);
}

.sticky {
    background: var(--side-panel-footer-background);
    position: sticky;
    z-index: 1;
}

.highlighted {
    background: var(--side-panel-footer-highlight-background);
    box-shadow: var(--side-panel-footer-highlight-box-shadow);
}
