/* stylelint-disable selector-pseudo-class-no-unknown */

@import '../../../packages/vars/src/index.css';

.changelog {
    & h1 {
        display: none;
    }

    & h2 {
        @mixin headline-mobile_small;
        margin: var(--gap-4xl) 0 0;
    }

    & h2:first-of-type {
        margin: var(--gap-xl) 0 0;
    }

    & h2:not(:first-of-type):before {
        content: '';
        display: block;
        height: 1px;
        background-color: var(--color-light-neutral-300);
        position: relative;
        bottom: var(--gap-xl);
    }

    & h3,
    & h4 {
        @mixin headline-mobile_xsmall;
        margin: var(--gap-m) 0 0;
    }

    & ul,
    & p,
    & sup {
        display: block;
        @mixin paragraph_primary_medium;
        margin: var(--gap-s) 0 0;
    }
}

@media screen and (min-width: 768px) {
    .changelog {
        & h2 {
            @mixin headline_small;
            margin: var(--gap-5xl) 0 0;
        }

        & h2:first-of-type {
            margin: var(--gap-2xl) 0 0;
        }

        & h2:not(:first-of-type):before {
            bottom: var(--gap-2xl);
        }

        & h3 {
            @mixin headline_xsmall;
            margin: var(--gap-m) 0 0;
        }
    }
}
