/* stylelint-disable selector-pseudo-class-no-unknown */

@import '@alfalab/core-components-vars/src/no-typography-index.css';

.changelog {
    & h1 {
        display: none;
    }

    & h2 {
        @mixin headline-mobile_small;
        margin: var(--gap-48) var(--gap-0) var(--gap-0);
    }

    & h2:first-of-type {
        margin: var(--gap-24) var(--gap-0) var(--gap-0);
    }

    & h2:not(:first-of-type):before {
        content: '';
        display: block;
        height: 1px;
        background-color: var(--color-light-neutral-300);
        position: relative;
        bottom: var(--gap-24);
    }

    & h3,
    & h4 {
        @mixin headline-mobile_xsmall;
        margin: var(--gap-16) var(--gap-0) var(--gap-0);
    }

    & ul,
    & p,
    & sup {
        display: block;
        @mixin paragraph_primary_medium;
        margin: var(--gap-12) var(--gap-0) var(--gap-0);
    }
}

@media screen and (min-width: 768px) {
    .changelog {
        & h2 {
            @mixin headline_small;
            margin: var(--gap-64) var(--gap-0) var(--gap-0);
        }

        & h2:first-of-type {
            margin: var(--gap-32) var(--gap-0) var(--gap-0);
        }

        & h2:not(:first-of-type):before {
            bottom: var(--gap-32);
        }

        & h3 {
            @mixin headline_xsmall;
            margin: var(--gap-16) var(--gap-0) var(--gap-0);
        }
    }
}
