@import '../../themes/src/default.css';

.component {
    position: fixed;
    top: 0;
    right: var(--gap-s);
    display: flex;
    flex-direction: column;
}

.component .notification {
    width: calc(100vw - var(--gap-xl));
    margin-top: var(--gap-s);
    will-change: transform;

    &.withoutMargin {
        margin-top: 0;
    }
}

.component .notification.notification {
    position: static;
}

.enter {
    visibility: hidden;
    transform: translate(0, -500px);
}

.enterActive {
    visibility: visible;
    transform: translate(0);
    transition: transform 0.4s ease-out;
}

@media (--tablet-s) {
    .component {
        right: var(--gap-4xl);
    }

    .component .notification {
        width: auto;
    }

    .enter {
        transform: translate(100%, 0);
    }

    .enterActive {
        transform: translate(0);
    }
}
