@import '@alfalab/core-components-vars/src/no-typography-index.css';

.component {
    position: fixed;
    top: var(--gap-0);
    right: var(--gap-12);
    display: flex;
    flex-direction: column;
}

.component .notification {
    width: calc(100vw - var(--gap-24));
    margin-top: var(--gap-12);
    will-change: transform;

    &.withoutMargin {
        margin-top: var(--gap-0);
    }
}

.component .notification.notification {
    position: static;
}

.enter {
    visibility: hidden;
    transform: translate(0, -500px);
}

.enterActive {
    visibility: visible;
    transform: translate(0);
    transition: transform 0.4s ease-out;
}

@media (--tablet-s) {
    .component {
        right: var(--gap-48);
    }

    .component .notification {
        width: auto;
    }

    .enter {
        transform: translate(100%, 0);
    }

    .enterActive {
        transform: translate(0);
    }
}
