@import '@alfalab/core-components-vars/src/no-typography-index.css';

.component {
    position: fixed;
    right: var(--gap-12);
    display: flex;
}

.top {
    top: var(--gap-0);
    bottom: auto;
    flex-direction: column;
}

.bottom {
    top: auto;
    bottom: var(--gap-0);
    flex-direction: column-reverse;
}

.component .notification {
    width: calc(100vw - var(--gap-24));
    margin-top: var(--gap-12);
    will-change: transform;
    transition:
        transform 0.4s ease-out,
        opacity 0.2s ease-out;

    &.withoutMargin {
        margin-top: var(--gap-0);
    }
}

.bottom .notification {
    margin-top: var(--gap-0);
    margin-bottom: var(--gap-12);
}

.bottom .notification.withoutMargin {
    margin-bottom: var(--gap-0);
}

.component .notification.notification {
    position: static;
}

.enter {
    opacity: 0;
    transform: translate(0, -500px);
}

.bottom .enter {
    transform: translate(0, 500px);
}

.enterActive {
    opacity: 1;
    transform: translate(0);
}

@media (--tablet-s) {
    .component {
        right: var(--gap-48);
    }

    .component .notification {
        width: auto;
    }

    .enter {
        transform: translate(100%, 0);
    }

    .bottom .enter {
        transform: translate(100%, 0);
    }

    .enterActive {
        transform: translate(0);
    }
}
