@import '../../vars.css';

.component {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & > * {
        justify-content: flex-end;
    }

    &.none {
        padding-left: var(--gap-0);
    }

    &.default {
        padding-left: var(--gap-16);
    }

    &.addonPadding {
        padding-left: var(--gap-16);
    }

    &.auto {
        align-self: auto;
    }

    &.top {
        align-self: flex-start;
    }

    &.center {
        align-self: center;
    }

    &.bottom {
        align-self: flex-end;
    }
}

.button {
    @mixin button-reset;
    padding: var(--gap-0);
    transition: opacity 0.15s ease-in-out;

    &:hover {
        opacity: var(--pure-cell-clickable-area-hover-opacity);
    }

    &:active {
        opacity: var(--pure-cell-clickable-area-active-opacity);
    }
}
