@import '../../../../themes/src/default.css';

.component {
    display: flex;
    flex-direction: column;
    padding-left: var(--gap-m);

    & > * {
        justify-content: flex-end;
    }

    &.addonPadding {
        padding-left: var(--gap-m);
    }

    &.center {
        align-self: center;
    }
}
