@import '../../../../vars/src/index.css';
@import '../../../../tag/src/vars.css';
@import '../../vars.css';

.component {
    display: flex;
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;

    &.block {
        width: 100%;
    }

    &.rounded {
        &.size-32 {
            border-radius: var(--tag-rounded-xxs-border-radius);
        }

        &.size-40 {
            border-radius: var(--tag-rounded-xs-border-radius);
        }

        &.size-48 {
            border-radius: var(--tag-rounded-s-border-radius);
        }
    }

    &.checked {
        &:not(.disabled).size-32 {
            min-width: 80px;
        }

        &:not(.disabled).size-40 {
            min-width: 100px;
        }

        &:not(.disabled).size-48 {
            min-width: 112px;
        }
    }
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.focused {
    @mixin focus-outline;
}

.chevron {
    position: relative;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valueButton {
    display: flex;
    align-items: center;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    font-family: var(--font-family);
    transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    margin: var(--gap-0);

    &.block {
        width: inherit;
        justify-content: center;
    }

    &:disabled {
        cursor: var(--disabled-cursor);
    }

    &.rounded {
        &.size-32 {
            border-radius: var(--tag-rounded-xxs-border-radius);
        }

        &.size-40 {
            border-radius: var(--tag-rounded-xs-border-radius);
        }

        &.size-48 {
            border-radius: var(--tag-rounded-s-border-radius);
        }
    }

    &.size-32 {
        min-width: 52px;
        min-height: var(--size-xxs-height);

        @mixin paragraph_primary_small;
        padding-right: var(--gap-0);
        padding-left: var(--gap-12);

        & .chevron {
            margin: var(--gap-0) var(--gap-8) var(--gap-0) 6px;
        }
    }

    &.size-40 {
        min-width: 64px;
        min-height: var(--size-xs-height);

        @mixin paragraph_primary_small;
        padding-right: var(--gap-4);
        padding-left: var(--gap-16);

        & .chevron {
            margin: var(--gap-0) var(--gap-12) var(--gap-0) 6px;
        }
    }

    &.size-48 {
        min-width: 72px;
        min-height: var(--size-s-height);

        @mixin paragraph_primary_medium;
        padding-right: var(--gap-8);
        padding-left: var(--gap-20);

        & .chevron {
            margin: var(--gap-0) var(--gap-8);
        }
    }

    &.open .chevron {
        transform: rotateZ(180deg);
    }

    &.checked {
        border-width: 0;

        &.rounded {
            &.size-32 {
                border-radius: var(--tag-rounded-xxs-border-radius) 0 0
                    var(--tag-rounded-xxs-border-radius);
            }

            &.size-40 {
                border-radius: var(--tag-rounded-xs-border-radius) 0 0
                    var(--tag-rounded-xs-border-radius);
            }

            &.size-48 {
                border-radius: var(--tag-rounded-s-border-radius) 0 0
                    var(--tag-rounded-s-border-radius);
            }

            &:disabled,
            &.close {
                border-radius: var(--tag-border-radius);
            }
        }

        &:not(:disabled) {
            padding-right: var(--gap-0);
            border-right-width: 0;

            &.close {
                &.size-32 {
                    padding-right: var(--gap-0);
                }

                &.size-40 {
                    padding-right: var(--gap-4);
                }

                &.size-48 {
                    padding-right: var(--gap-8);
                }
            }
        }
    }
}

.clear {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;

    &.rounded {
        &.size-32 {
            border-radius: 0 var(--tag-rounded-xxs-border-radius)
                var(--tag-rounded-xxs-border-radius) 0;
        }

        &.size-40 {
            border-radius: 0 var(--tag-rounded-xs-border-radius) var(--tag-rounded-xs-border-radius)
                0;
        }

        &.size-48 {
            border-radius: 0 var(--tag-rounded-s-border-radius) var(--tag-rounded-s-border-radius) 0;
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: var(--gap-0);
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 1px;
        transition: background-color 0.2s ease;
    }

    &.size-48 {
        padding: var(--gap-0) var(--gap-12) var(--gap-0) var(--gap-8);

        &:before {
            height: 24px;
        }
    }

    &.size-40 {
        padding: var(--gap-0) var(--gap-8);

        &:before {
            height: 24px;
        }
    }

    &.size-32 {
        padding: var(--gap-0) 3px var(--gap-0) var(--gap-4);

        &:before {
            height: 20px;
        }
    }
}

.iconWrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
