@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';
@import '@alfalab/core-components-tag/src/vars.css';
@import '../../vars.css';

.component {
    display: flex;
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;

    &.block {
        width: 100%;
    }

    &.rounded {
        &.size-32 {
            border-radius: var(--tag-rounded-xxs-border-radius);
        }

        &.size-40 {
            border-radius: var(--tag-rounded-xs-border-radius);
        }

        &.size-48 {
            border-radius: var(--tag-rounded-s-border-radius);
        }
    }

    &.checked {
        &:not(.disabled).size-32 {
            min-width: 80px;
        }

        &:not(.disabled).size-40 {
            min-width: 100px;
        }

        &:not(.disabled).size-48 {
            min-width: 112px;
        }
    }
}

.content {
    padding: 0 var(--gap-4);
    overflow: hidden;
    text-overflow: ellipsis;
}

.focused {
    @mixin focus-outline;
}

.chevron {
    position: relative;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valueButton {
    display: flex;
    align-items: center;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    font-family: var(--font-family);
    transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    margin: var(--gap-0);

    &.block {
        width: inherit;
        justify-content: center;
    }

    &:disabled {
        cursor: var(--disabled-cursor);
    }

    &.rounded {
        &.size-32 {
            border-radius: var(--tag-rounded-xxs-border-radius);
        }

        &.size-40 {
            border-radius: var(--tag-rounded-xs-border-radius);
        }

        &.size-48 {
            border-radius: var(--tag-rounded-s-border-radius);
        }
    }

    &.size-32 {
        min-width: 52px;
        min-height: var(--size-xxs-height);

        @mixin paragraph_primary_small;
        padding: 0 var(--gap-8);
        gap: var(--gap-2);
    }

    &.size-40 {
        min-width: 64px;
        min-height: var(--size-xs-height);

        @mixin paragraph_primary_small;
        padding: 0 var(--gap-12);
        gap: var(--gap-2);
    }

    &.size-48 {
        min-width: 72px;
        min-height: var(--size-s-height);

        @mixin paragraph_primary_medium;
        padding: 0 var(--gap-16);
        gap: var(--gap-4);
    }

    &.open .chevron {
        transform: rotateZ(180deg);
    }

    &.checked {
        &.rounded {
            &.size-32 {
                border-radius: var(--tag-rounded-xxs-border-radius) var(--border-radius-0)
                    var(--border-radius-0) var(--tag-rounded-xxs-border-radius);
            }

            &.size-40 {
                border-radius: var(--tag-rounded-xs-border-radius) var(--border-radius-0)
                    var(--border-radius-0) var(--tag-rounded-xs-border-radius);
            }

            &.size-48 {
                border-radius: var(--tag-rounded-s-border-radius) var(--border-radius-0)
                    var(--border-radius-0) var(--tag-rounded-s-border-radius);
            }

            &:disabled,
            &.close {
                border-radius: var(--tag-border-radius);
            }
        }

        &:disabled {
            border-color: var(--tag-border-color-checked-disabled);
        }

        &:not(:disabled) {
            &.withClear {
                border-right-width: 0;

                &.size-48 {
                    padding-right: var(--gap-8);
                }
            }
        }
    }

    & .addons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.clear {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;

    &.rounded {
        &.size-32 {
            border-radius: var(--border-radius-0) var(--tag-rounded-xxs-border-radius)
                var(--tag-rounded-xxs-border-radius) var(--border-radius-0);
        }

        &.size-40 {
            border-radius: var(--border-radius-0) var(--tag-rounded-xs-border-radius)
                var(--tag-rounded-xs-border-radius) var(--border-radius-0);
        }

        &.size-48 {
            border-radius: var(--border-radius-0) var(--tag-rounded-s-border-radius)
                var(--tag-rounded-s-border-radius) var(--border-radius-0);
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: var(--gap-0);
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 1px;
        transition: background-color 0.2s ease;
    }

    &.size-32 {
        padding: var(--gap-0) var(--gap-8);

        &:before {
            height: 20px;
        }
    }

    &.size-40 {
        padding: var(--gap-0) var(--gap-12);

        &:before {
            height: 24px;
        }
    }

    &.size-48 {
        padding: var(--gap-0) var(--gap-12) var(--gap-0) var(--gap-8);

        &:before {
            height: 24px;
        }
    }
}
