@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.appear,
.enter {
    background-color: transparent;
}

.appearActive,
.enterActive,
.appearDone,
.enterDone {
    background-color: var(--color-light-neutral-translucent-300);
    transition: background-color 80ms linear;
}

.exit {
    background-color: var(--color-light-neutral-translucent-300);
}

.exitActive,
.exitDone {
    background-color: transparent;
    transition: background-color 80ms linear;
    transition-delay: 280ms;
}
