@import '../../../../themes/src/default.css';
@import '../../vars.css';
@import '../../../../modal/src/vars.css';

.wrapper {
    overflow-x: hidden;
}

.withZIndex {
    z-index: 2;
}

.calendar.calendar {
    height: 100%;
}

.calendar th {
    border-bottom: 1px solid var(--color-light-neutral-300);
}

.dayNames {
    width: 100%;
    position: sticky;
    background: var(--modal-header-background);
    top: 0;
    height: 32px;
    padding: 0 6px;

    &.withHeader {
        top: 48px;
    }
}

.dayNames th {
    height: 100%;
}

.month {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: var(--color-light-text-primary);
    margin-bottom: var(--gap-xs);

    &.clickableMonth {
        padding: 10px var(--gap-m);
        align-self: flex-start;
        border-radius: 999px;
        background-color: var(--color-light-neutral-translucent-100);
        cursor: pointer;
        text-transform: unset;

        &.rectangular {
            border-radius: var(--border-radius-l);
        }

        &.active {
            background-color: var(--color-light-accent-secondary);

            & .monthTitle {
                color: var(--color-light-text-primary-inverted);
            }
        }

        &.disabled {
            pointer-events: none;

            & .monthTitle {
                color: var(--color-light-text-tertiary);
            }
        }
    }
}

.daysTable {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-2xl);
}

.dayName {
    @mixin paragraph_primary_small;

    height: var(--calendar-day-size);
    color: var(--color-light-text-secondary);

    @media (max-width: 374px) {
        height: 36px;
    }
}

.virtuoso {
    margin: 0 var(--gap-m);
}

.contentModal {
    padding-right: 0;
    padding-left: 0;
}

.content.content {
    flex-basis: 0;
}
