@import '../../../../themes/src/default.css';

:root {
    --bottom-sheet-header-border-bottom: 1px solid var(--color-light-border-primary);
    --bottom-sheet-footer-background-color: var(--color-light-bg-primary);
    --bottom-sheet-title-font-size: 18px;
    --bottom-sheet-title-font-weight: 700;
    --bottom-sheet-title-line-height: 24px;
    --bottom-sheet-title-font-family: var(--font-family-system);
}

.headerWrapper {
    padding: var(--gap-s) var(--gap-xs) var(--gap-2xs);
    border-top-right-radius: var(--border-radius-xl);
    border-top-left-radius: var(--border-radius-xl);
    z-index: 1;
}

.hasContent {
    background-color: var(--color-light-bg-primary);
}

.header {
    display: flex;
}

.sticky {
    position: sticky;
    top: 0;
}

.highlighted {
    border-bottom: var(--bottom-sheet-header-border-bottom);
}

.justifyEnd {
    justify-content: flex-end;
}

.addon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    height: 48px;
}

.addonFixed {
    position: fixed;
}

.title {
    padding: var(--gap-s) var(--gap-xs);
    width: 100%;
    font-size: var(--bottom-sheet-title-font-size);
    font-weight: var(--bottom-sheet-title-font-weight);
    line-height: var(--bottom-sheet-title-line-height);
    font-family: var(--bottom-sheet-title-font-family);
}

.titleCenter {
    text-align: center;
}

.titleLeft {
    text-align: left;
}

.trimTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
