@import '../../../../themes/src/default.css';
@import '../../vars.css';

.headerWrapper {
    padding: var(--gap-12) var(--gap-8) var(--gap-4);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    z-index: 1;
}

.hasContent {
    background-color: inherit;
}

.header {
    display: flex;
}

.sticky {
    position: sticky;
    top: 0;
}

.highlighted {
    border-bottom: var(--bottom-sheet-header-border-bottom);
}

.justifyEnd {
    justify-content: flex-end;
}

.addon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    height: 48px;
}

.addonFixed {
    position: fixed;
}

.title {
    padding: 10px var(--gap-8);
    width: 100%;
    font-size: var(--bottom-sheet-title-font-size);
    font-weight: var(--bottom-sheet-title-font-weight);
    line-height: var(--bottom-sheet-title-line-height);
    font-family: var(--bottom-sheet-title-font-family);
}

.titleCenter {
    text-align: center;
}

.titleLeft {
    text-align: left;
}

.trimTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
