@import '../../../vars/src/border-radius.css';
@import '../../../vars/src/gaps.css';

.skeletonText.skeletonText {
    border-radius: var(--border-radius-pill);
}

.leftAlign > div {
    margin-right: auto;
}

.centerAlign > div {
    margin: var(--gap-0) auto;
}

.rightAlign > div {
    margin-left: auto;
}
