@import '../../../../progress-bar/src/vars.css';

.bar {
    width: 100%;
    height: var(--gap-4);
    margin-right: var(--gap-4);
    border-radius: var(--border-radius-2);
}

.bar:last-child {
    margin-right: var(--gap-0);
}

@each $background in positive, attention, negative, link, tertiary, secondary, primary, accent {
    .bar.$(background) {
        background: var(--progressbar-$(background)-color);
    }
}
