@import '../../../../vars/src/index.css';
@import '../../../../vars/src/colors-monochrome.css';
@import '../../vars.css';

.closer {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background: var(--color-static-monochrome-white-4);
    backdrop-filter: blur(10px);
    color: var(--color-light-neutral-translucent-1300);

    &.mobile {
        background: var(--color-light-neutral-translucent-100);
        color: var(--navigation-bar-closer-mobile-color);
    }
}

.button.button {
    border-radius: var(--border-radius-circle);
}

.sticky {
    position: sticky;
    top: var(--gap-0);
}
