@import '../../../../vars/src/colors-monochrome.css';
@import '../../vars.css';

.button {
    background: var(--color-light-monochrome-white-4-inverted);
    color: var(--color-light-neutral-translucent-1300-inverted);

    &.mobile {
        background: var(--color-light-neutral-translucent-100-inverted);
        color: var(--navigation-bar-closer-mobile-color-inverted);
    }
}
