@import '../../../../../vars/src/index.css';

:root {
    --sys-message-desktop-title-font-size: 22px;
    --sys-message-desktop-title-line-height: 26px;
    --sys-message-desktop-title-font-weight: 700;
}

.component {
    font-size: var(--sys-message-desktop-title-font-size);
    line-height: var(--sys-message-desktop-title-line-height);
    font-weight: var(--sys-message-desktop-title-font-weight);
}
