@import '../../../../themes/src/default.css';

.component {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: auto;

    & > * {
        justify-content: flex-end;
    }

    &.top {
        align-self: flex-start;
    }

    &.center {
        align-self: center;
    }

    &.bottom {
        align-self: flex-end;
    }

    &.stretch {
        flex-basis: 100%;
    }
}
