@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.wrapper {
    background-color: var(--color-light-neutral-translucent-200);
}

.segment.selected {
    color: var(--color-light-text-primary);
}

.selectedBox {
    border: 0.5px solid var(--color-light-neutral-translucent-200);
    background-color: var(--color-light-neutral-translucent-0);
}
