@import '@alfalab/core-components-vars/src/index.css';

.wrapper {
    display: flex;

    &.disabled {
        pointer-events: none;
    }
}

.skeletonWrapper {
    width: 100%;
}

.container {
    position: relative;
    display: flex;
    flex: 1;
}

.inner {
    display: flex;
    flex: 1;
    margin: var(--gap-0) var(--gap-2);
}

.contentWidth {
    width: fit-content;
    max-width: 100%;

    & .segment {
        flex: 0 1 auto;
        min-width: 0;
    }
}

.selected {
    &:before,
    & + .segment:before {
        opacity: 0;
    }
}

/* prettier-ignore */
@each $size, $font, $padding, $gap, $addonsPadding in
    (32, small, var(--gap-2s), var(--gap-4), var(--gap-4)),
    (40, small, var(--gap-16), var(--gap-4), var(--gap-6)),
    (48, medium, var(--gap-16), var(--gap-6), var(--gap-10)) {
    .size$(size) {
        height: $(size)px;

        & .segment {
            @mixin paragraph_primary_$(font);
            padding: var(--gap-0) $padding;
            gap: $gap;

            &.withAddons {
                padding: var(--gap-0) $addonsPadding;
            }
        }
    }
}

/* prettier-ignore */
@each $size, $shape, $radius, $selectedBoxRadius in
    (32, rectangular, var(--border-radius-8), var(--border-radius-6)),
    (32, rounded, var(--border-radius-16), var(--border-radius-20)),
    (40, rectangular, var(--border-radius-10), var(--border-radius-8)),
    (40, rounded, var(--border-radius-20), var(--border-radius-20)),
    (48, rectangular, var(--border-radius-10), var(--border-radius-8)),
    (48, rounded, 22px, var(--border-radius-24)) {
    .size$(size).$(shape) {
        border-radius: $radius;

        & .selectedBox {
            border-radius: $selectedBoxRadius;
        }
    }
}

.selectedBox {
    box-sizing: border-box;
    position: absolute;
    top: var(--gap-2);
    bottom: var(--gap-2);
    left: var(--gap-2);
    box-shadow: var(--shadow-s);
    transition:
        width 0.2s ease,
        transform 0.2s ease;
}

.selectedBox.noTransition {
    transition: none;
}
