@import '@alfalab/core-components-vars/src/index.css';

.wrapper {
    display: flex;

    &.disabled {
        pointer-events: none;
    }
}

.skeletonWrapper {
    width: 100%;
}

.container {
    position: relative;
    display: flex;
    flex: 1;
}

.inner {
    display: flex;
    flex: 1;
    margin: var(--gap-0) var(--gap-2);
}

.contentWidth {
    width: fit-content;
    max-width: 100%;

    & .segment {
        flex: 0 1 auto;
        min-width: 0;
    }
}

.selected {
    &:before,
    & + .segment:before {
        opacity: 0;
    }
}

.size32 {
    height: 32px;

    & .segment {
        @mixin paragraph_primary_small;
        padding: var(--gap-0) var(--gap-2s);
    }

    &.rectangular {
        border-radius: var(--border-radius-8);

        & .selectedBox {
            border-radius: var(--border-radius-6);
        }
    }

    &.rounded {
        border-radius: var(--border-radius-16);

        & .selectedBox {
            border-radius: var(--border-radius-20);
        }
    }
}

.size40 {
    height: 40px;

    & .segment {
        @mixin paragraph_primary_small;
        padding: var(--gap-0) var(--gap-16);
    }

    &.rectangular {
        border-radius: var(--border-radius-10);

        & .selectedBox {
            border-radius: var(--border-radius-8);
        }
    }

    &.rounded {
        border-radius: var(--border-radius-20);

        & .selectedBox {
            border-radius: var(--border-radius-20);
        }
    }
}

.size48 {
    height: 48px;

    & .segment {
        @mixin paragraph_primary_medium;
        padding: var(--gap-0) var(--gap-16);
    }

    &.rectangular {
        border-radius: var(--border-radius-10);

        & .selectedBox {
            border-radius: var(--border-radius-8);
        }
    }

    &.rounded {
        border-radius: 22px;

        & .selectedBox {
            border-radius: var(--border-radius-24);
        }
    }
}

.selectedBox {
    box-sizing: border-box;
    position: absolute;
    top: var(--gap-2);
    bottom: var(--gap-2);
    left: var(--gap-2);
    box-shadow: var(--shadow-s);
    transition:
        width 0.2s ease,
        transform 0.2s ease;
}

.selectedBox.noTransition {
    transition: none;
}
