.component {
    position: relative;
    margin: var(--gap-0);
}

.component h1 {
    display: inline-block;
}

.title {
    margin-bottom: var(--gap-24);
}

.titleMobile {
    margin-bottom: var(--gap-12);
}

.text {
    max-width: 560px;
    margin-bottom: var(--gap-24);
}

.info {
    display: flex;
    margin-top: var(--gap-12);
}

.commonLink {
    opacity: 0.8;
}

.links {
    display: flex;
    font-size: 16px;
    line-height: 24px;
}

.links a {
    display: block;
    padding: var(--gap-4) var(--gap-8) var(--gap-4) var(--gap-32);
    margin-right: var(--gap-8);
    text-decoration: none;
    border: 1px solid var(--color-light-neutral-200);
    border-radius: 6px;
    color: var(--color-light-text-info);
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.usageLink * {
    border-bottom: var(--gap-0);
}

.links {
    position: relative;
}

.links > .github {
    display: flex;
    align-items: center;
    padding-left: var(--gap-8);
}

.github > svg {
    width: 16px;
    height: 16px;
    padding-right: var(--gap-8);
}

.design {
    background-image: url(https://static.figma.com/app/icon/1/favicon.svg);
}

.github:hover,
.design:hover {
    background-color: var(--color-light-neutral-200);
}

.github:active,
.design:active {
    background-color: var(--color-light-neutral-300);
}
