.component {
    position: relative;
    margin: 0 0 var(--gap-xl);
}

.component h1 {
    display: inline-block;
}

.text {
    margin: var(--gap-xl) 0;
}
.info {
    display: flex;
    margin-top: var(--gap-xs);
}

.commonLink {
    opacity: 0.8;
}

.links {
    display: flex;
    font-size: 16px;
    line-height: 24px;
}

.links a {
    display: block;
    padding: var(--gap-2xs) var(--gap-xs) var(--gap-2xs) var(--gap-2xl);
    margin-right: var(--gap-xs);
    text-decoration: none;
    border: 1px solid var(--color-light-bg-tertiary);
    border-radius: 6px;
    color: var(--color-light-text-link);
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.usageLink * {
    border-bottom: 0;
}

.links {
    position: relative;
}

.github {
    background-image: url(https://github.githubassets.com/favicons/favicon.svg);
    background-size: 16px 16px;
}

.design {
    background-image: url(https://static.figma.com/app/icon/1/favicon.svg);
}

.github:hover,
.design:hover {
    background-color: var(--color-light-bg-primary-inverted-alpha-7);
}

.github:active,
.design:active {
    background-color: var(--color-light-bg-primary-inverted-alpha-15);
}
