.component {
    position: relative;
    margin: 0;
}

.component h1 {
    display: inline-block;
}

.title {
    margin-bottom: var(--gap-xl);
}

.titleMobile {
    margin-bottom: var(--gap-s);
}

.text {
    margin-bottom: var(--gap-xl);
}

.info {
    display: flex;
    margin-top: var(--gap-s);
}

.commonLink {
    opacity: 0.8;
}

.links {
    display: flex;
    font-size: 16px;
    line-height: 24px;
}

.links a {
    display: block;
    padding: var(--gap-2xs) var(--gap-xs) var(--gap-2xs) var(--gap-2xl);
    margin-right: var(--gap-xs);
    text-decoration: none;
    border: 1px solid var(--color-light-bg-tertiary);
    border-radius: 6px;
    color: var(--color-light-text-link);
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.usageLink * {
    border-bottom: 0;
}

.links {
    position: relative;
}

.links > .github {
    display: flex;
    align-items: center;
    padding-left: var(--gap-xs);
}

.github > svg {
    width: 16px;
    height: 16px;
    padding-right: var(--gap-xs);
}

.design {
    background-image: url(https://static.figma.com/app/icon/1/favicon.svg);
}

.github:hover,
.design:hover {
    background-color: var(--color-light-bg-primary-inverted-alpha-7);
}

.github:active,
.design:active {
    background-color: var(--color-light-bg-primary-inverted-alpha-15);
}
