.buttons {
    display: flex;
    padding-left: var(--gap-2xl);

    & path {
        color: var(--color-static-neutral-translucent-1300-inverted);
    }
}

/* TODO: применять static цвет через prop IconButton'а */
.iconButton {
    &:hover path {
        color: var(--color-static-neutral-100-hover);
    }

    &:active path {
        color: var(--color-static-neutral-100-press);
    }
}
