@import '../../../../../../vars/src/index.css';

.iconPDFColored {
    fill: var(--color-light-decorative-red);
}

.iconDOCColored {
    fill: var(--color-light-decorative-blue);
}

.iconExcelColored {
    fill: var(--color-light-decorative-green);
}

.icon1CColored {
    fill: var(--color-light-decorative-orange);
}

.iconDocumentColored {
    fill: var(--color-light-neutral-translucent-1300);
}
