@import '../vars.css';

.secondary {
    background-color: var(--button-secondary-base-bg-color);

    &:hover {
        background-color: var(--button-secondary-hover-bg-color);
    }

    &:active {
        background-color: var(--button-secondary-active-bg-color);
    }
}

.ghost {
    &:active {
        color: var(--button-ghost-active-color);
    }
}

.component[disabled] {
    &.primary {
        color: var(--button-primary-disabled-color);
        background-color: var(--button-primary-disabled-bg-color);
    }

    &.secondary {
        color: var(--button-secondary-disabled-color);
        background-color: var(--button-secondary-disabled-bg-color);
    }

    &.tertiary {
        color: var(--button-tertiary-disabled-color);
        border-color: var(--button-tertiary-disabled-border-color);
    }

    &.link {
        color: var(--button-link-disabled-color);
    }

    &.ghost {
        color: var(--button-ghost-disabled-color);
    }
}
