@import '../vars.css';

.primary {
    color: var(--button-inverted-primary-color);
    background-color: var(--button-inverted-primary-base-bg-color);

    @media (hover: hover) {
        &:hover {
            background-color: var(--button-inverted-primary-hover-bg-color);
        }
    }

    &:active {
        background-color: var(--button-inverted-primary-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-inverted-primary-color);
    }
}

.secondary {
    background-color: var(--button-inverted-secondary-base-bg-color);

    &:hover {
        background-color: var(--button-inverted-secondary-hover-bg-color);
    }

    &:active {
        background-color: var(--button-inverted-secondary-active-bg-color);
    }
}

.text {
    &:active {
        color: var(--button-inverted-text-active-color);
    }
}

.ghost {
    &:active {
        color: var(--button-inverted-ghost-active-color);
    }
}

.component[disabled] {
    &.primary {
        color: var(--button-inverted-primary-disabled-color);
        background-color: var(--button-inverted-primary-disabled-bg-color);

        &.loading {
            color: var(--button-inverted-primary-color);
            background-color: var(--button-inverted-primary-base-bg-color);
        }
    }

    &.secondary {
        color: var(--button-inverted-secondary-disabled-color);
        background-color: var(--button-inverted-secondary-disabled-bg-color);
    }

    &.outlined {
        color: var(--button-inverted-outlined-disabled-color);
        border-color: var(--button-inverted-outlined-disabled-border-color);
    }

    &.tertiary {
        color: var(--button-inverted-tertiary-disabled-color);
        border-color: var(--button-inverted-tertiary-disabled-border-color);
    }

    &.transparent {
        color: var(--button-inverted-transparent-disabled-color);
    }

    &.link {
        color: var(--button-inverted-link-disabled-color);
    }

    &.text {
        color: var(--button-inverted-text-disabled-color);
    }

    &.ghost {
        color: var(--button-inverted-ghost-disabled-color);
    }
}
