.group {
    display: inline-flex;
    align-items: center;
    font-size: var(--rate-size, 24px);
    line-height: 1;
}

.sizeS {
    --rate-size: 16px;
}

.sizeM {
    --rate-size: 24px;
}

.sizeL {
    --rate-size: 32px;
}

.item {
    margin-right: var(--rate-gap, 12px);
}

.item:last-child {
    margin-right: 0;
}

.sizeS .item {
    margin-right: 8px;
}

.sizeM .item {
    margin-right: 12px;
}

.sizeL .item {
    margin-right: 16px;
}
