@import '../../vars.css';

.component {
    display: inline-flex;
    flex-basis: auto;
}

.top {
    align-self: flex-start;
}

.center {
    align-self: center;
}

.bottom {
    align-self: flex-end;
}

.horizontal:not(:last-child) {
    &.none {
        margin-right: var(--gap-0);
    }

    &.max {
        margin-right: var(--gap-24);
    }

    &.airy {
        margin-right: var(--gap-16);
    }

    &.default {
        margin-right: var(--gap-12);
    }

    &.compact {
        margin-right: var(--gap-8);
    }

    &.tiny {
        margin-right: var(--gap-4);
    }
}

.vertical:not(:last-child) {
    &.none {
        margin-bottom: var(--gap-0);
    }

    &.max {
        margin-bottom: var(--gap-24);
    }

    &.airy {
        margin-bottom: var(--gap-16);
    }

    &.default {
        margin-bottom: var(--gap-12);
    }

    &.compact {
        margin-bottom: var(--gap-8);
    }

    &.tiny {
        margin-bottom: var(--gap-4);
    }
}

.button {
    @mixin button-reset;
    padding: var(--gap-0);
    transition: opacity 0.15s ease-in-out;
    min-width: auto;

    &:hover {
        opacity: var(--pure-cell-clickable-area-hover-opacity);
    }

    &:active {
        opacity: var(--pure-cell-clickable-area-active-opacity);
    }
}
