@import '../../../../themes/src/default.css';

.component {
    display: inline-flex;
    flex-basis: auto;
}

.top {
    align-self: flex-start;
}

.center {
    align-self: center;
}

.bottom {
    align-self: flex-end;
}
