@import '@alfalab/core-components-vars/src/index.css';
@import '../../../calendar/src/vars.css';

.component {
    display: flex;

    & button[aria-selected='true'] {
        cursor: pointer;
    }

    & *[class*='errorIcon_'] {
        display: none;
    }

    & *[class*='calendarIcon_'] {
        margin-right: var(--gap-0);
    }
}

.static {
    flex-direction: column;

    & .calendar {
        width: var(--calendar-inner-width);

        & > div:first-child {
            padding: var(--gap-16) var(--gap-0) var(--gap-12);
        }
    }
}

.inputsContainer {
    display: flex;
}

.calendarContainers {
    display: flex;
    gap: var(--gap-32);
}

.calendarContainer {
    width: var(--calendar-inner-width);
    display: flex;
    justify-content: center;
}
