@import '../../../../themes/src/default.css';

.component {
    display: flex;
    flex-direction: column;
    align-self: center;

    /* can use /r/n */
    white-space: pre-line;

    &.vertical {
        grid-row-gap: var(--gap-3xs);
        justify-content: center;
        align-items: center;

        /* for button */
        text-align: center;
    }

    &.reverse {
        flex-direction: column-reverse;
    }

    &.button {
        @mixin button-reset;
        padding: 0;
        transition: opacity 0.15s ease-in-out;
        min-width: auto;

        &:hover {
            opacity: var(--pure-cell-clickable-area-hover-opacity);
        }

        &:active {
            opacity: var(--pure-cell-clickable-area-active-opacity);
        }
    }
}
