@import '@alfalab/core-components-vars/src/index.css';

.container {
    position: relative;

    &.clickable {
        cursor: pointer;
    }

    & .progress {
        position: absolute;
        top: var(--gap-4-neg);
        left: var(--gap-4-neg);
        z-index: 1;
        will-change: opacity;

        &.success,
        &.error {
            transition: opacity 400ms ease-in;
            opacity: 0;
        }

        &.loading {
            & path {
                stroke: #babbc2;
                stroke-dasharray: 182.5742645263672;
                stroke-dashoffset: 0;
                animation: loading-rotate 1s linear infinite;
            }
        }

        &.success {
            & path {
                stroke: var(--color-light-status-positive);
            }
        }

        &.error {
            & path {
                stroke: var(--color-light-status-negative);
            }
        }
    }
}

@keyframes loading-rotate {
    0% {
        stroke-dashoffset: 182.5742645263672;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
