@import '@alfalab/core-components-vars/src/no-typography-index.css';

.container {
    position: relative;

    &.clickable {
        cursor: pointer;
    }

    & .progress {
        position: absolute;
        top: var(--gap-4-neg);
        left: var(--gap-4-neg);
        z-index: 1;
        will-change: opacity;

        &.success,
        &.error {
            animation: opacity 400ms ease-in forwards;
        }

        &.success {
            & path {
                stroke: var(--color-light-status-positive);
            }
        }

        &.error {
            & path {
                stroke: var(--color-light-status-negative);
            }
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}
