@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../../vars.css';

.scrollableContainerWrapper {
    display: flex;
}

.container {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    flex: 1;

    /* focus-outline fix */
    margin: var(--gap-4-neg) var(--gap-0) var(--gap-4-neg) var(--gap-4-neg);
    padding: var(--gap-4) var(--gap-0) var(--gap-4) var(--gap-4);

    &::-webkit-scrollbar {
        display: none;
    }

    & > * {
        flex-shrink: 0;
    }
}

.fullWidthScroll {
    padding-left: var(--gap-0);
    margin: var(--gap-4-neg) var(--gap-16-neg);
}
