@import '../../../../themes/src/default.css';
@import '../../vars.css';

.container {
    position: relative;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    & > * {
        flex-shrink: 0;
    }
}

.fullWidthScroll {
    margin: 0 var(--gap-m-neg);
}
