@import '../../../../themes/src/default.css';
@import '../../vars.css';

.scrollableContainerWrapper {
    display: flex;
}

.container {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    flex: 1;

    /* focus-outline fix */
    margin: var(--gap-2xs-neg) 0 var(--gap-2xs-neg) var(--gap-2xs-neg);
    padding: var(--gap-2xs) 0 var(--gap-2xs) var(--gap-2xs);

    &::-webkit-scrollbar {
        display: none;
    }

    & > * {
        flex-shrink: 0;
    }
}

.fullWidthScroll {
    padding-left: 0;
    margin: var(--gap-2xs-neg) var(--gap-m-neg);
}
