@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.button.button {
    @mixin action_component_secondary;

    border-radius: var(--border-radius-circle);
    padding: 0;
    min-width: 64px;
    width: 64px;
    height: 64px;
    text-align: center;

    & > span {
        vertical-align: middle;

        & > * {
            vertical-align: middle;
        }
    }
}

.secondary.secondary {
    color: var(--color-light-text-primary);
    background: var(--button-bg-color);

    &:hover {
        color: var(--color-light-text-primary);
    }

    &:active {
        background: var(--button-bg-color-active);
    }
}

.ghost.ghost {
    color: var(--color-light-text-primary);

    &:hover {
        color: var(--color-light-text-primary);
    }

    &:active {
        background: var(--button-bg-color-active);
    }
}
