@import './vars.css';

.component {
    &.filled {
        background-color: var(--tag-inverted-filled-mobile-background-color);

        &:disabled {
            background-color: var(--tag-inverted-filled-mobile-background-color-disabled);
        }

        @media (hover: hover) {
            &:hover:not(:disabled) {
                background-color: var(--tag-inverted-filled-mobile-background-color-hover);
            }
        }

        &:active:not(:disabled) {
            background-color: var(--tag-inverted-filled-mobile-background-color-active);
        }
    }

    &.checked {
        border-color: var(--tag-inverted-mobile-border-color-checked);
        background-color: var(--tag-inverted-mobile-background-color-checked);

        &:disabled {
            background-color: var(--tag-inverted-mobile-background-color-checked-disabled);
        }

        @media (hover: hover) {
            &:hover:not(:disabled) {
                background-color: var(--tag-inverted-mobile-background-color-checked-hover);
            }
        }

        &:active:not(:disabled) {
            background-color: var(--tag-inverted-mobile-background-color-checked-active);
        }
    }
}
