@import './vars.css';

.rectangular {
    &.xxs {
        border-radius: var(--tag-rectangular-mobile-xxs-border-radius);
    }

    &.xs {
        border-radius: var(--tag-rectangular-mobile-xs-border-radius);
    }

    &.s {
        border-radius: var(--tag-rectangular-mobile-s-border-radius);
    }

    &.m,
    &.l,
    &.xl {
        border-radius: var(--tag-alt-mobile-border-radius);
    }
}
