@import '../../vars/src/index.css';

:root {
    /* border */
    --tag-border-color: var(--color-light-neutral-translucent-500);
    --tag-filled-border-color: transparent;
    --tag-border-color-hover: var(--color-light-neutral-translucent-500);
    --tag-border-color-active: var(--color-light-neutral-translucent-500);
    --tag-border-color-checked: var(--color-light-accent-secondary);
    --tag-border-color-disabled: var(--color-light-neutral-translucent-500);
    --tag-border-color-checked-disabled: transparent;
    --tag-border-width: 1px;
    --tag-border-radius: var(--border-radius-pill);
    --tag-alt-border-radius: var(--border-radius-4);
    --tag-rectangular-xxs-border-radius: 6px;
    --tag-rectangular-xs-border-radius: var(--border-radius-8);
    --tag-rectangular-s-border-radius: var(--border-radius-8);
    --tag-rounded-xxs-border-radius: var(--border-radius-pill);
    --tag-rounded-xs-border-radius: var(--border-radius-pill);
    --tag-rounded-s-border-radius: var(--border-radius-pill);

    /* background-color outlined */
    --tag-outlined-background-color: transparent;
    --tag-outlined-background-color-hover: var(--color-light-transparent-default-hover);
    --tag-outlined-background-color-active: var(--color-light-transparent-default-press);
    --tag-outlined-background-color-disabled: transparent;

    /* background-color filled */
    --tag-filled-background-color: var(--color-light-neutral-translucent-300);
    --tag-filled-background-color-hover: var(--color-light-neutral-translucent-300-hover);
    --tag-filled-background-color-active: var(--color-light-neutral-translucent-300-press);
    --tag-filled-background-color-disabled: var(--color-light-neutral-translucent-100);

    /* background-color checked */
    --tag-background-color-checked: var(--color-light-accent-secondary);
    --tag-background-color-checked-hover: var(--color-light-accent-secondary-hover);
    --tag-background-color-checked-active: var(--color-light-accent-secondary-press);
    --tag-background-color-checked-disabled: var(--color-light-neutral-translucent-100);

    /* text color */
    --tag-text-color: var(--color-light-text-primary);
    --tag-text-color-checked: var(--color-light-text-primary-inverted);
    --tag-text-color-disabled: var(--color-light-text-tertiary);
    --tag-text-color-checked-disabled: var(--color-light-text-tertiary);

    /* inverted */

    /* border */
    --tag-inverted-border-color: var(--color-light-neutral-translucent-500-inverted);
    --tag-inverted-filled-border-color: transparent;
    --tag-inverted-border-color-hover: var(--color-light-neutral-translucent-500-inverted);
    --tag-inverted-border-color-active: var(--color-light-neutral-translucent-500-inverted);
    --tag-inverted-border-color-checked: var(--color-light-accent-secondary-inverted);
    --tag-inverted-border-color-disabled: var(--color-light-neutral-translucent-500-inverted);
    --tag-inverted-border-color-checked-disabled: transparent;

    /* background-color outlined */
    --tag-inverted-outlined-background-color: transparent;
    --tag-inverted-outlined-background-color-hover: var(
        --color-light-transparent-default-inverted-hover
    );
    --tag-inverted-outlined-background-color-disabled: transparent;
    --tag-inverted-outlined-background-color-active: var(
        --color-light-transparent-default-inverted-press
    );

    /* background-color filled */
    --tag-inverted-filled-background-color: var(--color-light-neutral-translucent-300-inverted);
    --tag-inverted-filled-background-color-hover: var(
        --color-light-neutral-translucent-300-inverted-hover
    );
    --tag-inverted-filled-background-color-disabled: var(
        --color-light-neutral-translucent-100-inverted
    );
    --tag-inverted-filled-background-color-active: var(
        --color-light-neutral-translucent-300-inverted-press
    );

    /* background-color checked */
    --tag-inverted-background-color-checked: var(--color-light-accent-secondary-inverted);
    --tag-inverted-background-color-checked-hover: var(
        --color-light-accent-secondary-inverted-hover
    );
    --tag-inverted-background-color-checked-active: var(
        --color-light-accent-secondary-inverted-press
    );
    --tag-inverted-background-color-checked-disabled: var(
        --color-light-neutral-translucent-100-inverted
    );

    /* text color */
    --tag-inverted-text-color: var(--color-light-text-primary-inverted);
    --tag-inverted-text-color-checked: var(--color-light-text-primary);
    --tag-inverted-text-color-disabled: var(--color-light-text-tertiary-inverted);
    --tag-inverted-text-color-checked-disabled: var(--color-light-text-tertiary-inverted);

    /* mobile */
    --tag-alt-mobile-border-radius: var(--border-radius-16);
    --tag-rectangular-mobile-xxs-border-radius: var(--border-radius-8);
    --tag-rectangular-mobile-xs-border-radius: var(--border-radius-12);
    --tag-rectangular-mobile-s-border-radius: var(--border-radius-12);
    --tag-filled-mobile-background-color: var(--color-light-neutral-translucent-100);
    --tag-filled-mobile-background-color-hover: var(--color-light-neutral-translucent-100);
    --tag-filled-mobile-background-color-active: var(--color-light-neutral-translucent-100-press);
    --tag-filled-mobile-background-color-disabled: var(--color-light-neutral-translucent-100);

    /* mobile inverted */
    --tag-inverted-filled-mobile-background-color: var(
        --color-light-neutral-translucent-100-inverted
    );
    --tag-inverted-filled-mobile-background-color-hover: var(
        --color-light-neutral-translucent-100-inverted
    );
    --tag-inverted-filled-mobile-background-color-active: var(
        --color-light-neutral-translucent-100-inverted-press
    );
    --tag-inverted-filled-mobile-background-color-disabled: var(
        --color-light-neutral-translucent-100-inverted
    );
}
