@import '@alfalab/core-components-vars/src/index.css';

:root {
    /* border */
    --tag-border-color: var(--color-light-neutral-translucent-500);
    --tag-filled-border-color: transparent;
    --tag-border-color-hover: var(--color-light-neutral-translucent-500);
    --tag-border-color-active: var(--color-light-neutral-translucent-500);
    --tag-border-color-checked: var(--color-light-accent-secondary);
    --tag-border-color-disabled: var(--color-light-neutral-translucent-500);
    --tag-border-color-checked-disabled: transparent;
    --tag-border-width: 1px;
    --tag-border-radius: var(--border-radius-pill);
    --tag-alt-border-radius: var(--border-radius-4);

    /* rectangular border-radius */
    --tag-rectangular-xxs-border-radius: var(--border-radius-8); /* 32 */
    --tag-rectangular-xs-border-radius: var(--border-radius-10); /* 40 */
    --tag-rectangular-s-border-radius: var(--border-radius-10); /* 48 */
    --tag-rectangular-m-border-radius: var(--border-radius-12); /* 56 */
    --tag-rectangular-l-border-radius: var(--tag-alt-border-radius);
    --tag-rectangular-xl-border-radius: var(--tag-alt-border-radius);

    /* rounded border-radius */
    --tag-rounded-xxs-border-radius: var(--border-radius-pill);
    --tag-rounded-xs-border-radius: var(--border-radius-pill);
    --tag-rounded-s-border-radius: var(--border-radius-pill);

    /* background-color outlined */
    --tag-outlined-background-color: transparent;
    --tag-outlined-background-color-hover: var(--color-light-transparent-default-hover);
    --tag-outlined-background-color-active: var(--color-light-transparent-default-press);
    --tag-outlined-background-color-disabled: transparent;

    /* background-color transparent */
    --tag-transparent-background-color: transparent;
    --tag-transparent-background-color-hover: var(--color-light-transparent-default-hover);
    --tag-transparent-background-color-active: var(--color-light-transparent-default-press);
    --tag-transparent-background-color-disabled: transparent;
    --tag-transparent-border-color: transparent;

    /* background-color filled */
    --tag-filled-background-color: var(--color-light-neutral-translucent-300);
    --tag-filled-background-color-hover: var(--color-light-neutral-translucent-300-hover);
    --tag-filled-background-color-active: var(--color-light-neutral-translucent-300-press);
    --tag-filled-background-color-disabled: var(--color-light-neutral-translucent-100);
    --tag-filled-mask-positive-color: var(--color-static-neutral-0);

    /* background-color muted */
    --tag-muted-border-color: transparent;
    --tag-muted-background-color: var(--color-light-neutral-translucent-0);
    --tag-muted-background-color-hover: var(--color-light-neutral-translucent-0-hover);
    --tag-muted-background-color-active: var(--color-light-neutral-translucent-0-press);
    --tag-muted-background-color-disabled: var(--color-light-neutral-translucent-100);
    --tag-muted-background-color-checked-disabled: var(--color-light-neutral-translucent-100);
    --tag-muted-background-color-checked: var(--color-light-neutral-translucent-200);
    --tag-muted-background-color-checked-hover: var(--color-light-neutral-translucent-200-hover);
    --tag-muted-background-color-checked-active: var(--color-light-neutral-translucent-200-press);

    /* background-color checked */
    --tag-background-color-checked: var(--color-light-accent-secondary);
    --tag-background-color-checked-hover: var(--color-light-accent-secondary-hover);
    --tag-background-color-checked-active: var(--color-light-accent-secondary-press);
    --tag-background-color-checked-disabled: var(--color-light-neutral-translucent-100);

    /* text color */
    --tag-text-color: var(--color-light-text-primary);
    --tag-text-color-checked: var(--color-light-text-primary-inverted);
    --tag-text-color-disabled: var(--color-light-text-tertiary);
    --tag-text-color-checked-disabled: var(--color-light-text-tertiary);

    /* clear */
    --tag-clear-color: var(--color-light-neutral-translucent-500);
    --tag-clear-color-hover: var(--color-light-neutral-translucent-500-hover);
    --tag-clear-color-active: var(--color-light-neutral-translucent-500-press);
    --tag-clear-color-checked: var(--color-light-neutral-translucent-500-inverted);
    --tag-clear-color-checked-hover: var(--color-light-neutral-translucent-500-inverted-hover);
    --tag-clear-color-checked-active: var(--color-light-neutral-translucent-500-inverted-press);

    /* inverted */

    /* border */
    --tag-inverted-border-color: var(--color-light-neutral-translucent-500-inverted);
    --tag-inverted-filled-border-color: transparent;
    --tag-inverted-border-color-hover: var(--color-light-neutral-translucent-500-inverted);
    --tag-inverted-border-color-active: var(--color-light-neutral-translucent-500-inverted);
    --tag-inverted-border-color-checked: var(--color-light-accent-secondary-inverted);
    --tag-inverted-border-color-disabled: var(--color-light-neutral-translucent-500-inverted);
    --tag-inverted-border-color-checked-disabled: transparent;

    /* background-color outlined */
    --tag-inverted-outlined-background-color: transparent;
    --tag-inverted-outlined-background-color-hover: var(
        --color-light-transparent-default-inverted-hover
    );
    --tag-inverted-outlined-background-color-disabled: transparent;
    --tag-inverted-outlined-background-color-active: var(
        --color-light-transparent-default-inverted-press
    );

    /* background-color transparent */
    --tag-inverted-transparent-background-color: transparent;
    --tag-inverted-transparent-background-color-hover: var(
        --color-light-transparent-default-inverted-hover
    );
    --tag-inverted-transparent-background-color-active: var(
        --color-light-transparent-default-inverted-press
    );
    --tag-inverted-transparent-background-color-disabled: transparent;
    --tag-inverted-transparent-border-color: transparent;

    /* background-color filled */
    --tag-inverted-filled-background-color: var(--color-light-neutral-translucent-300-inverted);
    --tag-inverted-filled-background-color-hover: var(
        --color-light-neutral-translucent-300-inverted-hover
    );
    --tag-inverted-filled-background-color-disabled: var(
        --color-light-neutral-translucent-100-inverted
    );
    --tag-inverted-filled-background-color-active: var(
        --color-light-neutral-translucent-300-inverted-press
    );
    --tag-inverted-filled-mask-positive-color: var(--color-static-neutral-0);

    /* background-color checked */
    --tag-inverted-background-color-checked: var(--color-light-accent-secondary-inverted);
    --tag-inverted-background-color-checked-hover: var(
        --color-light-accent-secondary-inverted-hover
    );
    --tag-inverted-background-color-checked-active: var(
        --color-light-accent-secondary-inverted-press
    );
    --tag-inverted-background-color-checked-disabled: var(
        --color-light-neutral-translucent-100-inverted
    );

    /* background-color muted inverted */
    --tag-inverted-muted-border-color: transparent;
    --tag-inverted-muted-background-color: var(--color-light-neutral-translucent-0-inverted);
    --tag-inverted-muted-background-color-hover: var(
        --color-light-neutral-translucent-0-inverted-hover
    );
    --tag-inverted-muted-background-color-active: var(
        --color-light-neutral-translucent-0-inverted-press
    );
    --tag-inverted-muted-background-color-disabled: var(
        --color-light-neutral-translucent-100-inverted
    );
    --tag-inverted-muted-background-color-checked-disabled: var(
        --color-light-neutral-translucent-100-inverted
    );
    --tag-inverted-muted-background-color-checked: var(
        --color-light-neutral-translucent-200-inverted
    );
    --tag-inverted-muted-background-color-checked-hover: var(
        --color-light-neutral-translucent-200-inverted-hover
    );
    --tag-inverted-muted-background-color-checked-active: var(
        --color-light-neutral-translucent-200-inverted-press
    );

    /* text color */
    --tag-inverted-text-color: var(--color-light-text-primary-inverted);
    --tag-inverted-text-color-checked: var(--color-light-text-primary);
    --tag-inverted-text-color-disabled: var(--color-light-text-tertiary-inverted);
    --tag-inverted-text-color-checked-disabled: var(--color-light-text-tertiary-inverted);

    /* clear inverted */
    --tag-clear-color-inverted: var(--color-light-neutral-translucent-500-inverted);
    --tag-clear-color-hover-inverted: var(--color-light-neutral-translucent-500-inverted-hover);
    --tag-clear-color-active-inverted: var(--color-light-neutral-translucent-500-inverted-press);
    --tag-clear-color-checked-inverted: var(--color-light-neutral-translucent-500);
    --tag-clear-color-checked-hover-inverted: var(--color-light-neutral-translucent-500-hover);
    --tag-clear-color-checked-active-inverted: var(--color-light-neutral-translucent-500-press);

    /* mobile */
    --tag-alt-mobile-border-radius: var(--border-radius-16);
    --tag-rectangular-mobile-xxs-border-radius: var(--border-radius-8);
    --tag-rectangular-mobile-xs-border-radius: var(--border-radius-12);
    --tag-rectangular-mobile-s-border-radius: var(--border-radius-12);

    /* background-color filled mobile */
    --tag-mobile-filled-background-color: var(--color-light-neutral-translucent-100);
    --tag-mobile-filled-background-color-hover: var(--color-light-neutral-translucent-100-hover);
    --tag-mobile-filled-background-color-active: var(--color-light-neutral-translucent-100-press);
    --tag-mobile-filled-background-color-disabled: var(--color-light-neutral-translucent-100);

    /* background-color muted mobile */
    --tag-mobile-muted-background-color: var(--color-light-neutral-translucent-0);
    --tag-mobile-muted-background-color-hover: var(--color-light-neutral-translucent-0-hover);
    --tag-mobile-muted-background-color-active: var(--color-light-neutral-translucent-0-press);
    --tag-mobile-muted-background-color-disabled: var(--color-light-neutral-translucent-100);
    --tag-mobile-muted-checked-background-color: var(--color-light-neutral-translucent-100);
    --tag-mobile-muted-checked-background-color-hover: var(
        --color-light-neutral-translucent-100-hover
    );
    --tag-mobile-muted-checked-background-color-active: var(
        --color-light-neutral-translucent-100-press
    );
    --tag-mobile-muted-checked-background-color-disabled: var(
        --color-light-neutral-translucent-100
    );

    /* mobile inverted */

    /* background-color filled mobile inverted */
    --tag-mobile-filled-background-color-inverted: var(
        --color-light-neutral-translucent-100-inverted
    );
    --tag-mobile-filled-background-color-hover-inverted: var(
        --color-light-neutral-translucent-100-inverted-hover
    );
    --tag-mobile-filled-background-color-active-inverted: var(
        --color-light-neutral-translucent-100-inverted-press
    );
    --tag-mobile-filled-background-color-disabled-inverted: var(
        --color-light-neutral-translucent-100-inverted
    );

    /* background-color muted mobile inverted */
    --tag-mobile-muted-background-color-inverted: var(--color-light-neutral-translucent-0-inverted);
    --tag-mobile-muted-background-color-hover-inverted: var(
        --color-light-neutral-translucent-0-inverted-hover
    );
    --tag-mobile-muted-background-color-active-inverted: var(
        --color-light-neutral-translucent-0-inverted-press
    );
    --tag-mobile-muted-background-color-disabled-inverted: var(
        --color-light-neutral-translucent-100-inverted
    );
    --tag-mobile-muted-checked-background-color-disabled-inverted: var(
        --color-light-neutral-translucent-100-inverted
    );
    --tag-mobile-muted-checked-background-color-inverted: var(
        --color-light-neutral-translucent-100-inverted
    );
    --tag-mobile-muted-checked-background-color-hover-inverted: var(
        --color-light-neutral-translucent-100-inverted-hover
    );
    --tag-mobile-muted-checked-background-color-active-inverted: var(
        --color-light-neutral-translucent-100-inverted-press
    );
}
