@import '../../vars.css';
@import '@alfalab/core-components-vars/src/no-typography-index.css';

.component {
    @mixin _confirmation-text;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--gap-40);
    color: var(--confirmation-text-color);
}

.hasError {
    & .getCodeButton {
        margin-top: var(--gap-0);
    }

    & .info {
        margin-top: var(--gap-0);
    }

    & .customContent {
        margin-bottom: var(--gap-32);
    }
}

.info {
    margin: var(--gap-4) var(--gap-0);
}

.loaderWrap {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap-8);
}

.loader {
    margin-right: var(--gap-8);
}

.center {
    align-items: center;

    & .loaderWrap {
        justify-content: center;
    }
}

.timePassed {
    display: flex;
    min-width: 3em;
}

.getCodeButton {
    margin-top: var(--gap-32);
}

.noAttemptsLeftMessage {
    margin: var(--gap-4) var(--gap-0) var(--gap-8);
}
