@import '../../vars/src/index.css';
@import '../../vars/src/colors-decorative.css';

.component {
    @mixin accent_secondary_small;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: var(--gap-0) var(--gap-8);
    border-radius: var(--border-radius-s);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    & .ellipsis {
        @mixin row_limit 1;
        word-break: break-all;
    }

    &:empty {
        padding: var(--gap-0);
    }
}

.soft,
.muted-alt {
    @each $color in green, orange, red, blue, teal {
        &.$(color) {
            background: var(--color-light-decorative-muted-alt-$(color));
            color: var(--color-light-decorative-text-$(color));
        }
    }
}

.soft,
.muted-alt {
    &.grey {
        background: var(--color-light-neutral-translucent-300);
        color: var(--color-light-text-secondary);
    }

    &.purple {
        background: var(--color-light-decorative-muted-alt-indigo);
        color: var(--color-light-decorative-text-indigo);
    }
}

.contrast {
    color: var(--color-light-text-primary-inverted);

    @each $color in green, orange, red, blue, teal {
        &.$(color) {
            background: var(--color-light-decorative-$(color));
        }
    }
}

.contrast {
    &.grey {
        background: var(--color-light-neutral-700);
    }

    &.purple {
        background: var(--color-light-decorative-indigo);
    }
}

.muted {
    @each $color in green, orange, red, blue, teal {
        &.$(color) {
            background: var(--color-light-decorative-muted-$(color));
            color: var(--color-light-decorative-text-$(color));
        }
    }
}

.muted {
    &.grey {
        background: var(--color-light-neutral-translucent-200);
        color: var(--color-light-text-secondary);
    }

    &.purple {
        background: var(--color-light-decorative-muted-indigo);
        color: var(--color-light-decorative-text-indigo);
    }
}
