@import '../../themes/src/default.css';
@import '../../vars/src/colors-decorative.css';

.component {
    @mixin accent_secondary_small;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0 var(--gap-xs);
    border-radius: var(--border-radius-s);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    & .ellipsis {
        @mixin row_limit 1;
        word-break: break-all;
    }

    &:empty {
        padding: 0;
    }
}

.soft {
    &.green {
        background: var(--color-light-decorative-muted-alt-green);
        color: var(--color-light-decorative-text-green);
    }

    &.orange {
        background: var(--color-light-decorative-muted-alt-orange);
        color: var(--color-light-decorative-text-orange);
    }

    &.red {
        background: var(--color-light-decorative-muted-alt-red);
        color: var(--color-light-decorative-text-red);
    }

    &.blue {
        background: var(--color-light-decorative-muted-alt-blue);
        color: var(--color-light-decorative-text-blue);
    }

    &.grey {
        background: var(--color-light-neutral-translucent-300);
        color: var(--color-light-text-secondary);
    }

    &.teal {
        background: var(--color-light-decorative-muted-alt-teal);
        color: var(--color-light-decorative-text-teal);
    }

    &.purple {
        background: var(--color-light-decorative-muted-alt-indigo);
        color: var(--color-light-decorative-text-indigo);
    }
}

.contrast {
    color: var(--color-light-text-primary-inverted);

    &.green {
        background: var(--color-light-decorative-green);
    }

    &.orange {
        background: var(--color-light-decorative-orange);
    }

    &.red {
        background: var(--color-light-decorative-red);
    }

    &.blue {
        background: var(--color-light-decorative-blue);
    }

    &.grey {
        background: var(--color-light-neutral-700);
    }

    &.teal {
        background: var(--color-light-decorative-teal);
    }

    &.purple {
        background: var(--color-light-decorative-indigo);
    }
}
