@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

/* purgecss ignore */
.component {
    /* TODO: как это будет собираться и работать в webView */
    --form-control-border-radius: 0;
    --form-control-border-bottom: 1px solid var(--color-light-neutral-translucent-700);
    --form-control-bg-color: transparent;

    /* focus */
    --form-control-focus-border-bottom: 1px solid var(--color-light-neutral-translucent-1300);
    --form-control-focus-shadow: transparent;

    /* hover */
    --form-control-hover-bg-color: transparent;
    --form-control-focus-bg-color: transparent;
    --form-control-font-family: var(--font-family-styrene);

    position: relative;
    max-width: 343px;

    font-family: var(--font-family-styrene);
}

.aspectRatioContainer {
    /* Эталонный размер 343x216 */
    padding-bottom: 63%;
}

.content {
    position: absolute;
    top: var(--gap-0);
    right: var(--gap-0);
    bottom: var(--gap-0);
    left: var(--gap-0);
    display: flex;
    align-items: center;
    padding-left: var(--gap-20);
    padding-right: var(--gap-20);
    border-radius: var(--border-radius-12);
    box-sizing: border-box;
}

.label {
    left: var(--gap-0);
    transform: translateY(-1px);
    color: var(--color-light-text-secondary);
    font-size: 20px;
    line-height: 24px;

    @media (max-width: 360px) {
        font-size: 16px;
    }
}

.focused .label,
.filled .label {
    color: var(--color-light-neutral-translucent-1300);
    transform: translateY(-19px) scale(0.6);

    @media (max-width: 360px) {
        transform: translateY(-22px) scale(0.75);
    }
}

.focused:before {
    transform: scale(1) !important;
}

.input {
    @mixin promo_xsmall;

    color: var(--color-light-neutral-translucent-1300);
    caret-color: var(--color-light-neutral-translucent-1300);

    /* TODO: обсудить с дизайнером, почему инпут не соответствует дизайн-системе, либо уменьшить каскад в form-control */
    padding-left: var(--gap-0) !important;
    padding-bottom: var(--gap-4) !important;

    @media (max-width: 360px) {
        font-size: 16px;
    }
}

.bankLogo {
    position: absolute;
    top: var(--gap-16);
    left: var(--gap-16);

    & svg {
        display: block;

        & g {
            fill: var(--color-light-neutral-translucent-1300);
        }
    }
}

.brandLogo {
    position: absolute;
    bottom: var(--gap-20);
    right: var(--gap-20);

    & svg {
        display: block;
        fill: var(--color-light-neutral-translucent-1300);
    }
}

.usePhoto {
    display: block;
    margin: var(--gap-0);
    padding: var(--gap-0);
    text-decoration: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    margin-bottom: var(--gap-4);
    align-self: flex-end;

    /* В макете иконка прилегает к правому краю поля, а по дизайн-системе там должен быть отступ */
    margin-right: calc(var(--gap-12) * -1);

    & svg {
        fill: var(--color-light-neutral-translucent-1300);
        display: block;
    }
}
