@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

:root {
    --page-indicator-animation-duration: 0.2s;
    --page-indicator-animation-timing-function: ease-in-out;

    /* default */
    --page-indicator-color: var(--color-light-neutral-translucent-300);
    --page-indicator-active-color: var(--color-light-neutral-translucent-1300);

    /* inverted */
    --page-indicator-color-inverted: var(--color-light-neutral-translucent-300-inverted);
    --page-indicator-active-color-inverted: var(--color-light-neutral-translucent-1300-inverted);

    /* static */
    --page-indicator-color-static: var(--color-static-neutral-translucent-300);
    --page-indicator-active-color-static: var(--color-static-neutral-1300);

    /* static-inverted */
    --page-indicator-color-static-inverted: var(--color-static-neutral-translucent-300-inverted);
    --page-indicator-active-color-static-inverted: var(--color-static-neutral-1300-inverted);
}
