@import '../../../vars.css';

.sticky {
    top: var(--gap-0);
}

.bottomAddons,
.headerTitle {
    @mixin headline-system_small;

    &.medium {
        @mixin headline-system_medium;
    }
}

.headerTitle {
    padding: 11px var(--gap-12);

    &.medium {
        padding: var(--gap-6) var(--gap-12) var(--gap-16);
    }
}

.bottomAddons {
    padding: var(--gap-6) var(--gap-12) var(--gap-16);
}
