@import '../../../vars.css';

.header {
    padding: var(--gap-20) var(--gap-20) 0;

    & .headerTitle {
        @mixin headline-system_small;
        padding: 11px var(--gap-12);
    }

    & .bottomAddons {
        @mixin headline-system_small;
        padding: var(--gap-6) var(--gap-12) var(--gap-16);
    }

    &.medium {
        & .headerTitle {
            @mixin headline-system_medium;
            padding: var(--gap-6) var(--gap-12) var(--gap-16);
        }

        & .bottomAddons {
            @mixin headline-system_medium;
        }
    }
}
