@import '../../../vars/src/safe-area.css';
@import '../vars.css';

.component {
    top: var(--gap-0);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 600px;
}

.component.component {
    position: fixed;
    flex: 1;
}

.content {
    @media (display-mode: standalone) {
        padding-top: var(--sat);
        padding-bottom: var(--sab);
    }
}

.mobileContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}
