@import '../../../../../../vars/src/index.css';

.desktop {
    padding: var(--gap-12);
    &.size-72 {
        padding-left: var(--gap-16);
    }
}

.mobile {
    padding: var(--gap-12) var(--gap-12) var(--gap-12) var(--gap-8);
}

.checkmarkBeforeContent {
    margin-right: var(--gap-12);
}

.checkmarkAfterContent {
    flex-direction: row-reverse;
    justify-content: flex-end;

    & .content.content {
        margin-left: 0;
    }
}
