@import '@alfalab/core-components-vars/src/index.css';

.desktop {
    padding: calc(var(--gap-12) + var(--gap-6)) calc(var(--gap-12) + var(--gap-6)) var(--gap-12);
}

.mobile {
    padding: var(--gap-12) var(--gap-12) var(--gap-12) var(--gap-8);
}

.positionAfter {
    margin-left: unset;
}
