@import '../../../../../../vars/src/index.css';

.desktop {
    padding: var(--gap-12);
    &.size-72 {
        padding-left: var(--gap-16);
    }
}

.mobile {
    padding: var(--gap-12) var(--gap-8);
}
