@define-mixin exit-active {
    opacity: 0;
    transition:
        opacity 200ms ease-out,
        transform 200ms ease-out;
}

.enterRight {
    opacity: 0;
    transform: translateX(15px);
}

.enterLeft {
    opacity: 0;
    transform: translateX(-15px);
}

.enterActive {
    opacity: 1;
    transform: translateX(0);
    transition:
        opacity 200ms ease-in,
        transform 200ms ease-in;
}

.exit {
    opacity: 1;
    transform: translateX(0);
}

.exitActiveRight {
    @mixin exit-active;
    transform: translateX(15px);
}

.exitActiveLeft {
    @mixin exit-active;
    transform: translateX(-15px);
}
