@define-mixin tag-click {
    /* theme */
    --tag-alt-mobile-border-radius: var(--border-radius-s);
    --tag-rectangular-mobile-xxs-border-radius: 6px;
    --tag-rectangular-mobile-xs-border-radius: var(--border-radius-m);
    --tag-rectangular-mobile-s-border-radius: var(--border-radius-m);

    /* mobile */
    --tag-filled-mobile-background-color: var(--color-light-specialbg-tertiary-transparent);
    --tag-filled-mobile-background-color-hover: var(--color-light-specialbg-tertiary-transparent);
    --tag-filled-mobile-background-color-active: var(
        --color-light-specialbg-tertiary-transparent-shade-15
    );
    --tag-filled-mobile-background-color-disabled: var(
        --color-light-specialbg-tertiary-transparent
    );
    --tag-mobile-background-color-checked: var(--color-light-bg-primary-inverted);
    --tag-mobile-background-color-checked-hover: var(--color-light-bg-primary-inverted);
    --tag-mobile-background-color-checked-active: var(--color-light-bg-primary-inverted-tint-20);
    --tag-mobile-background-color-checked-disabled: var(--color-light-bg-primary-inverted-alpha-30);
    --tag-mobile-border-color-checked: var(--color-light-border-key);

    /* mobile inverted */
    --tag-inverted-filled-mobile-background-color: var(
        --color-light-specialbg-tertiary-transparent-inverted
    );
    --tag-inverted-filled-mobile-background-color-hover: var(
        --color-light-specialbg-tertiary-transparent-inverted
    );
    --tag-finverted-illed-mobile-background-color-active: var(
        --color-light-specialbg-tertiary-transparent-inverted-tint-20
    );
    --tag-inverted-filled-mobile-background-color-disabled: var(
        --color-light-specialbg-tertiary-transparent-inverted
    );
    --tag-inverted-mobile-border-color-checked: var(--color-light-border-key-inverted);
    --tag-inverted-mobile-background-color-checked: var(--color-light-bg-primary);
    --tag-inverted-mobile-background-color-checked-hover: var(--color-light-bg-primary);
    --tag-inverted-mobile-background-color-checked-active: var(--color-light-bg-primary-shade-15);
    --tag-inverted-mobile-background-color-checked-disabled: var(--color-light-bg-primary-alpha-30);
}
