@define-mixin tag-intranet {
    /* theme */
    --tag-filled-background-color: var(--color-light-bg-secondary);
    --tag-filled-background-color-hover: var(--color-light-bg-secondary);
    --tag-filled-background-color-active: var(--color-light-bg-secondary-shade-15);
    --tag-filled-background-color-disabled: var(--color-light-bg-secondary-alpha-30);
    --tag-background-color-checked: var(--color-light-bg-secondary-inverted);
    --tag-background-color-checked-hover: var(--color-light-bg-secondary-inverted);
    --tag-background-color-checked-active: var(--color-light-bg-secondary-inverted-tint-20);
    --tag-background-color-checked-disabled: var(--color-light-bg-secondary-inverted-alpha-30);
    --tag-border-color-checked: transparent;
    --tag-rectangular-xxs-border-radius: var(--border-radius-m);
    --tag-rectangular-xs-border-radius: var(--border-radius-l);
    --tag-rectangular-s-border-radius: var(--border-radius-l);

    /* inverted */
    --tag-inverted-filled-background-color: var(--color-light-bg-secondary-inverted);
    --tag-inverted-filled-background-color-hover: var(--color-light-bg-secondary-inverted);
    --tag-finverted-illed-background-color-active: var(--color-light-bg-secondary-inverted-tint-20);
    --tag-inverted-filled-background-color-disabled: var(
        --color-light-bg-secondary-inverted-alpha-30
    );
    --tag-inverted-border-color-checked: transparent;
    --tag-inverted-background-color-checked: var(--color-light-bg-secondary);
    --tag-inverted-background-color-checked-hover: var(--color-light-bg-secondary);
    --tag-inverted-background-color-checked-active: var(--color-light-bg-secondary-shade-15);
    --tag-inverted-background-color-checked-disabled: var(--color-light-bg-secondary-alpha-30);
}
