@import '../../../../vars/src/index.css';

.description {
    text-align: center;
}

.infoWrapper {
    padding: 0 var(--gap-8);
    position: relative;
    height: 48px;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icon {
    color: var(--color-static-neutral-0);
}

.iconShape {
    fill: var(--color-static-neutral-translucent-700);
}

.muteButton {
    position: absolute;
    right: 8px;
    top: -62px; /* 62px - высота превью блока */
}
