@import '../../../../vars/src/index.css';

.description {
    text-align: center;
}

.infoWrapper {
    background-color: var(--color-static-neutral-0-inverted);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--gap-8);
    position: relative;
    height: 48px;
    &.video {
        justify-content: space-between;
    }
}
