@import '@alfalab/core-components-tab-bar-island/src/vars.css';

.icon {
    position: relative;
    height: var(--tab-bar-island-tab-icon-size);
    margin: auto var(--gap-12);

    @media screen and (min-width: 360px) {
        margin: var(--gap-8) var(--gap-12) var(--gap-2);
    }
}

.label {
    @mixin tab-bar-island-label;
    margin: 0 var(--gap-12) var(--gap-8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 2 * var(--gap-12));
    display: none;

    @media screen and (min-width: 360px) {
        display: block;
    }
}

.indicator {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;

    &.size8 {
        transform: translate(50%, 0);
    }

    &.size16 {
        transform: translate(50%, -25%);
    }
}
