@import '../../../../../packages/vars/src/index.css';

.plate {
    padding: var(--gap-16) var(--gap-20);
    background-color: var(--color-light-base-bg-secondary);
    border-radius: var(--border-radius-20);
    color: var(--color-light-text-primary);
    text-decoration: none;
    transition: background-color 0.2s ease;

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-light-neutral-translucent-200-hover);
        }
    }

    &:active {
        background-color: var(--color-light-neutral-translucent-200-press);
    }
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > svg {
        transform: rotate(-45deg);
    }
}

.title {
    @mixin headline-mobile_medium;
}

.description {
    @mixin promo-mobile_small;

    margin-top: 6px;
}

@media screen and (min-width: 600px) {
    .plate {
        padding: var(--gap-24) 30px;
    }

    .title {
        @mixin headline_medium;
    }

    .description {
        margin-top: var(--gap-8);
    }
}
