@import '../../themes/src/default.css';

:root {
    /* primary */
    --link-primary-color: var(--color-light-text-primary);
    --link-primary-hover-color: var(--color-light-text-primary-hover);
    --link-primary-active-color: var(--color-light-text-primary-press);

    /* secondary */
    --link-secondary-color: var(--color-light-text-secondary);
    --link-secondary-hover-color: var(--color-light-text-secondary-hover);
    --link-secondary-active-color: var(--color-light-text-secondary-press);

    /* default */
    --link-default-color: var(--color-light-text-info);
    --link-default-hover-color: var(--color-light-text-info-hover);
    --link-default-active-color: var(--color-light-text-info-press);
}

.primary {
    color: var(--link-primary-color);
    border-bottom-color: var(--link-primary-color);

    &:hover {
        color: var(--link-primary-hover-color);
    }

    &:active {
        color: var(--link-primary-active-color);
    }
}

.secondary {
    color: var(--link-secondary-color);
    border-bottom-color: var(--link-secondary-color);

    &:hover {
        color: var(--link-secondary-hover-color);
    }

    &:active {
        color: var(--link-secondary-active-color);
    }
}

.defaultView {
    color: var(--link-default-color);
    border-bottom-color: var(--link-default-color);

    &:hover {
        color: var(--link-default-hover-color);
    }

    &:active {
        color: var(--link-default-active-color);
    }
}
