@import '../../themes/src/default.css';

.component {
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-family);
    cursor: pointer;
    outline: none;

    @media (hover: hover) {
        &:hover .text {
            border-bottom-color: rgba(0, 0, 0, 0);
        }
    }

    &:active .text {
        border-bottom-color: rgba(0, 0, 0, 0);
    }
}

.withAddons {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.text {
    border-bottom: 1px solid;
    transition: border 0.2s ease, color 0.2s ease;
}

.focused {
    @mixin focus-outline;
}

.pseudo {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font: inherit;
}

.pseudo .text {
    border-bottom-style: dashed;
}

.withoutUnderline .text {
    border-bottom: none;
}

.addons {
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
}

.addons:first-child {
    margin-right: var(--gap-4);
}

.addons:last-child {
    margin-left: var(--gap-4);
}

.addons:only-child {
    margin-right: 0;
    margin-left: 0;
}
