.overlayLabelInline {
    position: relative;
    inset: auto;
    width: 0;
    height: 0;
    overflow: visible;
}

.overlayLabelInline:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 51px;
    height: 31px;
    content: '';
}
