@import '../../../vars.css';

.component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & span:last-of-type {
        margin-bottom: 0;
    }
}

.center {
    align-items: center;
    text-align: center;
}

.text.text {
    margin-bottom: var(--gap-xl);
}

.typographyTheme.typographyTheme {
    @mixin _confirmation-text;
}

.phonesWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-xl);
}

.phoneWrap {
    margin-bottom: var(--gap-xs);

    &:last-child {
        margin-bottom: 0;
    }
}

.phoneLink.phoneLink {
    @mixin action_primary_medium;
}

.hintButton {
    margin-top: var(--gap-2xl);
}

.phoneContentMobile {
    display: flex;
    flex-direction: column;
}
