@import './vars.css';

.container {
    display: flex;
    overflow: hidden;

    &.size-4 {
        border-radius: var(--border-radius-4);
        height: 4px;
    }

    &.size-8 {
        border-radius: var(--border-radius-8);
        height: 8px;
    }
}

.filled {
    border-radius: inherit;
    width: 100%;
    transition: transform 0.4s ease;

    &.positive {
        background: var(--progressbar-positive-color);
    }

    &.negative {
        background: var(--progressbar-negative-color);
    }

    &.attention {
        background: var(--progressbar-attention-color);
    }

    &.link {
        background: var(--progressbar-link-color);
    }

    &.tertiary {
        background: var(--progressbar-tertiary-color);
    }

    &.secondary {
        background: var(--progressbar-secondary-color);
    }

    &.primary {
        background: var(--progressbar-primary-color);
    }

    &.accent {
        background: var(--progressbar-accent-color);
    }
}
