@import '../../../../../../vars/src/index.css';

.container {
    padding: var(--gap-20) var(--gap-20) 0;
}

.backButton {
    background-color: var(--color-light-bg-primary);
}

.closeButton {
    background-color: var(--color-light-bg-primary);

    & svg path {
        fill: var(--color-light-neutral-translucent-1300);
    }
}

.title {
    @mixin headline-system_small;
    padding-left: var(--gap-12);
    margin-bottom: 10px;

    &.medium {
        @mixin headline-system_medium;
        margin-bottom: var(--gap-16);
    }
}
