@import '../../../../vars/src/index.css';

.container {
    padding: var(--gap-2) 0 0 var(--gap-16);
    flex-grow: 1;
    min-width: 0;
    cursor: pointer;

    &.single {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        min-height: 48px;

        & .title {
            margin-bottom: 0;
        }
    }

    & .title {
        margin-bottom: var(--gap-4);
        display: block;
        overflow-wrap: break-word;

        &.truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.restore {
            color: var(--color-light-text-tertiary);
        }
    }
}
