@import '../../vars/src/index.css';

:root {
    --primary-tablist-color: var(--color-light-text-secondary);
    --primary-tablist-hover-color: var(--color-light-text-primary);
    --primary-tablist-selected-color: var(--color-light-text-primary);
    --primary-tablist-disabled-color: var(--color-light-text-tertiary);
    --primary-tablist-bottom-border-color: var(--color-light-neutral-translucent-500);
    --primary-tablist-line-color: var(--color-light-accent-primary);
    --primary-tablist-font-feature-settings: normal;

    /* mobile */
    --primary-tablist-mobile-gaps: var(--gap-24);
    --primary-tablist-mobile-font-size: 16px;
    --primary-tablist-mobile-line-height: 24px;
    --primary-tablist-mobile-font-weight: 400;
    --primary-tablist-mobile-font-family: var(--font-family-system);
    --primary-tablist-mobile-padding: 0 0 var(--gap-12);

    /* size s */
    --primary-tablist-s-gaps: var(--gap-32);
    --primary-tablist-s-font-size: 18px;
    --primary-tablist-s-font-weight: 400;
    --primary-tablist-s-font-family: var(--font-family-system);
    --primary-tablist-s-padding: 0 0 var(--gap-12);

    /* size m */
    --primary-tablist-m-gaps: var(--gap-32);
    --primary-tablist-m-font-size: 18px;
    --primary-tablist-m-font-weight: 400;
    --primary-tablist-m-font-family: var(--font-family-system);
    --primary-tablist-m-padding: 0 0 var(--gap-16);

    /* size l */
    --primary-tablist-l-gaps: var(--gap-32);
    --primary-tablist-l-font-size: 18px;
    --primary-tablist-l-font-weight: 400;
    --primary-tablist-l-font-family: var(--font-family-system);
    --primary-tablist-l-padding: 0 0 var(--gap-20);

    /* size xl */
    --primary-tablist-xl-gaps: var(--gap-32);
    --primary-tablist-xl-font-size: 18px;
    --primary-tablist-xl-font-weight: 400;
    --primary-tablist-xl-font-family: var(--font-family-system);
    --primary-tablist-xl-padding: 0 0 var(--gap-20);

    /* mobile */
    --secondary-tablist-mobile-gaps: var(--gap-8);

    /* size xxs */
    --secondary-tablist-xxs-gaps: var(--gap-8);

    /* size xs */
    --secondary-tablist-xs-gaps: var(--gap-8);

    /* size s */
    --secondary-tablist-s-gaps: var(--gap-12);

    /* size m */
    --secondary-tablist-m-gaps: var(--gap-12);

    /* size l */
    --secondary-tablist-l-gaps: var(--gap-16);

    /* size xl */
    --secondary-tablist-xl-gaps: var(--gap-16);
}
