@import '@alfalab/core-components-vars/src/no-typography-index.css';

:root {
    --primary-tablist-color: var(--color-light-text-secondary);
    --primary-tablist-hover-color: var(--color-light-text-primary);
    --primary-tablist-selected-color: var(--color-light-text-primary);
    --primary-tablist-disabled-color: var(--color-light-text-tertiary);
    --primary-tablist-bottom-border-color: var(--color-light-neutral-translucent-500);
    --primary-tablist-line-color: var(--color-light-accent-primary);

    /* mobile */
    --primary-tablist-mobile-gaps: var(--gap-24);
    --primary-tablist-mobile-padding: var(--gap-0) var(--gap-0) var(--gap-12);

    /* size s */
    --primary-tablist-s-gaps: var(--gap-32);
    --primary-tablist-s-padding: var(--gap-0) var(--gap-0) var(--gap-12);

    /* size m */
    --primary-tablist-m-gaps: var(--gap-32);
    --primary-tablist-m-padding: var(--gap-0) var(--gap-0) var(--gap-16);

    /* size l */
    --primary-tablist-l-gaps: var(--gap-32);
    --primary-tablist-l-padding: var(--gap-0) var(--gap-0) var(--gap-20);

    /* size xl */
    --primary-tablist-xl-gaps: var(--gap-32);
    --primary-tablist-xl-padding: var(--gap-4) var(--gap-0) var(--gap-24);

    /* mobile */
    --secondary-tablist-mobile-gaps: var(--gap-8);

    /* size xxs */
    --secondary-tablist-xxs-gaps: var(--gap-8);

    /* size xs */
    --secondary-tablist-xs-gaps: var(--gap-8);

    /* size s */
    --secondary-tablist-s-gaps: var(--gap-12);

    /* size m */
    --secondary-tablist-m-gaps: var(--gap-12);

    /* size l */
    --secondary-tablist-l-gaps: var(--gap-16);

    /* size xl */
    --secondary-tablist-xl-gaps: var(--gap-16);

    /* default transparent gaps */
    --secondary-tablist-transparent-gaps: var(--gap-0);
}
