@import '../../../vars/src/index.css';
@import '../../../tag/src/vars.css';

.valueButton {
    &.filled {
        background-color: var(--tag-filled-background-color);

        &:disabled {
            background-color: var(--tag-filled-background-color-disabled);
        }

        @media (hover: hover) {
            &:not(:disabled):hover {
                background-color: var(--tag-filled-background-color-hover);
            }
        }

        &:not(:disabled):active {
            background-color: var(--tag-filled-background-color-active);
        }
    }
}
