@import '@alfalab/core-components-vars/src/no-typography-index.css';

.segment {
    flex: 1;
    z-index: 1;
    display: flex;
    margin: var(--gap-0);
    align-items: center;
    justify-content: center;
    padding: var(--gap-0) var(--gap-8);
    border: none;
    background-color: transparent;
    position: relative;
    font-family: var(--font-family-system);
    transition:
        font-weight 0.2s ease,
        color 0.2s ease;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:first-child):before {
        content: '';
        position: absolute;
        transition: opacity 0.2s ease;
        width: 1px;
        top: var(--gap-8);
        border-radius: 0.5px;
        bottom: var(--gap-8);
        left: var(--gap-0);
    }
}

.focused {
    @mixin focus-outline;
}
