@import '@alfalab/core-components-vars/src/index.css';

.segment {
    flex: 1;
    z-index: 1;
    display: flex;
    margin: var(--gap-0);
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &:not(:first-child):before {
        content: '';
        position: absolute;
        transition: opacity 0.2s ease;
        width: 1px;
        top: var(--gap-8);
        border-radius: 0.5px;
        bottom: var(--gap-8);
        left: var(--gap-0);
    }
}

.title {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & > * {
        vertical-align: top;
    }
}

.addon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    & > * {
        max-width: 100%;
        max-height: 100%;
    }
}

.addonSize32 {
    width: 20px;
    height: 20px;
}

.addonSize40,
.addonSize48 {
    width: 24px;
    height: 24px;
}

.titleIndentLeft32,
.titleIndentLeft40 {
    padding-left: var(--gap-10);
}

.titleIndentLeft48 {
    padding-left: var(--gap-6);
}

.titleIndentRight32,
.titleIndentRight40 {
    padding-right: var(--gap-10);
}

.titleIndentRight48 {
    padding-right: var(--gap-6);
}

.focused {
    @mixin focus-outline;
}
