@import '../../vars.css';

.accent {
    color: var(--button-accent-color);
    background-color: var(--button-accent-base-bg-color);
    border: 1px solid transparent;

    @media (hover: hover) {
        &:hover {
            background-color: var(--button-accent-hover-bg-color);
        }
    }

    &:active {
        background-color: var(--button-accent-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-static-color);
    }
}

.primary {
    border: 1px solid transparent;

    & .hint {
        color: var(--button-primary-hint-color);
    }
}

.secondary {
    color: var(--button-secondary-color);
    border: 1px solid var(--button-secondary-base-border-color);

    & > .loader {
        color: var(--button-spinner-default-color);
    }

    & .hint {
        color: var(--button-secondary-hint-color);
    }
}

.outlined {
    color: var(--button-outlined-color);
    background-color: var(--button-outlined-base-bg-color);
    border: 1px solid var(--button-outlined-base-border-color);

    @media (hover: hover) {
        &:hover {
            background-color: var(--button-outlined-hover-bg-color);
            border-color: var(--button-outlined-hover-border-color);
        }
    }

    &:active {
        background-color: var(--button-outlined-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }

    & .hint {
        color: var(--button-outlined-hint-color);
    }
}

.tertiary {
    color: var(--button-tertiary-color);
    background-color: var(--button-tertiary-base-bg-color);
    border: 1px solid var(--button-tertiary-base-border-color);

    @media (hover: hover) {
        &:hover {
            background-color: var(--button-tertiary-hover-bg-color);
            border-color: var(--button-tertiary-hover-border-color);
        }
    }

    &:active {
        background-color: var(--button-tertiary-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }

    & .hint {
        color: var(--button-tertiary-hint-color);
    }
}

.filled {
    color: var(--color-light-text-primary);
    background-color: var(--color-light-neutral-translucent-300);
    border: 1px solid transparent;

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-light-neutral-translucent-300-hover);
        }
    }

    &:active {
        background-color: var(--color-light-neutral-translucent-300-press);
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }
}

.transparent {
    color: var(--button-transparent-base-color);
    background-color: transparent;
    border: 1px solid transparent;

    @media (hover: hover) {
        &:hover {
            background-color: var(--button-transparent-hover-bg-color);
        }
    }

    &:active {
        background-color: var(--button-transparent-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }

    & .hint {
        color: var(--button-transparent-base-hint-color);
    }
}

.link {
    color: var(--button-link-base-color);
    background-color: transparent;
    border: 1px solid transparent;

    @media (hover: hover) {
        &:hover {
            background-color: var(--button-link-hover-bg-color);
        }
    }

    &:active {
        background-color: var(--button-link-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }
}

.text {
    background-color: transparent;
    color: var(--button-text-base-color);

    @media (hover: hover) {
        &:hover {
            color: var(--button-text-hover-color);
        }
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }

    & .hint {
        color: var(--button-text-base-hint-color);
    }
}

.ghost {
    background-color: transparent;
    color: var(--button-ghost-base-color);

    @media (hover: hover) {
        &:hover {
            color: var(--button-ghost-hover-color);
        }
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }
}

/* Disabled */

.component[disabled] {
    &.accent {
        color: var(--button-accent-disabled-color);
        background-color: var(--button-accent-disabled-bg-color);

        &.loading {
            color: var(--button-accent-color);
            background-color: var(--button-accent-base-bg-color);
        }
    }

    &.secondary {
        border-color: var(--button-secondary-disabled-border-color);

        &.loading {
            color: var(--button-secondary-color);
            background-color: var(--button-secondary-base-bg-color);
            border-color: var(--button-secondary-base-border-color);
        }
    }

    &.outlined {
        background-color: var(--button-outlined-disabled-bg-color);

        &.loading {
            color: var(--button-outlined-color);
            border-color: var(--button-outlined-base-border-color);
        }
    }

    &.tertiary {
        background-color: var(--button-tertiary-disabled-bg-color);

        &.loading {
            color: var(--button-tertiary-color);
            border-color: var(--button-tertiary-base-border-color);
        }
    }

    &.filled {
        color: var(--color-light-text-tertiary);
        background-color: var(--color-light-neutral-translucent-100);

        &.loading {
            color: var(--color-light-text-primary);
            background-color: var(--color-light-neutral-translucent-300);
        }
    }

    &.transparent {
        background-color: transparent;

        &.loading {
            color: var(--button-transparent-base-color);
        }
    }

    &.link {
        background-color: transparent;

        &.loading {
            color: var(--button-link-base-color);
        }
    }

    &.text {
        &.loading {
            color: var(--button-text-base-color);
        }
    }

    &.ghost {
        &.loading {
            color: var(--button-ghost-base-color);
        }
    }
}
