@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../../vars.css';

@define-mixin backdrop-filter {
    backdrop-filter: blur(80px);
}

@define-mixin addon-label-gap $gap {
    .addons + .label,
    .label + .addons,
    .addons + .addons {
        margin-left: $gap;
    }
}

.component {
    &&& {
        font-weight: var(--button-font-weight);
        font-family: var(--font-family);
    }

    &.rounded {
        border-radius: var(--border-radius-pill);
    }

    &.hug {
        justify-content: center;
        text-align: center;
    }

    &.fill {
        text-align: left;
    }

    /* Nowrap */

    .nowrap {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .stretchText {
        flex-grow: 1;
    }

    .hint {
        @mixin paragraph_primary_small;

        display: block;
    }

    &.allowBackdropBlur {
        &.secondary {
            @mixin backdrop-filter;
        }
        &.accent,
        &.primary {
            @mixin disabled {
                @mixin backdrop-filter;
            }
        }
    }

    &.text {
        min-height: 24px;
    }

    /* Size */

    /* За счет того, что у кнопок есть border 1px,
для полного соответствия макетам padding необходимо уменьшить на 1px (16px -> 15px) */
    &.size-32 {
        &:not(.iconOnly):not(.text):not(.transparent) {
            min-width: 80px;
        }
        &:not(.text) {
            min-height: var(--size-xxs-height);

            &:not(.iconOnly) {
                padding: var(--gap-0) 15px;
            }
            &.withLeftAddons {
                padding-left: 11px;
            }
            &.withRightAddons {
                padding-right: 11px;
            }
        }

        @mixin action_primary_small;

        &:not(.text).iconOnly {
            min-width: var(--size-xxs-height);
        }
    }

    &.size-40 {
        &:not(.iconOnly):not(.text):not(.transparent) {
            min-width: 88px;
        }
        &:not(.text) {
            min-height: var(--size-xs-height);

            &:not(.iconOnly) {
                padding: var(--gap-0) 19px;
            }
            &.withLeftAddons {
                padding-left: 15px;
            }
            &.withRightAddons {
                padding-right: 15px;
            }
        }

        @mixin action_primary_small;

        &:not(.text).iconOnly {
            min-width: var(--size-xs-height);
        }
    }

    &.size-48 {
        &:not(.iconOnly):not(.text):not(.transparent) {
            min-width: 104px;
        }
        &:not(.text) {
            min-height: var(--size-s-height);

            &:not(.iconOnly) {
                padding: var(--gap-0) 23px;
            }
            &.withLeftAddons {
                padding-left: 19px;
            }
            &.withRightAddons {
                padding-right: 19px;
            }
        }

        @mixin action_component_primary;

        line-height: 20px;

        &:not(.text).iconOnly {
            min-width: var(--size-s-height);
        }
    }

    &.size-56 {
        &:not(.iconOnly):not(.text):not(.transparent) {
            min-width: 128px;
        }
        &:not(.text) {
            min-height: var(--size-m-height);

            &:not(.iconOnly) {
                padding: var(--gap-0) 27px;
            }
            &.withLeftAddons {
                padding-left: 23px;
            }
            &.withRightAddons {
                padding-right: 23px;
            }
        }

        @mixin action_component_primary;

        &:not(.text).iconOnly {
            min-width: var(--size-m-height);
        }
    }

    &.size-64 {
        &:not(.iconOnly):not(.text):not(.transparent) {
            min-width: 160px;
        }
        &:not(.text) {
            min-height: var(--size-l-height);

            &:not(.iconOnly) {
                padding: var(--gap-0) 31px;
            }
            &.withLeftAddons {
                padding-left: 27px;
            }
            &.withRightAddons {
                padding-right: 27px;
            }
        }

        @mixin action_primary_large;

        &:not(.text).iconOnly {
            min-width: var(--size-l-height);
        }
    }

    &.size-72 {
        &:not(.iconOnly):not(.text):not(.transparent) {
            min-width: 168px;
        }
        &:not(.text) {
            min-height: var(--size-xl-height);

            &:not(.iconOnly) {
                padding: var(--gap-0) 35px;
            }
            &.withLeftAddons {
                padding-left: 31px;
            }
            &.withRightAddons {
                &.size-72 {
                    padding-right: 31px;
                }
            }
        }

        @mixin action_primary_large;

        &:not(.text).iconOnly {
            min-width: var(--size-xl-height);
        }
    }

    /* Addons */

    .addons {
        display: flex;
        flex-shrink: 0;
        align-items: center;
    }

    @mixin addon-label-gap 6px;

    &.size-48,
    &.size-56 {
        @mixin addon-label-gap var(--gap-8);
    }

    &.size-64,
    &.size-72 {
        @mixin addon-label-gap var(--gap-12);
    }
}
