@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../../vars.css';

@define-mixin backdrop-filter {
    backdrop-filter: blur(80px);
}

@define-mixin addon-label-gap $gap {
    .addons + .label,
    .label + .addons,
    .addons + .addons {
        margin-left: $gap;
    }
}

@define-mixin adjust-size $height {
    min-height: $height;

    &.iconOnly.iconOnly {
        min-width: $height;
        padding: var(--gap-0);
    }

    &.transparent,
    &.text {
        min-width: auto;
    }

    &.text {
        padding: var(--gap-0);
        min-height: 24px;
    }
}

@define-mixin with-addons-padding $padding {
    &.withLeftAddons {
        padding-left: $padding;
    }
    &.withRightAddons {
        padding-right: $padding;
    }
}

.component {
    &&& {
        font-weight: var(--button-font-weight);
        font-family: var(--font-family);
    }

    &.rounded {
        border-radius: var(--border-radius-pill);
    }

    &.hug {
        justify-content: center;
        text-align: center;
    }

    &.fill {
        text-align: left;
    }

    /* Nowrap */

    .nowrap {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .stretchText {
        flex-grow: 1;
    }

    .hint {
        @mixin paragraph_primary_small;

        display: block;
    }

    &.allowBackdropBlur {
        &.secondary {
            @mixin backdrop-filter;
        }
        &.accent,
        &.primary {
            @mixin disabled {
                @mixin backdrop-filter;
            }
        }
    }

    &.text {
        min-height: 24px;
    }

    /* Size */

    /* За счет того, что у кнопок есть border 1px,
для полного соответствия макетам padding необходимо уменьшить на 1px (16px -> 15px) */
    &.size-32 {
        min-width: 80px;
        padding: var(--gap-0) 15px;
        @mixin action_primary_small;
        @mixin with-addons-padding 11px;
        @mixin adjust-size var(--size-xxs-height);
        @mixin addon-label-gap 6px;
    }

    &.size-40 {
        min-width: 88px;
        padding: var(--gap-0) 19px;
        @mixin action_primary_small;
        @mixin with-addons-padding 15px;
        @mixin adjust-size var(--size-xs-height);
        @mixin addon-label-gap 6px;
    }

    &.size-48 {
        min-width: 104px;
        padding: var(--gap-0) 23px;
        @mixin action_component_primary;
        @mixin with-addons-padding 19px;
        @mixin adjust-size var(--size-s-height);
        @mixin addon-label-gap var(--gap-8);
    }

    &.size-56 {
        min-width: 128px;
        padding: var(--gap-0) 27px;
        @mixin action_component_primary;
        @mixin with-addons-padding 23px;
        @mixin adjust-size var(--size-m-height);
        @mixin addon-label-gap var(--gap-8);
    }

    &.size-64 {
        min-width: 160px;
        padding: var(--gap-0) 31px;
        @mixin action_primary_large;
        @mixin with-addons-padding 27px;
        @mixin adjust-size var(--size-l-height);
        @mixin addon-label-gap var(--gap-12);
    }

    &.size-72 {
        min-width: 168px;
        padding: var(--gap-0) 35px;
        @mixin action_primary_large;
        @mixin with-addons-padding 31px;
        @mixin adjust-size var(--size-xl-height);
        @mixin addon-label-gap var(--gap-12);
    }

    /* Addons */

    .addons {
        display: flex;
        flex-shrink: 0;
        align-items: center;
    }
}
