@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0 23px;
    line-height: 20px;
    font-weight: var(--button-font-weight);
    font-family: var(--font-family);
    text-decoration: none;
    outline: none;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
}

.hug {
    justify-content: center;
    text-align: center;
}

.fill {
    text-align: left;
}

.hint {
    @mixin paragraph_primary_small;

    display: block;
}

.allowBackdropBlur {
    &.secondary,
    &.accent[disabled],
    &.primary[disabled] {
        backdrop-filter: blur(80px);
    }
}

.focused {
    @mixin focus-outline;
}

.loading .label,
.loading .addons {
    opacity: 0;
}

.stretchText {
    flex-grow: 1;
}

.loader {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* Size */

/* За счет того, что у кнопок есть border 1px,
для полного соответствия макетам padding необходимо уменьшить на 1px (16px -> 15px) */
.size-32 {
    min-width: 80px;
    min-height: var(--size-xxs-height);
    padding: 0 15px;
    font-size: 14px;

    &.iconOnly {
        min-width: var(--size-xxs-height);
    }
}

.size-40 {
    min-width: 88px;
    min-height: var(--size-xs-height);
    padding: 0 19px;
    font-size: 14px;

    &.iconOnly {
        min-width: var(--size-xs-height);
    }
}

.size-48 {
    min-width: 104px;
    min-height: var(--size-s-height);
    font-size: 16px;
    line-height: 24px;

    &.iconOnly {
        min-width: var(--size-s-height);
    }
}

.size-56 {
    min-width: 128px;
    min-height: var(--size-m-height);
    padding: 0 27px;
    font-size: 16px;
    line-height: 24px;

    &.iconOnly {
        min-width: var(--size-m-height);
    }
}

.size-64 {
    min-width: 160px;
    min-height: var(--size-l-height);
    padding: 0 31px;
    font-size: 18px;
    line-height: 24px;

    &.iconOnly {
        min-width: var(--size-l-height);
    }
}

.size-72 {
    min-width: 168px;
    min-height: var(--size-xl-height);
    padding: 0 35px;
    font-size: 18px;
    line-height: 24px;

    &.iconOnly {
        min-width: var(--size-xl-height);
    }
}

.withRightAddons {
    &.size-32 {
        padding-right: 11px;
    }

    &.size-40 {
        padding-right: 15px;
    }

    &.size-48 {
        padding-right: 19px;
    }

    &.size-56 {
        padding-right: 23px;
    }

    &.size-64 {
        padding-right: 27px;
    }

    &.size-72 {
        padding-right: 31px;
    }

    &.ghost,
    &.text {
        padding-right: 0;
    }
}

.withLeftAddons {
    &.size-32 {
        padding-left: 11px;
    }

    &.size-40 {
        padding-left: 15px;
    }

    &.size-48 {
        padding-left: 19px;
    }

    &.size-56 {
        padding-left: 23px;
    }

    &.size-64 {
        padding-left: 27px;
    }

    &.size-72 {
        padding-left: 31px;
    }

    &.ghost,
    &.text {
        padding-left: 0;
    }
}

.link,
.transparent {
    min-width: 0;
}

.ghost,
.text {
    min-width: 0;
    min-height: 0;
    padding: 0;
    border: none;
    appearance: none;

    &.iconOnly {
        min-width: 0;
    }
}

/* Disabled */

.component[disabled] {
    cursor: var(--disabled-cursor);

    & * {
        pointer-events: none;
    }
}

/* Addons */

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin: 0;

    &:first-child {
        margin-right: 6px;
    }

    &:last-child {
        margin-left: 6px;
    }

    &:only-child {
        margin: 0;
    }
}

.size-48,
.size-56 {
    & .addons:first-child {
        margin-right: var(--gap-xs);
    }

    & .addons:last-child {
        margin-left: var(--gap-xs);
    }

    & .addons:only-child {
        margin: 0;
    }
}

.size-64,
.size-72 {
    & .addons:first-child {
        margin-right: var(--gap-s);
    }

    & .addons:last-child {
        margin-left: var(--gap-s);
    }

    & .addons:only-child {
        margin: 0;
    }
}

.iconOnly {
    padding: 0;
}

/* Block */

.block {
    display: flex;
    width: 100%;
}

/* Nowrap */

.nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rounded {
    border-radius: var(--border-radius-pill);
}
