@import '../../vars.css';

.component {
    &.accent {
        color: var(--button-inverted-accent-color);
        background-color: var(--button-inverted-accent-base-bg-color);
        border: var(--button-border-width) solid transparent;

        @mixin not-disabled {
            @mixin hover {
                background-color: var(--button-inverted-accent-hover-bg-color);
            }

            &:active {
                background-color: var(--button-inverted-accent-active-bg-color);
            }
        }

        & .loader {
            color: var(--button-spinner-inverted-static-color);
        }
    }

    &.primary {
        border: var(--button-border-width) solid transparent;

        @mixin not-disabled {
            .hint {
                color: var(--button-inverted-primary-hint-color);
            }
        }
    }

    &.secondary {
        color: var(--button-inverted-secondary-color);
        border: var(--button-border-width) solid var(--button-inverted-secondary-base-border-color);

        & .loader {
            color: var(--button-spinner-inverted-color);
        }

        @mixin not-disabled {
            .hint {
                color: var(--button-inverted-secondary-hint-color);
            }
        }
    }

    &.outlined {
        color: var(--button-inverted-outlined-color);
        background-color: var(--button-inverted-outlined-base-bg-color);
        border: var(--button-border-width) solid var(--button-inverted-outlined-base-border-color);

        @mixin not-disabled {
            @mixin hover {
                background-color: var(--button-inverted-outlined-hover-bg-color);
                border-color: var(--button-inverted-outlined-hover-border-color);
            }

            &:active {
                background-color: var(--button-inverted-outlined-active-bg-color);
            }

            .hint {
                color: var(--button-inverted-outlined-hint-color);
            }
        }

        & .loader {
            color: var(--button-spinner-inverted-color);
        }
    }

    &.transparent {
        color: var(--button-inverted-transparent-base-color);
        background-color: transparent;
        border: var(--button-border-width) solid transparent;

        @mixin not-disabled {
            @mixin hover {
                background-color: var(--button-inverted-transparent-hover-bg-color);
            }

            &:active {
                background-color: var(--button-inverted-transparent-active-bg-color);
            }

            .hint {
                color: var(--button-inverted-transparent-base-hint-color);
            }
        }

        & .loader {
            color: var(--button-spinner-inverted-color);
        }
    }

    &.text {
        background-color: transparent;
        color: var(--button-inverted-text-base-color);

        & .loader {
            color: var(--button-spinner-inverted-color);
        }

        @mixin not-disabled {
            &:hover {
                color: var(--button-inverted-text-hover-color);
            }

            .hint {
                color: var(--button-inverted-text-base-hint-color);
            }
        }
    }

    @mixin disabled {
        &:not(.loading) {
            &.accent {
                color: var(--button-inverted-accent-disabled-color);
                background-color: var(--button-inverted-accent-disabled-bg-color);
            }

            &.secondary {
                border-color: var(--button-inverted-secondary-disabled-border-color);
            }

            &.outlined {
                background-color: var(--button-inverted-outlined-disabled-bg-color);
            }

            &.transparent {
                background-color: transparent;
            }
        }
    }
}
