@import '../../../../themes/src/default.css';
@import '../../vars.css';

.daysTable {
    border-collapse: separate;
    border-spacing: 0;
    position: relative;

    &.responsive {
        width: 100%;
    }

    & th {
        padding: 0;
    }

    & td {
        padding: var(--gap-2xs) 0 0;
    }
}

.day {
    position: relative;
    width: var(--calendar-day-size);
    height: var(--calendar-day-size);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    color: var(--color-light-text-primary);
    z-index: 1;
    border-radius: var(--calendar-day-border-radius);

    &.highlighted {
        color: var(--calendar-selected-color);
        background: var(--calendar-selected-background);
    }
    &:hover {
        background: var(--calendar-highlighted-background);
    }
    &.highlighted {
        @media (hover) {
            &:hover {
                background: var(--calendar-selected-hover-background);
            }
        }
    }

    &:focus {
        z-index: 1;
    }
}

.lastDay {
    border-radius: var(--border-radius-l);
    height: 40px;
    cursor: pointer;
    width: 100%;
    margin: var(--gap-2xs) 0 0;

    &.highlighted {
        color: var(--calendar-selected-color);
        background: var(--calendar-selected-background);
    }
    &:hover {
        background: var(--calendar-highlighted-background);
    }
    &.highlighted {
        @media (hover) {
            &:hover {
                background: var(--calendar-selected-hover-background);
            }
        }
    }
}
