@import '@alfalab/core-components-vars/src/index.css';

.size-40 {
    margin-right: var(--gap-8-neg);
    height: 32px;
}

.size-48 {
    margin-right: var(--gap-8-neg);
}

.size-56 {
    margin-right: var(--gap-4-neg);
}
