@import '../../vars.css';

.component {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    font-family: var(--font-family);
    text-decoration: none;
    border-width: var(--tag-border-width);
    border-style: solid;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    outline: none;

    &:disabled {
        cursor: var(--disabled-cursor);
    }
}

.focused {
    @mixin focus-outline;
}

.addonsContainer {
    display: flex;
    align-items: center;
}

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &:first-child {
        margin-right: 6px;
    }

    &:last-child {
        margin-left: 6px;
    }

    &:only-child {
        margin: 0;
    }
}

.size-48,
.size-56 {
    & .addons:first-child {
        margin-right: var(--gap-xs);
    }

    & .addons:last-child {
        margin-left: var(--gap-xs);
    }
}

.size-64,
.size-72 {
    & .addons:first-child {
        margin-right: var(--gap-s);
    }

    & .addons:last-child {
        margin-left: var(--gap-s);
    }
}

.size-32 {
    min-width: 60px;
    min-height: var(--size-xxs-height);
    padding: 0 var(--gap-m);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.size-40 {
    min-width: 72px;
    min-height: var(--size-xs-height);
    padding: 0 var(--gap-l);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.size-48 {
    min-width: 80px;
    min-height: var(--size-s-height);
    padding: 0 var(--gap-xl);
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.size-56 {
    @mixin action_component;
    min-width: 96px;
    min-height: var(--size-m-height);
    padding: 0 28px;
}

.size-64 {
    @mixin action_primary_large;
    min-width: 120px;
    min-height: var(--size-l-height);
    padding: 0 var(--gap-2xl);
}

.size-72 {
    @mixin action_primary_large;
    min-width: 120px;
    min-height: var(--size-xl-height);
    padding: 0 36px;
}

.withRightAddons {
    &.size-32 {
        padding-right: var(--gap-s);
    }

    &.size-40 {
        padding-right: var(--gap-m);
    }

    &.size-48 {
        padding-right: var(--gap-l);
    }

    &.size-56 {
        padding-right: var(--gap-xl);
    }

    &.size-64 {
        padding-right: 28px;
    }

    &.size-72 {
        padding-right: var(--gap-2xl);
    }
}

.withLeftAddons {
    &.size-32 {
        padding-left: var(--gap-s);
    }

    &.size-40 {
        padding-left: var(--gap-m);
    }

    &.size-48 {
        padding-left: var(--gap-l);
    }

    &.size-56 {
        padding-left: var(--gap-xl);
    }

    &.size-64 {
        padding-left: 28px;
    }

    &.size-72 {
        padding-left: var(--gap-2xl);
    }
}

.rounded {
    &.size-32 {
        border-radius: var(--tag-rounded-xxs-border-radius);
    }

    &.size-40 {
        border-radius: var(--tag-rounded-xs-border-radius);
    }

    &.size-48 {
        border-radius: var(--tag-rounded-s-border-radius);
    }

    &.size-56,
    &.size-64,
    &.size-72 {
        border-radius: var(--tag-border-radius);
    }
}

.allowBackdropBlur {
    &.outlined.checked[disabled],
    &.filled {
        backdrop-filter: blur(80px);
    }
}
