@import '../../vars.css';

@property --tag-backdrop-filter {
    syntax: '<number>';
    inherits: false;
    initial-value: 80;
}

.component {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    font-family: var(--font-family);
    text-decoration: none;
    border-width: var(--tag-border-width);
    border-style: solid;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    white-space: nowrap;

    &:disabled {
        cursor: var(--disabled-cursor);
    }
}

.focused {
    @mixin focus-outline;
}

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &:first-child {
        margin-right: 6px;
    }

    &:last-child {
        margin-left: 6px;
    }

    &:only-child {
        margin: 0;
    }
}

.s,
.m {
    & .addons:first-child {
        margin-right: var(--gap-xs);
    }

    & .addons:last-child {
        margin-left: var(--gap-xs);
    }
}

.l,
.xl {
    & .addons:first-child {
        margin-right: var(--gap-s);
    }

    & .addons:last-child {
        margin-left: var(--gap-s);
    }
}

.xxs {
    min-width: 60px;
    min-height: var(--size-xxs-height);
    padding: 0 var(--gap-m);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.xs {
    min-width: 72px;
    min-height: var(--size-xs-height);
    padding: 0 var(--gap-l);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.s {
    min-width: 80px;
    min-height: var(--size-s-height);
    padding: 0 var(--gap-xl);
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.m {
    @mixin action_component;
    min-width: 96px;
    min-height: var(--size-m-height);
    padding: 0 28px;
}

.l {
    @mixin action_primary_large;
    min-width: 120px;
    min-height: var(--size-l-height);
    padding: 0 var(--gap-2xl);
}

.xl {
    @mixin action_primary_large;
    min-width: 120px;
    min-height: var(--size-xl-height);
    padding: 0 36px;
}

.withRightAddons {
    &.xxs {
        padding-right: var(--gap-s);
    }

    &.xs {
        padding-right: var(--gap-m);
    }

    &.s {
        padding-right: var(--gap-l);
    }

    &.m {
        padding-right: var(--gap-xl);
    }

    &.l {
        padding-right: 28px;
    }

    &.xl {
        padding-right: var(--gap-2xl);
    }
}

.withLeftAddons {
    &.xxs {
        padding-left: var(--gap-s);
    }

    &.xs {
        padding-left: var(--gap-m);
    }

    &.s {
        padding-left: var(--gap-l);
    }

    &.m {
        padding-left: var(--gap-xl);
    }

    &.l {
        padding-left: 28px;
    }

    &.xl {
        padding-left: var(--gap-2xl);
    }
}

.rounded {
    &.xxs {
        border-radius: var(--tag-rounded-xxs-border-radius);
    }

    &.xs {
        border-radius: var(--tag-rounded-xs-border-radius);
    }

    &.s {
        border-radius: var(--tag-rounded-s-border-radius);
    }

    &.m,
    &.l,
    &.xl {
        border-radius: var(--tag-border-radius);
    }
}

.outlined.checked[disabled],
.filled {
    transform: translate3d(0, 0, 0);
    backdrop-filter: blur(calc(var(--tag-backdrop-filter, 80) * 1px));
    animation: backdrop-filter-animation 100ms linear;
}

@keyframes backdrop-filter-animation {
    from {
        --tag-backdrop-filter: 0;
    }

    to {
        --tag-backdrop-filter: 80;
    }
}
