@import '../../vars.css';

.component {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: var(--gap-0);
    font-family: var(--font-family);
    text-decoration: none;
    border-width: var(--tag-border-width);
    border-style: solid;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    white-space: nowrap;

    &:disabled {
        cursor: var(--disabled-cursor);
    }
}

.focused {
    @mixin focus-outline;
}

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &:first-child {
        margin-right: 6px;
    }

    &:last-child {
        margin-left: 6px;
    }

    &:only-child {
        margin: var(--gap-0);
    }

    .withoutContent &:first-child:not(:only-child) {
        margin-right: auto;
    }

    .withoutContent &:last-child:not(:only-child) {
        margin-left: auto;
    }
}

.size-48,
.size-56 {
    & .addons:first-child {
        margin-right: var(--gap-8);
    }

    & .addons:last-child {
        margin-left: var(--gap-8);
    }
}

.size-64,
.size-72 {
    & .addons:first-child {
        margin-right: var(--gap-12);
    }

    & .addons:last-child {
        margin-left: var(--gap-12);
    }
}

.size-32 {
    min-width: 52px;
    min-height: var(--size-xxs-height);
    padding: var(--gap-0) var(--gap-12);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.size-40 {
    min-width: 64px;
    min-height: var(--size-xs-height);
    padding: var(--gap-0) var(--gap-16);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.size-48 {
    min-width: 72px;
    min-height: var(--size-s-height);
    padding: var(--gap-0) var(--gap-20);
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.size-56 {
    @mixin action_component;
    min-width: 88px;
    min-height: var(--size-m-height);
    padding: var(--gap-0) var(--gap-24);
}

.size-64 {
    @mixin action_primary_large;
    min-width: 112px;
    min-height: var(--size-l-height);
    padding: var(--gap-0) 28px;
}

.size-72 {
    @mixin action_primary_large;
    min-width: 112px;
    min-height: var(--size-xl-height);
    padding: var(--gap-0) var(--gap-32);
}

.withRightAddons {
    &.size-32 {
        padding-right: var(--gap-8);
    }

    &.size-40 {
        padding-right: var(--gap-12);
    }

    &.size-48 {
        padding-right: var(--gap-16);
    }

    &.size-56 {
        padding-right: var(--gap-20);
    }

    &.size-64 {
        padding-right: var(--gap-24);
    }

    &.size-72 {
        padding-right: 28px;
    }
}

.withLeftAddons {
    &.size-32 {
        padding-left: var(--gap-8);
    }

    &.size-40 {
        padding-left: var(--gap-12);
    }

    &.size-48 {
        padding-left: var(--gap-16);
    }

    &.size-56 {
        padding-left: var(--gap-20);
    }

    &.size-64 {
        padding-left: var(--gap-24);
    }

    &.size-72 {
        padding-left: 28px;
    }
}

.rounded {
    &.size-32 {
        border-radius: var(--tag-rounded-xxs-border-radius);
    }

    &.size-40 {
        border-radius: var(--tag-rounded-xs-border-radius);
    }

    &.size-48 {
        border-radius: var(--tag-rounded-s-border-radius);
    }

    &.size-56,
    &.size-64,
    &.size-72 {
        border-radius: var(--tag-border-radius);
    }
}

.allowBackdropBlur {
    &.outlined.checked[disabled],
    &.filled {
        backdrop-filter: blur(80px);
    }
}
