@import '../../vars.css';

.component {
    &.outlined {
        color: var(--tag-inverted-text-color);
        border-color: var(--tag-inverted-border-color);
        background-color: var(--tag-inverted-outlined-background-color);

        &:disabled {
            border-color: var(--tag-inverted-border-color-disabled);
            color: var(--tag-inverted-text-color-disabled);
            background-color: var(--tag-inverted-outlined-background-color-disabled);
        }

        @media (hover: hover) {
            &:hover:not(:disabled) {
                border-color: var(--tag-inverted-border-color-hover);
                background-color: var(--tag-inverted-outlined-background-color-hover);
            }
        }

        &:active:not(:disabled) {
            border-color: var(--tag-inverted-border-color-active);
            background-color: var(--tag-inverted-outlined-background-color-active);
        }
    }

    &.transparent {
        color: var(--tag-inverted-text-color);
        border-color: var(--tag-inverted-transparent-border-color);
        background-color: var(--tag-inverted-transparent-background-color);

        &:disabled {
            color: var(--tag-inverted-text-color-disabled);
            background-color: var(--tag-inverted-transparent-background-color-disabled);
        }

        @media (hover: hover) {
            &:hover:not(:disabled) {
                background-color: var(--tag-inverted-transparent-background-color-hover);
            }
        }

        &:active:not(:disabled) {
            background-color: var(--tag-inverted-transparent-background-color-active);
        }
    }

    &.filled {
        color: var(--tag-inverted-text-color);
        border-color: var(--tag-inverted-filled-border-color);

        &:disabled {
            color: var(--tag-inverted-text-color-disabled);
        }
    }

    &.checked {
        color: var(--tag-inverted-text-color-checked);
        border-color: var(--tag-inverted-border-color-checked);
        background-color: var(--tag-inverted-background-color-checked);

        &:disabled {
            border-color: var(--tag-inverted-border-color-checked-disabled);
            color: var(--tag-inverted-text-color-checked-disabled);
            background-color: var(--tag-inverted-background-color-checked-disabled);
        }

        @media (hover: hover) {
            &:hover:not(:disabled) {
                background-color: var(--tag-inverted-background-color-checked-hover);
                border-color: var(--tag-inverted-background-color-checked-hover);
            }
        }

        &:active:not(:disabled) {
            background-color: var(--tag-inverted-background-color-checked-active);
            border-color: var(--tag-inverted-background-color-checked-active);
        }
    }
}
