@import '@alfalab/core-components-tab-bar-island/src/vars.css';

.component {
    padding: var(--gap-4);
    margin-left: var(--gap-8);
    position: relative;
}

.underlay,
.underlay:before {
    position: absolute;
    inset: 0;
}

.underlay {
    @mixin tar-bar-island-underlay;

    &:before {
        content: '';
        @mixin tar-bar-island-border;
    }
}

.button {
    max-width: calc(var(--tab-bar-island-tab-max-size) - 2 * var(--gap-4));
}
