@import '../../../../vars/src/index.css';

.component {
    width: 240px;
    height: 292px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: var(--gap-24);
    grid-row-gap: var(--gap-12);
    margin: var(--gap-0) auto;

    & .digit.digit {
        font-size: 36px;
        line-height: 1;
    }
}

@media screen and (min-width: 360px) {
    .component {
        width: 292px;
        height: 352px;
        grid-column-gap: var(--gap-32);
        grid-row-gap: var(--gap-16);
    }
}

@media screen and (min-width: 390px) {
    .component {
        width: 322px;
        height: 392px;
    }
}
