@import '../../vars.css';

.remove {
    animation:
        disappear var(--carousel-animation-duration) ease-in-out 0s forwards,
        shrink var(--carousel-animation-duration) ease-in-out var(--carousel-animation-duration)
            forwards;
}

@keyframes disappear {
    to {
        opacity: 0;
    }
}

@keyframes shrink {
    to {
        width: 0;
    }
}
