@import '@alfalab/core-components-tab-bar-private/src/vars.css';

.list {
    border-radius: var(--tab-bar-private-border-radius);
    background: var(--tab-bar-private-background);
    box-shadow: var(--tab-bar-private-box-shadow);
    flex-shrink: 1;
    min-width: 0;
    display: inline-flex;
    position: relative;
}

.wrapper {
    display: flex;
    max-width: 100%;
}

.list,
.track {
    padding: var(--gap-4);
}

.track {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}

.tracker {
    min-width: var(--tab-bar-private-tab-min-size);
    border-radius: var(--tab-bar-private-border-radius);
    height: 100%;
    background: var(--color-light-neutral-translucent-200);
    will-change: transform;
    transition: transform 600ms
        linear(
            0,
            0.1011,
            0.3035,
            0.5132,
            0.6889,
            0.8189,
            0.9064,
            0.9603,
            0.9903,
            1.0048,
            1.0101,
            1.0106,
            1.0089,
            1.0066,
            1.0045,
            1.0028,
            1.0015,
            1.0008,
            1.0003,
            1
        );
}
