@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.component {
    display: flex;
    z-index: 3;
    overflow: hidden;
    transition: border 0.15s ease-in-out;
    outline: none;

    & .image {
        opacity: 0.3;
    }

    &.mobile {
        padding: 0;
    }
}

.active {
    & > .image {
        opacity: 1;
    }
}

.preview {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: var(--border-radius-12);
    cursor: pointer;
    user-select: none;

    &.mobile {
        width: 46px;
        height: 46px;
        border-radius: var(--border-radius-8);
    }
}

.image {
    transition: opacity 0.15s ease-in-out;

    & > img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
        overflow: clip;
        overflow-clip-margin: border-box;
    }

    &:hover {
        opacity: 0.7;
    }
}

.loading {
    background-color: var(--color-static-neutral-100-inverted);

    & .active {
        background-color: var(--color-static-neutral-300-inverted);
    }
}

.brokenImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-static-neutral-300-inverted);
    opacity: 0.3;

    &.active {
        opacity: 1;
    }
}

.brokenIcon {
    width: 40px;
    height: 40px;
}

.focused {
    @mixin focus-outline;
}

.canvasPreview {
    border-radius: var(--border-radius-12);

    &.mobile {
        border-radius: var(--border-radius-8);
    }
}
