@import '../../../../vars/src/index.css';

.component {
    display: flex;
    padding: var(--gap-2xs);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: var(--border-radius-l);
    overflow: hidden;
    transition: border 0.15s ease-in-out;
    outline: none;
}

.active {
    border-color: var(--color-static-overlay-white-xhigh);

    & > .image {
        opacity: 0.7;
    }
}

.preview {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: var(--border-radius-m);
    cursor: pointer;
    user-select: none;
}

.image {
    transition: opacity 0.15s ease-in-out;

    & > img {
        display: block;
        background-color: var(--color-light-base-bg-primary);
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
        overflow: clip;
        overflow-clip-margin: border-box;
    }

    &:hover {
        opacity: 0.7;
    }
}

.loading {
    background-color: var(--color-static-neutral-100-inverted);

    & .active {
        background-color: var(--color-static-neutral-300-inverted);
    }
}

.brokenImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-static-neutral-300-inverted);

    &:hover {
        opacity: 0.7;
    }
}

.brokenIcon {
    width: 40px;
    height: 40px;
}

.focused {
    @mixin focus-outline;
}
