@define-mixin input-corp {
    --input-error-icon-not-alone-display: none;
    --input-error-icon: url('https://alfabank.servicecdn.ru/icons/glyph_alert-circle_m_negative.svg');
    --input-inverted-error-icon: url('https://alfabank.servicecdn.ru/icons/glyph_alert-circle_m_negative.svg');
    --input-success-icon: url('https://alfabank.servicecdn.ru/icons/icon_ok_s_color.svg');
    --input-inverted-success-icon: url('https://alfabank.servicecdn.ru/icons/icon_ok_s_color.svg');
    --input-error-icon-display: block;
    --input-success-icon-display: block;
}
