@define-mixin input-intranet {
    /* theme */
    --input-error-color: var(--color-light-text-primary);
    --input-inverted-error-color: var(--color-light-text-accent);
    --input-error-icon-display: block;
    --input-disabled-color: var(--color-light-text-secondary);
    --input-inverted-disabled-color: var(--color-light-text-secondary-inverted);
    --input-focus-placeholder-color: var(--color-light-text-tertiary);
    --input-inverted-focus-placeholder-color: var(--color-light-text-tertiary-inverted);

    /* mobile */
    --input-error-mobile-color: var(--color-light-text-primary);
    --input-inverted-error-mobile-color: var(--color-light-text-accent);
}
