@define-mixin input-site {
    --input-error-icon-display: block;
    --input-error-icon-not-alone-display: block;

    /* mobile */
    --input-error-mobile-color: var(--color-light-text-primary);
    --input-inverted-error-mobile-color: var(--color-light-text-primary-inverted);
}
