@import '@alfalab/core-components-vars/src/index.css';
@import './vars.css';

.component {
    display: inline-flex;
    align-items: flex-start;
    margin: var(--gap-0);
    padding: var(--gap-0);
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.component input {
    opacity: 0;
    position: absolute;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.addons {
    margin-left: auto;
    padding-left: var(--gap-16);
    line-height: 24px;
}

.block {
    width: 100%;
}

.switch {
    position: relative;
    display: block;
    border-radius: var(--border-radius-16);
    width: 36px;
    height: 20px;
    margin: var(--gap-2);
    flex-shrink: 0;
    border: 2px solid var(--switch-border-color);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    box-sizing: border-box;
}

.switchSkeleton {
    width: 36px;
    height: 20px;
    margin: var(--gap-2);
}

.switch:before {
    content: '';
    position: absolute;
    top: var(--gap-0);
    left: var(--gap-0);
    bottom: var(--gap-0);
    right: var(--gap-16);
    display: block;
    border-radius: var(--border-radius-circle);
    background-color: var(--switch-icon-color);
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

.content {
    margin-left: var(--gap-12);
    flex-grow: 1;
}

.size-20 .content {
    margin-left: var(--gap-8);
}

.size-20.reversed .content {
    margin-right: var(--gap-8);
    margin-left: var(--gap-0);
}

.label {
    @mixin paragraph_primary_medium;
    display: block;
}

.compact .label {
    @mixin paragraph_primary_small;
}

.labelWrap {
    &:not(:only-child) {
        margin-bottom: var(--gap-4);
    }

    &.loading {
        height: var(--gap-12);
        margin: var(--gap-6) 0;

        &:not(:only-child) {
            margin-bottom: var(--gap-2s);
        }
    }
}

.errorMessage {
    @mixin paragraph_component_secondary;
    color: var(--switch-error-color);
}

.hint {
    @mixin paragraph_component_secondary;
    display: block;
}

.hintWrap {
    &.loading {
        height: var(--gap-10);
        margin-bottom: var(--gap-4);
    }
}

/* Reversed state */

.component.reversed {
    flex-direction: row-reverse;
}

.reversed .content {
    margin-right: var(--gap-16);
    margin-left: var(--gap-0);
}

.reversed .addons {
    margin-left: var(--gap-0);
    padding-left: var(--gap-0);
    margin-right: auto;
    padding-right: var(--gap-16);
}

/* Size 20 */

.size-20 .switch {
    width: 32px;
    height: 20px;
}

.size-20 .switchSkeleton {
    width: 32px;
    height: 20px;
}

.size-20 .switch:before {
    right: var(--gap-12);
}

/* Checked state */

.checked .switch:before {
    /* ширина компонента(36px + 2*2px) - отступы(2 * 2px) - размер кружка(20px) */
    transform: translateX(16px);
}

.size-20.checked .switch:before {
    /* ширина 32px (border-box) - border 4px - thumb 16px = 12px */
    transform: translateX(12px);
}

/* Disabled state */

.disabled {
    cursor: var(--disabled-cursor);
}

/* Focused state */

.focused .switch {
    @mixin focus-outline;
}
