@import '../../vars/src/index.css';

:root {
    --switch-label-color: var(--color-light-text-primary);
    --switch-hint-color: var(--color-light-text-secondary);
    --switch-bg-color: var(--color-light-neutral-translucent-700);
    --switch-border-color: transparent;
    --switch-error-color: var(--color-light-text-negative);

    /* hover */
    --switch-hover-bg-color: var(--color-light-neutral-translucent-700-hover);

    /* checked */
    --switch-checked-bg-color: var(--color-light-status-positive);
    --switch-checked-hover-bg-color: var(--color-light-status-positive-hover);

    /* disabled */
    --switch-disabled-color: var(--color-light-text-secondary);
    --switch-disabled-bg-color: var(--color-light-neutral-translucent-200);

    /* disabled checked */
    --switch-disabled-checked-bg-color: var(--switch-disabled-bg-color);

    /* icon */
    --switch-icon-color: var(--color-static-neutral-0);
    --switch-icon-disabled-color: var(--color-light-neutral-translucent-500);
}

.component {
    display: inline-flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.component input {
    opacity: 0;
    position: absolute;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.addons {
    margin-left: auto;
    padding-left: var(--gap-m);
    line-height: 24px;
}

.block {
    width: 100%;
}

.switch {
    position: relative;
    border-radius: var(--border-radius-xl);
    width: 36px;
    height: 20px;
    margin: var(--gap-3xs);
    flex-shrink: 0;
    background-color: var(--switch-bg-color);
    border: 2px solid var(--switch-border-color);
    transition: background-color 0.2s ease, border-color 0.2s ease;
    box-sizing: border-box;

    &:hover {
        background-color: var(--switch-hover-bg-color);
    }
}

.switch:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 16px;
    display: block;
    border-radius: var(--border-radius-circle);
    background-color: var(--switch-icon-color);
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

.content {
    margin-left: var(--gap-s);
    flex-grow: 1;
}

.label {
    @mixin paragraph_primary_medium;
    display: block;
    color: var(--switch-label-color);
}

.label:not(:only-child) {
    margin-bottom: var(--gap-2xs);
}

.errorMessage {
    @mixin paragraph_component_secondary;
    color: var(--switch-error-color);
}

.hint {
    @mixin paragraph_component_secondary;
    display: block;
    color: var(--switch-hint-color);
}

/* Reversed state */

.component.reversed {
    flex-direction: row-reverse;
}

.reversed .content {
    margin-right: var(--gap-m);
    margin-left: 0;
}

.reversed .addons {
    margin-left: 0;
    padding-left: 0;
    margin-right: auto;
    padding-right: var(--gap-m);
}

/* Checked state */

.checked .switch {
    background-color: var(--switch-checked-bg-color);

    &:hover {
        background-color: var(--switch-checked-hover-bg-color);
    }
}

.checked .switch:before {
    /* ширина компонента(36px + 2*2px) - отступы(2 * 2px) - размер кружка(20px) */
    transform: translateX(16px);
}

/* Disabled state */

.disabled {
    cursor: var(--disabled-cursor);
}

.disabled .switch {
    background-color: var(--switch-disabled-bg-color);

    &:before {
        background-color: var(--switch-icon-disabled-color);
    }
}

.disabled.checked .switch {
    background-color: var(--switch-disabled-checked-bg-color);
}

.disabled .label {
    color: var(--switch-disabled-color);
}

.disabled .hint {
    color: var(--switch-disabled-color);
}

/* Focused state */

.focused .switch {
    @mixin focus-outline;
}
