@import '../../vars/src/index.css';

:root {
    --radio-hint-color: var(--color-light-text-secondary);
    --radio-label-color: var(--color-light-text-primary);

    /* unchecked */
    --radio-bg-color: var(--color-light-neutral-0);
    --radio-border-color: var(--color-light-neutral-translucent-700);
    --radio-hover-bg-color: var(--color-light-neutral-0-hover);
    --radio-hover-border-color: var(--color-light-neutral-translucent-700);
    --radio-active-bg-color: var(--color-light-neutral-0-press);
    --radio-active-border-color: var(--color-light-neutral-translucent-700);

    /* checked */
    --radio-checked-bg-color: var(--color-light-accent-secondary);
    --radio-checked-border-color: transparent;
    --radio-checked-hover-bg-color: var(--color-light-accent-secondary-hover);
    --radio-checked-hover-border-color: transparent;
    --radio-checked-active-bg-color: var(--color-light-accent-secondary-press);
    --radio-checked-active-border-color: transparent;

    /* disabled */
    --radio-disabled-color: var(--color-light-text-secondary);
    --radio-disabled-bg-color: var(--color-light-neutral-0);
    --radio-disabled-border-color: var(--color-light-neutral-translucent-300);

    /* disabled and checked */
    --radio-checked-disabled-bg-color: var(--color-light-neutral-translucent-200);
    --radio-checked-disabled-border-color: transparent;

    /* icon */
    --radio-icon-color: var(--color-light-neutral-translucent-1300-inverted);
    --radio-icon-disabled-color: var(--color-light-neutral-translucent-500);
}

.container {
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;

    &:not(.checked):not(.disabled) {
        & .circle {
            background-color: var(--radio-bg-color);
            border: 1.5px solid var(--radio-border-color);
        }

        &:hover:not(:active) .circle {
            background-color: var(--radio-hover-bg-color);
            border-color: var(--radio-hover-border-color);
        }

        &:active .circle {
            background-color: var(--radio-active-bg-color);
            border-color: var(--radio-active-border-color);
        }
    }

    &.disabled {
        cursor: var(--disabled-cursor);

        & .circle {
            background-color: var(--radio-disabled-bg-color);
            border: 1.5px solid var(--radio-disabled-border-color);
        }

        & .label {
            color: var(--radio-disabled-color);
        }

        & .hint {
            color: var(--radio-disabled-color);
        }

        &.checked .circle:before {
            background-color: var(--radio-icon-disabled-color);
        }
    }

    &.checked:not(:active) .circle:before,
    &.checked.disabled:active .circle:before {
        opacity: 1;
    }

    &.checked {
        & .circle {
            background-color: var(--radio-checked-bg-color);
            border: 1.5px solid var(--radio-checked-border-color);
        }

        &:hover .circle {
            background-color: var(--radio-checked-hover-bg-color);
            border-color: var(--radio-checked-hover-border-color);
        }

        &:active .circle {
            background-color: var(--radio-checked-active-bg-color);
            border-color: var(--radio-checked-active-border-color);
        }
    }

    &.focused .circle {
        @mixin focus-outline;
    }

    &.disabled.checked .circle {
        background-color: var(--radio-checked-disabled-bg-color);
        border-color: var(--radio-checked-disabled-border-color);
    }

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.circle {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: var(--border-radius-circle);
    position: relative;
    margin: var(--gap-3xs);
    transition: background-color 0.2s ease, border 0.2s ease;

    &:before {
        content: '';
        position: absolute;
        background-color: var(--radio-icon-color);
        background-clip: padding-box;
        border-width: 6px;
        border-style: solid;
        border-color: transparent;
        border-radius: var(--border-radius-circle);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: opacity 0.2s ease;
        opacity: 0;
    }
}

.size-20 .circle {
    width: 16px;
    height: 16px;
    margin: var(--gap-2xs) var(--gap-3xs);

    &:before {
        border-width: 4px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: var(--gap-s);
}

.size-20 .content {
    margin-left: var(--gap-xs);
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.addons {
    margin-left: auto;
    padding-left: var(--gap-m);
    line-height: 24px;
}

.block {
    width: 100%;
}

.label {
    @mixin paragraph_primary_medium;
    color: var(--radio-label-color);
}

.hint {
    @mixin paragraph_component_secondary;
    margin-top: var(--gap-2xs);
    color: var(--radio-hint-color);
}
