@import '../../vars.css';

.content {
    font-weight: var(--universal-modal-header-desktop-font-weight);
    font-family: var(--universal-modal-header-desktop-font-family);
}

.sticky {
    top: var(--gap-0);
}

.bottomAddons {
    @mixin headline-system_small;
    padding-left: var(--gap-12);
    margin-bottom: 10px;

    &.medium {
        @mixin headline-system_medium;
        margin-bottom: var(--gap-16);
    }
}

.contentWrapper.contentWrapper {
    padding: 0 0 0 var(--gap-12);
}
