@import '../../vars.css';

.content {
    font-weight: var(--universal-modal-header-desktop-font-weight);
    font-family: var(--universal-modal-header-desktop-font-family);
}

.sticky {
    top: var(--gap-0);
}

.bottomAddons,
.headerTitle {
    @mixin headline-system_small;
    padding-left: var(--gap-12);

    &.medium {
        @mixin headline-system_medium;
    }

    &.longTitle {
        padding-bottom: 11px;

        &.medium {
            padding-bottom: var(--gap-16);
        }
    }
}
