@import '../../../../vars/src/index.css';
@import '../../vars.css';

.header {
    padding: var(--universal-modal-header-mobile-paddings);
}

.sticky {
    top: var(--gap-0);
}

.content {
    font-size: var(--universal-modal-header-mobile-font-size);
    line-height: var(--universal-modal-header-mobile-line-height);
    font-family: var(--universal-modal-header-mobile-font-family);
    font-weight: var(--universal-modal-header-mobile-font-weight);
    padding: var(--universal-modal-header-mobile-content-paddings);
    min-height: unset;
}

.bottomAddons {
    @mixin headline-system-mobile_small;
    padding: 0 var(--gap-8);
    margin-bottom: 6px;
}

.contentWrapper.contentWrapper {
    padding: 0;
}
