@import '../../vars/src/index.css';

.container {
    display: inline-block;
    font-size: var(--rate-size, 24px);
    line-height: 0;
}

.sizeS {
    --rate-size: 16px;
    --rate-gap: 2px;
}

.sizeM {
    --rate-size: 24px;
    --rate-gap: 4px;
}

.sizeL {
    --rate-size: 32px;
    --rate-gap: 6px;
}
