@import '@alfalab/core-components-vars/src/index.css';

:root {
    --checkbox-error-color: var(--color-light-text-negative);

    /* Label */
    --checkbox-label-font-size: 14px;
    --checkbox-label-line-height: 20px;
    --checkbox-label-font-weight: 400;
    --checkbox-label-font-family: var(--font-family-system);
    --checkbox-label-size-20-font-size: 16px;
    --checkbox-label-size-20-line-height: 20px;
    --checkbox-label-size-20-font-weight: 400;
    --checkbox-label-size-20-font-family: var(--font-family-system);

    /* Hint */
    --checkbox-hint-font-size: 12px;
    --checkbox-hint-line-height: 16px;
    --checkbox-hint-font-weight: 400;
    --checkbox-hint-font-family: var(--font-family-system);
}

.component {
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.addons {
    margin-left: auto;
    padding-left: var(--gap-16);
    line-height: 24px;
}

.block {
    width: 100%;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin: var(--gap-2);
    border-radius: var(--border-radius-4);
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease;
    box-sizing: border-box;
    overflow: hidden;
}

.checkedIcon {
    position: absolute;
}

.size-20 .box {
    width: 16px;
    height: 16px;
}

.disabled {
    cursor: var(--disabled-cursor);
}

.focused .box {
    @mixin focus-outline;
}

.content {
    flex-grow: 1;
    margin-left: var(--gap-12);
}

.size-20 .content {
    margin-left: var(--gap-8);

    & .label {
        font-size: var(--checkbox-label-size-20-font-size);
        line-height: var(--checkbox-label-size-20-line-height);
        font-weight: var(--checkbox-label-size-20-font-weight);
        font-family: var(--checkbox-label-size-20-font-family);
    }
}

.label {
    font-size: var(--checkbox-label-font-size);
    line-height: var(--checkbox-label-line-height);
    font-weight: var(--checkbox-label-font-weight);
    font-family: var(--checkbox-label-font-family);
    display: block;
}

.label:not(:only-child) {
    margin-bottom: var(--gap-4);
}

.errorMessage {
    @mixin paragraph_component_secondary;
    display: block;
    color: var(--checkbox-error-color);
}

.hint {
    font-size: var(--checkbox-hint-font-size);
    line-height: var(--checkbox-hint-line-height);
    font-weight: var(--checkbox-hint-font-weight);
    font-family: var(--checkbox-hint-font-family);
    display: block;
}

.indeterminateLine {
    position: absolute;
    width: 10px;
    height: 2px;
}

.component input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
