@import '@alfalab/core-components-vars/src/index.css';
@import '@alfalab/core-components-tag/src/vars.css';

.valueButton {
    &.filled {
        background-color: var(--tag-filled-mobile-background-color);

        &:disabled {
            background-color: var(--tag-filled-mobile-background-color-disabled);
        }

        @media (hover: hover) {
            &:not(:disabled):hover {
                background-color: var(--tag-filled-mobile-background-color-hover);
            }
        }

        &:not(:disabled):active {
            background-color: var(--tag-filled-mobile-background-color-active);
        }
    }
}
