@import '@alfalab/core-components-vars/src/index.css';
@import '@alfalab/core-components-tag/src/vars.css';

.valueButton {
    &.filled {
        background-color: var(--tag-mobile-filled-background-color-inverted);

        &.checked:not(.muted) {
            background-color: var(--tag-inverted-background-color-checked);

            @media (hover: hover) {
                &:not(:disabled):hover {
                    background-color: var(--tag-inverted-background-color-checked-hover);
                }
            }

            &:not(:disabled):active {
                background-color: var(--tag-inverted-background-color-checked-active);
            }
        }

        &:disabled {
            background-color: var(--tag-mobile-filled-background-color-disabled-inverted);
        }

        @media (hover: hover) {
            &:not(:disabled):hover {
                background-color: var(--tag-mobile-filled-background-color-hover-inverted);
            }
        }

        &:not(:disabled):active {
            background-color: var(--tag-mobile-filled-background-color-active-inverted);
        }
    }

    &.muted {
        --tag-inverted-muted-background-color-checked: var(
            --tag-mobile-muted-checked-background-color-inverted
        );
        --tag-inverted-muted-background-color-checked-hover: var(
            --tag-mobile-muted-checked-background-color-hover-inverted
        );
        --tag-inverted-muted-background-color-checked-active: var(
            --tag-mobile-muted-checked-background-color-active-inverted
        );
        --tag-inverted-muted-background-color-checked-disabled: var(
            --tag-mobile-muted-checked-background-color-disabled-inverted
        );

        background-color: var(--tag-inverted-muted-background-color);

        &:disabled {
            background-color: var(--tag-inverted-muted-background-color-disabled);
        }

        @media (hover: hover) {
            &:not(:disabled):hover {
                background-color: var(--tag-inverted-muted-background-color-hover);
            }
        }

        &:not(:disabled):active {
            background-color: var(--tag-inverted-muted-background-color-active);
        }
    }
}
