@import '@alfalab/core-components-vars/src/index.css';
@import '@alfalab/core-components-tag/src/vars.css';

.valueButton {
    &.filled {
        background-color: var(--tag-mobile-filled-background-color-inverted);

        &.checked:not(.muted) {
            background-color: var(--tag-inverted-background-color-checked);

            &:not(:disabled) {
                @mixin hover {
                    background-color: var(--tag-inverted-background-color-checked-hover);
                }
            }

            &:not(:disabled):active {
                background-color: var(--tag-inverted-background-color-checked-active);
            }
        }

        &:disabled {
            background-color: var(--tag-mobile-filled-background-color-disabled-inverted);
        }

        &:not(:disabled) {
            @mixin hover {
                background-color: var(--tag-mobile-filled-background-color-hover-inverted);
            }
        }

        &:not(:disabled):active {
            background-color: var(--tag-mobile-filled-background-color-active-inverted);
        }
    }

    &.muted {
        background-color: var(--tag-inverted-muted-background-color);

        &:disabled {
            background-color: var(--tag-inverted-muted-background-color-disabled);
        }

        &:not(:disabled) {
            @mixin hover {
                background-color: var(--tag-inverted-muted-background-color-hover);
            }
        }

        &:not(:disabled):active {
            background-color: var(--tag-inverted-muted-background-color-active);
        }
    }
}
