@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';
@import '@alfalab/core-components-tag/src/vars.css';

.component {
    &.rectangular {
        &.size-32 {
            border-radius: var(--tag-rectangular-mobile-xxs-border-radius);
        }

        &.size-40 {
            border-radius: var(--tag-rectangular-mobile-xs-border-radius);
        }

        &.size-48 {
            border-radius: var(--tag-rectangular-mobile-s-border-radius);
        }
    }
}

.valueButton {
    &.rectangular {
        &.size-32 {
            border-radius: var(--tag-rectangular-mobile-xxs-border-radius);
        }

        &.size-40 {
            border-radius: var(--tag-rectangular-mobile-xs-border-radius);
        }

        &.size-48 {
            border-radius: var(--tag-rectangular-mobile-s-border-radius);
        }
    }

    &.checked {
        &.rectangular {
            &.size-32 {
                border-radius: var(--tag-rectangular-mobile-xxs-border-radius) 0 0
                    var(--tag-rectangular-mobile-xxs-border-radius);
            }

            &.size-40 {
                border-radius: var(--tag-rectangular-mobile-xs-border-radius) 0 0
                    var(--tag-rectangular-mobile-xs-border-radius);
            }

            &.size-48 {
                border-radius: var(--tag-rectangular-mobile-s-border-radius) 0 0
                    var(--tag-rectangular-mobile-s-border-radius);
            }

            &:disabled,
            &.close {
                &.size-32 {
                    border-radius: var(--tag-rectangular-mobile-xxs-border-radius);
                }

                &.size-40 {
                    border-radius: var(--tag-rectangular-mobile-xs-border-radius);
                }

                &.size-48 {
                    border-radius: var(--tag-rectangular-mobile-s-border-radius);
                }
            }
        }
    }
}

.clear {
    &.rectangular {
        &.size-32 {
            border-radius: 0 var(--tag-rectangular-mobile-xxs-border-radius)
                var(--tag-rectangular-mobile-xxs-border-radius) 0;
        }

        &.size-40 {
            border-radius: 0 var(--tag-rectangular-mobile-xs-border-radius)
                var(--tag-rectangular-mobile-xs-border-radius) 0;
        }

        &.size-48 {
            border-radius: 0 var(--tag-rectangular-mobile-s-border-radius)
                var(--tag-rectangular-mobile-s-border-radius) 0;
        }
    }
}
