@import '../../vars.css';

.component {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: var(--gap-0);
    text-decoration: none;
    border-width: var(--tag-border-width);
    border-style: solid;
    transition:
        background-color 0.2s ease,
        border 0.2s ease,
        color 0.2s ease;
    box-sizing: border-box;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &:disabled {
        cursor: var(--disabled-cursor);
    }
}

.focused {
    @mixin focus-outline;
}

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &:first-child {
        margin-right: var(--gap-2);
    }

    &:last-child {
        margin-left: var(--gap-2);
    }

    &:only-child {
        margin: var(--gap-0);
    }

    .noContent &:first-child:not(:only-child) {
        margin-right: auto;
    }

    .noContent &:last-child:not(:only-child) {
        margin-left: auto;
    }
}

.clear {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.noContent {
    gap: 2px;
}

.size-48.noContent,
.size-56.noContent,
.size-64.noContent,
.size-72.noContent {
    gap: 4px;
}

.size-48,
.size-56 {
    & .addons:first-child {
        margin-right: var(--gap-4);
    }

    & .addons:last-child {
        margin-left: var(--gap-4);
    }
}

.size-64,
.size-72 {
    & .addons:first-child {
        margin-right: var(--gap-12);
    }

    & .addons:last-child {
        margin-left: var(--gap-12);
    }
}

.size-32 {
    min-width: 52px;
    min-height: var(--size-xxs-height);
    padding: var(--gap-0) var(--gap-8);

    @mixin paragraph_primary_small;

    & .content {
        padding: 0 var(--gap-4);
    }
}

.size-40 {
    min-width: 64px;
    min-height: var(--size-xs-height);
    padding: var(--gap-0) var(--gap-12);

    @mixin paragraph_primary_small;

    & .content {
        padding: 0 var(--gap-4);
    }
}

.size-48 {
    min-width: 64px;
    min-height: var(--size-s-height);
    padding: var(--gap-0) var(--gap-12);

    @mixin paragraph_component_primary;

    & .content {
        padding: 0 var(--gap-4);
    }
}

.size-56 {
    min-width: 80px;
    min-height: var(--size-m-height);
    padding: var(--gap-0) var(--gap-16);

    @mixin paragraph_component_primary;

    & .content {
        padding: 0 var(--gap-4);
    }
}

.size-64 {
    min-width: 112px;
    min-height: var(--size-l-height);
    padding: var(--gap-0) 28px;

    @mixin paragraph_primary_large;

    & .content {
        padding: 0 var(--gap-4);
    }
}

.size-72 {
    min-width: 112px;
    min-height: var(--size-xl-height);
    padding: var(--gap-0) var(--gap-32);

    @mixin paragraph_primary_large;

    & .content {
        padding: 0 var(--gap-4);
    }
}

.withRightAddons {
    &.size-32 {
        padding-right: var(--gap-8);
    }

    &.size-40 {
        padding-right: var(--gap-12);
    }

    &.size-48 {
        padding-right: var(--gap-12);
    }

    &.size-56 {
        padding-right: var(--gap-16);
    }

    &.size-64 {
        padding-right: var(--gap-24);

        &.noContent {
            padding-right: 28px;
        }
    }

    &.size-72 {
        padding-right: 28px;
    }
}

.withLeftAddons {
    &.size-32 {
        padding-left: var(--gap-8);
    }

    &.size-40 {
        padding-left: var(--gap-12);
    }

    &.size-48 {
        padding-left: var(--gap-12);
    }

    &.size-56 {
        padding-left: var(--gap-16);
    }

    &.size-64 {
        padding-left: var(--gap-24);

        &.noContent {
            padding-left: 28px;
        }
    }

    &.size-72 {
        padding-left: 28px;
    }
}

.rounded {
    &.size-32 {
        border-radius: var(--tag-rounded-xxs-border-radius);
    }

    &.size-40 {
        border-radius: var(--tag-rounded-xs-border-radius);
    }

    &.size-48 {
        border-radius: var(--tag-rounded-s-border-radius);
    }

    &.size-56,
    &.size-64,
    &.size-72 {
        border-radius: var(--tag-border-radius);
    }
}

.allowBackdropBlur {
    &.outlined.checked[disabled],
    &.filled,
    &.muted {
        backdrop-filter: blur(80px);
    }
}
