@import '@alfalab/core-components-tab-bar-island/src/vars.css';

.component {
    margin-left: var(--gap-8);
    height: 62px;
    flex-shrink: 0;

    &:only-child {
        margin-left: auto;
    }
}
