@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';
@import './vars.css';

.footer {
    background-color: var(--color-light-base-bg-primary);
    padding: var(--gap-12);
    outline: none;

    &.size-72 {
        padding: var(--gap-12) var(--gap-16);
    }

    & > .button + .button {
        margin-left: var(--select-option-list-footer-button-gap);
    }
}
