@import '../../../../../../vars/src/index.css';

.footer {
    background-color: var(--color-light-base-bg-primary);
    padding: var(--gap-12);
    outline: none;

    & > .button + .button {
        margin-left: var(--gap-8);
    }
}
