@import '../../../../../../themes/src/default.css';

.footer {
    background-color: var(--color-light-base-bg-primary);
    padding: var(--gap-s);
    outline: none;

    & > .button + .button {
        margin-left: var(--gap-xs);
    }
}
