@import '../../../../form-control/src/vars.css';
@import '../../vars.css';

.input {
    @mixin paragraph_component;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    margin: 0;
    outline: none;
    text-overflow: ellipsis;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.input::placeholder {
    transition: opacity 0.2s ease, color 0.2s ease;
}

.hasInnerLabel {
    &::placeholder {
        opacity: 0;
    }

    &.s {
        height: var(--form-control-s-min-height);
    }

    &.m {
        height: var(--form-control-m-min-height);
    }

    &.l {
        height: var(--form-control-l-min-height);
    }

    &.xl {
        height: var(--form-control-xl-min-height);
    }
}

.block {
    width: 100%;
}

.clearIcon {
    display: block;
    opacity: 0.3;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 1;
    }
}

.errorIcon {
    display: var(--input-error-icon-display);

    &:not(:only-child) {
        margin-left: var(--gap-2xs);
    }
}

* + .errorIcon {
    display: var(--input-error-icon-not-alone-display);
}

button[class*='eye'] + .errorIcon {
    margin-right: var(--gap-s);
}

.errorColorIcon {
    color: var(--color-light-graphic-negative);
}

.clearButton + * {
    margin-left: var(--gap-2xs);
}

.clearButton + .errorIcon {
    display: var(--input-error-icon-display);
}

.successIcon {
    display: var(--input-success-icon-display);

    &:not(:only-child) {
        margin-left: var(--gap-2xs);
    }
}

button[class*='eye'] + .successIcon {
    margin-right: var(--gap-s);
}

.successColorIcon {
    color: var(--color-light-graphic-positive);
}

/* DISABLED STATE */

.input:disabled {
    cursor: var(--disabled-cursor);
    opacity: 1;
}

/* FOCUS STATE */

.input:focus.hasInnerLabel::placeholder {
    opacity: 1;
}

.focusVisible {
    @mixin focus-outline;
}

/* READ-ONLY STATE */

.hasInnerLabel:read-only:focus::placeholder {
    opacity: 0;
}

/* IE hide clear */

.input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

/* Убирает синюю заливку при автокомплите */

.input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        &:first-line {
            @mixin paragraph_component;
            font-family: var(--form-control-font-family);
        }

        /* Hack from http://stackoverflow.com/a/29350537 */
        transition: background-color 999999s ease-in-out 0s;
    }
}

.input {
    &:-webkit-autofill {
        animation: onautofillstart 999999s forwards;
    }

    &:not(:-webkit-autofill) {
        /* Позволяет отслеживать autofill через js */
        animation: onautofillcancel 999999s;
    }
}

/* Убирает нативные стрелочки при type=number */

.input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    /* Firefox */
    &[type='number'] {
        -moz-appearance: textfield;
    }
}

@keyframes onautofillstart {
    from {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    to {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.01);
    }
}
@keyframes onautofillcancel {
    from {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    to {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.01);
    }
}
