@import '../../../vars.css';

.component {
    top: 0;
    min-width: 500px;
    width: 500px;
    min-height: 264px;
    height: 100%;
    border-radius: var(--border-radius-24);
    will-change: transform;
    overflow-x: hidden;

    &.horizontalLeft {
        left: 0;
    }

    &.horizontalRight {
        right: 0;
    }

    &.verticalBottom {
        top: unset;
        bottom: 0;
    }

    &.overlayHidden {
        box-shadow: var(--shadow-m);
    }

    & .drawerContent {
        height: 100%;
    }
}
