@import '../../../vars.css';

.hidden {
    overflow-x: hidden;
}

.component {
    top: 0;
    min-width: 500px;
    width: 500px;
    min-height: 264px;
    height: 100%;
    border-radius: var(--border-radius-24);
    will-change: transform;
    margin: var(--gap-s);

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    &.bottom {
        top: unset;
        bottom: 0;
    }
}
