.appearRight {
    opacity: 0;
}

.enterRight {
    opacity: 0;
}

.appearLeft {
    opacity: 0;
}

.enterLeft {
    opacity: 0;
}

.enterActive {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.exit {
    opacity: 1;
}

.exitActiveRight {
    opacity: 0;
    transition: opacity 200ms ease-out;
}

.exitActiveLeft {
    opacity: 0;
    transition: opacity 200ms ease-out;
}
