@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

:root {
    --steps-option-svg-color: var(--color-light-status-positive);
    --steps-dash-border: 2px solid var(--color-light-status-positive);
}

.step {
    display: flex;
    outline: none;

    &.horizontal {
        flex-grow: 1;
    }

    &:not(.vertical) {
        align-items: center;
    }

    &:last-of-type .textWrapper.vertical {
        margin-bottom: var(--gap-0);
    }
}

.step.interactive:not(.disabled):hover {
    cursor: pointer;
}

.step.disabled:hover {
    & .text {
        background: unset;
    }
}

.step.disabled {
    & .indicator {
        cursor: unset;
    }
}

.indicator {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: var(--gap-4);

    &.vertical {
        flex-direction: column;
        margin-right: var(--gap-8);
    }
}

.option {
    @mixin accent_primary_small;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-text-primary);
    background: var(--color-light-neutral-translucent-300);
    min-width: 24px;
    height: 24px;
    border-radius: var(--border-radius-circle);

    &.vertical {
        margin-top: var(--gap-8);
    }
}

.dash {
    flex: 1 1 auto;
    min-width: 24px;
    border-top: 2px solid var(--color-light-neutral-translucent-300);
    margin-right: var(--gap-8);

    &.completed {
        border-top: var(--steps-dash-border);
    }

    &.vertical {
        min-width: unset;
        min-height: 8px;
        margin-right: var(--gap-0);
        margin-top: var(--gap-8);
        border-left: 2px solid var(--color-light-neutral-translucent-300);
        border-top: none;
    }

    &.completed.vertical {
        border-left: var(--steps-dash-border);
    }
}

.textWrapper {
    &.vertical {
        min-height: 48px;

        &.gap-24 {
            margin-bottom: var(--gap-8);
        }

        &.gap-32 {
            margin-bottom: var(--gap-16);
        }
    }
}

.text {
    @mixin paragraph_primary_medium;

    transition: background 0.2s;
    padding: var(--gap-8);
    color: var(--color-light-text-primary);
    border-radius: var(--gap-8);
    height: min-content;

    &.interactive:not(.disabled) {
        &:hover {
            background: var(--color-light-transparent-default-hover);
        }

        &:active {
            background: var(--color-light-transparent-default-press);
        }
    }
}

.focused {
    outline: var(--gap-2) solid var(--focus-color);
    outline-offset: var(--gap-2);
}

.selected {
    & .text {
        color: var(--color-light-text-primary);
    }

    & .option {
        color: var(--color-light-text-primary-inverted);
        background: var(--color-light-neutral-translucent-1300);
    }
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-circle);
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-light-neutral-translucent-300);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-circle);
    background: var(--color-light-neutral-translucent-300);
}

.selected .checkbox {
    border: 2px solid var(--color-light-neutral-translucent-1300);

    & .dot {
        background: var(--color-light-neutral-translucent-1300);
    }
}

.option:not(.error).unordered {
    background: unset;
}

.completedIndicator > [class*='positive'] {
    color: var(--steps-option-svg-color);
    background-color: var(--steps-option-svg-color);
}

.fullWidth {
    width: 100%;
}
