@import '../../../../themes/src/default.css';

:root {
    --steps-option-svg-color: var(--color-light-graphic-positive);
}

.step {
    display: flex;
    align-items: center;
    outline: none;
}

.option {
    @mixin accent_primary_small;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-graphic-primary);
    background: var(--color-light-graphic-quaternary);
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: var(--gap-2xs);
}

.text {
    @mixin paragraph_primary_medium;

    transition: 0.2s;
    padding: var(--gap-xs);
    color: var(--color-light-text-primary);
    border-radius: var(--gap-xs);

    &:not(.disabled) {
        &:hover {
            background: rgba(0, 0, 0, 0.07);
        }

        &:active {
            background: rgba(0, 0, 0, 0.15);
        }
    }
}

.selected {
    & .text {
        color: var(--color-light-graphic-primary);
    }

    & .option {
        color: var(--color-light-graphic-primary-inverted);
        background: var(--color-light-graphic-primary);
    }
}

.error {
    & .option {
        color: var(--color-light-graphic-primary-inverted);
        background: var(--color-light-graphic-negative);
    }
}

.disabled {
    opacity: 0.5;
}

.completed {
    &:not(.error) .option {
        background: var(--color-light-graphic-primary-inverted);

        & svg {
            fill: var(--steps-option-svg-color);
        }
    }
}

.step:not(.disabled):hover {
    cursor: pointer;
}

.step.disabled:hover {
    & .text {
        background: unset;
    }
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-light-graphic-quaternary);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color-light-graphic-quaternary);
}

.selected .checkbox {
    border: 2px solid var(--color-light-graphic-primary);

    & .dot {
        background: var(--color-light-graphic-primary);
    }
}

.option.unordered {
    background: unset;
}
