.row {
    display: flex;
    flex: 1 1 auto;
    margin: var(--gap-24) var(--gap-0) var(--gap-0);

    &:first-child {
        margin-top: var(--gap-0);
    }

    &.top {
        align-items: flex-start;
    }

    &.middle {
        align-items: center;
    }

    &.bottom {
        align-items: flex-end;
    }
}
