@import '../../themes/src/default.css';
@import './vars.css';

.component {
    max-width: var(--pattern-lock-max-width);
    margin: var(--gap-xs) 0 var(--gap-xl) 0;

    & canvas {
        display: block;
        margin: 0 auto;
    }
}

.hidden {
    visibility: hidden;
}

.message {
    @mixin paragraph_primary_medium;

    text-align: center;
    padding: 0 var(--gap-m);
    min-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-light-text-primary);
}

.error {
    color: var(--color-light-text-negative);
}

.forgotBtn {
    display: block;
    min-height: var(--size-xs-height);
    margin: var(--gap-xl) auto 0;
}

@media screen and (min-width: 360px) {
    .forgotBtn {
        margin-top: var(--gap-2xl);
        min-height: var(--size-s-height);
    }

    .component {
        margin-bottom: var(--gap-s);
    }
}

@media screen and (min-width: 390px) {
    .forgotBtn {
        min-height: var(--size-m-height);
    }

    .component {
        margin-bottom: var(--gap-l);
    }
}
