@import '../../../../vars/src/index.css';
@import '../../vars.css';

.option {
    @mixin paragraph_component;

    display: flex;
    align-items: center;
    transition: background-color 0.2s ease;
    background: var(--select-option-background);
    color: var(--select-option-color);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    min-height: var(--size-s-height);

    &:not(.disabled):active {
        background: var(--select-option-active-background);
        color: var(--select-option-active-color);
    }
}

.selected {
    background: var(--select-option-selected-background);
    color: var(--select-option-selected-color);
    cursor: default;
}

.disabled {
    cursor: var(--disabled-cursor);
    background: var(--select-option-disabled-background);
    color: var(--select-option-disabled-color);
}

.checkmarkBeforeContent {
    margin-right: var(--gap-12);
}

.checkmarkAfterContent {
    margin-left: var(--gap-12);
}

.content {
    flex: 1;
}
