@import '../../../../vars/src/index.css';
@import '../../vars.css';

.option {
    @mixin paragraph_component;

    display: flex;
    align-items: center;
    transition: background-color 0.2s ease;
    background: var(--select-option-background);
    color: var(--select-option-color);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    min-height: var(--size-s-height);

    &:not(.disabled):active {
        background: var(--select-option-active-background);
        color: var(--select-option-active-color);
    }

    &.checkmarkBefore {
        padding: 0 0 0 var(--gap-s);

        &.mobile {
            padding-left: var(--gap-m);
        }
    }

    &.checkmarkAfter.checkmarkAfter {
        padding: 0 var(--gap-s) 0 0;

        &.mobile {
            padding-right: var(--gap-l);
        }
    }

    &.textContent {
        padding: var(--gap-s);

        &.mobile {
            padding: var(--gap-m) var(--gap-l) var(--gap-m) var(--gap-m);
        }
    }
}

.selected {
    background: var(--select-option-selected-background);
    color: var(--select-option-selected-color);
    cursor: default;
}

.highlighted {
    background: var(--select-option-hover-background);
    color: var(--select-option-hover-color);
}

.disabled {
    cursor: var(--disabled-cursor);
    background: var(--select-option-disabled-background);
    color: var(--select-option-disabled-color);
}

.checkmarkBeforeContent {
    margin-right: var(--gap-s);
}

.checkmarkAfterContent {
    margin-left: var(--gap-s);
}

.content {
    flex: 1;
}
