.component {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 388px;
    margin: 0 auto;
    color: var(--confirmation-text-color);
}

.center {
    align-items: center;
    text-align: center;
}
