@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    @mixin _confirmation-text;

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 388px;
    margin: 0 auto;
    background: red;
}

.center {
    align-items: center;
    text-align: center;
}
