@import '../../themes/src/default.css';

.list {
    margin: 0;
    padding: 0;
    color: var(--color-light-text-primary);

    @mixin paragraph_primary_medium;
}

.orderedList {
    padding-left: var(--gap-l);
}

.lowerAlpha {
    list-style-type: lower-alpha;
    padding-left: 22px;
}

.decimal {
    list-style-type: decimal;
}

ol.ui.list {
    counter-reset: ordered;
    display: flex;
    flex-direction: column;

    &.reversed {
        flex-direction: column-reverse;
    }
}

ol.ui.list li {
    display: flex;
}

ol.ui.list li:before {
    position: relative;
    margin-left: var(--gap-l-neg);
    counter-increment: ordered;
    content: counters(ordered, '.') '.';
    display: flex;
    justify-content: start;
    font-variant-numeric: tabular-nums;
}

@each $color in tertiary, accent, primary, attention, positive, secondary, tertiary-inverted,
    primary-inverted, secondary-inverted, link, negative
{
    ol.ui.list.color-marker-$(color) li:before {
        color: var(--color-light-text-$(color));
    }
}
