@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../../vars.css';
@import './text-styles.module.css';

.title {
    composes: title from 'index.module.css';
}

.mobile {
    & .title {
        padding: var(--primary-tablist-mobile-padding);

        & + .title {
            margin-left: var(--primary-tablist-mobile-gaps);
        }
    }

    @mixin text-style;
    @mixin text-style-mobile;
}

.title.noTextStyle {
    @mixin paragraph_primary_medium;
}
