@import '../../../../vars/src/index.css';
@import '../../vars.css';
@import './text-styles.module.css';

.title {
    composes: title from 'index.module.css';
}

.mobile {
    & .title {
        padding: var(--primary-tablist-mobile-padding);
        font-size: var(--primary-tablist-mobile-font-size);
        font-weight: var(--primary-tablist-mobile-font-weight);
        font-family: var(--primary-tablist-mobile-font-family);
        line-height: var(--primary-tablist-mobile-line-height);

        & + .title {
            margin-left: var(--primary-tablist-mobile-gaps);
        }
    }

    @mixin text-style;
    @mixin text-style-mobile;
}
