@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../vars.css';

.actionSection {
    align-items: flex-start;
}

.title {
    @mixin accent_primary_small;
}

.closeButtonWrapper {
    &:before {
        display: none;
    }
}

.closeButton {
    align-items: flex-start;
}
