@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.container {
    display: flex;
    max-width: 144px;

    & .icon {
        width: 48px;
        height: 48px;
    }
}

.deleteIconColor {
    fill: var(--color-light-text-tertiary);

    &:hover {
        fill: var(--color-light-text-tertiary-hover);
    }
}

.downloadIconColor {
    fill: var(--color-light-text-tertiary);

    &:hover {
        fill: var(--color-light-text-tertiary-hover);
    }
}

.restoreIconColor {
    fill: var(--color-light-text-tertiary);

    &:hover {
        fill: var(--color-light-text-tertiary-hover);
    }
}
