.content {
    padding: var(--gap-32) var(--gap-32) 0;

    &.resetPaddingTop {
        padding-top: 0;
    }
}

.scrollbarWrapper.scrollbarWrapper {
    height: 100%;

    & .verticalBarContainer {
        top: var(--gap-16);
        height: calc(100% - 2 * 16px);
    }
}
