@import '../../../../vars/src/index.css';

.scrollbarWrapper.scrollbarWrapper {
    height: 100%;

    & .verticalBarContainer {
        top: var(--gap-16);
        height: calc(100% - 2 * 16px);
    }

    & .scrollContentWrapper {
        display: flex;
        flex-direction: column;

        & .scrollbarContainer {
            display: flex;
            flex-direction: column;
            flex: 1;

            & > .children {
                display: flex;
                flex-direction: column;
                flex: 1;

                & > div:first-child {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                }
            }
        }
    }
}
