@import '../../vars/src/index.css';

.header {
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease, background 0.2s ease;

    &.header.backgroundImage {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.mainLine {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    z-index: 1;
    background-color: inherit;
}

.mainLineSticky {
    position: sticky;
    top: 0;
}

.mainLineWithImageBg {
    background-color: initial;
}

.content {
    color: var(--color-light-text-primary);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-grow: 1;
    align-self: baseline;
    box-sizing: border-box;
    min-height: 48px;

    &.withBothAddons,
    &.withCompactTitle {
        @mixin action_component;
        align-self: center;
        padding-top: var(--gap-4);
        padding-bottom: var(--gap-4);

        & > .children,
        & > .title {
            -webkit-line-clamp: 1;
            word-break: break-all;
        }
    }

    &.contentOnBotDesktop.contentOnBotDesktop {
        padding-top: var(--gap-12);
    }

    &.contentOnBotMobile.contentOnBotMobile {
        padding-top: var(--gap-12);
    }
}

.title {
    word-break: break-word;
}

.subtitle {
    @mixin paragraph_primary_small;
    @mixin row_limit 1;

    color: var(--color-light-text-secondary);
    word-break: break-all;
}

.addonsWrapper {
    display: flex;
}

.rightAddons {
    margin-left: auto;
}

.addon {
    min-width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    pointer-events: all;
}

.bottomAddons {
    pointer-events: all;
}

.closer {
    margin-left: auto;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.trim {
    overflow: hidden;

    & .title,
    & .children {
        @mixin row_limit 2;
    }
}
