@import '../../vars/src/index.css';
@import './index.module.css';

.mainLineSticky {
    position: sticky;
    top: var(--gap-0);
}

.content {
    &.withBothAddons,
    &.withCompactTitle {
        @mixin action_component;
        align-self: center;
        padding-top: var(--gap-4);
        padding-bottom: var(--gap-4);

        & > .children,
        & > .title {
            -webkit-line-clamp: 1;
            word-break: break-all;
        }
    }
}

.subtitle {
    @mixin paragraph_primary_small;
    @mixin row_limit 1;

    color: var(--color-light-text-secondary);
    word-break: break-all;
}
