@import '../../vars/src/index.css';

:root {
    /* closer-mobile */
    --navigation-bar-closer-mobile-color: var(--color-light-neutral-translucent-700);
    --navigation-bar-closer-mobile-color-inverted: var(
        --color-light-neutral-translucent-700-inverted
    );

    /* back-arrow */
    --navigation-bar-back-arrow-mobile-fill: var(--color-light-neutral-translucent-700);
    --navigation-bar-back-arrow-mobile-fill-inverted: var(
        --color-light-neutral-translucent-700-inverted
    );

    /* button-text */
    --button-inverted-text-base-color: var(--color-light-text-primary-inverted);
    --button-text-base-color: var(--color-light-text-primary);
}
