@import '../../../vars.css';

.column {
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;

    & > * {
        flex: 1;
    }
}

.start,
.center,
.space-between {
    display: flex;
    gap: var(--gap-16);
}
