@import '../../themes/src/default.css';

:root {
    /* destop */
    --confirmation-header-destop-font-size: 22px;
    --confirmation-header-destop-line-height: 26px;
    --confirmation-header-destop-font-weight: bold;
    --confirmation-header-destop-font-family: var(--font-family-system);

    /* mobile */
    --confirmation-header-mobile-font-size: 18px;
    --confirmation-header-mobile-line-height: 22px;
    --confirmation-header-mobile-font-weight: bold;
    --confirmation-header-mobile-font-family: var(--font-family-system);
}
