@import '@alfalab/core-components-vars/src/no-typography-index.css';

:root {
    /* desktop */
    --confirmation-header-desktop-font-size: 22px;
    --confirmation-header-desktop-line-height: 26px;
    --confirmation-header-desktop-font-weight: bold;
    --confirmation-header-desktop-font-family: var(--font-family-system);

    /* mobile */
    --confirmation-header-mobile-font-size: 20px;
    --confirmation-header-mobile-line-height: 28px;
    --confirmation-header-mobile-font-weight: 600;
    --confirmation-header-mobile-font-family: var(--font-family-system);

    /* text */
    --confirmation-text-font-size: 16px;
    --confirmation-text-line-height: 24px;
    --confirmation-text-font-weight: 400;
    --confirmation-text-font-family: var(--font-family-system);
    --confirmation-text-color: var(--color-light-text-primary);

    /* header */
    --confirmation-header-font-feature-settings: normal;

    @define-mixin _confirmation-text {
        font-size: var(--confirmation-text-font-size);
        line-height: var(--confirmation-text-line-height);
        font-weight: var(--confirmation-text-font-weight);
        font-family: var(--confirmation-text-font-family);
        color: var(--confirmation-text-color);
    }
}
