@import '../../../../vars/src/index.css';

.component {
    @mixin paragraph_caps;

    line-height: 20px;
    text-align: left;
    color: var(--color-light-text-primary);
    padding: var(--gap-2xl) var(--gap-s) var(--gap-2xs);
    border-bottom: 1px solid var(--color-light-neutral-400);
    background: var(--color-light-base-bg-primary);
    vertical-align: top;
    box-sizing: border-box;

    &:first-child {
        padding-left: var(--gap-m);
    }

    &:last-child {
        padding-right: var(--gap-m);
    }

    &:not(.stickyHeader) {
        position: relative;
    }
}

.sortable {
    cursor: pointer;
}

.sorted {
    color: var(--color-light-text-primary);
}

.stickyHeader {
    top: 0;
    position: sticky;
    box-shadow: inset 0 -1px 0 0 rgba(11, 31, 53, 0.16);
    border: none;
    z-index: 1;
}

.compactHorizontal {
    padding-left: 6px;
    padding-right: 6px;
}
