@define-mixin select-click {
    /* checkmark */

    --select-checkmark-margin-after: var(--gap-0) var(--gap-0) var(--gap-0) var(--gap-12);
    --select-checkmark-size: 24px;
    --select-checkmark-before-display: none;
    --select-checkmark-after-display: none;
    --select-checkmark-background: none;
    --select-checkmark-border-radius: 0;
    --select-checkmark-after-display-single: block;
    --select-mobile-checkmark-display-icon: block;
    --select-mobile-checkmark-display-badge: none;
}
