@import '@alfalab/core-components-vars/src/no-typography-index.css';

:root {
    --divider-color: var(--color-light-neutral-400);
}

.component {
    border: none;
    border-bottom: 1px solid var(--divider-color);
    margin: var(--gap-0);
}
