@import '../../../../vars/src/index.css';
@import '../../vars.css';

:global(.cc-calendar) {
    & .yearsTable {
        width: 100%;

        @media (max-width: 374px) {
            padding-top: var(--gap-8);
        }

        &.responsive {
            & .inner {
                width: 100%;
            }

            & .button {
                width: calc(33.333% - var(--gap-4) / 1.5);
                box-shadow: none;
            }
        }

        &:not(.responsive) {
            & .inner {
                width: var(--calendar-inner-width);
                margin: 0 auto;

                @media (max-width: 374px) {
                    width: var(--calendar-mobile-inner-width);
                }
            }

            & .button {
                width: var(--calendar-select-button-width);

                @media (max-width: 374px) {
                    width: var(--calendar-mobile-select-button-width);

                    &:nth-child(3n) {
                        margin-right: var(--gap-4);
                    }

                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    & .inner {
        position: relative;
        overflow: hidden;
    }

    & .button {
        margin-right: var(--gap-4);
        margin-bottom: var(--gap-8);

        &:nth-child(3n) {
            margin-right: 0;
        }

        @media (max-width: 374px) {
            height: 36px;
        }
    }
}
