@import '@alfalab/core-components-vars/src/index.css';

.component {
    display: flex;
    overflow: hidden;
    padding: var(--gap-2) var(--gap-0);
}

.categoryName {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.categoryPercent {
    padding: var(--gap-0) var(--gap-8);
    background-color: var(--color-light-base-bg-secondary);
    border-radius: var(--border-radius-16);
    margin-left: var(--gap-4);
}

.rightAddon {
    margin-left: var(--gap-4);
}
