@import '@alfalab/core-components-tab-bar-private/src/vars.css';

.component {
    border-radius: var(--tab-bar-private-border-radius);
    background: var(--tab-bar-private-background);
    box-shadow: var(--tab-bar-private-box-shadow);
    padding: var(--gap-4);
    margin-left: var(--gap-8);
    max-width: var(--tab-bar-private-tab-max-size);
}
