@import '@alfalab/core-components-vars/src/index.css';

.component {
    display: flex;
    align-items: flex-end;
    position: relative;
    background-color: var(--color-light-neutral-500);
    box-sizing: border-box;

    &.size-164 {
        border-radius: var(--border-radius-20);
        padding: var(--gap-12) var(--gap-16);
    }
    &.size-128 {
        border-radius: var(--border-radius-16);
        padding: var(--gap-8) var(--gap-12);
    }
    &.size-96 {
        border-radius: var(--border-radius-12);
        padding: 6px var(--gap-12);
    }
    &.size-48,
    &.size-40 {
        border-radius: var(--border-radius-6);
        padding: var(--gap-2) var(--gap-4);
    }
    &.size-32 {
        border-radius: var(--border-radius-4);
        padding: var(--gap-0) var(--gap-2);
    }
    &.size-16 {
        border-radius: var(--border-radius-2);
    }
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.border {
    position: absolute;
    top: var(--gap-0);
    bottom: var(--gap-0);
    left: var(--gap-0);
    right: var(--gap-0);
    border-radius: inherit;
    pointer-events: none;
    z-index: 3;
}

.contentAddons {
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}
