@import '../../../vars.css';

.typographyTheme {
    @mixin _confirmation-text;
}

.description {
    margin-bottom: var(--gap-xs);
}

.countdownWrap {
    display: flex;
    align-items: center;
}

.loader {
    margin-right: var(--gap-xs);
}
