@import '../../../vars.css';

.component {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    text-align: center;
}

.typographyTheme.typographyTheme {
    @mixin _confirmation-text;
}

.typographyThemeMobile.typographyThemeMobile {
    color: var(--color-light-text-secondary);
}

.description.description {
    margin-bottom: var(--gap-8);
}

.countdownWrap {
    display: flex;
    align-items: center;
}

.timeCounter {
    display: inline-block;
    min-width: 47px;
    color: var(--color-light-text-secondary);
    text-align: left;
    font-variant-numeric: lining-nums tabular-nums;
}

.loader {
    margin-right: var(--gap-8);
}
