@import '@alfalab/core-components-vars/src/no-typography-index.css';

:root {
    /* border */
    --plate-border-left: 2px;
    --plate-border-width: 1px;

    /* width limit */
    --plate-width-limit: 560px;

    /* custom view */
    --plate-background: transparent;
    --plate-border-color: var(--color-light-neutral-translucent-700);
    --plate-box-shadow: var(--shadow-s);
}
