@import '../../vars.css';

.component {
    color: var(--form-control-color);
}

.label {
    color: var(--form-control-label-color);
}

.hint {
    color: var(--form-control-hint-color);
}

/* Нижняя граница */
.inner:before {
    border-bottom: var(--form-control-border-bottom);
}

/* DISABLED STATE */

.inner.disabled {
    color: var(--form-control-disabled-color);
    background-color: var(--form-control-disabled-bg-color);
    box-shadow: var(--form-control-disabled-shadow);
}

.disabled:before {
    border-bottom: var(--form-control-disabled-border-bottom);
}

.disabled .label {
    color: var(--form-control-disabled-filled-label-color);
}

.disabled.hasError {
    background-color: var(--form-control-disabled-bg-color);
}

/* HOVER STATE */

.inner:not(.disabled):hover {
    background-color: var(--form-control-hover-bg-color);
}

/* FOCUS STATE */

.focused:not(.disabled):not(.hasError):before {
    border-bottom: var(--form-control-focus-border-bottom);
}

.focused.inner,
.focused.inner:hover {
    background-color: var(--form-control-focus-bg-color);
    box-shadow: var(--form-control-focus-shadow);

    &.hasError {
        box-shadow: var(--form-control-focus-error-shadow);
        background-color: var(--form-control-focus-bg-color);
    }
}

/* ERROR STATE */

.error {
    color: var(--form-control-error-color);
}

.hasError.hasError {
    box-shadow: var(--form-control-error-shadow);
}

.hasError:before {
    border-bottom: var(--form-control-error-border-bottom);
}

.hasError .label {
    color: var(--form-control-error-label-color);
}
