@import '../../vars.css';

.component {
    font-family: var(--form-control-font-family);
    width: max-content;
    max-width: 100%;
}

.inner {
    display: flex;
    position: relative;
    min-height: 100%;
    backdrop-filter: var(--form-control-bg-backdrop-filter);
    transition: background 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
    outline: none;
    transform: translateZ(0);
}

/* Нижняя граница */
.inner:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0;
    transition: transform 0.2s ease, border 0.2s ease;
    transform-origin: bottom;
}

.inputWrapper {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.input {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.input > * {
    padding: var(--form-control-paddings);
    font-family: var(--form-control-font-family);
}

.label {
    @mixin paragraph_component;

    position: absolute;
    display: flex;
    align-items: center;
    left: var(--gap-s);
    right: 0;
    transform-origin: left top;
    transform: translateY(-50%);
    transition-duration: 200ms;
    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.labelInner {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.leftAddons {
    padding-left: var(--gap-s);
}

.rightAddons {
    padding-right: var(--gap-s);
}

.sub {
    @mixin paragraph_component_secondary;
    @mixin form-control-sub;
}

.above {
    @mixin paragraph_component_secondary;

    display: block;
    margin-bottom: calc(var(--gap-s) / 2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block {
    width: 100%;
}

/* SIZES */

.s .inner {
    min-height: var(--form-control-s-min-height);
}

.s .hasInnerLabel .input > * {
    padding: var(--form-control-labeled-s-paddings);
}

.s .label {
    top: calc(var(--form-control-s-min-height) / 2);
}

.m .inner {
    min-height: var(--form-control-m-min-height);
}

.m .hasInnerLabel .input > * {
    padding: var(--form-control-labeled-m-paddings);
}

.m .label {
    top: calc(var(--form-control-m-min-height) / 2);
}

.l .inner {
    min-height: var(--form-control-l-min-height);
}

.l .hasInnerLabel .input > * {
    padding: var(--form-control-labeled-l-paddings);
}

.l .label {
    top: calc(var(--form-control-l-min-height) / 2);
}

.xl .inner {
    min-height: var(--form-control-xl-min-height);
}

.xl .label {
    left: var(--gap-m);
}

.xl .input > * {
    padding: var(--form-control-xl-paddings);
}

.xl .hasInnerLabel .input > * {
    padding: var(--form-control-labeled-xl-paddings);
}

.xl .leftAddons {
    padding-left: var(--gap-m);
}

.xl .rightAddons {
    padding-right: var(--gap-m);
}

.xl.hasLeftAddons .label {
    left: var(--gap-s);
}

.xl.hasLeftAddons .input > * {
    padding-left: var(--gap-s);
}

.xl.hasRightAddons .input > * {
    padding-right: var(--gap-s);
}

.xl .label {
    top: calc(var(--form-control-xl-min-height) / 2);
}

/* DISABLED STATE */

.disabled {
    opacity: var(--form-control-disabled-opacity);
}

/* FOCUS STATE */

.focused:not(.disabled):before,
.hasError:before {
    transform: scaleY(2);
}

.filled .label {
    transform: translateY(-100%) scale(0.875);

    /* adjusting position 👌 */
    margin-top: 1px;
}

.xl .filled .label {
    /* adjusting position 👌 */
    margin-top: -1px;
}

.hiddenLabel {
    opacity: 0;
    height: 0;
    padding: var(--form-control-paddings);
    display: block;
    box-sizing: border-box;
}

.xl .hiddenLabel {
    padding: var(--form-control-xl-paddings);
}
