@import '../../vars.css';

.component {
    font-family: var(--form-control-font-family);
    width: max-content;
    max-width: 100%;
}

.inner {
    display: flex;
    position: relative;
    min-height: 100%;
    backdrop-filter: var(--form-control-bg-backdrop-filter);
    transition: background 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
    outline: none;
    transform: translateZ(0);
}

/* Нижняя граница */
.inner:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: var(--gap-0);
    height: 0;
    transition: transform 0.2s ease, border 0.2s ease;
    transform-origin: bottom;
}

.inputWrapper {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.input {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.input > * {
    padding: var(--form-control-paddings);
    font-family: var(--form-control-font-family);
}

.label {
    @mixin paragraph_component;

    position: absolute;
    display: flex;
    align-items: center;
    left: var(--gap-12);
    right: var(--gap-0);
    transform-origin: left top;
    transform: translateY(-50%);
    transition-duration: 200ms;
    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.labelInner {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.leftAddons {
    padding-left: var(--gap-12);
}

.rightAddons {
    padding-right: var(--gap-12);
}

.sub {
    @mixin paragraph_component_secondary;
    @mixin form-control-sub;
}

.above {
    @mixin paragraph_component_secondary;

    display: block;
    margin-bottom: calc(var(--gap-12) / 2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block {
    width: 100%;
}

/* SIZES */

.size-40 {
    & .inner {
        min-height: var(--form-control-40-min-height);
    }

    & .hasInnerLabel .input > * {
        padding: var(--form-control-labeled-40-paddings);
    }

    & .label {
        top: calc(var(--form-control-40-min-height) / 2);
    }

    & .addons {
        & > * {
            width: 16px;
            height: 16px;
        }
    }
}

.size-48 .inner {
    min-height: var(--form-control-s-min-height);
}

.size-48 .hasInnerLabel .input > * {
    padding: var(--form-control-labeled-s-paddings);
}

.size-48 .label {
    top: calc(var(--form-control-s-min-height) / 2);
}

.size-56 .inner {
    min-height: var(--form-control-m-min-height);
}

.size-56 .hasInnerLabel .input > * {
    padding: var(--form-control-labeled-m-paddings);
}

.size-56 .label {
    top: calc(var(--form-control-m-min-height) / 2);
}

.size-64 .inner {
    min-height: var(--form-control-l-min-height);
}

.size-64 .hasInnerLabel .input > * {
    padding: var(--form-control-labeled-l-paddings);
}

.size-64 .label {
    top: calc(var(--form-control-l-min-height) / 2);
}

.size-72 .inner {
    min-height: var(--form-control-xl-min-height);
}

.size-72 .label {
    left: var(--gap-16);
}

.size-72 .input > * {
    padding: var(--form-control-xl-paddings);
}

.size-72 .hasInnerLabel .input > * {
    padding: var(--form-control-labeled-xl-paddings);
}

.size-72 .leftAddons {
    padding-left: var(--gap-16);
}

.size-72 .rightAddons {
    padding-right: var(--gap-16);
}

.size-72.hasLeftAddons .label {
    left: var(--gap-12);
}

.size-72.hasLeftAddons .input > * {
    padding-left: var(--gap-12);
}

.size-72.hasRightAddons .input > * {
    padding-right: var(--gap-12);
}

.size-72 .label {
    top: calc(var(--form-control-xl-min-height) / 2);
}

/* DISABLED STATE */

.disabled {
    opacity: var(--form-control-disabled-opacity);
}

/* FOCUS STATE */

.focused:not(.disabled):before,
.hasError:before {
    transform: scaleY(2);
}

.filled .label {
    transform: translateY(-100%) scale(0.875);

    /* adjusting position 👌 */
    margin-top: 1px;
}

.size-72 .filled .label {
    /* adjusting position 👌 */
    margin-top: -1px;
}

.hiddenLabel {
    opacity: 0;
    height: 0;
    padding: var(--form-control-paddings);
    display: block;
    box-sizing: border-box;
}

.size-72 .hiddenLabel {
    padding: var(--form-control-xl-paddings);
}
