@import '../../../vars/src/index.css';

.bold {
    @mixin headline-system_xsmall;
    padding: 5px var(--gap-s) 5px var(--gap-2xs);
}

.description {
    padding: 0 var(--gap-s) var(--gap-2xs) var(--gap-2xs);
}

.footer {
    padding: var(--gap-xs) 0 var(--gap-2xs) var(--gap-2xs);
}
