@import '../../../vars/src/index.css';
@import './vars.css';

.bold {
    @mixin headline-system_xsmall;
    padding: 5px var(--gap-12) 5px var(--gap-4);
}

.description {
    padding: var(--gap-0) var(--gap-12) var(--gap-4) var(--gap-4);
}

.footer {
    padding: var(--gap-8) var(--gap-0) var(--gap-4) var(--gap-4);
}

.rounded {
    border-radius: var(--plate-rounded-border-radius-desktop);

    &.shadow:after {
        border-radius: var(--plate-rounded-shadow-border-radius-desktop);
    }
}
