@import '../../../../themes/src/default.css';

.component {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dotWrapper {
    width: var(--pass-code-dot-container-width);
    height: var(--pass-code-dot-container-height);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;

    &:last-child {
        margin-right: 0;
    }
}

.dot {
    width: var(--pass-code-dot-width);
    height: var(--pass-code-dot-height);
    background: var(--color-light-neutral-translucent-300);
    border-radius: var(--border-radius-circle);
    flex-shrink: 0;

    &.filled {
        animation: dotFilled 100ms ease-in forwards;
        background: var(--color-light-neutral-translucent-1300);
    }

    &.error {
        background: var(--color-light-status-negative);
    }
}

@keyframes dotFilled {
    50% {
        width: var(--pass-code-dot-container-width);
        height: var(--pass-code-dot-container-height);
        animation-timing-function: ease-out;
    }
}
