@import '../../../../vars/src/safe-area.css';
@import '../../vars.css';

.content {
    padding: var(--gap-16) var(--gap-16) var(--gap-0);

    &:last-child {
        padding-bottom: var(--gap-16);

        @media (display-mode: standalone) {
            padding-bottom: calc(var(--sab) + var(--gap-16));
        }
    }
}
