@import '@alfalab/core-components-vars/src/index.css';

:root {
    --notification-desktop-content-width: 278px;
}

.notificationComponent {
    visibility: hidden;
    right: var(--gap-12);
    transform: translate(0, -500px);
    width: calc(100% - var(--gap-24));
    max-width: calc(100vw - var(--gap-24));
    user-select: none;
    transition: transform 0.4s ease-out;

    @media screen and (min-width: 600px) {
        right: var(--gap-48);
        width: auto;
        transform: translate(calc(100% + var(--gap-48)), 0);
    }

    &.isVisible {
        visibility: visible;
        transform: translate(0, 0);
    }

    &.isClosing {
        transition: transform 0.1s ease-out;
        transform: translate(100vw, 0);

        @media screen and (min-width: 600px) {
            transform: translate(calc(100% + var(--gap-48)), 0);
        }
    }
}

.notificationComponent.notificationComponent {
    position: fixed;
}

.toastContent {
    @media screen and (min-width: 600px) {
        width: var(--notification-desktop-content-width);
    }
}

.actionSection {
    min-width: 104px;
    min-height: 48px;
    padding: var(--gap-0) var(--gap-8);
    margin: var(--gap-12-neg) var(--gap-0);
}
