@import '@alfalab/core-components-vars/src/no-typography-index.css';

:root {
    --tooltip-border-color: var(--color-light-neutral-300);
    --tooltip-bg-color: var(--color-light-modal-bg-primary);
    --tooltip-hint-bg-color: var(--color-light-modal-bg-primary-inverted);
    --tooltip-hint-text-color: var(--color-light-text-primary-inverted);
    --tooltip-hint-box-shadow: var(--shadow-m-hard);
}

.hint {
    background-color: var(--tooltip-hint-bg-color);
    box-shadow: var(--tooltip-hint-box-shadow);
    color: var(--tooltip-hint-text-color);
}

.hint .arrow:after {
    background-color: var(--tooltip-hint-bg-color);
    border-color: var(--tooltip-hint-bg-color);
}

.tooltip {
    border: 1px solid var(--tooltip-border-color);
    background-color: var(--tooltip-bg-color);

    & .arrow:after {
        border-color: var(--tooltip-border-color);
        background-color: var(--tooltip-bg-color);
    }
}
