@import '../../vars/src/index.css';

:root {
    --tooltip-max-width: 368px;
}

.component {
    @mixin paragraph_primary_small;
    padding: var(--gap-16);
    max-width: var(--tooltip-max-width);
}

.popper {
    border-radius: var(--border-radius-8);
    box-sizing: border-box;
}

.hint .component {
    @mixin paragraph_secondary_large;
    padding: var(--gap-8);
}

.hint {
    border-radius: var(--border-radius-4);
}

.target {
    display: inline-block;
    cursor: pointer;
    position: relative;

    & .overlap {
        cursor: var(--disabled-cursor);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}

.inline {
    display: inline;
}
