@import '../../themes/src/default.css';

.component {
    @mixin paragraph_primary_small;
    padding: var(--gap-m);
    max-width: var(--tooltip-max-width);
}

.popper {
    border-radius: var(--border-radius-m);
}

.hint .component {
    @mixin paragraph_secondary_large;
    padding: var(--gap-xs);
}

.target {
    cursor: pointer;
    width: max-content;
    position: relative;

    & .overlap {
        cursor: var(--disabled-cursor);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
}
