@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.row {
    cursor: pointer;
}

.selected.expanded {
    background-color: inherit;
}

.expanded {
    &:hover {
        background-color: inherit;
    }
}

.expandable {
    & td {
        margin: var(--gap-0);
        padding-top: var(--gap-0);
        padding-bottom: var(--gap-0);
        border: none;
        height: auto;
    }
}
