@import '@alfalab/core-components-tab-bar-island/src/vars.css';

.tab {
    border-radius: var(--tab-bar-island-border-radius);
    flex: 1;
    width: var(--tab-bar-island-tab-default-size);
    max-width: var(--tab-bar-island-tab-default-size);

    &.active {
        z-index: 1;
        color: var(--tab-bar-island-tab-active-color);
    }

    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ & {
        width: var(--tab-bar-island-tab-max-size);
        max-width: var(--tab-bar-island-tab-max-size);
    }
}
