@import '../../themes/src/default.css';

:root {
    /* border */
    --plate-border-left: 2px solid;
    --plate-border: 1px solid;
    --plate-border-radius: var(--border-radius-m);

    /* custom view */
    --plate-background: transparent;
    --plate-border-color: none;

    /* icons */
    --plate-closer-icon: url('https://alfabank.gcdn.co/icons/glyph_cross_m.svg');
    --plate-arrow-icon: url('https://alfabank.gcdn.co/icons/glyph_chevron-down_m.svg');
}

.component {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    border-left: var(--plate-border-left);
    color: var(--color-light-text-primary);
    width: 100%;
    min-height: 56px;
    padding: var(--gap-m);
    outline: none;
}

.foldable {
    cursor: pointer;
}

.component * {
    box-sizing: border-box;
}

.focused {
    @mixin focus-outline;
}

.inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.borderRadius {
    border-radius: var(--plate-border-radius);
    border: var(--plate-border);
}

.noBorder {
    border: 0;
}

.shadow {
    box-shadow: var(--shadow-s);
}

.common {
    background-color: var(--color-light-bg-secondary);
    border-color: var(--color-static-status-grey);
}

.negative {
    background-color: var(--color-light-bg-negative-muted);
    border-color: var(--color-static-status-red);
}

.positive {
    background-color: var(--color-light-bg-positive-muted);
    border-color: var(--color-static-status-green);
}

.attention {
    background-color: var(--color-light-bg-attention-muted);
    border-color: var(--color-static-status-orange);
}

.custom {
    background: var(--plate-background) center no-repeat;
    border-color: var(--plate-border-color);
}

.isHidden {
    display: none;
}

.leftAddons {
    flex-shrink: 0;
    min-width: 24px;
    margin-right: var(--gap-s);
}

.subAddons {
    margin: var(--gap-3xs-neg) 0 0 var(--gap-2xs);
}

.subAddonsButton {
    &:not(:last-child) {
        margin-right: var(--gap-2xs);
    }
}

.title {
    @mixin accent_primary_large;

    word-break: break-word;
}

.content {
    @mixin paragraph_primary_small;

    max-height: 300vh;
    overflow: hidden;
    transition: max-height 2s ease-in-out;
    padding: var(--gap-2xs);
    margin: var(--gap-2xs-neg);
    cursor: default;

    &.isFolded {
        max-height: 0;
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    }
}

.contentContainer {
    flex: 1;
    margin-right: auto;

    &.withoutTitle {
        padding-top: var(--gap-3xs);
    }
}

.limitWidth {
    max-width: 586px;
}

.title + .content > .contentInner {
    padding-top: var(--gap-xs);
}

.closer,
.folder {
    display: block;
    height: 24px;
    width: 24px;
    opacity: 1;
    transition: opacity 0.2s ease;
    cursor: pointer;
    margin-left: var(--gap-m);

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }
}

.closer {
    background: var(--plate-closer-icon) center no-repeat;
}

.folder {
    background: var(--plate-arrow-icon) center no-repeat;
    transition: transform 0.15s ease-in-out, opacity 0.2s ease;
    transform: var(--arrow-transform);

    &.isFolded {
        transform: rotate(0deg);
    }
}

.buttons {
    margin-top: var(--gap-xl);
}

.button {
    margin-right: var(--gap-s);

    &:last-child {
        margin-right: 0;
    }
}
