@import '../../../../input/src/vars.css';
@import '../../vars.css';

.clearIcon {
    display: block;
    color: var(--color-light-neutral-translucent-500);

    &:hover {
        color: var(--color-light-neutral-translucent-500-hover);
    }

    &:active {
        color: var(--color-light-neutral-translucent-500-press);
    }
}

.clearButton + [data-addon='error-icon'] {
    display: var(--input-error-icon-display);
}

.clearButton + * {
    margin-left: var(--gap-2xs);
}
