@import '../vars.css';

.rectangular {
    &.size-32 {
        border-radius: var(--tag-rectangular-xxs-border-radius);
    }

    &.size-40 {
        border-radius: var(--tag-rectangular-xs-border-radius);
    }

    &.size-48 {
        border-radius: var(--tag-rectangular-s-border-radius);
    }

    &.size-56 {
        border-radius: var(--tag-rectangular-m-border-radius);
    }

    &.size-64 {
        border-radius: var(--tag-rectangular-l-border-radius);
    }

    &.size-72 {
        border-radius: var(--tag-rectangular-xl-border-radius);
    }
}
