@import '../../../packages/themes/src/default.css';

.page {
    margin-top: -44px;
}

.intro {
    position: relative;
    text-align: center;
    width: 100%;
    height: 390px;
    border-radius: var(--border-radius-xxl);
    background-color: var(--color-light-bg-secondary);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/intro_mobile_bg.png');
}

div[data-mode='dark'] .intro {
    background-image: url('./assets/intro_mobile_dark_bg.png');
}

.version {
    @mixin paragraph_primary_medium;

    position: absolute;
    top: 0;
    right: 0;
    padding: var(--gap-l);
    font-family: var(--font-family-styrene);
    color: var(--color-light-text-primary);
}

.logo {
    width: 225px;
    height: 48px;
    margin-top: 70px;
}

.desc {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);

    margin: var(--gap-xl) auto 0;
    max-width: 288px;
}

.ghButton {
    margin-top: var(--gap-xl);
}

.introFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -1px 0 var(--color-light-border-primary);
}

.supportDesc {
    @mixin promo-mobile_xsmall;

    margin-left: 30px;
    color: var(--color-light-text-secondary);
    display: none;
}

.maintainers {
    display: flex;
    margin: 0 auto;
}

.maintainer {
    position: relative;
    display: flex;
    cursor: pointer;
    border-radius: var(--border-radius-circle);
}

.maintainterPhoto {
    position: relative;
    z-index: -1;
    border-radius: inherit;
}

.whereToStart {
    @mixin headline-mobile_large;

    margin-top: var(--gap-3xl);
}

.plates {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--gap-xs);
    margin-top: var(--gap-l);
}

@media screen and (min-width: 600px) {
    .page {
        margin-top: -28px;
        padding-bottom: var(--gap-5xl);
    }

    .intro {
        height: 478px;
        background-image: url('./assets/intro_bg.webp');
    }

    div[data-mode='dark'] .intro {
        background-image: url('./assets/intro_dark_bg.webp');
    }

    .logo {
        width: 304px;
        height: 65px;
        margin-top: 80px;
    }

    .desc {
        @mixin promo-mobile_small;

        margin: var(--gap-2xl) auto 0;
        max-width: 438px;
    }

    .ghButton {
        margin-top: var(--gap-2xl);
    }

    .introFooter {
        height: 80px;
    }

    .supportDesc {
        display: inline;
    }

    .maintainers {
        margin-right: 30px;
        justify-content: end;
    }

    .whereToStart {
        @mixin headline_large;

        margin-top: var(--gap-4xl);
    }

    .plates {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--gap-l);
        margin-top: var(--gap-xl);
    }
}
