@import '../../themes/src/default.css';

:root {
    /* primary */
    --action-button-primary-base-color: var(--color-light-text-primary);
    --action-button-primary-base-icon-color: var(--color-light-graphic-primary-inverted);
    --action-button-primary-base-bg-color: var(--color-light-bg-primary-inverted);
    --action-button-primary-hover-color: var(--color-light-bg-primary-inverted-tint-15);
    --action-button-primary-active-color: var(--color-light-bg-primary-inverted-tint-20);

    /* secondary */
    --action-button-secondary-base-color: var(--color-light-text-primary);
    --action-button-secondary-base-icon-color: var(--color-light-graphic-primary);
    --action-button-secondary-base-bg-color: var(--color-light-bg-secondary);
    --action-button-secondary-hover-color: var(--color-light-bg-secondary-shade-7);
    --action-button-secondary-active-color: var(--color-light-bg-secondary-shade-15);

    /* spinner */
    --action-button-spinner-primary-color: var(--color-light-graphic-primary-inverted);
    --action-button-spinner-default-color: var(--color-light-graphic-primary);
}

.primary {
    color: var(--action-button-primary-base-color);

    & .iconWrapper {
        color: var(--action-button-primary-base-icon-color);
        background-color: var(--action-button-primary-base-bg-color);
    }

    &:hover .iconWrapper {
        background-color: var(--action-button-primary-hover-color);
    }

    &:active .iconWrapper {
        background-color: var(--action-button-primary-active-color);
    }

    & .loader {
        color: var(--action-button-spinner-primary-color);
    }
}

.secondary {
    color: var(--action-button-secondary-base-color);

    & .iconWrapper {
        color: var(--action-button-secondary-base-icon-color);
        background-color: var(--action-button-secondary-base-bg-color);
    }

    &:hover .iconWrapper {
        background-color: var(--action-button-secondary-hover-color);
    }

    &:active .iconWrapper {
        background-color: var(--action-button-secondary-active-color);
    }

    & .loader {
        color: var(--action-button-spinner-default-color);
    }
}
