@import '@alfalab/core-components-vars/src/no-typography-index.css';

.component {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80px;
    min-height: 80px;
    max-height: 100px;
    transition: color 0.2s ease;

    /* prettier-ignore */
    @each $size, $mixin in (48, action_primary_small) {
        &.size$(size) {
            @mixin $(mixin);

            .iconWrapper {
                width: $(size)px;
                height: $(size)px;
            }
        }
    }
}

.iconWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: var(--gap-12);
    border-radius: var(--border-radius-circle);
    transition:
        opacity 0.2s ease,
        background 0.2s ease;
    line-height: 0;

    .loading & > *:not(.loader) {
        opacity: 0;
    }
}

.label {
    @mixin row_limit 2;
}
