@import '../../themes/src/default.css';

:root {
    /* primary */
    --action-button-inverted-primary-base-color: var(--color-light-text-primary-inverted);
    --action-button-inverted-primary-base-icon-color: var(--color-light-neutral-translucent-1300);
    --action-button-inverted-primary-base-bg-color: var(--color-light-accent-secondary-inverted);
    --action-button-inverted-primary-hover-color: var(
        --color-light-accent-secondary-inverted-hover
    );
    --action-button-inverted-primary-active-color: var(
        --color-light-accent-secondary-inverted-press
    );

    /* secondary */
    --action-button-inverted-secondary-base-color: var(--color-light-text-primary-inverted);
    --action-button-inverted-secondary-base-icon-color: var(
        --color-light-neutral-translucent-1300-inverted
    );
    --action-button-inverted-secondary-base-bg-color: var(--color-light-neutral-100-inverted);
    --action-button-inverted-secondary-hover-color: var(--color-light-neutral-100-inverted-hover);
    --action-button-inverted-secondary-active-color: var(--color-light-neutral-100-inverted-press);

    /* spinner */
    --action-button-spinner-inverted-default-color: var(--color-light-neutral-translucent-1300);
    --action-button-spinner-inverted-primary-color: var(
        --color-light-neutral-translucent-1300-inverted
    );

    /* disabled */
    --action-button-inverted-disabled-color: var(--color-light-text-tertiary-inverted);
    --action-button-inverted-disabled-icon-color: var(--color-light-neutral-500-inverted);
    --action-button-inverted-disabled-bg-color: var(--color-light-neutral-100-inverted);
}

.primary {
    color: var(--action-button-inverted-primary-base-color);

    & .iconWrapper {
        color: var(--action-button-inverted-primary-base-icon-color);
        background-color: var(--action-button-inverted-primary-base-bg-color);
    }

    &:hover .iconWrapper {
        background-color: var(--action-button-inverted-primary-hover-color);
    }

    &:active .iconWrapper {
        background-color: var(--action-button-inverted-primary-active-color);
    }

    & .loader {
        color: var(--action-button-spinner-inverted-primary-color);
    }
}

.secondary {
    color: var(--action-button-inverted-secondary-base-color);

    & .iconWrapper {
        color: var(--action-button-inverted-secondary-base-icon-color);
        background-color: var(--action-button-inverted-secondary-base-bg-color);
    }

    &:hover .iconWrapper {
        background-color: var(--action-button-inverted-secondary-hover-color);
    }

    &:active .iconWrapper {
        background-color: var(--action-button-inverted-secondary-active-color);
    }

    & .loader {
        color: var(--action-button-spinner-inverted-default-color);
    }
}

.disabled {
    color: var(--action-button-inverted-disabled-color);

    & .iconWrapper {
        color: var(--action-button-inverted-disabled-icon-color);
        background-color: var(--action-button-inverted-disabled-bg-color);
    }
}
