@import '../../themes/src/default.css';

:root {
    /* primary */
    --action-button-inverted-primary-base-color: var(--color-light-text-primary-inverted);
    --action-button-inverted-primary-base-icon-color: var(--color-light-graphic-primary);
    --action-button-inverted-primary-base-bg-color: var(--color-light-bg-primary);
    --action-button-inverted-primary-hover-color: var(--color-light-bg-primary-shade-7);
    --action-button-inverted-primary-active-color: var(--color-light-bg-primary-shade-15);

    /* secondary */
    --action-button-inverted-secondary-base-color: var(--color-light-text-primary-inverted);
    --action-button-inverted-secondary-base-icon-color: var(--color-light-graphic-primary-inverted);
    --action-button-inverted-secondary-base-bg-color: var(--color-light-bg-secondary-inverted);
    --action-button-inverted-secondary-hover-color: var(
        --color-light-bg-secondary-inverted-tint-15
    );
    --action-button-inverted-secondary-active-color: var(
        --color-light-bg-secondary-inverted-tint-20
    );
}

.primary {
    color: var(--action-button-inverted-primary-base-color);

    & .iconWrapper {
        color: var(--action-button-inverted-primary-base-icon-color);
        background-color: var(--action-button-inverted-primary-base-bg-color);
    }

    &:hover .iconWrapper {
        background-color: var(--action-button-inverted-primary-hover-color);
    }

    &:active .iconWrapper {
        background-color: var(--action-button-inverted-primary-active-color);
    }
}

.secondary {
    color: var(--action-button-inverted-secondary-base-color);

    & .iconWrapper {
        color: var(--action-button-inverted-secondary-base-icon-color);
        background-color: var(--action-button-inverted-secondary-base-bg-color);
    }

    &:hover .iconWrapper {
        background-color: var(--action-button-inverted-secondary-hover-color);
    }

    &:active .iconWrapper {
        background-color: var(--action-button-inverted-secondary-active-color);
    }
}
