@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

:root {
    /* primary */
    --action-button-static-primary-base-color: var(--color-static-text-primary);
    --action-button-static-primary-base-icon-color: var(
        --color-static-neutral-translucent-1300-inverted
    );
    --action-button-static-primary-base-bg-color: var(--color-static-accent-secondary);

    /* secondary */
    --action-button-static-secondary-base-color: var(--color-static-text-primary);
    --action-button-static-secondary-base-icon-color: var(--color-static-neutral-translucent-1300);
    --action-button-static-secondary-base-bg-color: var(--color-static-neutral-100);

    /* spinner */
    --action-button-spinner-static-primary-color: var(
        --color-static-neutral-translucent-1300-inverted
    );
    --action-button-spinner-static-secondary-color: var(--color-static-neutral-translucent-1300);

    /* disabled */
    --action-button-static-disabled-color: var(--color-static-text-tertiary);
    --action-button-static-disabled-icon-color: var(--color-static-neutral-500);
    --action-button-static-disabled-bg-color: var(--color-static-neutral-100);
}

.primary {
    color: var(--action-button-static-primary-base-color);

    & .iconWrapper {
        color: var(--action-button-static-primary-base-icon-color);
        background-color: var(--action-button-static-primary-base-bg-color);
    }

    & .loader {
        color: var(--action-button-spinner-static-primary-color);
    }
}

.secondary {
    color: var(--action-button-static-secondary-base-color);

    & .iconWrapper {
        color: var(--action-button-static-secondary-base-icon-color);
        background-color: var(--action-button-static-secondary-base-bg-color);
    }

    & .loader {
        color: var(--action-button-spinner-static-secondary-color);
    }
}

.disabled {
    color: var(--action-button-static-disabled-color);

    & .iconWrapper {
        color: var(--action-button-static-disabled-icon-color);
        background-color: var(--action-button-static-disabled-bg-color);
    }
}
