@import '../../vars/src/index.css';

.component {
    padding: var(--gap-xs) var(--gap-2xs);
    box-sizing: border-box;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.border {
    box-shadow: 0 1px 0 0 var(--color-light-neutral-300);
}

.mainLine {
    display: flex;
    background-color: inherit;
    justify-content: space-between;
    min-height: 40px;
    align-items: stretch;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.children {
    width: 100%;
}

.content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-flow: column nowrap;
    color: var(--color-light-text-primary);

    &.left {
        padding: 0 var(--gap-m);
    }

    & > .title,
    & > .subtitle {
        @mixin row_limit 1;
        word-break: break-all;
    }
}

.title {
    @mixin action_component_primary;

    &.left {
        @mixin headline-system-mobile_small;
    }
}

.subtitle {
    @mixin paragraph_primary_small;
    color: var(--color-light-text-secondary);
}

.addons {
    min-width: 48px;
    display: flex;
    justify-content: center;
}

.rightAddons {
    margin-left: auto;
}
