@import '../../vars.css';

.content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    z-index: 0;
    padding: var(--gap-32) var(--gap-32) var(--gap-20);

    &.withHeader {
        padding-top: var(--gap-0);
    }

    &.withFooter {
        padding-bottom: 0;
    }
}

.flex {
    flex: 1 1 auto;
}
