@define-mixin calendar-intranet {
    /* theme */
    --calendar-today-color: var(--color-light-accent-primary);
    --calendar-range-background: var(--color-light-neutral-translucent-200);
    --calendar-range-complete-background: var(--color-light-status-muted-negative);
    --calendar-selected-background: var(--color-light-accent-primary);
    --calendar-selected-hover-background: var(--color-light-accent-primary-hover);
    --calendar-select-button-selected-background: var(--color-light-accent-primary);
}
