@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../../../../calendar/src/vars.css';

.component {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    margin: var(--gap-0) var(--gap-8);

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--color-light-neutral-translucent-1300);
    }
}

.outer {
    position: relative;

    /* FormControl .above height + margin-bottom */
    top: var(--gap-24);
}

.s {
    height: var(--size-s-height);
}

.m {
    height: var(--size-m-height);
}

.l {
    height: var(--size-l-height);
}

.xl {
    height: var(--size-xl-height);
}
