@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

:root {
    --sys-message-title-font-family: var(--font-family-system);
}

.component {
    margin: var(--gap-0);
    text-align: center;
    color: var(--color-light-text-primary);
    font-family: var(--sys-message-title-font-family);
    font-feature-settings: 'ss01';
}
