@import '../vars.css';

.above {
    padding: var(--form-control-mobile-sub-paddings);
}

.sub {
    padding: var(--form-control-mobile-sub-paddings);
}

.error {
    padding: var(--form-control-mobile-sub-paddings);
}

/* SIZES */

.size-40 .inner {
    border-radius: var(--form-control-mobile-40-border-radius);

    &:before {
        left: 0;
    }
}

.size-48 .inner {
    border-radius: var(--form-control-mobile-s-border-radius);
}

.size-56 .inner {
    border-radius: var(--form-control-mobile-m-border-radius);
}

.size-64 .inner {
    border-radius: var(--form-control-mobile-l-border-radius);
}

.size-72 .inner {
    border-radius: var(--form-control-mobile-xl-border-radius);
}

.rightAddons {
    gap: var(--gap-12);
}
