@import '../vars.common.css';

.above {
    padding: var(--form-control-mobile-sub-paddings);
}

.sub {
    padding: var(--form-control-mobile-sub-paddings);
}

.error {
    padding: var(--form-control-mobile-sub-paddings);
}

/* SIZES */

.size-48 .inner {
    border-radius: var(--form-control-mobile-s-border-radius);
}

.size-56 .inner {
    border-radius: var(--form-control-mobile-m-border-radius);
}

.size-64 .inner {
    border-radius: var(--form-control-mobile-l-border-radius);
}

.size-72 .inner {
    border-radius: var(--form-control-mobile-xl-border-radius);
}
