:root {
    /* vars */
    --color-static-monochrome-white-2: rgba(255, 255, 255, 0.02);
    --color-static-monochrome-white-8: rgba(255, 255, 255, 0.08);
    --color-static-monochrome-white-10: rgba(255, 255, 255, 0.1);
    --color-static-neutral-translucent-100: rgba(38, 55, 88, 0.06);

    /* default */
    --tab-bar-island-background: var(--color-static-monochrome-white-10);
    --tab-bar-island-tab-tracker-background-color: var(--color-static-neutral-translucent-100);
    --tab-bar-island-border-color-from: var(--color-static-monochrome-white-2);
    --tab-bar-island-border-color-to: var(--color-static-monochrome-white-8);
}
