@import '@alfalab/core-components-vars/src/index.css';

:root {
    --tab-bar-island-tab-icon-size: 24px;
    --tab-bar-island-tab-min-size: 54px;
    --tab-bar-island-tab-default-size: 92px;
    --tab-bar-island-tab-max-size: 120px;
    --tab-bar-island-border-radius: 40px;
    --tab-bar-island-background: var(--color-light-modal-bg-primary);
    --tab-bar-island-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
    --tab-bar-island-tab-color: var(--color-light-text-secondary);
    --tab-bar-island-tab-active-color: var(--color-light-accent-secondary);
    --tab-bar-island-animation-time: 300ms;
}
