@import '@alfalab/core-components-vars/src/index.css';
@import '@alfalab/core-components-vars/src/shadows-superapp.css';
@import '@alfalab/core-components-vars/src/colors-monochrome.css';

:root {
    --tab-bar-island-tab-icon-size: 24px;
    --tab-bar-island-tab-min-size: 54px;
    --tab-bar-island-tab-default-size: 92px;
    --tab-bar-island-tab-max-size: 120px;
    --tab-bar-island-border-radius: 40px;
    --tab-bar-island-box-shadow: var(--shadow-promo);
    --tab-bar-island-backdrop-filter: blur(10px);
    --tab-bar-island-border-width: 1px;

    /* default */
    --tab-bar-island-tab-color: var(--color-light-text-secondary);
    --tab-bar-island-tab-active-color: var(--color-light-accent-secondary);
    --tab-bar-island-background: var(--color-static-monochrome-white-56);
    --tab-bar-island-tab-tracker-background-color: var(--color-static-neutral-translucent-200);
    --tab-bar-island-border-color-from: var(--color-static-monochrome-white-10);
    --tab-bar-island-border-color-to: var(--color-static-monochrome-white-48);

    /* inverted */
    --tab-bar-island-inverted-tab-color: var(--color-light-text-secondary-inverted);
    --tab-bar-island-inverted-tab-active-color: var(--color-light-accent-secondary-inverted);
    --tab-bar-island-inverted-background: var(--color-static-monochrome-white-10);
    --tab-bar-island-inverted-tab-tracker-background-color: var(
        --color-static-neutral-translucent-100
    );
    --tab-bar-island-inverted-border-color-from: var(--color-static-monochrome-white-2);
    --tab-bar-island-inverted-border-color-to: var(--color-static-monochrome-white-8);
}
