@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../../vars.css';

.component {
    @mixin action_component_secondary;

    border-radius: var(--border-radius-circle);
    width: var(--pass-code-button-width);
    height: var(--pass-code-button-height);

    justify-content: center;
    align-items: center;
    color: var(--color-light-text-primary);
    background: var(--color-light-transparent-default);

    @mixin hover {
        background-color: var(--color-light-transparent-default-hover);
    }

    &:active {
        background-color: var(--color-light-transparent-default-press);
    }
}
