@import '@alfalab/core-components-vars/src/index.css';

.field {
    & svg {
        width: 18px;
        height: 18px;
    }
}

.open,
.open:hover {
    background-color: var(--color-light-neutral-translucent-200-hover);
}
