@import '../vars.css';

.radioList {
    padding-left: var(--radio-group-list-padding-left);
}

.label {
    @mixin paragraph_primary_medium;
    color: var(--radio-group-label-color);
    padding-left: var(--radio-group-sub-padding-left);
}

.sub {
    padding-left: var(--radio-group-sub-padding-left);
}
