:root {
    --border-radius-xs: 2px; /* deprecated */
    --border-radius-s: 4px; /* deprecated */
    --border-radius-m: 8px; /* deprecated */
    --border-radius-l: 12px; /* deprecated */
    --border-radius-xl: 16px; /* deprecated */
    --border-radius-xxl: 20px; /* deprecated */
    --border-radius-3xl: 24px; /* deprecated */
    --border-radius-circle: 50%;
    --border-radius-pill: 99px;

    /* новые значения, используйте их */
    --border-radius-0: 0;
    --border-radius-2: var(--border-radius-xs);
    --border-radius-4: var(--border-radius-s);
    --border-radius-6: 6px;
    --border-radius-8: var(--border-radius-m);
    --border-radius-10: 10px;
    --border-radius-12: var(--border-radius-l);
    --border-radius-16: var(--border-radius-xl);
    --border-radius-20: var(--border-radius-xxl);
    --border-radius-24: var(--border-radius-3xl);
    --border-radius-32: 32px;
    --border-radius-36: 36px;
    --border-radius-64: 64px;
}
