:root {
    --color-static-monochrome-black-2: rgba(0, 0, 0, 0.02);
    --color-static-monochrome-black-4: rgba(0, 0, 0, 0.04);
    --color-static-monochrome-black-6: rgba(0, 0, 0, 0.06);
    --color-static-monochrome-black-8: rgba(0, 0, 0, 0.08);
    --color-static-monochrome-black-10: rgba(0, 0, 0, 0.1);
    --color-static-monochrome-black-12: rgba(0, 0, 0, 0.12);
    --color-static-monochrome-black-16: rgba(0, 0, 0, 0.16);
    --color-static-monochrome-black-20: rgba(0, 0, 0, 0.2);
    --color-static-monochrome-black-24: rgba(0, 0, 0, 0.24);
    --color-static-monochrome-black-32: rgba(0, 0, 0, 0.32);
    --color-static-monochrome-black-40: rgba(0, 0, 0, 0.4);
    --color-static-monochrome-black-44: rgba(0, 0, 0, 0.44);
    --color-static-monochrome-black-48: rgba(0, 0, 0, 0.48);
    --color-static-monochrome-black-56: rgba(0, 0, 0, 0.56);
    --color-static-monochrome-black-64: rgba(0, 0, 0, 0.64);
    --color-static-monochrome-black-72: rgba(0, 0, 0, 0.72);
    --color-static-monochrome-black-80: rgba(0, 0, 0, 0.8);
    --color-static-monochrome-black-88: rgba(0, 0, 0, 0.88);
    --color-static-monochrome-black-100: #000;
    --color-static-monochrome-white-2: rgba(255, 255, 255, 0.02);
    --color-static-monochrome-white-4: rgba(255, 255, 255, 0.04);
    --color-static-monochrome-white-6: rgba(255, 255, 255, 0.06);
    --color-static-monochrome-white-8: rgba(255, 255, 255, 0.08);
    --color-static-monochrome-white-10: rgba(255, 255, 255, 0.1);
    --color-static-monochrome-white-12: rgba(255, 255, 255, 0.12);
    --color-static-monochrome-white-16: rgba(255, 255, 255, 0.16);
    --color-static-monochrome-white-20: rgba(255, 255, 255, 0.2);
    --color-static-monochrome-white-24: rgba(255, 255, 255, 0.24);
    --color-static-monochrome-white-32: rgba(255, 255, 255, 0.32);
    --color-static-monochrome-white-40: rgba(255, 255, 255, 0.4);
    --color-static-monochrome-white-44: rgba(255, 255, 255, 0.44);
    --color-static-monochrome-white-48: rgba(255, 255, 255, 0.48);
    --color-static-monochrome-white-56: rgba(255, 255, 255, 0.56);
    --color-static-monochrome-white-64: rgba(255, 255, 255, 0.64);
    --color-static-monochrome-white-72: rgba(255, 255, 255, 0.72);
    --color-static-monochrome-white-80: rgba(255, 255, 255, 0.8);
    --color-static-monochrome-white-88: rgba(255, 255, 255, 0.88);
    --color-static-monochrome-white-100: #fff;
    --color-light-monochrome-black-2: rgba(0, 0, 0, 0.02);
    --color-light-monochrome-black-2-inverted: rgba(255, 255, 255, 0.02);
    --color-light-monochrome-black-4: rgba(0, 0, 0, 0.04);
    --color-light-monochrome-black-4-inverted: rgba(255, 255, 255, 0.04);
    --color-light-monochrome-black-6: rgba(0, 0, 0, 0.06);
    --color-light-monochrome-black-6-inverted: rgba(255, 255, 255, 0.06);
    --color-light-monochrome-black-8: rgba(0, 0, 0, 0.08);
    --color-light-monochrome-black-8-inverted: rgba(255, 255, 255, 0.08);
    --color-light-monochrome-black-10: rgba(0, 0, 0, 0.1);
    --color-light-monochrome-black-10-inverted: rgba(255, 255, 255, 0.1);
    --color-light-monochrome-black-12: rgba(0, 0, 0, 0.12);
    --color-light-monochrome-black-12-inverted: rgba(255, 255, 255, 0.12);
    --color-light-monochrome-black-16: rgba(0, 0, 0, 0.16);
    --color-light-monochrome-black-16-inverted: rgba(255, 255, 255, 0.16);
    --color-light-monochrome-black-20: rgba(0, 0, 0, 0.2);
    --color-light-monochrome-black-20-inverted: rgba(255, 255, 255, 0.2);
    --color-light-monochrome-black-24: rgba(0, 0, 0, 0.24);
    --color-light-monochrome-black-24-inverted: rgba(255, 255, 255, 0.24);
    --color-light-monochrome-black-32: rgba(0, 0, 0, 0.32);
    --color-light-monochrome-black-32-inverted: rgba(255, 255, 255, 0.32);
    --color-light-monochrome-black-40: rgba(0, 0, 0, 0.4);
    --color-light-monochrome-black-40-inverted: rgba(255, 255, 255, 0.4);
    --color-light-monochrome-black-44: rgba(0, 0, 0, 0.44);
    --color-light-monochrome-black-44-inverted: rgba(255, 255, 255, 0.44);
    --color-light-monochrome-black-48: rgba(0, 0, 0, 0.48);
    --color-light-monochrome-black-48-inverted: rgba(255, 255, 255, 0.48);
    --color-light-monochrome-black-56: rgba(0, 0, 0, 0.56);
    --color-light-monochrome-black-56-inverted: rgba(255, 255, 255, 0.56);
    --color-light-monochrome-black-64: rgba(0, 0, 0, 0.64);
    --color-light-monochrome-black-64-inverted: rgba(255, 255, 255, 0.64);
    --color-light-monochrome-black-72: rgba(0, 0, 0, 0.72);
    --color-light-monochrome-black-72-inverted: rgba(255, 255, 255, 0.72);
    --color-light-monochrome-black-80: rgba(0, 0, 0, 0.8);
    --color-light-monochrome-black-80-inverted: rgba(255, 255, 255, 0.8);
    --color-light-monochrome-black-88: rgba(0, 0, 0, 0.88);
    --color-light-monochrome-black-88-inverted: rgba(255, 255, 255, 0.88);
    --color-light-monochrome-black-100: #000;
    --color-light-monochrome-black-100-inverted: #fff;
    --color-light-monochrome-white-2: rgba(255, 255, 255, 0.02);
    --color-light-monochrome-white-2-inverted: rgba(0, 0, 0, 0.02);
    --color-light-monochrome-white-4: rgba(255, 255, 255, 0.04);
    --color-light-monochrome-white-4-inverted: rgba(0, 0, 0, 0.04);
    --color-light-monochrome-white-6: rgba(255, 255, 255, 0.06);
    --color-light-monochrome-white-6-inverted: rgba(0, 0, 0, 0.06);
    --color-light-monochrome-white-8: rgba(255, 255, 255, 0.08);
    --color-light-monochrome-white-8-inverted: rgba(0, 0, 0, 0.08);
    --color-light-monochrome-white-10: rgba(255, 255, 255, 0.1);
    --color-light-monochrome-white-10-inverted: rgba(0, 0, 0, 0.1);
    --color-light-monochrome-white-12: rgba(255, 255, 255, 0.12);
    --color-light-monochrome-white-12-inverted: rgba(0, 0, 0, 0.12);
    --color-light-monochrome-white-16: rgba(255, 255, 255, 0.16);
    --color-light-monochrome-white-16-inverted: rgba(0, 0, 0, 0.16);
    --color-light-monochrome-white-20: rgba(255, 255, 255, 0.2);
    --color-light-monochrome-white-20-inverted: rgba(0, 0, 0, 0.2);
    --color-light-monochrome-white-24: rgba(255, 255, 255, 0.24);
    --color-light-monochrome-white-24-inverted: rgba(0, 0, 0, 0.24);
    --color-light-monochrome-white-32: rgba(255, 255, 255, 0.32);
    --color-light-monochrome-white-32-inverted: rgba(0, 0, 0, 0.32);
    --color-light-monochrome-white-40: rgba(255, 255, 255, 0.4);
    --color-light-monochrome-white-40-inverted: rgba(0, 0, 0, 0.4);
    --color-light-monochrome-white-44: rgba(255, 255, 255, 0.44);
    --color-light-monochrome-white-44-inverted: rgba(0, 0, 0, 0.44);
    --color-light-monochrome-white-48: rgba(255, 255, 255, 0.48);
    --color-light-monochrome-white-48-inverted: rgba(0, 0, 0, 0.48);
    --color-light-monochrome-white-56: rgba(255, 255, 255, 0.56);
    --color-light-monochrome-white-56-inverted: rgba(0, 0, 0, 0.56);
    --color-light-monochrome-white-64: rgba(255, 255, 255, 0.64);
    --color-light-monochrome-white-64-inverted: rgba(0, 0, 0, 0.64);
    --color-light-monochrome-white-72: rgba(255, 255, 255, 0.72);
    --color-light-monochrome-white-72-inverted: rgba(0, 0, 0, 0.72);
    --color-light-monochrome-white-80: rgba(255, 255, 255, 0.8);
    --color-light-monochrome-white-80-inverted: rgba(0, 0, 0, 0.8);
    --color-light-monochrome-white-88: rgba(255, 255, 255, 0.88);
    --color-light-monochrome-white-88-inverted: rgba(0, 0, 0, 0.88);
    --color-light-monochrome-white-100: #fff;
    --color-light-monochrome-white-100-inverted: #000;
    --color-dark-monochrome-black-2: rgba(255, 255, 255, 0.02);
    --color-dark-monochrome-black-2-inverted: rgba(0, 0, 0, 0.02);
    --color-dark-monochrome-black-4: rgba(255, 255, 255, 0.04);
    --color-dark-monochrome-black-4-inverted: rgba(0, 0, 0, 0.04);
    --color-dark-monochrome-black-6: rgba(255, 255, 255, 0.06);
    --color-dark-monochrome-black-6-inverted: rgba(0, 0, 0, 0.06);
    --color-dark-monochrome-black-8: rgba(255, 255, 255, 0.08);
    --color-dark-monochrome-black-8-inverted: rgba(0, 0, 0, 0.08);
    --color-dark-monochrome-black-10: rgba(255, 255, 255, 0.1);
    --color-dark-monochrome-black-10-inverted: rgba(0, 0, 0, 0.1);
    --color-dark-monochrome-black-12: rgba(255, 255, 255, 0.12);
    --color-dark-monochrome-black-12-inverted: rgba(0, 0, 0, 0.12);
    --color-dark-monochrome-black-16: rgba(255, 255, 255, 0.16);
    --color-dark-monochrome-black-16-inverted: rgba(0, 0, 0, 0.16);
    --color-dark-monochrome-black-20: rgba(255, 255, 255, 0.2);
    --color-dark-monochrome-black-20-inverted: rgba(0, 0, 0, 0.2);
    --color-dark-monochrome-black-24: rgba(255, 255, 255, 0.24);
    --color-dark-monochrome-black-24-inverted: rgba(0, 0, 0, 0.24);
    --color-dark-monochrome-black-32: rgba(255, 255, 255, 0.32);
    --color-dark-monochrome-black-32-inverted: rgba(0, 0, 0, 0.32);
    --color-dark-monochrome-black-40: rgba(255, 255, 255, 0.4);
    --color-dark-monochrome-black-40-inverted: rgba(0, 0, 0, 0.4);
    --color-dark-monochrome-black-44: rgba(255, 255, 255, 0.44);
    --color-dark-monochrome-black-44-inverted: rgba(0, 0, 0, 0.44);
    --color-dark-monochrome-black-48: rgba(255, 255, 255, 0.48);
    --color-dark-monochrome-black-48-inverted: rgba(0, 0, 0, 0.48);
    --color-dark-monochrome-black-56: rgba(255, 255, 255, 0.56);
    --color-dark-monochrome-black-56-inverted: rgba(0, 0, 0, 0.56);
    --color-dark-monochrome-black-64: rgba(255, 255, 255, 0.64);
    --color-dark-monochrome-black-64-inverted: rgba(0, 0, 0, 0.64);
    --color-dark-monochrome-black-72: rgba(255, 255, 255, 0.72);
    --color-dark-monochrome-black-72-inverted: rgba(0, 0, 0, 0.72);
    --color-dark-monochrome-black-80: rgba(255, 255, 255, 0.8);
    --color-dark-monochrome-black-80-inverted: rgba(0, 0, 0, 0.8);
    --color-dark-monochrome-black-88: rgba(255, 255, 255, 0.88);
    --color-dark-monochrome-black-88-inverted: rgba(0, 0, 0, 0.88);
    --color-dark-monochrome-black-100: #fff;
    --color-dark-monochrome-black-100-inverted: #000;
    --color-dark-monochrome-white-2: rgba(0, 0, 0, 0.02);
    --color-dark-monochrome-white-2-inverted: rgba(255, 255, 255, 0.02);
    --color-dark-monochrome-white-4: rgba(0, 0, 0, 0.04);
    --color-dark-monochrome-white-4-inverted: rgba(255, 255, 255, 0.04);
    --color-dark-monochrome-white-6: rgba(0, 0, 0, 0.06);
    --color-dark-monochrome-white-6-inverted: rgba(255, 255, 255, 0.06);
    --color-dark-monochrome-white-8: rgba(0, 0, 0, 0.08);
    --color-dark-monochrome-white-8-inverted: rgba(255, 255, 255, 0.08);
    --color-dark-monochrome-white-10: rgba(0, 0, 0, 0.1);
    --color-dark-monochrome-white-10-inverted: rgba(255, 255, 255, 0.1);
    --color-dark-monochrome-white-12: rgba(0, 0, 0, 0.12);
    --color-dark-monochrome-white-12-inverted: rgba(255, 255, 255, 0.12);
    --color-dark-monochrome-white-16: rgba(0, 0, 0, 0.16);
    --color-dark-monochrome-white-16-inverted: rgba(255, 255, 255, 0.16);
    --color-dark-monochrome-white-20: rgba(0, 0, 0, 0.2);
    --color-dark-monochrome-white-20-inverted: rgba(255, 255, 255, 0.2);
    --color-dark-monochrome-white-24: rgba(0, 0, 0, 0.24);
    --color-dark-monochrome-white-24-inverted: rgba(255, 255, 255, 0.24);
    --color-dark-monochrome-white-32: rgba(0, 0, 0, 0.32);
    --color-dark-monochrome-white-32-inverted: rgba(255, 255, 255, 0.32);
    --color-dark-monochrome-white-40: rgba(0, 0, 0, 0.4);
    --color-dark-monochrome-white-40-inverted: rgba(255, 255, 255, 0.4);
    --color-dark-monochrome-white-44: rgba(0, 0, 0, 0.44);
    --color-dark-monochrome-white-44-inverted: rgba(255, 255, 255, 0.44);
    --color-dark-monochrome-white-48: rgba(0, 0, 0, 0.48);
    --color-dark-monochrome-white-48-inverted: rgba(255, 255, 255, 0.48);
    --color-dark-monochrome-white-56: rgba(0, 0, 0, 0.56);
    --color-dark-monochrome-white-56-inverted: rgba(255, 255, 255, 0.56);
    --color-dark-monochrome-white-64: rgba(0, 0, 0, 0.64);
    --color-dark-monochrome-white-64-inverted: rgba(255, 255, 255, 0.64);
    --color-dark-monochrome-white-72: rgba(0, 0, 0, 0.72);
    --color-dark-monochrome-white-72-inverted: rgba(255, 255, 255, 0.72);
    --color-dark-monochrome-white-80: rgba(0, 0, 0, 0.8);
    --color-dark-monochrome-white-80-inverted: rgba(255, 255, 255, 0.8);
    --color-dark-monochrome-white-88: rgba(0, 0, 0, 0.88);
    --color-dark-monochrome-white-88-inverted: rgba(255, 255, 255, 0.88);
    --color-dark-monochrome-white-100: #000;
    --color-dark-monochrome-white-100-inverted: #fff;
}
