:root {
    --color-dynamic-nulled: rgba(0, 0, 0, 0); /* deprecated */
    --color-dynamic-primary-dark: rgba(0, 0, 0, 0.8); /* deprecated */
    --color-dynamic-primary-light: rgba(255, 255, 255, 0.8); /* deprecated */
    --color-dynamic-quaternary-dark: rgba(0, 0, 0, 0.32); /* deprecated */
    --color-dynamic-quaternary-light: rgba(255, 255, 255, 0.32); /* deprecated */
    --color-dynamic-quinary-dark: rgba(0, 0, 0, 0.16); /* deprecated */
    --color-dynamic-quinary-light: rgba(255, 255, 255, 0.16); /* deprecated */
    --color-dynamic-secondary-dark: rgba(0, 0, 0, 0.64); /* deprecated */
    --color-dynamic-secondary-light: rgba(255, 255, 255, 0.64); /* deprecated */
    --color-dynamic-senary-dark: rgba(0, 0, 0, 0.12); /* deprecated */
    --color-dynamic-senary-light: rgba(255, 255, 255, 0.12); /* deprecated */
    --color-dynamic-tertiary-dark: rgba(0, 0, 0, 0.48); /* deprecated */
    --color-dynamic-tertiary-light: rgba(255, 255, 255, 0.48); /* deprecated */
    --color-static-nulled: rgba(0, 0, 0, 0); /* deprecated */
    --color-static-primary-dark: rgba(0, 0, 0, 0.8); /* deprecated */
    --color-static-primary-light: rgba(255, 255, 255, 0.8); /* deprecated */
    --color-static-quaternary-dark: rgba(0, 0, 0, 0.32); /* deprecated */
    --color-static-quaternary-light: rgba(255, 255, 255, 0.32); /* deprecated */
    --color-static-quinary-dark: rgba(0, 0, 0, 0.16); /* deprecated */
    --color-static-quinary-light: rgba(255, 255, 255, 0.16); /* deprecated */
    --color-static-secondary-dark: rgba(0, 0, 0, 0.64); /* deprecated */
    --color-static-secondary-light: rgba(255, 255, 255, 0.64); /* deprecated */
    --color-static-senary-dark: rgba(0, 0, 0, 0.12); /* deprecated */
    --color-static-senary-light: rgba(255, 255, 255, 0.12); /* deprecated */
    --color-static-tertiary-dark: rgba(0, 0, 0, 0.48); /* deprecated */
    --color-static-tertiary-light: rgba(255, 255, 255, 0.48); /* deprecated */
}
