:root {
    --color-dark-qualitative-duocolor-set-a-1: #17d055;
    --color-dark-qualitative-duocolor-set-a-2: #ff5431;
    --color-dark-qualitative-duocolor-set-b-1: #17d055;
    --color-dark-qualitative-duocolor-set-b-2: #fda136;
    --color-dark-qualitative-duocolor-set-c-1: #61a5fd;
    --color-dark-qualitative-duocolor-set-c-2: #fda136;
    --color-dark-qualitative-duocolor-set-d-1: #95c535;
    --color-dark-qualitative-duocolor-set-d-2: #9b96f9;
    --color-dark-qualitative-duocolor-set-e-1: #0cb5b7;
    --color-dark-qualitative-duocolor-set-e-2: #fda136;
    --color-dark-qualitative-duocolor-set-f-1: #fede13;
    --color-dark-qualitative-duocolor-set-f-2: #9b96f9;
    --color-dark-qualitative-duocolor-set-g-1: #95c535;
    --color-dark-qualitative-duocolor-set-g-2: #ce83ea;
    --color-dark-qualitative-flexible-1: #95c535;
    --color-dark-qualitative-flexible-10: #8b7ef5;
    --color-dark-qualitative-flexible-11: #5ecc73;
    --color-dark-qualitative-flexible-12: #1597c4;
    --color-dark-qualitative-flexible-13: #fede13;
    --color-dark-qualitative-flexible-14: #f371c9;
    --color-dark-qualitative-flexible-2: #478cf2;
    --color-dark-qualitative-flexible-3: #fd6544;
    --color-dark-qualitative-flexible-4: #01a374;
    --color-dark-qualitative-flexible-5: #fda136;
    --color-dark-qualitative-flexible-6: #c065df;
    --color-dark-qualitative-flexible-7: #fb93b2;
    --color-dark-qualitative-flexible-8: #14a741;
    --color-dark-qualitative-flexible-9: #70dcdf;
    --color-dark-qualitative-monocolor-blue: #61a5fd;
    --color-dark-qualitative-monocolor-green: #17d055;
    --color-dark-qualitative-monocolor-indigo: #9b96f9;
    --color-dark-qualitative-monocolor-magenta: #fb739c;
    --color-dark-qualitative-monocolor-orange: #fda136;
    --color-dark-qualitative-monocolor-pistachio: #95c535;
    --color-dark-qualitative-monocolor-red: #ff5431;
    --color-dark-qualitative-monocolor-teal: #0cb5b7;
    --color-dark-qualitative-monocolor-yellow: #fede13;
    --color-dark-qualitative-tetracolor-set-a-1: #1597c4;
    --color-dark-qualitative-tetracolor-set-a-2: #42cca4;
    --color-dark-qualitative-tetracolor-set-a-3: #c065df;
    --color-dark-qualitative-tetracolor-set-a-4: #fede13;
    --color-dark-qualitative-tetracolor-set-b-1: #8b7ef5;
    --color-dark-qualitative-tetracolor-set-b-2: #42cca4;
    --color-dark-qualitative-tetracolor-set-b-3: #1597c4;
    --color-dark-qualitative-tetracolor-set-b-4: #fda136;
    --color-dark-qualitative-tetracolor-set-c-1: #c065df;
    --color-dark-qualitative-tetracolor-set-c-2: #42cca4;
    --color-dark-qualitative-tetracolor-set-c-3: #fede13;
    --color-dark-qualitative-tetracolor-set-c-4: #ff5431;
    --color-dark-qualitative-tricolor-set-a-1: #95c535;
    --color-dark-qualitative-tricolor-set-a-2: #9b96f9;
    --color-dark-qualitative-tricolor-set-a-3: #fede13;
    --color-dark-qualitative-tricolor-set-b-1: #42cca4;
    --color-dark-qualitative-tricolor-set-b-2: #ce83ea;
    --color-dark-qualitative-tricolor-set-b-3: #fda136;
    --color-dark-qualitative-tricolor-set-c-1: #ff5431;
    --color-dark-qualitative-tricolor-set-c-2: #0cb5b7;
    --color-dark-qualitative-tricolor-set-c-3: #fda136;
    --color-dark-qualitative-tricolor-set-d-1: #95c535;
    --color-dark-qualitative-tricolor-set-d-2: #61a5fd;
    --color-dark-qualitative-tricolor-set-d-3: #ff5431;
    --color-dark-qualitative-tricolor-set-e-1: #fda136;
    --color-dark-qualitative-tricolor-set-e-2: #61a5fd;
    --color-dark-qualitative-tricolor-set-e-3: #fede13;
    --color-light-qualitative-duocolor-set-a-1: #0cc44d;
    --color-light-qualitative-duocolor-set-a-2: #ff5431;
    --color-light-qualitative-duocolor-set-b-1: #0cc44d;
    --color-light-qualitative-duocolor-set-b-2: #fda136;
    --color-light-qualitative-duocolor-set-c-1: #478cf2;
    --color-light-qualitative-duocolor-set-c-2: #fda136;
    --color-light-qualitative-duocolor-set-d-1: #95c535;
    --color-light-qualitative-duocolor-set-d-2: #8b7ef5;
    --color-light-qualitative-duocolor-set-e-1: #019f9c;
    --color-light-qualitative-duocolor-set-e-2: #fda136;
    --color-light-qualitative-duocolor-set-f-1: #f6d411;
    --color-light-qualitative-duocolor-set-f-2: #8b7ef5;
    --color-light-qualitative-duocolor-set-g-1: #95c535;
    --color-light-qualitative-duocolor-set-g-2: #c065df;
    --color-light-qualitative-flexible-1: #95c535;
    --color-light-qualitative-flexible-10: #7f66e0;
    --color-light-qualitative-flexible-11: #31ba52;
    --color-light-qualitative-flexible-12: #0084a9;
    --color-light-qualitative-flexible-13: #f6d411;
    --color-light-qualitative-flexible-14: #e552bc;
    --color-light-qualitative-flexible-2: #3f76e0;
    --color-light-qualitative-flexible-3: #fd6544;
    --color-light-qualitative-flexible-4: #008d66;
    --color-light-qualitative-flexible-5: #fa9313;
    --color-light-qualitative-flexible-6: #ae4dc7;
    --color-light-qualitative-flexible-7: #fb739c;
    --color-light-qualitative-flexible-8: #058f33;
    --color-light-qualitative-flexible-9: #3fc9cb;
    --color-light-qualitative-monocolor-blue: #478cf2;
    --color-light-qualitative-monocolor-green: #0cc44d;
    --color-light-qualitative-monocolor-indigo: #8b7ef5;
    --color-light-qualitative-monocolor-magenta: #f15287;
    --color-light-qualitative-monocolor-orange: #fda136;
    --color-light-qualitative-monocolor-pistachio: #95c535;
    --color-light-qualitative-monocolor-red: #ff5431;
    --color-light-qualitative-monocolor-teal: #019f9c;
    --color-light-qualitative-monocolor-yellow: #f6d411;
    --color-light-qualitative-tetracolor-set-a-1: #0084a9;
    --color-light-qualitative-tetracolor-set-a-2: #14b88c;
    --color-light-qualitative-tetracolor-set-a-3: #ae4dc7;
    --color-light-qualitative-tetracolor-set-a-4: #f6d411;
    --color-light-qualitative-tetracolor-set-b-1: #7f66e0;
    --color-light-qualitative-tetracolor-set-b-2: #14b88c;
    --color-light-qualitative-tetracolor-set-b-3: #0084a9;
    --color-light-qualitative-tetracolor-set-b-4: #fda136;
    --color-light-qualitative-tetracolor-set-c-1: #ae4dc7;
    --color-light-qualitative-tetracolor-set-c-2: #14b88c;
    --color-light-qualitative-tetracolor-set-c-3: #f6d411;
    --color-light-qualitative-tetracolor-set-c-4: #ff5431;
    --color-light-qualitative-tricolor-set-a-1: #95c535;
    --color-light-qualitative-tricolor-set-a-2: #8b7ef5;
    --color-light-qualitative-tricolor-set-a-3: #f6d411;
    --color-light-qualitative-tricolor-set-b-1: #14b88c;
    --color-light-qualitative-tricolor-set-b-2: #c065df;
    --color-light-qualitative-tricolor-set-b-3: #fda136;
    --color-light-qualitative-tricolor-set-c-1: #ff5431;
    --color-light-qualitative-tricolor-set-c-2: #019f9c;
    --color-light-qualitative-tricolor-set-c-3: #fda136;
    --color-light-qualitative-tricolor-set-d-1: #95c535;
    --color-light-qualitative-tricolor-set-d-2: #478cf2;
    --color-light-qualitative-tricolor-set-d-3: #ff5431;
    --color-light-qualitative-tricolor-set-e-1: #fda136;
    --color-light-qualitative-tricolor-set-e-2: #478cf2;
    --color-light-qualitative-tricolor-set-e-3: #f6d411;
}
