:root {
    --color-static-pfm-custom-blue: #5ea5fb;
    --color-static-pfm-custom-cyan: #0eafdc;
    --color-static-pfm-custom-indigo: #909af4;
    --color-static-pfm-custom-jungle: #22b888;
    --color-static-pfm-custom-magenta: #f979a4;
    --color-static-pfm-custom-orange: #fda134;
    --color-static-pfm-custom-pistachio: #84b219;
    --color-static-pfm-custom-purple: #b091ee;
    --color-static-pfm-custom-red: #ff6441;
    --color-static-pfm-custom-yellow: #f6d400;
    --color-static-pfm-system-alcohol: #fda134;
    --color-static-pfm-system-animals: #618805;
    --color-static-pfm-system-auto: #01a374;
    --color-static-pfm-system-beauty: #fb9ab6;
    --color-static-pfm-system-benefits: #dc58c9;
    --color-static-pfm-system-bonus: #6f6bdf;
    --color-static-pfm-system-books: #c4abf5;
    --color-static-pfm-system-business: #0098c2;
    --color-static-pfm-system-business-trip-payment: #4ec1eb;
    --color-static-pfm-system-c2c-transfer: #3776e3;
    --color-static-pfm-system-cafe-restaurants: #739f0c;
    --color-static-pfm-system-cash-deposit: #5fcc72;
    --color-static-pfm-system-cash-withdrawal: #6f6bdf;
    --color-static-pfm-system-cashback: #fd5633;
    --color-static-pfm-system-charity: #dc58c9;
    --color-static-pfm-system-clothes-shoes: #049e99;
    --color-static-pfm-system-construction-repair: #088783;
    --color-static-pfm-system-credit: #fd5633;
    --color-static-pfm-system-digital-goods: #4ec1eb;
    --color-static-pfm-system-dont-remember: #d73b78;
    --color-static-pfm-system-education: #098d62;
    --color-static-pfm-system-electronics: #049e99;
    --color-static-pfm-system-entertainments: #8e60d6;
    --color-static-pfm-system-expenses-return-payment: #739f0c;
    --color-static-pfm-system-family: #f399e3;
    --color-static-pfm-system-fastfood: #9f79e5;
    --color-static-pfm-system-fines-taxes: #7d83ee;
    --color-static-pfm-system-flowers: #f6d400;
    --color-static-pfm-system-fuel-station: #ee8515;
    --color-static-pfm-system-health: #48c9c5;
    --color-static-pfm-system-hobby: #ed558e;
    --color-static-pfm-system-home-repair: #47cc9b;
    --color-static-pfm-system-internet-tv: #0eafdc;
    --color-static-pfm-system-investment: #9f79e5;
    --color-static-pfm-system-jewelry: #fb9ab6;
    --color-static-pfm-system-mortgage: #ff7958;
    --color-static-pfm-system-other: #9fa0a8;
    --color-static-pfm-system-other-expenses: #a8b2f8;
    --color-static-pfm-system-other-income: #97c537;
    --color-static-pfm-system-privileges: #5f5f66;
    --color-static-pfm-system-public-transport: #3776e3;
    --color-static-pfm-system-refill: #31ba52;
    --color-static-pfm-system-rent-auto: #01a374;
    --color-static-pfm-system-safe-box: #01a374;
    --color-static-pfm-system-salary: #14a741;
    --color-static-pfm-system-sport-goods: #c4abf5;
    --color-static-pfm-system-supermarkets: #97c537;
    --color-static-pfm-system-taxi: #f6d400;
    --color-static-pfm-system-tobacco: #fb9517;
    --color-static-pfm-system-transactions: #5ea5fb;
    --color-static-pfm-system-transfers: #5ea5fb;
    --color-static-pfm-system-transport: #3776e3;
    --color-static-pfm-system-travel: #f6d400;
    --color-static-pfm-system-user-other-expenses: #a8b2f8;
    --color-static-pfm-system-utilities: #83b8f9;
    --color-static-pfm-system-vacation-payment: #f6d400;
}
