:root {
    --color-dark-decorative-blue: #4a9dfc;
    --color-dark-decorative-blue-hover: #63aafd;
    --color-dark-decorative-blue-inverted: #3193fc;
    --color-dark-decorative-blue-inverted-hover: #2285f5;
    --color-dark-decorative-blue-inverted-press: #2a77ef;
    --color-dark-decorative-blue-press: #7fb6ff;
    --color-dark-decorative-cyan: #0bbef3;
    --color-dark-decorative-cyan-hover: #3fcdfe;
    --color-dark-decorative-cyan-inverted: #0bb1e7;
    --color-dark-decorative-cyan-inverted-hover: #03a3d5;
    --color-dark-decorative-cyan-inverted-press: #0496c6;
    --color-dark-decorative-cyan-press: #72d7fe;
    --color-dark-decorative-fuchsia: #fc71d4;
    --color-dark-decorative-fuchsia-hover: #fd89e2;
    --color-dark-decorative-fuchsia-inverted: #f859c5;
    --color-dark-decorative-fuchsia-inverted-hover: #f046bc;
    --color-dark-decorative-fuchsia-inverted-press: #e836a6;
    --color-dark-decorative-fuchsia-press: #ff9ee6;
    --color-dark-decorative-green: #17d055;
    --color-dark-decorative-green-hover: #22e068;
    --color-dark-decorative-green-inverted: #0cc44d;
    --color-dark-decorative-green-inverted-hover: #04b545;
    --color-dark-decorative-green-inverted-press: #01a53d;
    --color-dark-decorative-green-press: #4ae777;
    --color-dark-decorative-indigo: #998bff;
    --color-dark-decorative-indigo-hover: #a49bff;
    --color-dark-decorative-indigo-inverted: #897eff;
    --color-dark-decorative-indigo-inverted-hover: #7a63f1;
    --color-dark-decorative-indigo-inverted-press: #6e52d7;
    --color-dark-decorative-indigo-press: #b3aaff;
    --color-dark-decorative-jungle: #02cea2;
    --color-dark-decorative-jungle-hover: #15d9ac;
    --color-dark-decorative-jungle-inverted: #0abe94;
    --color-dark-decorative-jungle-inverted-hover: #04ae87;
    --color-dark-decorative-jungle-inverted-press: #0da07f;
    --color-dark-decorative-jungle-press: #4ae4ba;
    --color-dark-decorative-magenta: #ff72a2;
    --color-dark-decorative-magenta-hover: #fe8db0;
    --color-dark-decorative-magenta-inverted: #ff5494;
    --color-dark-decorative-magenta-inverted-hover: #fc3c8b;
    --color-dark-decorative-magenta-inverted-press: #f32a7d;
    --color-dark-decorative-magenta-press: #ffa1bc;
    --color-dark-decorative-muted-alt-blue: #293044;
    --color-dark-decorative-muted-alt-blue-hover: #2f3a55;
    --color-dark-decorative-muted-alt-blue-inverted: #d8eaff;
    --color-dark-decorative-muted-alt-blue-inverted-hover: #c1dbf7;
    --color-dark-decorative-muted-alt-blue-inverted-press: #a7cbf2;
    --color-dark-decorative-muted-alt-blue-press: #38476c;
    --color-dark-decorative-muted-alt-cyan: #1d3442;
    --color-dark-decorative-muted-alt-cyan-hover: #1e3e51;
    --color-dark-decorative-muted-alt-cyan-inverted: #cceefc;
    --color-dark-decorative-muted-alt-cyan-inverted-hover: #b2e0f3;
    --color-dark-decorative-muted-alt-cyan-inverted-press: #93d3ef;
    --color-dark-decorative-muted-alt-cyan-press: #1e4b63;
    --color-dark-decorative-muted-alt-fuchsia: #402837;
    --color-dark-decorative-muted-alt-fuchsia-hover: #532f45;
    --color-dark-decorative-muted-alt-fuchsia-inverted: #f8dff4;
    --color-dark-decorative-muted-alt-fuchsia-inverted-hover: #f1cde8;
    --color-dark-decorative-muted-alt-fuchsia-inverted-press: #ebb7d9;
    --color-dark-decorative-muted-alt-fuchsia-press: #673756;
    --color-dark-decorative-muted-alt-green: #253528;
    --color-dark-decorative-muted-alt-green-hover: #273f2d;
    --color-dark-decorative-muted-alt-green-inverted: #d1f1d7;
    --color-dark-decorative-muted-alt-green-inverted-hover: #bbe8c3;
    --color-dark-decorative-muted-alt-green-inverted-press: #a1dba8;
    --color-dark-decorative-muted-alt-green-press: #2d4e33;
    --color-dark-decorative-muted-alt-indigo: #332d42;
    --color-dark-decorative-muted-alt-indigo-hover: #403655;
    --color-dark-decorative-muted-alt-indigo-inverted: #e3e6fe;
    --color-dark-decorative-muted-alt-indigo-inverted-hover: #d0d6f7;
    --color-dark-decorative-muted-alt-indigo-inverted-press: #c0c3f0;
    --color-dark-decorative-muted-alt-indigo-press: #4d406a;
    --color-dark-decorative-muted-alt-jungle: #1e3631;
    --color-dark-decorative-muted-alt-jungle-hover: #1c4139;
    --color-dark-decorative-muted-alt-jungle-inverted: #c9f2e6;
    --color-dark-decorative-muted-alt-jungle-inverted-hover: #ade7d4;
    --color-dark-decorative-muted-alt-jungle-inverted-press: #90dcc1;
    --color-dark-decorative-muted-alt-jungle-press: #1c4f44;
    --color-dark-decorative-muted-alt-magenta: #46282d;
    --color-dark-decorative-muted-alt-magenta-hover: #582d37;
    --color-dark-decorative-muted-alt-magenta-inverted: #fedfe6;
    --color-dark-decorative-muted-alt-magenta-inverted-hover: #f7cddb;
    --color-dark-decorative-muted-alt-magenta-inverted-press: #f4b6c5;
    --color-dark-decorative-muted-alt-magenta-press: #6d3542;
    --color-dark-decorative-muted-alt-orange: #412f22;
    --color-dark-decorative-muted-alt-orange-hover: #543a27;
    --color-dark-decorative-muted-alt-orange-inverted: #fde6c8;
    --color-dark-decorative-muted-alt-orange-inverted-hover: #f6d7af;
    --color-dark-decorative-muted-alt-orange-inverted-press: #f0c492;
    --color-dark-decorative-muted-alt-orange-press: #6a462c;
    --color-dark-decorative-muted-alt-pistachio: #2d3322;
    --color-dark-decorative-muted-alt-pistachio-hover: #353d21;
    --color-dark-decorative-muted-alt-pistachio-inverted: #e0efc8;
    --color-dark-decorative-muted-alt-pistachio-inverted-hover: #cfe3ad;
    --color-dark-decorative-muted-alt-pistachio-inverted-press: #bdd692;
    --color-dark-decorative-muted-alt-pistachio-press: #404b24;
    --color-dark-decorative-muted-alt-purple: #3d2a3e;
    --color-dark-decorative-muted-alt-purple-hover: #4c304d;
    --color-dark-decorative-muted-alt-purple-inverted: #f1e2fc;
    --color-dark-decorative-muted-alt-purple-inverted-hover: #e4d0f3;
    --color-dark-decorative-muted-alt-purple-inverted-press: #d9bbe9;
    --color-dark-decorative-muted-alt-purple-press: #5d3a61;
    --color-dark-decorative-muted-alt-red: #442926;
    --color-dark-decorative-muted-alt-red-inverted: #ffdfdf;
    --color-dark-decorative-muted-alt-teal: #1b353a;
    --color-dark-decorative-muted-alt-teal-hover: #1b4045;
    --color-dark-decorative-muted-alt-teal-inverted: #c8f1f3;
    --color-dark-decorative-muted-alt-teal-inverted-hover: #a9e5e5;
    --color-dark-decorative-muted-alt-teal-inverted-press: #85dadb;
    --color-dark-decorative-muted-alt-teal-press: #1c4e52;
    --color-dark-decorative-muted-alt-yellow: #3d3320;
    --color-dark-decorative-muted-alt-yellow-inverted: #f7eac1;
    --color-dark-decorative-muted-blue: #222a3e;
    --color-dark-decorative-muted-blue-hover: #293044;
    --color-dark-decorative-muted-blue-inverted: #e4f0ff;
    --color-dark-decorative-muted-blue-inverted-hover: #d8eaff;
    --color-dark-decorative-muted-blue-inverted-press: #c1dbf7;
    --color-dark-decorative-muted-blue-press: #2f3a55;
    --color-dark-decorative-muted-cyan: #1e2c37;
    --color-dark-decorative-muted-cyan-hover: #1d3442;
    --color-dark-decorative-muted-cyan-inverted: #def5ff;
    --color-dark-decorative-muted-cyan-inverted-hover: #cceefc;
    --color-dark-decorative-muted-cyan-inverted-press: #b2e0f3;
    --color-dark-decorative-muted-cyan-press: #1e3e51;
    --color-dark-decorative-muted-fuchsia: #36242e;
    --color-dark-decorative-muted-fuchsia-hover: #402837;
    --color-dark-decorative-muted-fuchsia-inverted: #fceafa;
    --color-dark-decorative-muted-fuchsia-inverted-hover: #f8dff4;
    --color-dark-decorative-muted-fuchsia-inverted-press: #f1cde8;
    --color-dark-decorative-muted-fuchsia-press: #532f45;
    --color-dark-decorative-muted-green: #232d25;
    --color-dark-decorative-muted-green-hover: #253528;
    --color-dark-decorative-muted-green-inverted: #dff8e5;
    --color-dark-decorative-muted-green-inverted-hover: #d1f1d7;
    --color-dark-decorative-muted-green-inverted-press: #bbe8c3;
    --color-dark-decorative-muted-green-press: #273f2d;
    --color-dark-decorative-muted-indigo: #2b2736;
    --color-dark-decorative-muted-indigo-hover: #332d42;
    --color-dark-decorative-muted-indigo-inverted: #eeedff;
    --color-dark-decorative-muted-indigo-inverted-hover: #e3e6fe;
    --color-dark-decorative-muted-indigo-inverted-press: #d0d6f7;
    --color-dark-decorative-muted-indigo-press: #403655;
    --color-dark-decorative-muted-jungle: #1f2e2a;
    --color-dark-decorative-muted-jungle-hover: #1e3631;
    --color-dark-decorative-muted-jungle-inverted: #dafaef;
    --color-dark-decorative-muted-jungle-inverted-hover: #c9f2e6;
    --color-dark-decorative-muted-jungle-inverted-press: #ade7d4;
    --color-dark-decorative-muted-jungle-press: #1c4139;
    --color-dark-decorative-muted-magenta: #382326;
    --color-dark-decorative-muted-magenta-hover: #46282d;
    --color-dark-decorative-muted-magenta-inverted: #ffeaee;
    --color-dark-decorative-muted-magenta-inverted-hover: #fedfe6;
    --color-dark-decorative-muted-magenta-inverted-press: #f7cddb;
    --color-dark-decorative-muted-magenta-press: #582d37;
    --color-dark-decorative-muted-orange: #36291f;
    --color-dark-decorative-muted-orange-hover: #412f22;
    --color-dark-decorative-muted-orange-inverted: #ffefd9;
    --color-dark-decorative-muted-orange-inverted-hover: #fde6c8;
    --color-dark-decorative-muted-orange-inverted-press: #f6d7af;
    --color-dark-decorative-muted-orange-press: #543a27;
    --color-dark-decorative-muted-pistachio: #2a2d21;
    --color-dark-decorative-muted-pistachio-hover: #2d3322;
    --color-dark-decorative-muted-pistachio-inverted: #e9f7d9;
    --color-dark-decorative-muted-pistachio-inverted-hover: #e0efc8;
    --color-dark-decorative-muted-pistachio-inverted-press: #cfe3ad;
    --color-dark-decorative-muted-pistachio-press: #353d21;
    --color-dark-decorative-muted-purple: #332633;
    --color-dark-decorative-muted-purple-hover: #3d2a3e;
    --color-dark-decorative-muted-purple-inverted: #f9ebfe;
    --color-dark-decorative-muted-purple-inverted-hover: #f1e2fc;
    --color-dark-decorative-muted-purple-inverted-press: #e4d0f3;
    --color-dark-decorative-muted-purple-press: #4c304d;
    --color-dark-decorative-muted-red: #392523;
    --color-dark-decorative-muted-red-inverted: #ffebeb;
    --color-dark-decorative-muted-teal: #1d2d31;
    --color-dark-decorative-muted-teal-hover: #1b353a;
    --color-dark-decorative-muted-teal-inverted: #daf7f8;
    --color-dark-decorative-muted-teal-inverted-hover: #c8f1f3;
    --color-dark-decorative-muted-teal-inverted-press: #a9e5e5;
    --color-dark-decorative-muted-teal-press: #1b4045;
    --color-dark-decorative-muted-yellow: #332b1c;
    --color-dark-decorative-muted-yellow-inverted: #fbf2d3;
    --color-dark-decorative-orange: #fda136;
    --color-dark-decorative-orange-hover: #fdb24d;
    --color-dark-decorative-orange-inverted: #fa9313;
    --color-dark-decorative-orange-inverted-hover: #f18d0b;
    --color-dark-decorative-orange-inverted-press: #ea8313;
    --color-dark-decorative-orange-press: #ffbf70;
    --color-dark-decorative-pistachio: #8bcb06;
    --color-dark-decorative-pistachio-hover: #99d827;
    --color-dark-decorative-pistachio-inverted: #80c002;
    --color-dark-decorative-pistachio-inverted-hover: #79b20f;
    --color-dark-decorative-pistachio-inverted-press: #6a9e02;
    --color-dark-decorative-pistachio-press: #a6e141;
    --color-dark-decorative-purple: #d884fe;
    --color-dark-decorative-purple-hover: #de98ff;
    --color-dark-decorative-purple-inverted: #d46dfa;
    --color-dark-decorative-purple-inverted-hover: #ce59fa;
    --color-dark-decorative-purple-inverted-press: #c746ef;
    --color-dark-decorative-purple-press: #e2a9fb;
    --color-dark-decorative-red: #ff755e;
    --color-dark-decorative-red-inverted: #fe5e48;
    --color-dark-decorative-soft-blue: #82b5f6;
    --color-dark-decorative-soft-blue-hover: #96c1fa;
    --color-dark-decorative-soft-blue-inverted: #abceff;
    --color-dark-decorative-soft-blue-inverted-hover: #96c1fa;
    --color-dark-decorative-soft-blue-inverted-press: #82b5f6;
    --color-dark-decorative-soft-blue-press: #abceff;
    --color-dark-decorative-soft-cyan: #5ebee1;
    --color-dark-decorative-soft-cyan-hover: #72c9eb;
    --color-dark-decorative-soft-cyan-inverted: #8ad4f3;
    --color-dark-decorative-soft-cyan-inverted-hover: #72c9eb;
    --color-dark-decorative-soft-cyan-inverted-press: #5ebee1;
    --color-dark-decorative-soft-cyan-press: #8ad4f3;
    --color-dark-decorative-soft-fuchsia: #f68ed3;
    --color-dark-decorative-soft-fuchsia-hover: #faa1dd;
    --color-dark-decorative-soft-fuchsia-inverted: #fdb1e4;
    --color-dark-decorative-soft-fuchsia-inverted-hover: #faa1dd;
    --color-dark-decorative-soft-fuchsia-inverted-press: #f68ed3;
    --color-dark-decorative-soft-fuchsia-press: #fdb1e4;
    --color-dark-decorative-soft-green: #6aca7a;
    --color-dark-decorative-soft-green-hover: #7bd68c;
    --color-dark-decorative-soft-green-inverted: #8ee29c;
    --color-dark-decorative-soft-green-inverted-hover: #7bd68c;
    --color-dark-decorative-soft-green-inverted-press: #6aca7a;
    --color-dark-decorative-soft-green-press: #8ee29c;
    --color-dark-decorative-soft-indigo: #a7a7f7;
    --color-dark-decorative-soft-indigo-hover: #aeb5fb;
    --color-dark-decorative-soft-indigo-inverted: #bfc4fe;
    --color-dark-decorative-soft-indigo-inverted-hover: #aeb5fb;
    --color-dark-decorative-soft-indigo-inverted-press: #a7a7f7;
    --color-dark-decorative-soft-indigo-press: #bfc4fe;
    --color-dark-decorative-soft-jungle: #53c9a4;
    --color-dark-decorative-soft-jungle-hover: #68d5b3;
    --color-dark-decorative-soft-jungle-inverted: #7de1c0;
    --color-dark-decorative-soft-jungle-inverted-hover: #68d5b3;
    --color-dark-decorative-soft-jungle-inverted-press: #53c9a4;
    --color-dark-decorative-soft-jungle-press: #7de1c0;
    --color-dark-decorative-soft-magenta: #fc8fb0;
    --color-dark-decorative-soft-magenta-hover: #fba1bb;
    --color-dark-decorative-soft-magenta-inverted: #fcb2c6;
    --color-dark-decorative-soft-magenta-inverted-hover: #fba1bb;
    --color-dark-decorative-soft-magenta-inverted-press: #fc8fb0;
    --color-dark-decorative-soft-magenta-press: #fcb2c6;
    --color-dark-decorative-soft-orange: #f6a850;
    --color-dark-decorative-soft-orange-hover: #f9b562;
    --color-dark-decorative-soft-orange-inverted: #fdc17a;
    --color-dark-decorative-soft-orange-inverted-hover: #f9b562;
    --color-dark-decorative-soft-orange-inverted-press: #f6a850;
    --color-dark-decorative-soft-orange-press: #fdc17a;
    --color-dark-decorative-soft-pistachio: #9cc350;
    --color-dark-decorative-soft-pistachio-hover: #a7cf62;
    --color-dark-decorative-soft-pistachio-inverted: #b6db76;
    --color-dark-decorative-soft-pistachio-inverted-hover: #a7cf62;
    --color-dark-decorative-soft-pistachio-inverted-press: #9cc350;
    --color-dark-decorative-soft-pistachio-press: #b6db76;
    --color-dark-decorative-soft-purple: #d899f0;
    --color-dark-decorative-soft-purple-hover: #ddadf7;
    --color-dark-decorative-soft-purple-inverted: #e5bcfa;
    --color-dark-decorative-soft-purple-inverted-hover: #ddadf7;
    --color-dark-decorative-soft-purple-inverted-press: #d899f0;
    --color-dark-decorative-soft-purple-press: #e5bcfa;
    --color-dark-decorative-soft-red: #fc8e7b;
    --color-dark-decorative-soft-red-inverted: #fcb1a7;
    --color-dark-decorative-soft-teal: #4ac5c7;
    --color-dark-decorative-soft-teal-hover: #5cd2d5;
    --color-dark-decorative-soft-teal-inverted: #75dddf;
    --color-dark-decorative-soft-teal-inverted-hover: #5cd2d5;
    --color-dark-decorative-soft-teal-inverted-press: #4ac5c7;
    --color-dark-decorative-soft-teal-press: #75dddf;
    --color-dark-decorative-soft-yellow: #edc521;
    --color-dark-decorative-soft-yellow-inverted: #f6d53d;
    --color-dark-decorative-teal: #09c8d0;
    --color-dark-decorative-teal-hover: #1fd5dd;
    --color-dark-decorative-teal-inverted: #09b9be;
    --color-dark-decorative-teal-inverted-hover: #09aaaf;
    --color-dark-decorative-teal-inverted-press: #009ea4;
    --color-dark-decorative-teal-press: #49dfe7;
    --color-dark-decorative-text-blue: #4a9dfc;
    --color-dark-decorative-text-blue-inverted: #2a77ef;
    --color-dark-decorative-text-cyan: #0bb1e7;
    --color-dark-decorative-text-cyan-inverted: #0c85b4;
    --color-dark-decorative-text-fuchsia: #f859c5;
    --color-dark-decorative-text-fuchsia-inverted: #d62f95;
    --color-dark-decorative-text-green: #0cc44d;
    --color-dark-decorative-text-green-inverted: #0d9336;
    --color-dark-decorative-text-indigo: #998bff;
    --color-dark-decorative-text-indigo-inverted: #7a63f1;
    --color-dark-decorative-text-jungle: #0abe94;
    --color-dark-decorative-text-jungle-inverted: #0d8e74;
    --color-dark-decorative-text-magenta: #ff5494;
    --color-dark-decorative-text-magenta-inverted: #e12169;
    --color-dark-decorative-text-orange: #fa9313;
    --color-dark-decorative-text-orange-inverted: #ea8313;
    --color-dark-decorative-text-pistachio: #80c002;
    --color-dark-decorative-text-pistachio-inverted: #618b02;
    --color-dark-decorative-text-purple: #d46dfa;
    --color-dark-decorative-text-purple-inverted: #ba3dd8;
    --color-dark-decorative-text-red: #ff4837;
    --color-dark-decorative-text-red-inverted: #ec2d20;
    --color-dark-decorative-text-teal: #09b9be;
    --color-dark-decorative-text-teal-inverted: #058a8f;
    --color-dark-decorative-text-yellow: #fedf00;
    --color-dark-decorative-text-yellow-inverted: #dcb30b;
    --color-dark-decorative-yellow: #fedf00;
    --color-dark-decorative-yellow-inverted: #fbd700;
    --color-light-decorative-blue: #3193fc;
    --color-light-decorative-blue-hover: #2a77ef;
    --color-light-decorative-blue-inverted: #4a9dfc;
    --color-light-decorative-blue-inverted-hover: #63aafd;
    --color-light-decorative-blue-inverted-press: #7fb6ff;
    --color-light-decorative-blue-press: #2c64d4;
    --color-light-decorative-cyan: #0bb1e7;
    --color-light-decorative-cyan-hover: #03a3d5;
    --color-light-decorative-cyan-inverted: #0bbef3;
    --color-light-decorative-cyan-inverted-hover: #3fcdfe;
    --color-light-decorative-cyan-inverted-press: #72d7fe;
    --color-light-decorative-cyan-press: #0496c6;
    --color-light-decorative-fuchsia: #f859c5;
    --color-light-decorative-fuchsia-hover: #f046bc;
    --color-light-decorative-fuchsia-inverted: #fc71d4;
    --color-light-decorative-fuchsia-inverted-hover: #fd89e2;
    --color-light-decorative-fuchsia-inverted-press: #ff9ee6;
    --color-light-decorative-fuchsia-press: #e836a6;
    --color-light-decorative-green: #0cc44d;
    --color-light-decorative-green-hover: #04b545;
    --color-light-decorative-green-inverted: #17d055;
    --color-light-decorative-green-inverted-hover: #22e068;
    --color-light-decorative-green-inverted-press: #4ae777;
    --color-light-decorative-green-press: #01a53d;
    --color-light-decorative-indigo: #897eff;
    --color-light-decorative-indigo-hover: #7a63f1;
    --color-light-decorative-indigo-inverted: #998bff;
    --color-light-decorative-indigo-inverted-hover: #a49bff;
    --color-light-decorative-indigo-inverted-press: #b3aaff;
    --color-light-decorative-indigo-press: #6e52d7;
    --color-light-decorative-jungle: #0abe94;
    --color-light-decorative-jungle-hover: #04ae87;
    --color-light-decorative-jungle-inverted: #02cea2;
    --color-light-decorative-jungle-inverted-hover: #15d9ac;
    --color-light-decorative-jungle-inverted-press: #4ae4ba;
    --color-light-decorative-jungle-press: #0da07f;
    --color-light-decorative-magenta: #ff5494;
    --color-light-decorative-magenta-hover: #fc3c8b;
    --color-light-decorative-magenta-inverted: #ff72a2;
    --color-light-decorative-magenta-inverted-hover: #fe8db0;
    --color-light-decorative-magenta-inverted-press: #ffa1bc;
    --color-light-decorative-magenta-press: #f32a7d;
    --color-light-decorative-muted-alt-blue: #d8eaff;
    --color-light-decorative-muted-alt-blue-hover: #c1dbf7;
    --color-light-decorative-muted-alt-blue-inverted: #293044;
    --color-light-decorative-muted-alt-blue-inverted-hover: #2f3a55;
    --color-light-decorative-muted-alt-blue-inverted-press: #38476c;
    --color-light-decorative-muted-alt-blue-press: #a7cbf2;
    --color-light-decorative-muted-alt-cyan: #cceefc;
    --color-light-decorative-muted-alt-cyan-hover: #b2e0f3;
    --color-light-decorative-muted-alt-cyan-inverted: #1d3442;
    --color-light-decorative-muted-alt-cyan-inverted-hover: #1e3e51;
    --color-light-decorative-muted-alt-cyan-inverted-press: #1e4b63;
    --color-light-decorative-muted-alt-cyan-press: #93d3ef;
    --color-light-decorative-muted-alt-fuchsia: #f8dff4;
    --color-light-decorative-muted-alt-fuchsia-hover: #f1cde8;
    --color-light-decorative-muted-alt-fuchsia-inverted: #402837;
    --color-light-decorative-muted-alt-fuchsia-inverted-hover: #532f45;
    --color-light-decorative-muted-alt-fuchsia-inverted-press: #673756;
    --color-light-decorative-muted-alt-fuchsia-press: #ebb7d9;
    --color-light-decorative-muted-alt-green: #d1f1d7;
    --color-light-decorative-muted-alt-green-hover: #bbe8c3;
    --color-light-decorative-muted-alt-green-inverted: #253528;
    --color-light-decorative-muted-alt-green-inverted-hover: #273f2d;
    --color-light-decorative-muted-alt-green-inverted-press: #2d4e33;
    --color-light-decorative-muted-alt-green-press: #a1dba8;
    --color-light-decorative-muted-alt-indigo: #e3e6fe;
    --color-light-decorative-muted-alt-indigo-hover: #d0d6f7;
    --color-light-decorative-muted-alt-indigo-inverted: #332d42;
    --color-light-decorative-muted-alt-indigo-inverted-hover: #403655;
    --color-light-decorative-muted-alt-indigo-inverted-press: #4d406a;
    --color-light-decorative-muted-alt-indigo-press: #c0c3f0;
    --color-light-decorative-muted-alt-jungle: #c9f2e6;
    --color-light-decorative-muted-alt-jungle-hover: #ade7d4;
    --color-light-decorative-muted-alt-jungle-inverted: #1e3631;
    --color-light-decorative-muted-alt-jungle-inverted-hover: #1c4139;
    --color-light-decorative-muted-alt-jungle-inverted-press: #1c4f44;
    --color-light-decorative-muted-alt-jungle-press: #90dcc1;
    --color-light-decorative-muted-alt-magenta: #fedfe6;
    --color-light-decorative-muted-alt-magenta-hover: #f7cddb;
    --color-light-decorative-muted-alt-magenta-inverted: #46282d;
    --color-light-decorative-muted-alt-magenta-inverted-hover: #582d37;
    --color-light-decorative-muted-alt-magenta-inverted-press: #6d3542;
    --color-light-decorative-muted-alt-magenta-press: #f4b6c5;
    --color-light-decorative-muted-alt-orange: #fde6c8;
    --color-light-decorative-muted-alt-orange-hover: #f6d7af;
    --color-light-decorative-muted-alt-orange-inverted: #412f22;
    --color-light-decorative-muted-alt-orange-inverted-hover: #543a27;
    --color-light-decorative-muted-alt-orange-inverted-press: #6a462c;
    --color-light-decorative-muted-alt-orange-press: #f0c492;
    --color-light-decorative-muted-alt-pistachio: #e0efc8;
    --color-light-decorative-muted-alt-pistachio-hover: #cfe3ad;
    --color-light-decorative-muted-alt-pistachio-inverted: #2d3322;
    --color-light-decorative-muted-alt-pistachio-inverted-hover: #353d21;
    --color-light-decorative-muted-alt-pistachio-inverted-press: #404b24;
    --color-light-decorative-muted-alt-pistachio-press: #bdd692;
    --color-light-decorative-muted-alt-purple: #f1e2fc;
    --color-light-decorative-muted-alt-purple-hover: #e4d0f3;
    --color-light-decorative-muted-alt-purple-inverted: #3d2a3e;
    --color-light-decorative-muted-alt-purple-inverted-hover: #4c304d;
    --color-light-decorative-muted-alt-purple-inverted-press: #5d3a61;
    --color-light-decorative-muted-alt-purple-press: #d9bbe9;
    --color-light-decorative-muted-alt-red: #ffdfdf;
    --color-light-decorative-muted-alt-red-inverted: #442926;
    --color-light-decorative-muted-alt-teal: #c8f1f3;
    --color-light-decorative-muted-alt-teal-hover: #a9e5e5;
    --color-light-decorative-muted-alt-teal-inverted: #1b353a;
    --color-light-decorative-muted-alt-teal-inverted-hover: #1b4045;
    --color-light-decorative-muted-alt-teal-inverted-press: #1c4e52;
    --color-light-decorative-muted-alt-teal-press: #85dadb;
    --color-light-decorative-muted-alt-yellow: #f7eac1;
    --color-light-decorative-muted-alt-yellow-inverted: #3d3320;
    --color-light-decorative-muted-blue: #e4f0ff;
    --color-light-decorative-muted-blue-hover: #d8eaff;
    --color-light-decorative-muted-blue-inverted: #222a3e;
    --color-light-decorative-muted-blue-inverted-hover: #293044;
    --color-light-decorative-muted-blue-inverted-press: #2f3a55;
    --color-light-decorative-muted-blue-press: #c1dbf7;
    --color-light-decorative-muted-cyan: #def5ff;
    --color-light-decorative-muted-cyan-hover: #cceefc;
    --color-light-decorative-muted-cyan-inverted: #1e2c37;
    --color-light-decorative-muted-cyan-inverted-hover: #1d3442;
    --color-light-decorative-muted-cyan-inverted-press: #1e3e51;
    --color-light-decorative-muted-cyan-press: #b2e0f3;
    --color-light-decorative-muted-fuchsia: #fceafa;
    --color-light-decorative-muted-fuchsia-hover: #f8dff4;
    --color-light-decorative-muted-fuchsia-inverted: #36242e;
    --color-light-decorative-muted-fuchsia-inverted-hover: #402837;
    --color-light-decorative-muted-fuchsia-inverted-press: #532f45;
    --color-light-decorative-muted-fuchsia-press: #f1cde8;
    --color-light-decorative-muted-green: #dff8e5;
    --color-light-decorative-muted-green-hover: #d1f1d7;
    --color-light-decorative-muted-green-inverted: #232d25;
    --color-light-decorative-muted-green-inverted-hover: #253528;
    --color-light-decorative-muted-green-inverted-press: #273f2d;
    --color-light-decorative-muted-green-press: #bbe8c3;
    --color-light-decorative-muted-indigo: #eeedff;
    --color-light-decorative-muted-indigo-hover: #e3e6fe;
    --color-light-decorative-muted-indigo-inverted: #2b2736;
    --color-light-decorative-muted-indigo-inverted-hover: #332d42;
    --color-light-decorative-muted-indigo-inverted-press: #403655;
    --color-light-decorative-muted-indigo-press: #d0d6f7;
    --color-light-decorative-muted-jungle: #dafaef;
    --color-light-decorative-muted-jungle-hover: #c9f2e6;
    --color-light-decorative-muted-jungle-inverted: #1f2e2a;
    --color-light-decorative-muted-jungle-inverted-hover: #1e3631;
    --color-light-decorative-muted-jungle-inverted-press: #1c4139;
    --color-light-decorative-muted-jungle-press: #ade7d4;
    --color-light-decorative-muted-magenta: #ffeaee;
    --color-light-decorative-muted-magenta-hover: #fedfe6;
    --color-light-decorative-muted-magenta-inverted: #382326;
    --color-light-decorative-muted-magenta-inverted-hover: #46282d;
    --color-light-decorative-muted-magenta-inverted-press: #582d37;
    --color-light-decorative-muted-magenta-press: #f7cddb;
    --color-light-decorative-muted-orange: #ffefd9;
    --color-light-decorative-muted-orange-hover: #fde6c8;
    --color-light-decorative-muted-orange-inverted: #36291f;
    --color-light-decorative-muted-orange-inverted-hover: #412f22;
    --color-light-decorative-muted-orange-inverted-press: #543a27;
    --color-light-decorative-muted-orange-press: #f6d7af;
    --color-light-decorative-muted-pistachio: #e9f7d9;
    --color-light-decorative-muted-pistachio-hover: #e0efc8;
    --color-light-decorative-muted-pistachio-inverted: #2a2d21;
    --color-light-decorative-muted-pistachio-inverted-hover: #2d3322;
    --color-light-decorative-muted-pistachio-inverted-press: #353d21;
    --color-light-decorative-muted-pistachio-press: #cfe3ad;
    --color-light-decorative-muted-purple: #f9ebfe;
    --color-light-decorative-muted-purple-hover: #f1e2fc;
    --color-light-decorative-muted-purple-inverted: #332633;
    --color-light-decorative-muted-purple-inverted-hover: #3d2a3e;
    --color-light-decorative-muted-purple-inverted-press: #4c304d;
    --color-light-decorative-muted-purple-press: #e4d0f3;
    --color-light-decorative-muted-red: #ffebeb;
    --color-light-decorative-muted-red-inverted: #392523;
    --color-light-decorative-muted-teal: #daf7f8;
    --color-light-decorative-muted-teal-hover: #c8f1f3;
    --color-light-decorative-muted-teal-inverted: #1d2d31;
    --color-light-decorative-muted-teal-inverted-hover: #1b353a;
    --color-light-decorative-muted-teal-inverted-press: #1b4045;
    --color-light-decorative-muted-teal-press: #a9e5e5;
    --color-light-decorative-muted-yellow: #fbf2d3;
    --color-light-decorative-muted-yellow-inverted: #332b1c;
    --color-light-decorative-orange: #fa9313;
    --color-light-decorative-orange-hover: #f18d0b;
    --color-light-decorative-orange-inverted: #fda136;
    --color-light-decorative-orange-inverted-hover: #fdb24d;
    --color-light-decorative-orange-inverted-press: #ffbf70;
    --color-light-decorative-orange-press: #ea8313;
    --color-light-decorative-pistachio: #80c002;
    --color-light-decorative-pistachio-hover: #79b20f;
    --color-light-decorative-pistachio-inverted: #8bcb06;
    --color-light-decorative-pistachio-inverted-hover: #99d827;
    --color-light-decorative-pistachio-inverted-press: #a6e141;
    --color-light-decorative-pistachio-press: #6a9e02;
    --color-light-decorative-purple: #d46dfa;
    --color-light-decorative-purple-hover: #ce59fa;
    --color-light-decorative-purple-inverted: #d884fe;
    --color-light-decorative-purple-inverted-hover: #de98ff;
    --color-light-decorative-purple-inverted-press: #e2a9fb;
    --color-light-decorative-purple-press: #c746ef;
    --color-light-decorative-red: #fe5e48;
    --color-light-decorative-red-inverted: #ff755e;
    --color-light-decorative-soft-blue: #abceff;
    --color-light-decorative-soft-blue-hover: #96c1fa;
    --color-light-decorative-soft-blue-inverted: #82b5f6;
    --color-light-decorative-soft-blue-inverted-hover: #96c1fa;
    --color-light-decorative-soft-blue-inverted-press: #abceff;
    --color-light-decorative-soft-blue-press: #82b5f6;
    --color-light-decorative-soft-cyan: #8ad4f3;
    --color-light-decorative-soft-cyan-hover: #72c9eb;
    --color-light-decorative-soft-cyan-inverted: #5ebee1;
    --color-light-decorative-soft-cyan-inverted-hover: #72c9eb;
    --color-light-decorative-soft-cyan-inverted-press: #8ad4f3;
    --color-light-decorative-soft-cyan-press: #5ebee1;
    --color-light-decorative-soft-fuchsia: #fdb1e4;
    --color-light-decorative-soft-fuchsia-hover: #faa1dd;
    --color-light-decorative-soft-fuchsia-inverted: #f68ed3;
    --color-light-decorative-soft-fuchsia-inverted-hover: #faa1dd;
    --color-light-decorative-soft-fuchsia-inverted-press: #fdb1e4;
    --color-light-decorative-soft-fuchsia-press: #f68ed3;
    --color-light-decorative-soft-green: #8ee29c;
    --color-light-decorative-soft-green-hover: #7bd68c;
    --color-light-decorative-soft-green-inverted: #6aca7a;
    --color-light-decorative-soft-green-inverted-hover: #7bd68c;
    --color-light-decorative-soft-green-inverted-press: #8ee29c;
    --color-light-decorative-soft-green-press: #6aca7a;
    --color-light-decorative-soft-indigo: #bfc4fe;
    --color-light-decorative-soft-indigo-hover: #aeb5fb;
    --color-light-decorative-soft-indigo-inverted: #a7a7f7;
    --color-light-decorative-soft-indigo-inverted-hover: #aeb5fb;
    --color-light-decorative-soft-indigo-inverted-press: #bfc4fe;
    --color-light-decorative-soft-indigo-press: #a7a7f7;
    --color-light-decorative-soft-jungle: #7de1c0;
    --color-light-decorative-soft-jungle-hover: #68d5b3;
    --color-light-decorative-soft-jungle-inverted: #53c9a4;
    --color-light-decorative-soft-jungle-inverted-hover: #68d5b3;
    --color-light-decorative-soft-jungle-inverted-press: #7de1c0;
    --color-light-decorative-soft-jungle-press: #53c9a4;
    --color-light-decorative-soft-magenta: #fcb2c6;
    --color-light-decorative-soft-magenta-hover: #fba1bb;
    --color-light-decorative-soft-magenta-inverted: #fc8fb0;
    --color-light-decorative-soft-magenta-inverted-hover: #fba1bb;
    --color-light-decorative-soft-magenta-inverted-press: #fcb2c6;
    --color-light-decorative-soft-magenta-press: #fc8fb0;
    --color-light-decorative-soft-orange: #fdc17a;
    --color-light-decorative-soft-orange-hover: #f9b562;
    --color-light-decorative-soft-orange-inverted: #f6a850;
    --color-light-decorative-soft-orange-inverted-hover: #f9b562;
    --color-light-decorative-soft-orange-inverted-press: #fdc17a;
    --color-light-decorative-soft-orange-press: #f6a850;
    --color-light-decorative-soft-pistachio: #b6db76;
    --color-light-decorative-soft-pistachio-hover: #a7cf62;
    --color-light-decorative-soft-pistachio-inverted: #9cc350;
    --color-light-decorative-soft-pistachio-inverted-hover: #a7cf62;
    --color-light-decorative-soft-pistachio-inverted-press: #b6db76;
    --color-light-decorative-soft-pistachio-press: #9cc350;
    --color-light-decorative-soft-purple: #e5bcfa;
    --color-light-decorative-soft-purple-hover: #ddadf7;
    --color-light-decorative-soft-purple-inverted: #d899f0;
    --color-light-decorative-soft-purple-inverted-hover: #ddadf7;
    --color-light-decorative-soft-purple-inverted-press: #e5bcfa;
    --color-light-decorative-soft-purple-press: #d899f0;
    --color-light-decorative-soft-red: #fcb1a7;
    --color-light-decorative-soft-red-inverted: #fc8e7b;
    --color-light-decorative-soft-teal: #75dddf;
    --color-light-decorative-soft-teal-hover: #5cd2d5;
    --color-light-decorative-soft-teal-inverted: #4ac5c7;
    --color-light-decorative-soft-teal-inverted-hover: #5cd2d5;
    --color-light-decorative-soft-teal-inverted-press: #75dddf;
    --color-light-decorative-soft-teal-press: #4ac5c7;
    --color-light-decorative-soft-yellow: #f6d53d;
    --color-light-decorative-soft-yellow-inverted: #edc521;
    --color-light-decorative-teal: #09b9be;
    --color-light-decorative-teal-hover: #09aaaf;
    --color-light-decorative-teal-inverted: #09c8d0;
    --color-light-decorative-teal-inverted-hover: #1fd5dd;
    --color-light-decorative-teal-inverted-press: #49dfe7;
    --color-light-decorative-teal-press: #009ea4;
    --color-light-decorative-text-blue: #2a77ef;
    --color-light-decorative-text-blue-inverted: #4a9dfc;
    --color-light-decorative-text-cyan: #0c85b4;
    --color-light-decorative-text-cyan-inverted: #0bb1e7;
    --color-light-decorative-text-fuchsia: #d62f95;
    --color-light-decorative-text-fuchsia-inverted: #f859c5;
    --color-light-decorative-text-green: #0d9336;
    --color-light-decorative-text-green-inverted: #0cc44d;
    --color-light-decorative-text-indigo: #7a63f1;
    --color-light-decorative-text-indigo-inverted: #998bff;
    --color-light-decorative-text-jungle: #0d8e74;
    --color-light-decorative-text-jungle-inverted: #0abe94;
    --color-light-decorative-text-magenta: #e12169;
    --color-light-decorative-text-magenta-inverted: #ff5494;
    --color-light-decorative-text-orange: #ea8313;
    --color-light-decorative-text-orange-inverted: #fa9313;
    --color-light-decorative-text-pistachio: #618b02;
    --color-light-decorative-text-pistachio-inverted: #80c002;
    --color-light-decorative-text-purple: #ba3dd8;
    --color-light-decorative-text-purple-inverted: #d46dfa;
    --color-light-decorative-text-red: #ec2d20;
    --color-light-decorative-text-red-inverted: #ff4837;
    --color-light-decorative-text-teal: #058a8f;
    --color-light-decorative-text-teal-inverted: #09b9be;
    --color-light-decorative-text-yellow: #dcb30b;
    --color-light-decorative-text-yellow-inverted: #fedf00;
    --color-light-decorative-yellow: #fbd700;
    --color-light-decorative-yellow-inverted: #fedf00;
}
