:root {
    --color-dark-sequential-blue-1: #5388e0;
    --color-dark-sequential-blue-2: #4d75d0;
    --color-dark-sequential-blue-3: #4963b8;
    --color-dark-sequential-blue-4: #3f559e;
    --color-dark-sequential-blue-5: #324682;
    --color-dark-sequential-blue-6: #253969;
    --color-dark-sequential-blue-7: #203056;
    --color-dark-sequential-blue-8: #1b2a4b;
    --color-dark-sequential-cyan-1: #3492b9;
    --color-dark-sequential-cyan-2: #2482a2;
    --color-dark-sequential-cyan-3: #226f8f;
    --color-dark-sequential-cyan-4: #215e79;
    --color-dark-sequential-cyan-5: #1d4d65;
    --color-dark-sequential-cyan-6: #173e54;
    --color-dark-sequential-cyan-7: #123547;
    --color-dark-sequential-cyan-8: #122e3f;
    --color-dark-sequential-fuchsia-1: #da55b4;
    --color-dark-sequential-fuchsia-2: #c648a0;
    --color-dark-sequential-fuchsia-3: #ad3b8c;
    --color-dark-sequential-fuchsia-4: #943379;
    --color-dark-sequential-fuchsia-5: #792b60;
    --color-dark-sequential-fuchsia-6: #61244c;
    --color-dark-sequential-fuchsia-7: #50213f;
    --color-dark-sequential-fuchsia-8: #441d35;
    --color-dark-sequential-green-1: #3b9e4d;
    --color-dark-sequential-green-2: #358d43;
    --color-dark-sequential-green-3: #31793b;
    --color-dark-sequential-green-4: #296633;
    --color-dark-sequential-green-5: #21522c;
    --color-dark-sequential-green-6: #1b4225;
    --color-dark-sequential-green-7: #1a3721;
    --color-dark-sequential-green-8: #17301e;
    --color-dark-sequential-indigo-1: #8376e3;
    --color-dark-sequential-indigo-2: #7b64d3;
    --color-dark-sequential-indigo-3: #7054be;
    --color-dark-sequential-indigo-4: #5e47a3;
    --color-dark-sequential-indigo-5: #4e3c86;
    --color-dark-sequential-indigo-6: #42326c;
    --color-dark-sequential-indigo-7: #372b56;
    --color-dark-sequential-indigo-8: #2e2547;
    --color-dark-sequential-jungle-1: #2a9d74;
    --color-dark-sequential-jungle-2: #228c68;
    --color-dark-sequential-jungle-3: #19785d;
    --color-dark-sequential-jungle-4: #156652;
    --color-dark-sequential-jungle-5: #0e5145;
    --color-dark-sequential-jungle-6: #134339;
    --color-dark-sequential-jungle-7: #133830;
    --color-dark-sequential-jungle-8: #103129;
    --color-dark-sequential-magenta-1: #e35583;
    --color-dark-sequential-magenta-2: #cf4773;
    --color-dark-sequential-magenta-3: #b63b62;
    --color-dark-sequential-magenta-4: #9b3252;
    --color-dark-sequential-magenta-5: #7f2d44;
    --color-dark-sequential-magenta-6: #652435;
    --color-dark-sequential-magenta-7: #55202d;
    --color-dark-sequential-magenta-8: #481c26;
    --color-dark-sequential-orange-1: #db8127;
    --color-dark-sequential-orange-2: #c97126;
    --color-dark-sequential-orange-3: #ae6020;
    --color-dark-sequential-orange-4: #944f1c;
    --color-dark-sequential-orange-5: #764017;
    --color-dark-sequential-orange-6: #5f3515;
    --color-dark-sequential-orange-7: #4d2c12;
    --color-dark-sequential-orange-8: #402511;
    --color-dark-sequential-pistachio-1: #739823;
    --color-dark-sequential-pistachio-2: #66881f;
    --color-dark-sequential-pistachio-3: #56761a;
    --color-dark-sequential-pistachio-4: #496117;
    --color-dark-sequential-pistachio-5: #3d4f13;
    --color-dark-sequential-pistachio-6: #314011;
    --color-dark-sequential-pistachio-7: #293611;
    --color-dark-sequential-pistachio-8: #262e10;
    --color-dark-sequential-purple-1: #ba63d6;
    --color-dark-sequential-purple-2: #aa52c1;
    --color-dark-sequential-purple-3: #9a45ac;
    --color-dark-sequential-purple-4: #823b94;
    --color-dark-sequential-purple-5: #6d3177;
    --color-dark-sequential-purple-6: #59275d;
    --color-dark-sequential-purple-7: #4a234c;
    --color-dark-sequential-purple-8: #411c42;
    --color-dark-sequential-red-1: #ec5742;
    --color-dark-sequential-red-2: #db4933;
    --color-dark-sequential-red-3: #c23d2e;
    --color-dark-sequential-red-4: #a4352b;
    --color-dark-sequential-red-5: #862d26;
    --color-dark-sequential-red-6: #6a2623;
    --color-dark-sequential-red-7: #54211e;
    --color-dark-sequential-red-8: #461d1c;
    --color-dark-sequential-teal-1: #139c99;
    --color-dark-sequential-teal-2: #158886;
    --color-dark-sequential-teal-3: #137575;
    --color-dark-sequential-teal-4: #116062;
    --color-dark-sequential-teal-5: #185054;
    --color-dark-sequential-teal-6: #164148;
    --color-dark-sequential-teal-7: #11383e;
    --color-dark-sequential-teal-8: #0e2f35;
    --color-light-sequential-blue-1: #4d75d0;
    --color-light-sequential-blue-2: #5388e0;
    --color-light-sequential-blue-3: #71a5f2;
    --color-light-sequential-blue-4: #82b5f6;
    --color-light-sequential-blue-5: #abceff;
    --color-light-sequential-blue-6: #c0dbff;
    --color-light-sequential-blue-7: #d6e6fe;
    --color-light-sequential-blue-8: #e5f0fe;
    --color-light-sequential-cyan-1: #2482a2;
    --color-light-sequential-cyan-2: #3492b9;
    --color-light-sequential-cyan-3: #51b1d7;
    --color-light-sequential-cyan-4: #5ebee1;
    --color-light-sequential-cyan-5: #8ad4f3;
    --color-light-sequential-cyan-6: #a9e1f6;
    --color-light-sequential-cyan-7: #c7ebfa;
    --color-light-sequential-cyan-8: #def5ff;
    --color-light-sequential-fuchsia-1: #c648a0;
    --color-light-sequential-fuchsia-2: #da55b4;
    --color-light-sequential-fuchsia-3: #f278ca;
    --color-light-sequential-fuchsia-4: #f68ed3;
    --color-light-sequential-fuchsia-5: #fdb1e4;
    --color-light-sequential-fuchsia-6: #fdc7f1;
    --color-light-sequential-fuchsia-7: #ffdafa;
    --color-light-sequential-fuchsia-8: #ffe9fc;
    --color-light-sequential-green-1: #358d43;
    --color-light-sequential-green-2: #3b9e4d;
    --color-light-sequential-green-3: #5abd69;
    --color-light-sequential-green-4: #6aca7a;
    --color-light-sequential-green-5: #8ee29c;
    --color-light-sequential-green-6: #a8ecb5;
    --color-light-sequential-green-7: #c2f3cc;
    --color-light-sequential-green-8: #dafae2;
    --color-light-sequential-indigo-1: #7b64d3;
    --color-light-sequential-indigo-2: #8376e3;
    --color-light-sequential-indigo-3: #9b95f2;
    --color-light-sequential-indigo-4: #a7a7f7;
    --color-light-sequential-indigo-5: #bfc4fe;
    --color-light-sequential-indigo-6: #ccd5ff;
    --color-light-sequential-indigo-7: #e1e4ff;
    --color-light-sequential-indigo-8: #eeedff;
    --color-light-sequential-jungle-1: #228c68;
    --color-light-sequential-jungle-2: #2a9d74;
    --color-light-sequential-jungle-3: #40ba93;
    --color-light-sequential-jungle-4: #53c9a4;
    --color-light-sequential-jungle-5: #7de1c0;
    --color-light-sequential-jungle-6: #9becd3;
    --color-light-sequential-jungle-7: #b8f3e2;
    --color-light-sequential-jungle-8: #d5fbee;
    --color-light-sequential-magenta-1: #cf4773;
    --color-light-sequential-magenta-2: #e35583;
    --color-light-sequential-magenta-3: #f8789e;
    --color-light-sequential-magenta-4: #fc8fb0;
    --color-light-sequential-magenta-5: #fcb2c6;
    --color-light-sequential-magenta-6: #ffc9dc;
    --color-light-sequential-magenta-7: #ffdce5;
    --color-light-sequential-magenta-8: #ffeaee;
    --color-light-sequential-orange-1: #c97126;
    --color-light-sequential-orange-2: #db8127;
    --color-light-sequential-orange-3: #f29b3e;
    --color-light-sequential-orange-4: #f6a850;
    --color-light-sequential-orange-5: #fdc17a;
    --color-light-sequential-orange-6: #fdd39a;
    --color-light-sequential-orange-7: #ffe3bc;
    --color-light-sequential-orange-8: #ffefd9;
    --color-light-sequential-pistachio-1: #66881f;
    --color-light-sequential-pistachio-2: #739823;
    --color-light-sequential-pistachio-3: #8eb43c;
    --color-light-sequential-pistachio-4: #9cc350;
    --color-light-sequential-pistachio-5: #b6db76;
    --color-light-sequential-pistachio-6: #c7e793;
    --color-light-sequential-pistachio-7: #d7f0b1;
    --color-light-sequential-pistachio-8: #e5f9ce;
    --color-light-sequential-purple-1: #aa52c1;
    --color-light-sequential-purple-2: #ba63d6;
    --color-light-sequential-purple-3: #d086ec;
    --color-light-sequential-purple-4: #d899f0;
    --color-light-sequential-purple-5: #e5bcfa;
    --color-light-sequential-purple-6: #e9cdfd;
    --color-light-sequential-purple-7: #f1dfff;
    --color-light-sequential-purple-8: #faebff;
    --color-light-sequential-red-1: #db4933;
    --color-light-sequential-red-2: #ec5742;
    --color-light-sequential-red-3: #fe7961;
    --color-light-sequential-red-4: #fc8e7b;
    --color-light-sequential-red-5: #fcb1a7;
    --color-light-sequential-red-6: #ffc8c4;
    --color-light-sequential-red-7: #ffdad9;
    --color-light-sequential-red-8: #ffebeb;
    --color-light-sequential-teal-1: #158886;
    --color-light-sequential-teal-2: #139c99;
    --color-light-sequential-teal-3: #37b9bb;
    --color-light-sequential-teal-4: #4ac5c7;
    --color-light-sequential-teal-5: #75dddf;
    --color-light-sequential-teal-6: #98e9e9;
    --color-light-sequential-teal-7: #b9f1f3;
    --color-light-sequential-teal-8: #d6f8f9;
}
