:root {
    --color-dark-decorative-blue: #3193fc;
    --color-dark-decorative-blue-hover: #63aafd;
    --color-dark-decorative-blue-inverted: #2288fa;
    --color-dark-decorative-blue-inverted-hover: #2285f5;
    --color-dark-decorative-blue-inverted-press: #2a77ef;
    --color-dark-decorative-blue-press: #7fb6ff;
    --color-dark-decorative-cyan: #0bbef3;
    --color-dark-decorative-cyan-hover: #3fcdfe;
    --color-dark-decorative-cyan-inverted: #0bb1e7;
    --color-dark-decorative-cyan-inverted-hover: #03a3d5;
    --color-dark-decorative-cyan-inverted-press: #0496c6;
    --color-dark-decorative-cyan-press: #72d7fe;
    --color-dark-decorative-fuchsia: #ff6ed6;
    --color-dark-decorative-fuchsia-hover: #fe88e3;
    --color-dark-decorative-fuchsia-inverted: #fe50c8;
    --color-dark-decorative-fuchsia-inverted-hover: #f63bbf;
    --color-dark-decorative-fuchsia-inverted-press: #ef25a9;
    --color-dark-decorative-fuchsia-press: #ff9ee6;
    --color-dark-decorative-green: #17d055;
    --color-dark-decorative-green-hover: #22e068;
    --color-dark-decorative-green-inverted: #0cc44d;
    --color-dark-decorative-green-inverted-hover: #04b545;
    --color-dark-decorative-green-inverted-press: #01a53d;
    --color-dark-decorative-green-press: #4ae777;
    --color-dark-decorative-indigo: #998bff;
    --color-dark-decorative-indigo-hover: #a49bff;
    --color-dark-decorative-indigo-inverted: #7f71fd;
    --color-dark-decorative-indigo-inverted-hover: #7a63f1;
    --color-dark-decorative-indigo-inverted-press: #6e52d7;
    --color-dark-decorative-indigo-press: #b3aaff;
    --color-dark-decorative-jungle: #02cea2;
    --color-dark-decorative-jungle-hover: #15d9ac;
    --color-dark-decorative-jungle-inverted: #0abe94;
    --color-dark-decorative-jungle-inverted-hover: #04ae87;
    --color-dark-decorative-jungle-inverted-press: #0da07f;
    --color-dark-decorative-jungle-press: #4ae4ba;
    --color-dark-decorative-magenta: #ff72a2;
    --color-dark-decorative-magenta-hover: #fe8db0;
    --color-dark-decorative-magenta-inverted: #fe5594;
    --color-dark-decorative-magenta-inverted-hover: #fb3e8b;
    --color-dark-decorative-magenta-inverted-press: #f32a7d;
    --color-dark-decorative-magenta-press: #ffa1bc;
    --color-dark-decorative-muted-alt-blue: #293044;
    --color-dark-decorative-muted-alt-blue-hover: #303a55;
    --color-dark-decorative-muted-alt-blue-inverted: #d8eaff;
    --color-dark-decorative-muted-alt-blue-inverted-hover: #c4defa;
    --color-dark-decorative-muted-alt-blue-inverted-press: #aeccf1;
    --color-dark-decorative-muted-alt-blue-press: #3a456a;
    --color-dark-decorative-muted-alt-cyan: #1d3442;
    --color-dark-decorative-muted-alt-cyan-hover: #1f3e50;
    --color-dark-decorative-muted-alt-cyan-inverted: #cceefc;
    --color-dark-decorative-muted-alt-cyan-inverted-hover: #b4e2f5;
    --color-dark-decorative-muted-alt-cyan-inverted-press: #97d2ed;
    --color-dark-decorative-muted-alt-cyan-press: #204b62;
    --color-dark-decorative-muted-alt-fuchsia: #402837;
    --color-dark-decorative-muted-alt-fuchsia-hover: #522f45;
    --color-dark-decorative-muted-alt-fuchsia-inverted: #f9e0f5;
    --color-dark-decorative-muted-alt-fuchsia-inverted-hover: #f3d2eb;
    --color-dark-decorative-muted-alt-fuchsia-inverted-press: #eebedd;
    --color-dark-decorative-muted-alt-fuchsia-press: #663756;
    --color-dark-decorative-muted-alt-green: #253528;
    --color-dark-decorative-muted-alt-green-hover: #283f2d;
    --color-dark-decorative-muted-alt-green-inverted: #d1f1d7;
    --color-dark-decorative-muted-alt-green-inverted-hover: #bae6c2;
    --color-dark-decorative-muted-alt-green-inverted-press: #a1d7a8;
    --color-dark-decorative-muted-alt-green-press: #2d4d32;
    --color-dark-decorative-muted-alt-indigo: #332d42;
    --color-dark-decorative-muted-alt-indigo-hover: #403654;
    --color-dark-decorative-muted-alt-indigo-inverted: #e4e7ff;
    --color-dark-decorative-muted-alt-indigo-inverted-hover: #d3d9fa;
    --color-dark-decorative-muted-alt-indigo-inverted-press: #c4c7f2;
    --color-dark-decorative-muted-alt-indigo-press: #4c3f69;
    --color-dark-decorative-muted-alt-jungle: #1e3631;
    --color-dark-decorative-muted-alt-jungle-hover: #1c4139;
    --color-dark-decorative-muted-alt-jungle-inverted: #c9f2e6;
    --color-dark-decorative-muted-alt-jungle-inverted-hover: #ade7d4;
    --color-dark-decorative-muted-alt-jungle-inverted-press: #92d8bf;
    --color-dark-decorative-muted-alt-jungle-press: #1c4e43;
    --color-dark-decorative-muted-alt-magenta: #45272c;
    --color-dark-decorative-muted-alt-magenta-hover: #592f38;
    --color-dark-decorative-muted-alt-magenta-inverted: #ffe0e7;
    --color-dark-decorative-muted-alt-magenta-inverted-hover: #f9d0de;
    --color-dark-decorative-muted-alt-magenta-inverted-press: #f6bdcb;
    --color-dark-decorative-muted-alt-magenta-press: #6e3643;
    --color-dark-decorative-muted-alt-orange: #412f22;
    --color-dark-decorative-muted-alt-orange-hover: #4f3623;
    --color-dark-decorative-muted-alt-orange-inverted: #fde6c8;
    --color-dark-decorative-muted-alt-orange-inverted-hover: #f6d7af;
    --color-dark-decorative-muted-alt-orange-inverted-press: #eec596;
    --color-dark-decorative-muted-alt-orange-press: #634128;
    --color-dark-decorative-muted-alt-pistachio: #2d3322;
    --color-dark-decorative-muted-alt-pistachio-hover: #353d22;
    --color-dark-decorative-muted-alt-pistachio-inverted: #e0efc8;
    --color-dark-decorative-muted-alt-pistachio-inverted-hover: #d0e3af;
    --color-dark-decorative-muted-alt-pistachio-inverted-press: #bdd494;
    --color-dark-decorative-muted-alt-pistachio-press: #3f4a25;
    --color-dark-decorative-muted-alt-purple: #3c293d;
    --color-dark-decorative-muted-alt-purple-hover: #4b314c;
    --color-dark-decorative-muted-alt-purple-inverted: #f2e3fd;
    --color-dark-decorative-muted-alt-purple-inverted-hover: #e9d5f7;
    --color-dark-decorative-muted-alt-purple-inverted-press: #dbc0ea;
    --color-dark-decorative-muted-alt-purple-press: #5c3960;
    --color-dark-decorative-muted-alt-red: #442926;
    --color-dark-decorative-muted-alt-red-inverted: #ffdfdf;
    --color-dark-decorative-muted-alt-teal: #1b353a;
    --color-dark-decorative-muted-alt-teal-hover: #1b4045;
    --color-dark-decorative-muted-alt-teal-inverted: #c8f1f3;
    --color-dark-decorative-muted-alt-teal-inverted-hover: #ace6e6;
    --color-dark-decorative-muted-alt-teal-inverted-press: #8bd9da;
    --color-dark-decorative-muted-alt-teal-press: #1b4d51;
    --color-dark-decorative-muted-alt-yellow: #3a311f;
    --color-dark-decorative-muted-alt-yellow-inverted: #f7eac1;
    --color-dark-decorative-muted-blue: #222a3e;
    --color-dark-decorative-muted-blue-hover: #293044;
    --color-dark-decorative-muted-blue-inverted: #e4f0ff;
    --color-dark-decorative-muted-blue-inverted-hover: #d8eaff;
    --color-dark-decorative-muted-blue-inverted-press: #c4defa;
    --color-dark-decorative-muted-blue-press: #303a55;
    --color-dark-decorative-muted-cyan: #1e2c37;
    --color-dark-decorative-muted-cyan-hover: #1d3442;
    --color-dark-decorative-muted-cyan-inverted: #def5ff;
    --color-dark-decorative-muted-cyan-inverted-hover: #cceefc;
    --color-dark-decorative-muted-cyan-inverted-press: #b4e2f5;
    --color-dark-decorative-muted-cyan-press: #1f3e50;
    --color-dark-decorative-muted-fuchsia: #36242e;
    --color-dark-decorative-muted-fuchsia-hover: #402837;
    --color-dark-decorative-muted-fuchsia-inverted: #fceafa;
    --color-dark-decorative-muted-fuchsia-inverted-hover: #f9e0f5;
    --color-dark-decorative-muted-fuchsia-inverted-press: #f3d2eb;
    --color-dark-decorative-muted-fuchsia-press: #522f45;
    --color-dark-decorative-muted-green: #232d25;
    --color-dark-decorative-muted-green-hover: #253528;
    --color-dark-decorative-muted-green-inverted: #dff8e5;
    --color-dark-decorative-muted-green-inverted-hover: #d1f1d7;
    --color-dark-decorative-muted-green-inverted-press: #bae6c2;
    --color-dark-decorative-muted-green-press: #283f2d;
    --color-dark-decorative-muted-indigo: #2b2736;
    --color-dark-decorative-muted-indigo-hover: #332d42;
    --color-dark-decorative-muted-indigo-inverted: #eeedff;
    --color-dark-decorative-muted-indigo-inverted-hover: #e4e7ff;
    --color-dark-decorative-muted-indigo-inverted-press: #d3d9fa;
    --color-dark-decorative-muted-indigo-press: #403654;
    --color-dark-decorative-muted-jungle: #1f2e2a;
    --color-dark-decorative-muted-jungle-hover: #1e3631;
    --color-dark-decorative-muted-jungle-inverted: #dafaef;
    --color-dark-decorative-muted-jungle-inverted-hover: #c9f2e6;
    --color-dark-decorative-muted-jungle-inverted-press: #ade7d4;
    --color-dark-decorative-muted-jungle-press: #1c4139;
    --color-dark-decorative-muted-magenta: #382326;
    --color-dark-decorative-muted-magenta-hover: #45272c;
    --color-dark-decorative-muted-magenta-inverted: #ffeaee;
    --color-dark-decorative-muted-magenta-inverted-hover: #ffe0e7;
    --color-dark-decorative-muted-magenta-inverted-press: #f9d0de;
    --color-dark-decorative-muted-magenta-press: #592f38;
    --color-dark-decorative-muted-orange: #36291f;
    --color-dark-decorative-muted-orange-hover: #412f22;
    --color-dark-decorative-muted-orange-inverted: #ffefd9;
    --color-dark-decorative-muted-orange-inverted-hover: #fde6c8;
    --color-dark-decorative-muted-orange-inverted-press: #f6d7af;
    --color-dark-decorative-muted-orange-press: #4f3623;
    --color-dark-decorative-muted-pistachio: #292d1d;
    --color-dark-decorative-muted-pistachio-hover: #2d3322;
    --color-dark-decorative-muted-pistachio-inverted: #e9f7d9;
    --color-dark-decorative-muted-pistachio-inverted-hover: #e0efc8;
    --color-dark-decorative-muted-pistachio-inverted-press: #d0e3af;
    --color-dark-decorative-muted-pistachio-press: #353d22;
    --color-dark-decorative-muted-purple: #332633;
    --color-dark-decorative-muted-purple-hover: #3c293d;
    --color-dark-decorative-muted-purple-inverted: #f9ebfe;
    --color-dark-decorative-muted-purple-inverted-hover: #f2e3fd;
    --color-dark-decorative-muted-purple-inverted-press: #e9d5f7;
    --color-dark-decorative-muted-purple-press: #4b314c;
    --color-dark-decorative-muted-red: #392523;
    --color-dark-decorative-muted-red-inverted: #ffebeb;
    --color-dark-decorative-muted-teal: #1d2d31;
    --color-dark-decorative-muted-teal-hover: #1b353a;
    --color-dark-decorative-muted-teal-inverted: #daf7f8;
    --color-dark-decorative-muted-teal-inverted-hover: #c8f1f3;
    --color-dark-decorative-muted-teal-inverted-press: #ace6e6;
    --color-dark-decorative-muted-teal-press: #1b4045;
    --color-dark-decorative-muted-yellow: #332b1c;
    --color-dark-decorative-muted-yellow-inverted: #fbf2d3;
    --color-dark-decorative-orange: #fda136;
    --color-dark-decorative-orange-hover: #fdb24d;
    --color-dark-decorative-orange-inverted: #fa9313;
    --color-dark-decorative-orange-inverted-hover: #f18d0b;
    --color-dark-decorative-orange-inverted-press: #ea8313;
    --color-dark-decorative-orange-press: #ffbf70;
    --color-dark-decorative-pistachio: #8bcb06;
    --color-dark-decorative-pistachio-hover: #99d827;
    --color-dark-decorative-pistachio-inverted: #80c002;
    --color-dark-decorative-pistachio-inverted-hover: #79b20f;
    --color-dark-decorative-pistachio-inverted-press: #6a9e02;
    --color-dark-decorative-pistachio-press: #a6e141;
    --color-dark-decorative-purple: #d884fe;
    --color-dark-decorative-purple-hover: #de98ff;
    --color-dark-decorative-purple-inverted: #d46dfa;
    --color-dark-decorative-purple-inverted-hover: #ce59fa;
    --color-dark-decorative-purple-inverted-press: #c746ef;
    --color-dark-decorative-purple-press: #e2a9fb;
    --color-dark-decorative-red: #fd6544;
    --color-dark-decorative-red-inverted: #ff5431;
    --color-dark-decorative-teal: #09c8d0;
    --color-dark-decorative-teal-hover: #1fd5dd;
    --color-dark-decorative-teal-inverted: #09b9be;
    --color-dark-decorative-teal-inverted-hover: #09aaaf;
    --color-dark-decorative-teal-inverted-press: #009ea4;
    --color-dark-decorative-teal-press: #49dfe7;
    --color-dark-decorative-text-blue: #4a9dfc;
    --color-dark-decorative-text-blue-inverted: #2a77ef;
    --color-dark-decorative-text-cyan: #0bb1e7;
    --color-dark-decorative-text-cyan-inverted: #0c85b4;
    --color-dark-decorative-text-fuchsia: #fe50c8;
    --color-dark-decorative-text-fuchsia-inverted: #dc2097;
    --color-dark-decorative-text-green: #0cc44d;
    --color-dark-decorative-text-green-inverted: #0d9336;
    --color-dark-decorative-text-indigo: #998bff;
    --color-dark-decorative-text-indigo-inverted: #7a63f1;
    --color-dark-decorative-text-jungle: #0abe94;
    --color-dark-decorative-text-jungle-inverted: #0d8e74;
    --color-dark-decorative-text-magenta: #fe5594;
    --color-dark-decorative-text-magenta-inverted: #e12169;
    --color-dark-decorative-text-orange: #fa9313;
    --color-dark-decorative-text-orange-inverted: #ea8313;
    --color-dark-decorative-text-pistachio: #80c002;
    --color-dark-decorative-text-pistachio-inverted: #618b02;
    --color-dark-decorative-text-purple: #d46dfa;
    --color-dark-decorative-text-purple-inverted: #ba3dd8;
    --color-dark-decorative-text-red: #ff5431;
    --color-dark-decorative-text-red-inverted: #ec2e14;
    --color-dark-decorative-text-teal: #09b9be;
    --color-dark-decorative-text-teal-inverted: #058a8f;
    --color-dark-decorative-text-yellow: #fedf00;
    --color-dark-decorative-text-yellow-inverted: #dcb30b;
    --color-dark-decorative-yellow: #fedf00;
    --color-dark-decorative-yellow-inverted: #fbd700;
    --color-light-decorative-blue: #2288fa;
    --color-light-decorative-blue-hover: #2a77ef;
    --color-light-decorative-blue-inverted: #3193fc;
    --color-light-decorative-blue-inverted-hover: #63aafd;
    --color-light-decorative-blue-inverted-press: #7fb6ff;
    --color-light-decorative-blue-press: #2c64d4;
    --color-light-decorative-cyan: #0bb1e7;
    --color-light-decorative-cyan-hover: #03a3d5;
    --color-light-decorative-cyan-inverted: #0bbef3;
    --color-light-decorative-cyan-inverted-hover: #3fcdfe;
    --color-light-decorative-cyan-inverted-press: #72d7fe;
    --color-light-decorative-cyan-press: #0496c6;
    --color-light-decorative-fuchsia: #fe50c8;
    --color-light-decorative-fuchsia-hover: #f63bbf;
    --color-light-decorative-fuchsia-inverted: #ff6ed6;
    --color-light-decorative-fuchsia-inverted-hover: #fe88e3;
    --color-light-decorative-fuchsia-inverted-press: #ff9ee6;
    --color-light-decorative-fuchsia-press: #ef25a9;
    --color-light-decorative-green: #0cc44d;
    --color-light-decorative-green-hover: #04b545;
    --color-light-decorative-green-inverted: #17d055;
    --color-light-decorative-green-inverted-hover: #22e068;
    --color-light-decorative-green-inverted-press: #4ae777;
    --color-light-decorative-green-press: #01a53d;
    --color-light-decorative-indigo: #7f71fd;
    --color-light-decorative-indigo-hover: #7a63f1;
    --color-light-decorative-indigo-inverted: #998bff;
    --color-light-decorative-indigo-inverted-hover: #a49bff;
    --color-light-decorative-indigo-inverted-press: #b3aaff;
    --color-light-decorative-indigo-press: #6e52d7;
    --color-light-decorative-jungle: #0abe94;
    --color-light-decorative-jungle-hover: #04ae87;
    --color-light-decorative-jungle-inverted: #02cea2;
    --color-light-decorative-jungle-inverted-hover: #15d9ac;
    --color-light-decorative-jungle-inverted-press: #4ae4ba;
    --color-light-decorative-jungle-press: #0da07f;
    --color-light-decorative-magenta: #fe5594;
    --color-light-decorative-magenta-hover: #fb3e8b;
    --color-light-decorative-magenta-inverted: #ff72a2;
    --color-light-decorative-magenta-inverted-hover: #fe8db0;
    --color-light-decorative-magenta-inverted-press: #ffa1bc;
    --color-light-decorative-magenta-press: #f32a7d;
    --color-light-decorative-muted-alt-blue: #d8eaff;
    --color-light-decorative-muted-alt-blue-hover: #c4defa;
    --color-light-decorative-muted-alt-blue-inverted: #293044;
    --color-light-decorative-muted-alt-blue-inverted-hover: #303a55;
    --color-light-decorative-muted-alt-blue-inverted-press: #3a456a;
    --color-light-decorative-muted-alt-blue-press: #aeccf1;
    --color-light-decorative-muted-alt-cyan: #cceefc;
    --color-light-decorative-muted-alt-cyan-hover: #b4e2f5;
    --color-light-decorative-muted-alt-cyan-inverted: #1d3442;
    --color-light-decorative-muted-alt-cyan-inverted-hover: #1f3e50;
    --color-light-decorative-muted-alt-cyan-inverted-press: #204b62;
    --color-light-decorative-muted-alt-cyan-press: #97d2ed;
    --color-light-decorative-muted-alt-fuchsia: #f9e0f5;
    --color-light-decorative-muted-alt-fuchsia-hover: #f3d2eb;
    --color-light-decorative-muted-alt-fuchsia-inverted: #402837;
    --color-light-decorative-muted-alt-fuchsia-inverted-hover: #522f45;
    --color-light-decorative-muted-alt-fuchsia-inverted-press: #663756;
    --color-light-decorative-muted-alt-fuchsia-press: #eebedd;
    --color-light-decorative-muted-alt-green: #d1f1d7;
    --color-light-decorative-muted-alt-green-hover: #bae6c2;
    --color-light-decorative-muted-alt-green-inverted: #253528;
    --color-light-decorative-muted-alt-green-inverted-hover: #283f2d;
    --color-light-decorative-muted-alt-green-inverted-press: #2d4d32;
    --color-light-decorative-muted-alt-green-press: #a1d7a8;
    --color-light-decorative-muted-alt-indigo: #e4e7ff;
    --color-light-decorative-muted-alt-indigo-hover: #d3d9fa;
    --color-light-decorative-muted-alt-indigo-inverted: #332d42;
    --color-light-decorative-muted-alt-indigo-inverted-hover: #403654;
    --color-light-decorative-muted-alt-indigo-inverted-press: #4c3f69;
    --color-light-decorative-muted-alt-indigo-press: #c4c7f2;
    --color-light-decorative-muted-alt-jungle: #c9f2e6;
    --color-light-decorative-muted-alt-jungle-hover: #ade7d4;
    --color-light-decorative-muted-alt-jungle-inverted: #1e3631;
    --color-light-decorative-muted-alt-jungle-inverted-hover: #1c4139;
    --color-light-decorative-muted-alt-jungle-inverted-press: #1c4e43;
    --color-light-decorative-muted-alt-jungle-press: #92d8bf;
    --color-light-decorative-muted-alt-magenta: #ffe0e7;
    --color-light-decorative-muted-alt-magenta-hover: #f9d0de;
    --color-light-decorative-muted-alt-magenta-inverted: #45272c;
    --color-light-decorative-muted-alt-magenta-inverted-hover: #592f38;
    --color-light-decorative-muted-alt-magenta-inverted-press: #6e3643;
    --color-light-decorative-muted-alt-magenta-press: #f6bdcb;
    --color-light-decorative-muted-alt-orange: #fde6c8;
    --color-light-decorative-muted-alt-orange-hover: #f6d7af;
    --color-light-decorative-muted-alt-orange-inverted: #412f22;
    --color-light-decorative-muted-alt-orange-inverted-hover: #4f3623;
    --color-light-decorative-muted-alt-orange-inverted-press: #634128;
    --color-light-decorative-muted-alt-orange-press: #eec596;
    --color-light-decorative-muted-alt-pistachio: #e0efc8;
    --color-light-decorative-muted-alt-pistachio-hover: #d0e3af;
    --color-light-decorative-muted-alt-pistachio-inverted: #2d3322;
    --color-light-decorative-muted-alt-pistachio-inverted-hover: #353d22;
    --color-light-decorative-muted-alt-pistachio-inverted-press: #3f4a25;
    --color-light-decorative-muted-alt-pistachio-press: #bdd494;
    --color-light-decorative-muted-alt-purple: #f2e3fd;
    --color-light-decorative-muted-alt-purple-hover: #e9d5f7;
    --color-light-decorative-muted-alt-purple-inverted: #3c293d;
    --color-light-decorative-muted-alt-purple-inverted-hover: #4b314c;
    --color-light-decorative-muted-alt-purple-inverted-press: #5c3960;
    --color-light-decorative-muted-alt-purple-press: #dbc0ea;
    --color-light-decorative-muted-alt-red: #ffdfdf;
    --color-light-decorative-muted-alt-red-inverted: #442926;
    --color-light-decorative-muted-alt-teal: #c8f1f3;
    --color-light-decorative-muted-alt-teal-hover: #ace6e6;
    --color-light-decorative-muted-alt-teal-inverted: #1b353a;
    --color-light-decorative-muted-alt-teal-inverted-hover: #1b4045;
    --color-light-decorative-muted-alt-teal-inverted-press: #1b4d51;
    --color-light-decorative-muted-alt-teal-press: #8bd9da;
    --color-light-decorative-muted-alt-yellow: #f7eac1;
    --color-light-decorative-muted-alt-yellow-inverted: #3a311f;
    --color-light-decorative-muted-blue: #e4f0ff;
    --color-light-decorative-muted-blue-hover: #d8eaff;
    --color-light-decorative-muted-blue-inverted: #222a3e;
    --color-light-decorative-muted-blue-inverted-hover: #293044;
    --color-light-decorative-muted-blue-inverted-press: #303a55;
    --color-light-decorative-muted-blue-press: #c4defa;
    --color-light-decorative-muted-cyan: #def5ff;
    --color-light-decorative-muted-cyan-hover: #cceefc;
    --color-light-decorative-muted-cyan-inverted: #1e2c37;
    --color-light-decorative-muted-cyan-inverted-hover: #1d3442;
    --color-light-decorative-muted-cyan-inverted-press: #1f3e50;
    --color-light-decorative-muted-cyan-press: #b4e2f5;
    --color-light-decorative-muted-fuchsia: #fceafa;
    --color-light-decorative-muted-fuchsia-hover: #f9e0f5;
    --color-light-decorative-muted-fuchsia-inverted: #36242e;
    --color-light-decorative-muted-fuchsia-inverted-hover: #402837;
    --color-light-decorative-muted-fuchsia-inverted-press: #522f45;
    --color-light-decorative-muted-fuchsia-press: #f3d2eb;
    --color-light-decorative-muted-green: #dff8e5;
    --color-light-decorative-muted-green-hover: #d1f1d7;
    --color-light-decorative-muted-green-inverted: #232d25;
    --color-light-decorative-muted-green-inverted-hover: #253528;
    --color-light-decorative-muted-green-inverted-press: #283f2d;
    --color-light-decorative-muted-green-press: #bae6c2;
    --color-light-decorative-muted-indigo: #eeedff;
    --color-light-decorative-muted-indigo-hover: #e4e7ff;
    --color-light-decorative-muted-indigo-inverted: #2b2736;
    --color-light-decorative-muted-indigo-inverted-hover: #332d42;
    --color-light-decorative-muted-indigo-inverted-press: #403654;
    --color-light-decorative-muted-indigo-press: #d3d9fa;
    --color-light-decorative-muted-jungle: #dafaef;
    --color-light-decorative-muted-jungle-hover: #c9f2e6;
    --color-light-decorative-muted-jungle-inverted: #1f2e2a;
    --color-light-decorative-muted-jungle-inverted-hover: #1e3631;
    --color-light-decorative-muted-jungle-inverted-press: #1c4139;
    --color-light-decorative-muted-jungle-press: #ade7d4;
    --color-light-decorative-muted-magenta: #ffeaee;
    --color-light-decorative-muted-magenta-hover: #ffe0e7;
    --color-light-decorative-muted-magenta-inverted: #382326;
    --color-light-decorative-muted-magenta-inverted-hover: #45272c;
    --color-light-decorative-muted-magenta-inverted-press: #592f38;
    --color-light-decorative-muted-magenta-press: #f9d0de;
    --color-light-decorative-muted-orange: #ffefd9;
    --color-light-decorative-muted-orange-hover: #fde6c8;
    --color-light-decorative-muted-orange-inverted: #36291f;
    --color-light-decorative-muted-orange-inverted-hover: #412f22;
    --color-light-decorative-muted-orange-inverted-press: #4f3623;
    --color-light-decorative-muted-orange-press: #f6d7af;
    --color-light-decorative-muted-pistachio: #e9f7d9;
    --color-light-decorative-muted-pistachio-hover: #e0efc8;
    --color-light-decorative-muted-pistachio-inverted: #292d1d;
    --color-light-decorative-muted-pistachio-inverted-hover: #2d3322;
    --color-light-decorative-muted-pistachio-inverted-press: #353d22;
    --color-light-decorative-muted-pistachio-press: #d0e3af;
    --color-light-decorative-muted-purple: #f9ebfe;
    --color-light-decorative-muted-purple-hover: #f2e3fd;
    --color-light-decorative-muted-purple-inverted: #332633;
    --color-light-decorative-muted-purple-inverted-hover: #3c293d;
    --color-light-decorative-muted-purple-inverted-press: #4b314c;
    --color-light-decorative-muted-purple-press: #e9d5f7;
    --color-light-decorative-muted-red: #ffebeb;
    --color-light-decorative-muted-red-inverted: #392523;
    --color-light-decorative-muted-teal: #daf7f8;
    --color-light-decorative-muted-teal-hover: #c8f1f3;
    --color-light-decorative-muted-teal-inverted: #1d2d31;
    --color-light-decorative-muted-teal-inverted-hover: #1b353a;
    --color-light-decorative-muted-teal-inverted-press: #1b4045;
    --color-light-decorative-muted-teal-press: #ace6e6;
    --color-light-decorative-muted-yellow: #fbf2d3;
    --color-light-decorative-muted-yellow-inverted: #332b1c;
    --color-light-decorative-orange: #fa9313;
    --color-light-decorative-orange-hover: #f18d0b;
    --color-light-decorative-orange-inverted: #fda136;
    --color-light-decorative-orange-inverted-hover: #fdb24d;
    --color-light-decorative-orange-inverted-press: #ffbf70;
    --color-light-decorative-orange-press: #ea8313;
    --color-light-decorative-pistachio: #80c002;
    --color-light-decorative-pistachio-hover: #79b20f;
    --color-light-decorative-pistachio-inverted: #8bcb06;
    --color-light-decorative-pistachio-inverted-hover: #99d827;
    --color-light-decorative-pistachio-inverted-press: #a6e141;
    --color-light-decorative-pistachio-press: #6a9e02;
    --color-light-decorative-purple: #d46dfa;
    --color-light-decorative-purple-hover: #ce59fa;
    --color-light-decorative-purple-inverted: #d884fe;
    --color-light-decorative-purple-inverted-hover: #de98ff;
    --color-light-decorative-purple-inverted-press: #e2a9fb;
    --color-light-decorative-purple-press: #c746ef;
    --color-light-decorative-red: #ff5431;
    --color-light-decorative-red-inverted: #fd6544;
    --color-light-decorative-teal: #09b9be;
    --color-light-decorative-teal-hover: #09aaaf;
    --color-light-decorative-teal-inverted: #09c8d0;
    --color-light-decorative-teal-inverted-hover: #1fd5dd;
    --color-light-decorative-teal-inverted-press: #49dfe7;
    --color-light-decorative-teal-press: #009ea4;
    --color-light-decorative-text-blue: #2a77ef;
    --color-light-decorative-text-blue-inverted: #4a9dfc;
    --color-light-decorative-text-cyan: #0c85b4;
    --color-light-decorative-text-cyan-inverted: #0bb1e7;
    --color-light-decorative-text-fuchsia: #dc2097;
    --color-light-decorative-text-fuchsia-inverted: #fe50c8;
    --color-light-decorative-text-green: #0d9336;
    --color-light-decorative-text-green-inverted: #0cc44d;
    --color-light-decorative-text-indigo: #7a63f1;
    --color-light-decorative-text-indigo-inverted: #998bff;
    --color-light-decorative-text-jungle: #0d8e74;
    --color-light-decorative-text-jungle-inverted: #0abe94;
    --color-light-decorative-text-magenta: #e12169;
    --color-light-decorative-text-magenta-inverted: #fe5594;
    --color-light-decorative-text-orange: #ea8313;
    --color-light-decorative-text-orange-inverted: #fa9313;
    --color-light-decorative-text-pistachio: #618b02;
    --color-light-decorative-text-pistachio-inverted: #80c002;
    --color-light-decorative-text-purple: #ba3dd8;
    --color-light-decorative-text-purple-inverted: #d46dfa;
    --color-light-decorative-text-red: #ec2e14;
    --color-light-decorative-text-red-inverted: #ff5431;
    --color-light-decorative-text-teal: #058a8f;
    --color-light-decorative-text-teal-inverted: #09b9be;
    --color-light-decorative-text-yellow: #dcb30b;
    --color-light-decorative-text-yellow-inverted: #fedf00;
    --color-light-decorative-yellow: #fbd700;
    --color-light-decorative-yellow-inverted: #fedf00;
}
