:root {
    --color-light-qualitative-duocolor-set-a-1: var(--color-dark-qualitative-duocolor-set-a-1);
    --color-light-qualitative-duocolor-set-a-2: var(--color-dark-qualitative-duocolor-set-a-2);
    --color-light-qualitative-duocolor-set-b-1: var(--color-dark-qualitative-duocolor-set-b-1);
    --color-light-qualitative-duocolor-set-b-2: var(--color-dark-qualitative-duocolor-set-b-2);
    --color-light-qualitative-duocolor-set-c-1: var(--color-dark-qualitative-duocolor-set-c-1);
    --color-light-qualitative-duocolor-set-c-2: var(--color-dark-qualitative-duocolor-set-c-2);
    --color-light-qualitative-duocolor-set-d-1: var(--color-dark-qualitative-duocolor-set-d-1);
    --color-light-qualitative-duocolor-set-d-2: var(--color-dark-qualitative-duocolor-set-d-2);
    --color-light-qualitative-duocolor-set-e-1: var(--color-dark-qualitative-duocolor-set-e-1);
    --color-light-qualitative-duocolor-set-e-2: var(--color-dark-qualitative-duocolor-set-e-2);
    --color-light-qualitative-duocolor-set-f-1: var(--color-dark-qualitative-duocolor-set-f-1);
    --color-light-qualitative-duocolor-set-f-2: var(--color-dark-qualitative-duocolor-set-f-2);
    --color-light-qualitative-duocolor-set-g-1: var(--color-dark-qualitative-duocolor-set-g-1);
    --color-light-qualitative-duocolor-set-g-2: var(--color-dark-qualitative-duocolor-set-g-2);
    --color-light-qualitative-flexible-1: var(--color-dark-qualitative-flexible-1);
    --color-light-qualitative-flexible-10: var(--color-dark-qualitative-flexible-10);
    --color-light-qualitative-flexible-11: var(--color-dark-qualitative-flexible-11);
    --color-light-qualitative-flexible-12: var(--color-dark-qualitative-flexible-12);
    --color-light-qualitative-flexible-13: var(--color-dark-qualitative-flexible-13);
    --color-light-qualitative-flexible-14: var(--color-dark-qualitative-flexible-14);
    --color-light-qualitative-flexible-2: var(--color-dark-qualitative-flexible-2);
    --color-light-qualitative-flexible-3: var(--color-dark-qualitative-flexible-3);
    --color-light-qualitative-flexible-4: var(--color-dark-qualitative-flexible-4);
    --color-light-qualitative-flexible-5: var(--color-dark-qualitative-flexible-5);
    --color-light-qualitative-flexible-6: var(--color-dark-qualitative-flexible-6);
    --color-light-qualitative-flexible-7: var(--color-dark-qualitative-flexible-7);
    --color-light-qualitative-flexible-8: var(--color-dark-qualitative-flexible-8);
    --color-light-qualitative-flexible-9: var(--color-dark-qualitative-flexible-9);
    --color-light-qualitative-monocolor-blue: var(--color-dark-qualitative-monocolor-blue);
    --color-light-qualitative-monocolor-green: var(--color-dark-qualitative-monocolor-green);
    --color-light-qualitative-monocolor-indigo: var(--color-dark-qualitative-monocolor-indigo);
    --color-light-qualitative-monocolor-magenta: var(--color-dark-qualitative-monocolor-magenta);
    --color-light-qualitative-monocolor-orange: var(--color-dark-qualitative-monocolor-orange);
    --color-light-qualitative-monocolor-pistachio: var(--color-dark-qualitative-monocolor-pistachio);
    --color-light-qualitative-monocolor-red: var(--color-dark-qualitative-monocolor-red);
    --color-light-qualitative-monocolor-teal: var(--color-dark-qualitative-monocolor-teal);
    --color-light-qualitative-monocolor-yellow: var(--color-dark-qualitative-monocolor-yellow);
    --color-light-qualitative-tetracolor-set-a-1: var(--color-dark-qualitative-tetracolor-set-a-1);
    --color-light-qualitative-tetracolor-set-a-2: var(--color-dark-qualitative-tetracolor-set-a-2);
    --color-light-qualitative-tetracolor-set-a-3: var(--color-dark-qualitative-tetracolor-set-a-3);
    --color-light-qualitative-tetracolor-set-a-4: var(--color-dark-qualitative-tetracolor-set-a-4);
    --color-light-qualitative-tetracolor-set-b-1: var(--color-dark-qualitative-tetracolor-set-b-1);
    --color-light-qualitative-tetracolor-set-b-2: var(--color-dark-qualitative-tetracolor-set-b-2);
    --color-light-qualitative-tetracolor-set-b-3: var(--color-dark-qualitative-tetracolor-set-b-3);
    --color-light-qualitative-tetracolor-set-b-4: var(--color-dark-qualitative-tetracolor-set-b-4);
    --color-light-qualitative-tetracolor-set-c-1: var(--color-dark-qualitative-tetracolor-set-c-1);
    --color-light-qualitative-tetracolor-set-c-2: var(--color-dark-qualitative-tetracolor-set-c-2);
    --color-light-qualitative-tetracolor-set-c-3: var(--color-dark-qualitative-tetracolor-set-c-3);
    --color-light-qualitative-tetracolor-set-c-4: var(--color-dark-qualitative-tetracolor-set-c-4);
    --color-light-qualitative-tricolor-set-a-1: var(--color-dark-qualitative-tricolor-set-a-1);
    --color-light-qualitative-tricolor-set-a-2: var(--color-dark-qualitative-tricolor-set-a-2);
    --color-light-qualitative-tricolor-set-a-3: var(--color-dark-qualitative-tricolor-set-a-3);
    --color-light-qualitative-tricolor-set-b-1: var(--color-dark-qualitative-tricolor-set-b-1);
    --color-light-qualitative-tricolor-set-b-2: var(--color-dark-qualitative-tricolor-set-b-2);
    --color-light-qualitative-tricolor-set-b-3: var(--color-dark-qualitative-tricolor-set-b-3);
    --color-light-qualitative-tricolor-set-c-1: var(--color-dark-qualitative-tricolor-set-c-1);
    --color-light-qualitative-tricolor-set-c-2: var(--color-dark-qualitative-tricolor-set-c-2);
    --color-light-qualitative-tricolor-set-c-3: var(--color-dark-qualitative-tricolor-set-c-3);
    --color-light-qualitative-tricolor-set-d-1: var(--color-dark-qualitative-tricolor-set-d-1);
    --color-light-qualitative-tricolor-set-d-2: var(--color-dark-qualitative-tricolor-set-d-2);
    --color-light-qualitative-tricolor-set-d-3: var(--color-dark-qualitative-tricolor-set-d-3);
    --color-light-qualitative-tricolor-set-e-1: var(--color-dark-qualitative-tricolor-set-e-1);
    --color-light-qualitative-tricolor-set-e-2: var(--color-dark-qualitative-tricolor-set-e-2);
    --color-light-qualitative-tricolor-set-e-3: var(--color-dark-qualitative-tricolor-set-e-3);
}
