:root {
    --color-dark-bg-accent: #ef3124;
    --color-dark-bg-attention-muted: #332104;
    --color-dark-bg-info: #001c3c;
    --color-dark-bg-negative-muted: #35110d;
    --color-dark-bg-opaque: rgba(255, 255, 255, 0.8);
    --color-dark-bg-overlay: rgba(0, 0, 0, 0.8);
    --color-dark-bg-positive-muted: #042117;
    --color-dark-bg-primary: #121212;
    --color-dark-bg-primary-inverted: #fff;
    --color-dark-bg-quaternary: #3a3a3c;
    --color-dark-bg-quaternary-inverted: #dcdcdd;
    --color-dark-bg-secondary: #202022;
    --color-dark-bg-secondary-inverted: #f3f4f5;
    --color-dark-bg-tertiary: #2c2c2e;
    --color-dark-bg-tertiary-inverted: #e9e9eb;
    --color-dark-border-accent: #ef3124;
    --color-dark-border-key: #fff;
    --color-dark-border-key-inverted: #000;
    --color-dark-border-link: #0072ef;
    --color-dark-border-primary: #2b2b2e;
    --color-dark-border-primary-inverted: #dcdcdd;
    --color-dark-border-secondary: #262629;
    --color-dark-border-secondary-inverted: #e9e9eb;
    --color-dark-border-tertiary: #1c1c1e;
    --color-dark-border-tertiary-inverted: #f3f4f5;
    --color-dark-border-underline: #464649;
    --color-dark-border-underline-inverted: #c5c5c7;
    --color-dark-graphic-accent: #ef3124;
    --color-dark-graphic-attention: #f6bf65;
    --color-dark-graphic-link: #0072ef;
    --color-dark-graphic-negative: #d91d0b;
    --color-dark-graphic-positive: #2fc26e;
    --color-dark-graphic-primary: #fff;
    --color-dark-graphic-primary-inverted: #0e0e0e;
    --color-dark-graphic-quaternary: #303032;
    --color-dark-graphic-quaternary-inverted: #dcdcdd;
    --color-dark-graphic-secondary: #85858d;
    --color-dark-graphic-secondary-inverted: #86868a;
    --color-dark-graphic-tertiary: #4f4f52;
    --color-dark-graphic-tertiary-inverted: #c1c1c3;
    --color-dark-specialbg-component: rgba(255, 255, 255, 0.1);
    --color-dark-specialbg-component-inverted: rgba(11, 31, 53, 0.07);
    --color-dark-specialbg-nulled: rgba(255, 255, 255, 0);
    --color-dark-specialbg-overlay-fallback: #070707;
    --color-dark-specialbg-primary-grouped: #202022;
    --color-dark-specialbg-secondary-grouped: #2c2c2e;
    --color-dark-specialbg-secondary-transparent: rgba(255, 255, 255, 0.06);
    --color-dark-specialbg-secondary-transparent-inverted: rgba(11, 31, 53, 0.05);
    --color-dark-specialbg-tertiary-grouped: #3a3a3c;
    --color-dark-specialbg-tertiary-transparent: rgba(255, 255, 255, 0.11);
    --color-dark-specialbg-tertiary-transparent-inverted: rgba(11, 31, 53, 0.1);
    --color-dark-text-accent: #ef3124;
    --color-dark-text-attention: #cb830f;
    --color-dark-text-disabled: rgba(235, 235, 245, 0.2);
    --color-dark-text-disabled-inverted: rgba(60, 60, 67, 0.22);
    --color-dark-text-link: #0072ef;
    --color-dark-text-negative: #f15045;
    --color-dark-text-positive: #13a463;
    --color-dark-text-primary: #fff;
    --color-dark-text-primary-inverted: #0e0e0e;
    --color-dark-text-secondary: rgba(235, 235, 245, 0.54);
    --color-dark-text-secondary-inverted: rgba(60, 60, 67, 0.66);
    --color-dark-text-tertiary: rgba(235, 235, 245, 0.32);
    --color-dark-text-tertiary-inverted: rgba(60, 60, 67, 0.4);
    --color-light-bg-accent: #ef3124;
    --color-light-bg-attention-muted: #f7ebd9;
    --color-light-bg-info: #d6e8fc;
    --color-light-bg-negative-muted: #fbe8e7;
    --color-light-bg-opaque: rgba(255, 255, 255, 0.8);
    --color-light-bg-overlay: rgba(0, 0, 0, 0.6);
    --color-light-bg-positive-muted: #e7f6ef;
    --color-light-bg-primary: #fff;
    --color-light-bg-primary-inverted: #121212;
    --color-light-bg-quaternary: #dcdcdd;
    --color-light-bg-quaternary-inverted: #3a3a3c;
    --color-light-bg-secondary: #f3f4f5;
    --color-light-bg-secondary-inverted: #202022;
    --color-light-bg-tertiary: #e9e9eb;
    --color-light-bg-tertiary-inverted: #2c2c2e;
    --color-light-border-accent: #ef3124;
    --color-light-border-key: #000;
    --color-light-border-key-inverted: #fff;
    --color-light-border-link: #0072ef;
    --color-light-border-primary: #dcdcdd;
    --color-light-border-primary-inverted: #2b2b2e;
    --color-light-border-secondary: #e9e9eb;
    --color-light-border-secondary-inverted: #262629;
    --color-light-border-tertiary: #f3f4f5;
    --color-light-border-tertiary-inverted: #1c1c1e;
    --color-light-border-underline: #c5c5c7;
    --color-light-border-underline-inverted: #464649;
    --color-light-graphic-accent: #ef3124;
    --color-light-graphic-attention: #f6bf65;
    --color-light-graphic-link: #0072ef;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0e0e0e;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-quaternary: #dcdcdd;
    --color-light-graphic-quaternary-inverted: #303032;
    --color-light-graphic-secondary: #86868a;
    --color-light-graphic-secondary-inverted: #85858d;
    --color-light-graphic-tertiary: #c1c1c3;
    --color-light-graphic-tertiary-inverted: #4f4f52;
    --color-light-specialbg-component: rgba(11, 31, 53, 0.07);
    --color-light-specialbg-component-inverted: rgba(255, 255, 255, 0.1);
    --color-light-specialbg-nulled: rgba(255, 255, 255, 0);
    --color-light-specialbg-overlay-fallback: #5c5c5c;
    --color-light-specialbg-primary-grouped: #f3f4f5;
    --color-light-specialbg-secondary-grouped: #fff;
    --color-light-specialbg-secondary-transparent: rgba(11, 31, 53, 0.05);
    --color-light-specialbg-secondary-transparent-inverted: rgba(255, 255, 255, 0.06);
    --color-light-specialbg-tertiary-grouped: #f3f4f5;
    --color-light-specialbg-tertiary-transparent: rgba(11, 31, 53, 0.1);
    --color-light-specialbg-tertiary-transparent-inverted: rgba(255, 255, 255, 0.11);
    --color-light-text-accent: #ef3124;
    --color-light-text-attention: #cb830f;
    --color-light-text-disabled: rgba(60, 60, 67, 0.22);
    --color-light-text-disabled-inverted: rgba(235, 235, 245, 0.2);
    --color-light-text-link: #0072ef;
    --color-light-text-negative: #d91d0b;
    --color-light-text-positive: #13a463;
    --color-light-text-primary: #0e0e0e;
    --color-light-text-primary-inverted: #fff;
    --color-light-text-secondary: rgba(60, 60, 67, 0.66);
    --color-light-text-secondary-inverted: rgba(235, 235, 245, 0.54);
    --color-light-text-tertiary: rgba(60, 60, 67, 0.4);
    --color-light-text-tertiary-inverted: rgba(235, 235, 245, 0.32);
    --color-static-bg-accent: #ef3124;
    --color-static-bg-primary-dark: #121212;
    --color-static-bg-primary-light: #fff;
    --color-static-bg-quaternary-dark: #3a3a3c;
    --color-static-bg-quaternary-light: #dcdcdd;
    --color-static-bg-secondary-dark: #202022;
    --color-static-bg-secondary-light: #f3f4f5;
    --color-static-bg-tertiary-dark: #2c2c2e;
    --color-static-bg-tertiary-light: #e9e9eb;
    --color-static-border-accent: #ef3124;
    --color-static-graphic-accent: #ef3124;
    --color-static-graphic-dark: #0e0e0e;
    --color-static-graphic-light: #fff;
    --color-static-text-accent: #ef3124;
    --color-static-text-primary-dark: #0e0e0e;
    --color-static-text-primary-light: #fff;
    --color-static-text-secondary-dark: rgba(60, 60, 67, 0.66);
    --color-static-text-secondary-light: rgba(235, 235, 245, 0.54);
    --color-static-text-tertiary-dark: rgba(60, 60, 67, 0.4);
    --color-static-text-tertiary-light: rgba(235, 235, 245, 0.32);
    --color-dark-bg-component: rgba(255, 255, 255, 0.1); /* deprecated */
    --color-dark-bg-component-inverted: rgba(0, 0, 0, 0.08); /* deprecated */
    --color-dark-bg-link-muted: #001c3c; /* deprecated */
    --color-dark-bg-neutral: #3a3a3c; /* deprecated */
    --color-dark-bg-nulled: rgba(0, 0, 0, 0); /* deprecated */
    --color-dark-bg-primary-grouped: #1a1a1d; /* deprecated */
    --color-dark-bg-secondary-grouped: #2a2a2e; /* deprecated */
    --color-dark-bg-tertiary-grouped: #404045; /* deprecated */
    --color-dark-graphic-neutral: #2a2a2c; /* deprecated */
    --color-dark-specialbg-overlay: rgba(0, 0, 0, 0.8); /* deprecated */
    --color-dark-text-disabled-transparent: rgba(220, 220, 243, 0.14); /* deprecated */
    --color-dark-text-secondary-inverted-transparent: rgba(3, 3, 16, 0.56); /* deprecated */
    --color-dark-text-secondary-transparent: rgba(239, 239, 254, 0.53); /* deprecated */
    --color-dark-text-tertiary-inverted-transparent: rgba(1, 1, 18, 0.41); /* deprecated */
    --color-dark-text-tertiary-transparent: rgba(233, 233, 251, 0.35); /* deprecated */
    --color-light-bg-component: rgba(19, 19, 73, 0.11); /* deprecated */
    --color-light-bg-component-inverted: rgba(223, 223, 246, 0.13); /* deprecated */
    --color-light-bg-link-muted: #d6e8fc; /* deprecated */
    --color-light-bg-neutral: #dcdcdd; /* deprecated */
    --color-light-bg-nulled: rgba(0, 0, 0, 0); /* deprecated */
    --color-light-bg-primary-grouped: #f2f2f6; /* deprecated */
    --color-light-bg-secondary-grouped: #fff; /* deprecated */
    --color-light-bg-tertiary-grouped: #f2f2f6; /* deprecated */
    --color-light-graphic-neutral: #dcdcdd; /* deprecated */
    --color-light-specialbg-overlay: rgba(0, 0, 0, 0.6); /* deprecated */
    --color-light-text-disabled-transparent: rgba(1, 1, 24, 0.26); /* deprecated */
    --color-light-text-secondary-inverted-transparent: rgba(239, 239, 254, 0.53); /* deprecated */
    --color-light-text-secondary-transparent: rgba(3, 3, 16, 0.56); /* deprecated */
    --color-light-text-tertiary-inverted-transparent: rgba(233, 233, 251, 0.35); /* deprecated */
    --color-light-text-tertiary-transparent: rgba(1, 1, 18, 0.41); /* deprecated */
    --color-static-bg-dark: #000; /* deprecated */
    --color-static-bg-light: #fff; /* deprecated */
    --color-static-bg-neutral-dark: #3a3a3c; /* deprecated */
    --color-static-bg-neutral-light: #dcdcdd; /* deprecated */
    --color-static-text-secondary-dark-transparent: rgba(3, 3, 16, 0.56); /* deprecated */
    --color-static-text-secondary-light-transparent: rgba(235, 235, 245, 0.6); /* deprecated */
    --color-static-text-tertiary-dark-transparent: rgba(1, 1, 18, 0.41); /* deprecated */
    --color-static-text-tertiary-light-transparent: rgba(235, 235, 245, 0.3); /* deprecated */
    --color-dark-bg-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-dark-bg-accent-shade-15: rgb(203, 42, 31);
    --color-dark-bg-accent-shade-20: rgb(191, 39, 29);
    --color-dark-bg-accent-tint-7: rgb(240, 63, 51);
    --color-dark-bg-accent-tint-10: rgb(241, 70, 58);
    --color-dark-bg-accent-tint-15: rgb(241, 80, 69);
    --color-dark-bg-accent-tint-30: rgb(244, 111, 102);
    --color-dark-bg-primary-alpha-4: rgba(18, 18, 18, 0.04);
    --color-dark-bg-primary-alpha-8: rgba(18, 18, 18, 0.08);
    --color-dark-bg-primary-alpha-12: rgba(18, 18, 18, 0.12);
    --color-dark-bg-primary-alpha-15: rgba(18, 18, 18, 0.15);
    --color-dark-bg-primary-alpha-16: rgba(18, 18, 18, 0.16);
    --color-dark-bg-primary-alpha-20: rgba(18, 18, 18, 0.2);
    --color-dark-bg-primary-alpha-30: rgba(18, 18, 18, 0.3);
    --color-dark-bg-primary-alpha-32: rgba(18, 18, 18, 0.32);
    --color-dark-bg-primary-alpha-37: rgba(18, 18, 18, 0.37);
    --color-dark-bg-primary-alpha-40: rgba(18, 18, 18, 0.4);
    --color-dark-bg-primary-tint-7: rgb(35, 35, 35);
    --color-dark-bg-primary-tint-15: rgb(54, 54, 54);
    --color-dark-bg-primary-inverted-alpha-3: rgba(255, 255, 255, 0.03);
    --color-dark-bg-primary-inverted-alpha-4: rgba(255, 255, 255, 0.04);
    --color-dark-bg-primary-inverted-alpha-5: rgba(255, 255, 255, 0.05);
    --color-dark-bg-primary-inverted-alpha-7: rgba(255, 255, 255, 0.07);
    --color-dark-bg-primary-inverted-alpha-8: rgba(255, 255, 255, 0.08);
    --color-dark-bg-primary-inverted-alpha-10: rgba(255, 255, 255, 0.1);
    --color-dark-bg-primary-inverted-alpha-12: rgba(255, 255, 255, 0.12);
    --color-dark-bg-primary-inverted-alpha-15: rgba(255, 255, 255, 0.15);
    --color-dark-bg-primary-inverted-alpha-16: rgba(255, 255, 255, 0.16);
    --color-dark-bg-primary-inverted-alpha-20: rgba(255, 255, 255, 0.2);
    --color-dark-bg-primary-inverted-alpha-24: rgba(255, 255, 255, 0.24);
    --color-dark-bg-primary-inverted-alpha-30: rgba(255, 255, 255, 0.3);
    --color-dark-bg-primary-inverted-alpha-32: rgba(255, 255, 255, 0.32);
    --color-dark-bg-primary-inverted-alpha-40: rgba(255, 255, 255, 0.4);
    --color-dark-bg-primary-inverted-alpha-50: rgba(255, 255, 255, 0.5);
    --color-dark-bg-primary-inverted-shade-7: rgb(237, 237, 237);
    --color-dark-bg-primary-inverted-shade-15: rgb(217, 217, 217);
    --color-dark-bg-primary-inverted-shade-20: rgb(204, 204, 204);
    --color-dark-bg-quaternary-alpha-30: rgba(58, 58, 60, 0.3);
    --color-dark-bg-quaternary-tint-7: rgb(72, 72, 74);
    --color-dark-bg-quaternary-tint-10: rgb(78, 78, 80);
    --color-dark-bg-quaternary-tint-15: rgb(88, 88, 89);
    --color-dark-bg-quaternary-tint-30: rgb(117, 117, 119);
    --color-dark-bg-quaternary-inverted-alpha-30: rgba(220, 220, 221, 0.3);
    --color-dark-bg-quaternary-inverted-shade-15: rgb(187, 187, 188);
    --color-dark-bg-quaternary-inverted-shade-20: rgb(176, 176, 177);
    --color-dark-bg-secondary-alpha-30: rgba(32, 32, 34, 0.3);
    --color-dark-bg-secondary-shade-15: rgb(27, 27, 29);
    --color-dark-bg-secondary-shade-20: rgb(26, 26, 27);
    --color-dark-bg-secondary-tint-7: rgb(48, 48, 49);
    --color-dark-bg-secondary-tint-15: rgb(65, 65, 67);
    --color-dark-bg-secondary-inverted-alpha-30: rgba(243, 244, 245, 0.3);
    --color-dark-bg-secondary-inverted-shade-15: rgb(207, 207, 208);
    --color-dark-bg-secondary-inverted-shade-20: rgb(194, 195, 196);
    --color-dark-bg-secondary-inverted-tint-7: rgb(244, 245, 246);
    --color-dark-bg-secondary-inverted-tint-15: rgb(245, 246, 246);
    --color-dark-bg-tertiary-tint-7: rgb(59, 59, 61);
    --color-dark-border-key-alpha-7: rgba(255, 255, 255, 0.07);
    --color-dark-border-key-alpha-15: rgba(255, 255, 255, 0.15);
    --color-dark-border-key-inverted-alpha-7: rgba(0, 0, 0, 0.07);
    --color-dark-border-key-inverted-alpha-15: rgba(0, 0, 0, 0.15);
    --color-dark-border-underline-alpha-30: rgba(70, 70, 73, 0.3);
    --color-dark-border-underline-inverted-alpha-30: rgba(197, 197, 199, 0.3);
    --color-dark-graphic-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-dark-graphic-accent-shade-15: rgb(203, 42, 31);
    --color-dark-graphic-accent-tint-7: rgb(240, 63, 51);
    --color-dark-graphic-accent-tint-10: rgb(241, 70, 58);
    --color-dark-graphic-accent-tint-15: rgb(241, 80, 69);
    --color-dark-graphic-accent-tint-30: rgb(244, 111, 102);
    --color-dark-graphic-link-alpha-15: rgba(0, 114, 239, 0.15);
    --color-dark-graphic-negative-alpha-10: rgba(217, 29, 11, 0.1);
    --color-dark-graphic-negative-alpha-30: rgba(217, 29, 11, 0.3);
    --color-dark-graphic-negative-alpha-40: rgba(217, 29, 11, 0.4);
    --color-dark-graphic-negative-shade-20: rgb(174, 23, 9);
    --color-dark-graphic-negative-shade-30: rgb(152, 20, 8);
    --color-dark-graphic-negative-tint-7: rgb(220, 45, 28);
    --color-dark-graphic-negative-tint-15: rgb(223, 63, 48);
    --color-dark-graphic-negative-tint-30: rgb(228, 97, 84);
    --color-dark-graphic-positive-alpha-10: rgba(47, 194, 110, 0.1);
    --color-dark-graphic-positive-tint-10: rgb(68, 200, 125);
    --color-dark-graphic-positive-tint-30: rgb(109, 212, 154);
    --color-dark-graphic-primary-alpha-30: rgba(255, 255, 255, 0.3);
    --color-dark-graphic-primary-alpha-40: rgba(255, 255, 255, 0.4);
    --color-dark-graphic-primary-alpha-50: rgba(255, 255, 255, 0.5);
    --color-dark-graphic-primary-alpha-60: rgba(255, 255, 255, 0.6);
    --color-dark-graphic-primary-shade-15: rgb(217, 217, 217);
    --color-dark-graphic-primary-shade-20: rgb(204, 204, 204);
    --color-dark-graphic-primary-shade-30: rgb(179, 179, 179);
    --color-dark-graphic-primary-tint-10: rgb(255, 255, 255);
    --color-dark-graphic-primary-tint-30: rgb(255, 255, 255);
    --color-dark-graphic-primary-inverted-alpha-30: rgba(14, 14, 14, 0.3);
    --color-dark-graphic-primary-inverted-alpha-40: rgba(14, 14, 14, 0.4);
    --color-dark-graphic-primary-inverted-alpha-50: rgba(14, 14, 14, 0.5);
    --color-dark-graphic-primary-inverted-alpha-60: rgba(14, 14, 14, 0.6);
    --color-dark-graphic-primary-inverted-tint-7: rgb(31, 31, 31);
    --color-dark-graphic-primary-inverted-tint-10: rgb(38, 38, 38);
    --color-dark-graphic-primary-inverted-tint-15: rgb(50, 50, 50);
    --color-dark-graphic-primary-inverted-tint-30: rgb(86, 86, 86);
    --color-dark-graphic-quaternary-tint-10: rgb(69, 69, 70);
    --color-dark-graphic-secondary-alpha-30: rgba(133, 133, 141, 0.3);
    --color-dark-graphic-secondary-tint-30: rgb(170, 170, 175);
    --color-dark-graphic-secondary-tint-50: rgb(194, 194, 198);
    --color-dark-graphic-secondary-inverted-alpha-30: rgba(134, 134, 138, 0.3);
    --color-dark-graphic-secondary-inverted-shade-15: rgb(114, 114, 117);
    --color-dark-graphic-secondary-inverted-shade-20: rgb(107, 107, 110);
    --color-dark-graphic-secondary-inverted-tint-10: rgb(146, 146, 150);
    --color-dark-graphic-secondary-inverted-tint-30: rgb(170, 170, 173);
    --color-dark-graphic-tertiary-alpha-30: rgba(79, 79, 82, 0.3);
    --color-dark-graphic-tertiary-shade-15: rgb(67, 67, 70);
    --color-dark-graphic-tertiary-shade-20: rgb(63, 63, 66);
    --color-dark-graphic-tertiary-tint-7: rgb(91, 91, 94);
    --color-dark-graphic-tertiary-tint-15: rgb(105, 105, 108);
    --color-dark-graphic-tertiary-inverted-alpha-30: rgba(193, 193, 195, 0.3);
    --color-dark-graphic-tertiary-inverted-shade-15: rgb(164, 164, 166);
    --color-dark-graphic-tertiary-inverted-shade-20: rgb(154, 154, 156);
    --color-dark-specialbg-component-tint-7: rgba(255, 255, 255, 0.163);
    --color-dark-specialbg-component-tint-10: rgba(255, 255, 255, 0.19);
    --color-dark-specialbg-component-tint-15: rgba(255, 255, 255, 0.235);
    --color-dark-specialbg-component-tint-30: rgba(255, 255, 255, 0.37);
    --color-dark-specialbg-component-alpha-2: rgba(255, 255, 255, 0.02);
    --color-dark-specialbg-component-alpha-14: rgba(255, 255, 255, 0.14);
    --color-dark-specialbg-component-alpha-23: rgba(255, 255, 255, 0.23);
    --color-dark-specialbg-component-alpha-30: rgba(255, 255, 255, 0.3);
    --color-dark-specialbg-component-inverted-alpha-30: rgba(11, 31, 53, 0.3);
    --color-dark-specialbg-component-inverted-shade-15: rgba(9, 26, 45, 0.2095);
    --color-dark-specialbg-component-inverted-shade-20: rgba(9, 25, 42, 0.256);
    --color-dark-specialbg-secondary-transparent-tint-15: rgba(255, 255, 255, 0.201);
    --color-dark-specialbg-secondary-transparent-inverted-shade-20: rgba(9, 25, 42, 0.24);
    --color-dark-specialbg-tertiary-transparent-tint-7: rgba(255, 255, 255, 0.1723);
    --color-dark-specialbg-tertiary-transparent-tint-15: rgba(255, 255, 255, 0.2435);
    --color-dark-specialbg-tertiary-transparent-inverted-shade-15: rgba(9, 26, 45, 0.235);
    --color-dark-specialbg-tertiary-transparent-inverted-shade-20: rgba(9, 25, 42, 0.28);
    --color-dark-text-link-shade-30: rgb(0, 80, 167);
    --color-dark-text-link-shade-50: rgb(0, 57, 120);
    --color-dark-text-link-tint-20: rgb(51, 142, 242);
    --color-dark-text-link-tint-40: rgb(102, 170, 245);
    --color-dark-text-primary-alpha-30: rgba(255, 255, 255, 0.3);
    --color-dark-text-primary-shade-24: rgb(194, 194, 194);
    --color-dark-text-primary-shade-30: rgb(179, 179, 179);
    --color-dark-text-primary-shade-40: rgb(153, 153, 153);
    --color-dark-text-primary-shade-50: rgb(128, 128, 128);
    --color-dark-text-primary-tint-20: rgb(255, 255, 255);
    --color-dark-text-primary-tint-40: rgb(255, 255, 255);
    --color-dark-text-primary-inverted-alpha-30: rgba(14, 14, 14, 0.3);
    --color-dark-text-primary-inverted-alpha-40: rgba(14, 14, 14, 0.4);
    --color-dark-text-primary-inverted-shade-20: rgb(11, 11, 11);
    --color-dark-text-primary-inverted-shade-30: rgb(10, 10, 10);
    --color-dark-text-primary-inverted-tint-7: rgb(31, 31, 31);
    --color-dark-text-primary-inverted-tint-15: rgb(50, 50, 50);
    --color-dark-text-primary-inverted-tint-24: rgb(72, 72, 72);
    --color-dark-text-primary-inverted-tint-30: rgb(86, 86, 86);
    --color-dark-text-primary-inverted-tint-40: rgb(110, 110, 110);
    --color-dark-text-primary-inverted-tint-50: rgb(135, 135, 135);
    --color-dark-text-secondary-shade-20: rgba(188, 188, 196, 0.632);
    --color-dark-text-secondary-shade-30: rgba(164, 164, 172, 0.678);
    --color-dark-text-secondary-tint-20: rgba(239, 239, 247, 0.632);
    --color-dark-text-secondary-tint-40: rgba(243, 243, 249, 0.724);
    --color-dark-text-secondary-inverted-shade-20: rgba(48, 48, 54, 0.728);
    --color-dark-text-secondary-inverted-shade-30: rgba(42, 42, 47, 0.762);
    --color-light-bg-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-light-bg-accent-tint-15: rgb(241, 80, 69);
    --color-light-bg-accent-tint-20: rgb(242, 90, 80);
    --color-light-bg-accent-shade-7: rgb(222, 46, 33);
    --color-light-bg-accent-shade-10: rgb(215, 44, 32);
    --color-light-bg-accent-shade-15: rgb(203, 42, 31);
    --color-light-bg-accent-shade-30: rgb(167, 34, 25);
    --color-light-bg-primary-alpha-4: rgba(255, 255, 255, 0.04);
    --color-light-bg-primary-alpha-8: rgba(255, 255, 255, 0.08);
    --color-light-bg-primary-alpha-12: rgba(255, 255, 255, 0.12);
    --color-light-bg-primary-alpha-15: rgba(255, 255, 255, 0.15);
    --color-light-bg-primary-alpha-16: rgba(255, 255, 255, 0.16);
    --color-light-bg-primary-alpha-20: rgba(255, 255, 255, 0.2);
    --color-light-bg-primary-alpha-30: rgba(255, 255, 255, 0.3);
    --color-light-bg-primary-alpha-32: rgba(255, 255, 255, 0.32);
    --color-light-bg-primary-alpha-37: rgba(255, 255, 255, 0.37);
    --color-light-bg-primary-alpha-40: rgba(255, 255, 255, 0.4);
    --color-light-bg-primary-shade-7: rgb(237, 237, 237);
    --color-light-bg-primary-shade-15: rgb(217, 217, 217);
    --color-light-bg-primary-inverted-alpha-3: rgba(18, 18, 18, 0.03);
    --color-light-bg-primary-inverted-alpha-4: rgba(18, 18, 18, 0.04);
    --color-light-bg-primary-inverted-alpha-5: rgba(18, 18, 18, 0.05);
    --color-light-bg-primary-inverted-alpha-7: rgba(18, 18, 18, 0.07);
    --color-light-bg-primary-inverted-alpha-8: rgba(18, 18, 18, 0.08);
    --color-light-bg-primary-inverted-alpha-10: rgba(18, 18, 18, 0.1);
    --color-light-bg-primary-inverted-alpha-12: rgba(18, 18, 18, 0.12);
    --color-light-bg-primary-inverted-alpha-15: rgba(18, 18, 18, 0.15);
    --color-light-bg-primary-inverted-alpha-16: rgba(18, 18, 18, 0.16);
    --color-light-bg-primary-inverted-alpha-20: rgba(18, 18, 18, 0.2);
    --color-light-bg-primary-inverted-alpha-24: rgba(18, 18, 18, 0.24);
    --color-light-bg-primary-inverted-alpha-30: rgba(18, 18, 18, 0.3);
    --color-light-bg-primary-inverted-alpha-32: rgba(18, 18, 18, 0.32);
    --color-light-bg-primary-inverted-alpha-40: rgba(18, 18, 18, 0.4);
    --color-light-bg-primary-inverted-alpha-50: rgba(18, 18, 18, 0.5);
    --color-light-bg-primary-inverted-tint-7: rgb(35, 35, 35);
    --color-light-bg-primary-inverted-tint-15: rgb(54, 54, 54);
    --color-light-bg-primary-inverted-tint-20: rgb(65, 65, 65);
    --color-light-bg-quaternary-alpha-30: rgba(220, 220, 221, 0.3);
    --color-light-bg-quaternary-shade-7: rgb(205, 205, 206);
    --color-light-bg-quaternary-shade-10: rgb(198, 198, 199);
    --color-light-bg-quaternary-shade-15: rgb(187, 187, 188);
    --color-light-bg-quaternary-shade-30: rgb(154, 154, 155);
    --color-light-bg-quaternary-inverted-alpha-30: rgba(58, 58, 60, 0.3);
    --color-light-bg-quaternary-inverted-tint-15: rgb(88, 88, 89);
    --color-light-bg-quaternary-inverted-tint-20: rgb(97, 97, 99);
    --color-light-bg-secondary-alpha-30: rgba(243, 244, 245, 0.3);
    --color-light-bg-secondary-tint-15: rgb(245, 246, 246);
    --color-light-bg-secondary-tint-20: rgb(245, 246, 247);
    --color-light-bg-secondary-shade-7: rgb(226, 227, 228);
    --color-light-bg-secondary-shade-15: rgb(207, 207, 208);
    --color-light-bg-secondary-inverted-alpha-30: rgba(32, 32, 34, 0.3);
    --color-light-bg-secondary-inverted-tint-15: rgb(65, 65, 67);
    --color-light-bg-secondary-inverted-tint-20: rgb(77, 77, 78);
    --color-light-bg-secondary-inverted-shade-7: rgb(30, 30, 32);
    --color-light-bg-secondary-inverted-shade-15: rgb(27, 27, 29);
    --color-light-bg-tertiary-shade-7: rgb(217, 217, 219);
    --color-light-border-key-alpha-7: rgba(0, 0, 0, 0.07);
    --color-light-border-key-alpha-15: rgba(0, 0, 0, 0.15);
    --color-light-border-key-inverted-alpha-7: rgba(255, 255, 255, 0.07);
    --color-light-border-key-inverted-alpha-15: rgba(255, 255, 255, 0.15);
    --color-light-border-underline-alpha-30: rgba(197, 197, 199, 0.3);
    --color-light-border-underline-inverted-alpha-30: rgba(70, 70, 73, 0.3);
    --color-light-graphic-accent-alpha-30: rgba(239, 49, 36, 0.3);
    --color-light-graphic-accent-tint-15: rgb(241, 80, 69);
    --color-light-graphic-accent-shade-7: rgb(222, 46, 33);
    --color-light-graphic-accent-shade-10: rgb(215, 44, 32);
    --color-light-graphic-accent-shade-15: rgb(203, 42, 31);
    --color-light-graphic-accent-shade-30: rgb(167, 34, 25);
    --color-light-graphic-link-alpha-15: rgba(0, 114, 239, 0.15);
    --color-light-graphic-negative-alpha-10: rgba(241, 80, 69, 0.1);
    --color-light-graphic-negative-alpha-30: rgba(241, 80, 69, 0.3);
    --color-light-graphic-negative-alpha-40: rgba(241, 80, 69, 0.4);
    --color-light-graphic-negative-tint-20: rgb(244, 115, 106);
    --color-light-graphic-negative-tint-30: rgb(245, 133, 125);
    --color-light-graphic-negative-shade-7: rgb(224, 74, 64);
    --color-light-graphic-negative-shade-15: rgb(205, 68, 59);
    --color-light-graphic-negative-shade-30: rgb(169, 56, 48);
    --color-light-graphic-positive-alpha-10: rgba(47, 194, 110, 0.1);
    --color-light-graphic-positive-shade-10: rgb(42, 175, 99);
    --color-light-graphic-positive-shade-30: rgb(33, 136, 77);
    --color-light-graphic-primary-alpha-30: rgba(14, 14, 14, 0.3);
    --color-light-graphic-primary-alpha-40: rgba(14, 14, 14, 0.4);
    --color-light-graphic-primary-alpha-50: rgba(14, 14, 14, 0.5);
    --color-light-graphic-primary-alpha-60: rgba(14, 14, 14, 0.6);
    --color-light-graphic-primary-tint-15: rgb(50, 50, 50);
    --color-light-graphic-primary-tint-20: rgb(62, 62, 62);
    --color-light-graphic-primary-tint-30: rgb(86, 86, 86);
    --color-light-graphic-primary-shade-10: rgb(13, 13, 13);
    --color-light-graphic-primary-shade-30: rgb(10, 10, 10);
    --color-light-graphic-primary-inverted-alpha-30: rgba(255, 255, 255, 0.3);
    --color-light-graphic-primary-inverted-alpha-40: rgba(255, 255, 255, 0.4);
    --color-light-graphic-primary-inverted-alpha-50: rgba(255, 255, 255, 0.5);
    --color-light-graphic-primary-inverted-alpha-60: rgba(255, 255, 255, 0.6);
    --color-light-graphic-primary-inverted-shade-7: rgb(237, 237, 237);
    --color-light-graphic-primary-inverted-shade-10: rgb(230, 230, 230);
    --color-light-graphic-primary-inverted-shade-15: rgb(217, 217, 217);
    --color-light-graphic-primary-inverted-shade-30: rgb(179, 179, 179);
    --color-light-graphic-quaternary-shade-10: rgb(198, 198, 199);
    --color-light-graphic-secondary-alpha-30: rgba(134, 134, 138, 0.3);
    --color-light-graphic-secondary-shade-30: rgb(94, 94, 97);
    --color-light-graphic-secondary-shade-50: rgb(67, 67, 69);
    --color-light-graphic-secondary-inverted-alpha-30: rgba(133, 133, 141, 0.3);
    --color-light-graphic-secondary-inverted-tint-15: rgb(151, 151, 158);
    --color-light-graphic-secondary-inverted-tint-20: rgb(157, 157, 164);
    --color-light-graphic-secondary-inverted-shade-10: rgb(120, 120, 127);
    --color-light-graphic-secondary-inverted-shade-30: rgb(93, 93, 99);
    --color-light-graphic-tertiary-alpha-30: rgba(193, 193, 195, 0.3);
    --color-light-graphic-tertiary-tint-15: rgb(202, 202, 204);
    --color-light-graphic-tertiary-tint-20: rgb(205, 205, 207);
    --color-light-graphic-tertiary-shade-7: rgb(179, 179, 181);
    --color-light-graphic-tertiary-shade-15: rgb(164, 164, 166);
    --color-light-graphic-tertiary-inverted-alpha-30: rgba(79, 79, 82, 0.3);
    --color-light-graphic-tertiary-inverted-tint-15: rgb(105, 105, 108);
    --color-light-graphic-tertiary-inverted-tint-20: rgb(114, 114, 117);
    --color-light-specialbg-component-shade-7: rgba(10, 29, 49, 0.1351);
    --color-light-specialbg-component-shade-10: rgba(10, 28, 48, 0.163);
    --color-light-specialbg-component-shade-15: rgba(9, 26, 45, 0.2095);
    --color-light-specialbg-component-shade-30: rgba(8, 22, 37, 0.349);
    --color-light-specialbg-component-alpha-2: rgba(11, 31, 53, 0.02);
    --color-light-specialbg-component-alpha-14: rgba(11, 31, 53, 0.14);
    --color-light-specialbg-component-alpha-23: rgba(11, 31, 53, 0.23);
    --color-light-specialbg-component-alpha-30: rgba(11, 31, 53, 0.3);
    --color-light-specialbg-component-inverted-alpha-30: rgba(255, 255, 255, 0.3);
    --color-light-specialbg-component-inverted-tint-15: rgba(255, 255, 255, 0.235);
    --color-light-specialbg-component-inverted-tint-20: rgba(255, 255, 255, 0.28);
    --color-light-specialbg-secondary-transparent-shade-15: rgba(9, 26, 45, 0.1925);
    --color-light-specialbg-secondary-transparent-inverted-tint-20: rgba(255, 255, 255, 0.248);
    --color-light-specialbg-tertiary-transparent-shade-7: rgba(10, 29, 49, 0.163);
    --color-light-specialbg-tertiary-transparent-shade-15: rgba(9, 26, 45, 0.235);
    --color-light-specialbg-tertiary-transparent-inverted-tint-15: rgba(255, 255, 255, 0.2435);
    --color-light-specialbg-tertiary-transparent-inverted-tint-20: rgba(255, 255, 255, 0.288);
    --color-light-text-link-tint-30: rgb(77, 156, 244);
    --color-light-text-link-tint-50: rgb(128, 185, 247);
    --color-light-text-link-shade-20: rgb(0, 91, 191);
    --color-light-text-link-shade-40: rgb(0, 68, 143);
    --color-light-text-primary-alpha-30: rgba(14, 14, 14, 0.3);
    --color-light-text-primary-tint-24: rgb(72, 72, 72);
    --color-light-text-primary-tint-30: rgb(86, 86, 86);
    --color-light-text-primary-tint-40: rgb(110, 110, 110);
    --color-light-text-primary-tint-50: rgb(135, 135, 135);
    --color-light-text-primary-shade-20: rgb(11, 11, 11);
    --color-light-text-primary-shade-40: rgb(8, 8, 8);
    --color-light-text-primary-inverted-alpha-30: rgba(255, 255, 255, 0.3);
    --color-light-text-primary-inverted-alpha-40: rgba(255, 255, 255, 0.4);
    --color-light-text-primary-inverted-tint-20: rgb(255, 255, 255);
    --color-light-text-primary-inverted-tint-30: rgb(255, 255, 255);
    --color-light-text-primary-inverted-shade-7: rgb(237, 237, 237);
    --color-light-text-primary-inverted-shade-15: rgb(217, 217, 217);
    --color-light-text-primary-inverted-shade-24: rgb(194, 194, 194);
    --color-light-text-primary-inverted-shade-30: rgb(179, 179, 179);
    --color-light-text-primary-inverted-shade-40: rgb(153, 153, 153);
    --color-light-text-primary-inverted-shade-50: rgb(128, 128, 128);
    --color-light-text-secondary-tint-20: rgba(99, 99, 105, 0.728);
    --color-light-text-secondary-tint-30: rgba(119, 119, 123, 0.762);
    --color-light-text-secondary-shade-20: rgba(48, 48, 54, 0.728);
    --color-light-text-secondary-shade-40: rgba(36, 36, 40, 0.796);
    --color-light-text-secondary-inverted-tint-20: rgba(239, 239, 247, 0.632);
    --color-light-text-secondary-inverted-tint-30: rgba(241, 241, 248, 0.678);
    --color-static-bg-primary-dark-alpha-10: rgba(18, 18, 18, 0.1);
    --color-static-bg-primary-dark-alpha-20: rgba(18, 18, 18, 0.2);
    --color-static-bg-primary-dark-tint-15: rgb(54, 54, 54);
    --color-static-bg-primary-dark-tint-20: rgb(65, 65, 65);
    --color-static-graphic-light-shade-7: rgb(237, 237, 237);
    --color-static-graphic-light-shade-15: rgb(217, 217, 217);
    --color-static-text-primary-light-alpha-30: rgba(255, 255, 255, 0.3);
}
