:root {
    --color-dark-promo-muted-menthol: #1b2816;
    --color-dark-promo-muted-sonata: #222a3e;
    --color-dark-promo-muted-tomato: #3e2321;
    --color-light-promo-muted-menthol: #eafae2;
    --color-light-promo-muted-sonata: #e9f6fd;
    --color-light-promo-muted-tomato: #fdf1f1;
    --color-static-promo-chardonnay: #ffcf99;
    --color-static-promo-conclave: #b3ccff;
    --color-static-promo-gravel: #2a2c2f;
    --color-static-promo-lagoon: #9df2f5;
    --color-static-promo-menthol: #bff0a8;
    --color-static-promo-oasis: #dfbfff;
    --color-static-promo-pale-chardonnay: #ffe5c7;
    --color-static-promo-pale-conclave: #d6e6ff;
    --color-static-promo-pale-lagoon: #c5f8fa;
    --color-static-promo-pale-oasis: #ebd6ff;
    --color-static-promo-pale-pearl: #f1f4f4;
    --color-static-promo-pale-primrose: #eaffb3;
    --color-static-promo-pale-seafoam: #d6ffe7;
    --color-static-promo-pale-tomato: #ffdbd8;
    --color-static-promo-peach: #ffcbb3;
    --color-static-promo-pearl: #eaeeee;
    --color-static-promo-prelude: #c7bfff;
    --color-static-promo-primrose: #d6f09a;
    --color-static-promo-seafoam: #a0fac6;
    --color-static-promo-sonata: #9edfff;
    --color-static-promo-tomato: #ffcac7;
    --color-static-promo-vibrant-chardonnay: #fa9319;
    --color-static-promo-vibrant-conclave: #266fff;
    --color-static-promo-vibrant-lagoon: #00e8f0;
    --color-static-promo-vibrant-menthol: #31e300;
    --color-static-promo-vibrant-oasis: #93f;
    --color-static-promo-vibrant-peach: #ff681c;
    --color-static-promo-vibrant-prelude: #6a4dff;
    --color-static-promo-vibrant-primrose: #a8f000;
    --color-static-promo-vibrant-seafoam: #00f064;
    --color-static-promo-vibrant-sonata: #17a0e5;
    --color-static-promo-vibrant-tomato: #ef3124;
}
