:root {
    --color-light-promo-chardonnay: var(--color-dark-promo-chardonnay);
    --color-light-promo-chardonnay-hover: var(--color-dark-promo-chardonnay-hover);
    --color-light-promo-chardonnay-press: var(--color-dark-promo-chardonnay-press);
    --color-light-promo-classic: var(--color-dark-promo-classic);
    --color-light-promo-classic-hover: var(--color-dark-promo-classic-hover);
    --color-light-promo-classic-press: var(--color-dark-promo-classic-press);
    --color-light-promo-conclave: var(--color-dark-promo-conclave);
    --color-light-promo-conclave-hover: var(--color-dark-promo-conclave-hover);
    --color-light-promo-conclave-press: var(--color-dark-promo-conclave-press);
    --color-light-promo-gravel: var(--color-dark-promo-gravel);
    --color-light-promo-gravel-hover: var(--color-dark-promo-gravel-hover);
    --color-light-promo-gravel-press: var(--color-dark-promo-gravel-press);
    --color-light-promo-lagoon: var(--color-dark-promo-lagoon);
    --color-light-promo-lagoon-hover: var(--color-dark-promo-lagoon-hover);
    --color-light-promo-lagoon-press: var(--color-dark-promo-lagoon-press);
    --color-light-promo-menthol: var(--color-dark-promo-menthol);
    --color-light-promo-menthol-hover: var(--color-dark-promo-menthol-hover);
    --color-light-promo-menthol-press: var(--color-dark-promo-menthol-press);
    --color-light-promo-muted-gravel: var(--color-dark-promo-muted-gravel);
    --color-light-promo-muted-gravel-hover: var(--color-dark-promo-muted-gravel-hover);
    --color-light-promo-muted-gravel-press: var(--color-dark-promo-muted-gravel-press);
    --color-light-promo-muted-menthol: var(--color-dark-promo-muted-menthol);
    --color-light-promo-muted-menthol-hover: var(--color-dark-promo-muted-menthol-hover);
    --color-light-promo-muted-menthol-press: var(--color-dark-promo-muted-menthol-press);
    --color-light-promo-muted-sonata: var(--color-dark-promo-muted-sonata);
    --color-light-promo-muted-sonata-hover: var(--color-dark-promo-muted-sonata-hover);
    --color-light-promo-muted-sonata-press: var(--color-dark-promo-muted-sonata-press);
    --color-light-promo-muted-tomato: var(--color-dark-promo-muted-tomato);
    --color-light-promo-muted-tomato-hover: var(--color-dark-promo-muted-tomato-hover);
    --color-light-promo-muted-tomato-press: var(--color-dark-promo-muted-tomato-press);
    --color-light-promo-oasis: var(--color-dark-promo-oasis);
    --color-light-promo-oasis-hover: var(--color-dark-promo-oasis-hover);
    --color-light-promo-oasis-press: var(--color-dark-promo-oasis-press);
    --color-light-promo-pale-chardonnay: var(--color-dark-promo-pale-chardonnay);
    --color-light-promo-pale-conclave: var(--color-dark-promo-pale-conclave);
    --color-light-promo-pale-lagoon: var(--color-dark-promo-pale-lagoon);
    --color-light-promo-pale-oasis: var(--color-dark-promo-pale-oasis);
    --color-light-promo-pale-pearl: var(--color-dark-promo-pale-pearl);
    --color-light-promo-pale-primrose: var(--color-dark-promo-pale-primrose);
    --color-light-promo-pale-seafoam: var(--color-dark-promo-pale-seafoam);
    --color-light-promo-pale-tomato: var(--color-dark-promo-pale-tomato);
    --color-light-promo-peach: var(--color-dark-promo-peach);
    --color-light-promo-peach-hover: var(--color-dark-promo-peach-hover);
    --color-light-promo-peach-press: var(--color-dark-promo-peach-press);
    --color-light-promo-pearl: var(--color-dark-promo-pearl);
    --color-light-promo-pearl-hover: var(--color-dark-promo-pearl-hover);
    --color-light-promo-pearl-press: var(--color-dark-promo-pearl-press);
    --color-light-promo-prelude: var(--color-dark-promo-prelude);
    --color-light-promo-prelude-hover: var(--color-dark-promo-prelude-hover);
    --color-light-promo-prelude-press: var(--color-dark-promo-prelude-press);
    --color-light-promo-primrose: var(--color-dark-promo-primrose);
    --color-light-promo-primrose-hover: var(--color-dark-promo-primrose-hover);
    --color-light-promo-primrose-press: var(--color-dark-promo-primrose-press);
    --color-light-promo-seafoam: var(--color-dark-promo-seafoam);
    --color-light-promo-seafoam-hover: var(--color-dark-promo-seafoam-hover);
    --color-light-promo-seafoam-press: var(--color-dark-promo-seafoam-press);
    --color-light-promo-sonata: var(--color-dark-promo-sonata);
    --color-light-promo-sonata-hover: var(--color-dark-promo-sonata-hover);
    --color-light-promo-sonata-press: var(--color-dark-promo-sonata-press);
    --color-light-promo-tomato: var(--color-dark-promo-tomato);
    --color-light-promo-tomato-hover: var(--color-dark-promo-tomato-hover);
    --color-light-promo-tomato-press: var(--color-dark-promo-tomato-press);
    --color-light-promo-vibrant-chardonnay: var(--color-dark-promo-vibrant-chardonnay);
    --color-light-promo-vibrant-chardonnay-hover: var(--color-dark-promo-vibrant-chardonnay-hover);
    --color-light-promo-vibrant-chardonnay-press: var(--color-dark-promo-vibrant-chardonnay-press);
    --color-light-promo-vibrant-conclave: var(--color-dark-promo-vibrant-conclave);
    --color-light-promo-vibrant-conclave-hover: var(--color-dark-promo-vibrant-conclave-hover);
    --color-light-promo-vibrant-conclave-press: var(--color-dark-promo-vibrant-conclave-press);
    --color-light-promo-vibrant-lagoon: var(--color-dark-promo-vibrant-lagoon);
    --color-light-promo-vibrant-lagoon-hover: var(--color-dark-promo-vibrant-lagoon-hover);
    --color-light-promo-vibrant-lagoon-press: var(--color-dark-promo-vibrant-lagoon-press);
    --color-light-promo-vibrant-menthol: var(--color-dark-promo-vibrant-menthol);
    --color-light-promo-vibrant-menthol-hover: var(--color-dark-promo-vibrant-menthol-hover);
    --color-light-promo-vibrant-menthol-press: var(--color-dark-promo-vibrant-menthol-press);
    --color-light-promo-vibrant-oasis: var(--color-dark-promo-vibrant-oasis);
    --color-light-promo-vibrant-oasis-hover: var(--color-dark-promo-vibrant-oasis-hover);
    --color-light-promo-vibrant-oasis-press: var(--color-dark-promo-vibrant-oasis-press);
    --color-light-promo-vibrant-peach: var(--color-dark-promo-vibrant-peach);
    --color-light-promo-vibrant-peach-hover: var(--color-dark-promo-vibrant-peach-hover);
    --color-light-promo-vibrant-peach-press: var(--color-dark-promo-vibrant-peach-press);
    --color-light-promo-vibrant-prelude: var(--color-dark-promo-vibrant-prelude);
    --color-light-promo-vibrant-prelude-hover: var(--color-dark-promo-vibrant-prelude-hover);
    --color-light-promo-vibrant-prelude-press: var(--color-dark-promo-vibrant-prelude-press);
    --color-light-promo-vibrant-primrose: var(--color-dark-promo-vibrant-primrose);
    --color-light-promo-vibrant-primrose-hover: var(--color-dark-promo-vibrant-primrose-hover);
    --color-light-promo-vibrant-primrose-press: var(--color-dark-promo-vibrant-primrose-press);
    --color-light-promo-vibrant-seafoam: var(--color-dark-promo-vibrant-seafoam);
    --color-light-promo-vibrant-seafoam-hover: var(--color-dark-promo-vibrant-seafoam-hover);
    --color-light-promo-vibrant-seafoam-press: var(--color-dark-promo-vibrant-seafoam-press);
    --color-light-promo-vibrant-sonata: var(--color-dark-promo-vibrant-sonata);
    --color-light-promo-vibrant-sonata-hover: var(--color-dark-promo-vibrant-sonata-hover);
    --color-light-promo-vibrant-sonata-press: var(--color-dark-promo-vibrant-sonata-press);
    --color-light-promo-vibrant-tomato: var(--color-dark-promo-vibrant-tomato);
    --color-light-promo-vibrant-tomato-hover: var(--color-dark-promo-vibrant-tomato-hover);
    --color-light-promo-vibrant-tomato-press: var(
        --color-dark-promo-vibrant-tomato-press
    ); /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */ /* deprecated */
}
