:root {
    --color-light-sequential-blue-1: var(--color-dark-sequential-blue-1);
    --color-light-sequential-blue-2: var(--color-dark-sequential-blue-2);
    --color-light-sequential-blue-3: var(--color-dark-sequential-blue-3);
    --color-light-sequential-blue-4: var(--color-dark-sequential-blue-4);
    --color-light-sequential-blue-5: var(--color-dark-sequential-blue-5);
    --color-light-sequential-blue-6: var(--color-dark-sequential-blue-6);
    --color-light-sequential-blue-7: var(--color-dark-sequential-blue-7);
    --color-light-sequential-blue-8: var(--color-dark-sequential-blue-8);
    --color-light-sequential-cyan-1: var(--color-dark-sequential-cyan-1);
    --color-light-sequential-cyan-2: var(--color-dark-sequential-cyan-2);
    --color-light-sequential-cyan-3: var(--color-dark-sequential-cyan-3);
    --color-light-sequential-cyan-4: var(--color-dark-sequential-cyan-4);
    --color-light-sequential-cyan-5: var(--color-dark-sequential-cyan-5);
    --color-light-sequential-cyan-6: var(--color-dark-sequential-cyan-6);
    --color-light-sequential-cyan-7: var(--color-dark-sequential-cyan-7);
    --color-light-sequential-cyan-8: var(--color-dark-sequential-cyan-8);
    --color-light-sequential-fuchsia-1: var(--color-dark-sequential-fuchsia-1);
    --color-light-sequential-fuchsia-2: var(--color-dark-sequential-fuchsia-2);
    --color-light-sequential-fuchsia-3: var(--color-dark-sequential-fuchsia-3);
    --color-light-sequential-fuchsia-4: var(--color-dark-sequential-fuchsia-4);
    --color-light-sequential-fuchsia-5: var(--color-dark-sequential-fuchsia-5);
    --color-light-sequential-fuchsia-6: var(--color-dark-sequential-fuchsia-6);
    --color-light-sequential-fuchsia-7: var(--color-dark-sequential-fuchsia-7);
    --color-light-sequential-fuchsia-8: var(--color-dark-sequential-fuchsia-8);
    --color-light-sequential-green-1: var(--color-dark-sequential-green-1);
    --color-light-sequential-green-2: var(--color-dark-sequential-green-2);
    --color-light-sequential-green-3: var(--color-dark-sequential-green-3);
    --color-light-sequential-green-4: var(--color-dark-sequential-green-4);
    --color-light-sequential-green-5: var(--color-dark-sequential-green-5);
    --color-light-sequential-green-6: var(--color-dark-sequential-green-6);
    --color-light-sequential-green-7: var(--color-dark-sequential-green-7);
    --color-light-sequential-green-8: var(--color-dark-sequential-green-8);
    --color-light-sequential-indigo-1: var(--color-dark-sequential-indigo-1);
    --color-light-sequential-indigo-2: var(--color-dark-sequential-indigo-2);
    --color-light-sequential-indigo-3: var(--color-dark-sequential-indigo-3);
    --color-light-sequential-indigo-4: var(--color-dark-sequential-indigo-4);
    --color-light-sequential-indigo-5: var(--color-dark-sequential-indigo-5);
    --color-light-sequential-indigo-6: var(--color-dark-sequential-indigo-6);
    --color-light-sequential-indigo-7: var(--color-dark-sequential-indigo-7);
    --color-light-sequential-indigo-8: var(--color-dark-sequential-indigo-8);
    --color-light-sequential-jungle-1: var(--color-dark-sequential-jungle-1);
    --color-light-sequential-jungle-2: var(--color-dark-sequential-jungle-2);
    --color-light-sequential-jungle-3: var(--color-dark-sequential-jungle-3);
    --color-light-sequential-jungle-4: var(--color-dark-sequential-jungle-4);
    --color-light-sequential-jungle-5: var(--color-dark-sequential-jungle-5);
    --color-light-sequential-jungle-6: var(--color-dark-sequential-jungle-6);
    --color-light-sequential-jungle-7: var(--color-dark-sequential-jungle-7);
    --color-light-sequential-jungle-8: var(--color-dark-sequential-jungle-8);
    --color-light-sequential-magenta-1: var(--color-dark-sequential-magenta-1);
    --color-light-sequential-magenta-2: var(--color-dark-sequential-magenta-2);
    --color-light-sequential-magenta-3: var(--color-dark-sequential-magenta-3);
    --color-light-sequential-magenta-4: var(--color-dark-sequential-magenta-4);
    --color-light-sequential-magenta-5: var(--color-dark-sequential-magenta-5);
    --color-light-sequential-magenta-6: var(--color-dark-sequential-magenta-6);
    --color-light-sequential-magenta-7: var(--color-dark-sequential-magenta-7);
    --color-light-sequential-magenta-8: var(--color-dark-sequential-magenta-8);
    --color-light-sequential-orange-1: var(--color-dark-sequential-orange-1);
    --color-light-sequential-orange-2: var(--color-dark-sequential-orange-2);
    --color-light-sequential-orange-3: var(--color-dark-sequential-orange-3);
    --color-light-sequential-orange-4: var(--color-dark-sequential-orange-4);
    --color-light-sequential-orange-5: var(--color-dark-sequential-orange-5);
    --color-light-sequential-orange-6: var(--color-dark-sequential-orange-6);
    --color-light-sequential-orange-7: var(--color-dark-sequential-orange-7);
    --color-light-sequential-orange-8: var(--color-dark-sequential-orange-8);
    --color-light-sequential-pistachio-1: var(--color-dark-sequential-pistachio-1);
    --color-light-sequential-pistachio-2: var(--color-dark-sequential-pistachio-2);
    --color-light-sequential-pistachio-3: var(--color-dark-sequential-pistachio-3);
    --color-light-sequential-pistachio-4: var(--color-dark-sequential-pistachio-4);
    --color-light-sequential-pistachio-5: var(--color-dark-sequential-pistachio-5);
    --color-light-sequential-pistachio-6: var(--color-dark-sequential-pistachio-6);
    --color-light-sequential-pistachio-7: var(--color-dark-sequential-pistachio-7);
    --color-light-sequential-pistachio-8: var(--color-dark-sequential-pistachio-8);
    --color-light-sequential-purple-1: var(--color-dark-sequential-purple-1);
    --color-light-sequential-purple-2: var(--color-dark-sequential-purple-2);
    --color-light-sequential-purple-3: var(--color-dark-sequential-purple-3);
    --color-light-sequential-purple-4: var(--color-dark-sequential-purple-4);
    --color-light-sequential-purple-5: var(--color-dark-sequential-purple-5);
    --color-light-sequential-purple-6: var(--color-dark-sequential-purple-6);
    --color-light-sequential-purple-7: var(--color-dark-sequential-purple-7);
    --color-light-sequential-purple-8: var(--color-dark-sequential-purple-8);
    --color-light-sequential-red-1: var(--color-dark-sequential-red-1);
    --color-light-sequential-red-2: var(--color-dark-sequential-red-2);
    --color-light-sequential-red-3: var(--color-dark-sequential-red-3);
    --color-light-sequential-red-4: var(--color-dark-sequential-red-4);
    --color-light-sequential-red-5: var(--color-dark-sequential-red-5);
    --color-light-sequential-red-6: var(--color-dark-sequential-red-6);
    --color-light-sequential-red-7: var(--color-dark-sequential-red-7);
    --color-light-sequential-red-8: var(--color-dark-sequential-red-8);
    --color-light-sequential-teal-1: var(--color-dark-sequential-teal-1);
    --color-light-sequential-teal-2: var(--color-dark-sequential-teal-2);
    --color-light-sequential-teal-3: var(--color-dark-sequential-teal-3);
    --color-light-sequential-teal-4: var(--color-dark-sequential-teal-4);
    --color-light-sequential-teal-5: var(--color-dark-sequential-teal-5);
    --color-light-sequential-teal-6: var(--color-dark-sequential-teal-6);
    --color-light-sequential-teal-7: var(--color-dark-sequential-teal-7);
    --color-light-sequential-teal-8: var(--color-dark-sequential-teal-8);
}
