:root {
    --color-static-brand-black: #000;
    --color-static-brand-blue: #0056ff;
    --color-static-brand-bright-blue: #00e8f0;
    --color-static-brand-green: #31e300;
    --color-static-brand-red: #ef3124;
    --color-static-brand-violet: #6a4dff;
    --color-static-brand-warm-green: #a8f000;
    --color-static-brand-white: #fff;
}
