:root {
    --color-dark-go-lilac: #2b213a;
    --color-dark-go-violet: #7b54eb;
    --color-light-go-lilac: #f6ebff;
    --color-light-go-violet: #7a38e0;
    --color-static-go-lime: #90e978;
    --color-static-go-toxic: #64e34b;
    --color-static-go-violet: #7a38e0;
}
