:root {
    --color-light-monochrome-black-2: var(--color-dark-monochrome-black-2);
    --color-light-monochrome-black-2-inverted: var(--color-dark-monochrome-black-2-inverted);
    --color-light-monochrome-black-4: var(--color-dark-monochrome-black-4);
    --color-light-monochrome-black-4-inverted: var(--color-dark-monochrome-black-4-inverted);
    --color-light-monochrome-black-6: var(--color-dark-monochrome-black-6);
    --color-light-monochrome-black-6-inverted: var(--color-dark-monochrome-black-6-inverted);
    --color-light-monochrome-black-8: var(--color-dark-monochrome-black-8);
    --color-light-monochrome-black-8-inverted: var(--color-dark-monochrome-black-8-inverted);
    --color-light-monochrome-black-10: var(--color-dark-monochrome-black-10);
    --color-light-monochrome-black-10-inverted: var(--color-dark-monochrome-black-10-inverted);
    --color-light-monochrome-black-12: var(--color-dark-monochrome-black-12);
    --color-light-monochrome-black-12-inverted: var(--color-dark-monochrome-black-12-inverted);
    --color-light-monochrome-black-16: var(--color-dark-monochrome-black-16);
    --color-light-monochrome-black-16-inverted: var(--color-dark-monochrome-black-16-inverted);
    --color-light-monochrome-black-20: var(--color-dark-monochrome-black-20);
    --color-light-monochrome-black-20-inverted: var(--color-dark-monochrome-black-20-inverted);
    --color-light-monochrome-black-24: var(--color-dark-monochrome-black-24);
    --color-light-monochrome-black-24-inverted: var(--color-dark-monochrome-black-24-inverted);
    --color-light-monochrome-black-32: var(--color-dark-monochrome-black-32);
    --color-light-monochrome-black-32-inverted: var(--color-dark-monochrome-black-32-inverted);
    --color-light-monochrome-black-40: var(--color-dark-monochrome-black-40);
    --color-light-monochrome-black-40-inverted: var(--color-dark-monochrome-black-40-inverted);
    --color-light-monochrome-black-44: var(--color-dark-monochrome-black-44);
    --color-light-monochrome-black-44-inverted: var(--color-dark-monochrome-black-44-inverted);
    --color-light-monochrome-black-48: var(--color-dark-monochrome-black-48);
    --color-light-monochrome-black-48-inverted: var(--color-dark-monochrome-black-48-inverted);
    --color-light-monochrome-black-56: var(--color-dark-monochrome-black-56);
    --color-light-monochrome-black-56-inverted: var(--color-dark-monochrome-black-56-inverted);
    --color-light-monochrome-black-64: var(--color-dark-monochrome-black-64);
    --color-light-monochrome-black-64-inverted: var(--color-dark-monochrome-black-64-inverted);
    --color-light-monochrome-black-72: var(--color-dark-monochrome-black-72);
    --color-light-monochrome-black-72-inverted: var(--color-dark-monochrome-black-72-inverted);
    --color-light-monochrome-black-80: var(--color-dark-monochrome-black-80);
    --color-light-monochrome-black-80-inverted: var(--color-dark-monochrome-black-80-inverted);
    --color-light-monochrome-black-88: var(--color-dark-monochrome-black-88);
    --color-light-monochrome-black-88-inverted: var(--color-dark-monochrome-black-88-inverted);
    --color-light-monochrome-black-100: var(--color-dark-monochrome-black-100);
    --color-light-monochrome-black-100-inverted: var(--color-dark-monochrome-black-100-inverted);
    --color-light-monochrome-white-2: var(--color-dark-monochrome-white-2);
    --color-light-monochrome-white-2-inverted: var(--color-dark-monochrome-white-2-inverted);
    --color-light-monochrome-white-4: var(--color-dark-monochrome-white-4);
    --color-light-monochrome-white-4-inverted: var(--color-dark-monochrome-white-4-inverted);
    --color-light-monochrome-white-6: var(--color-dark-monochrome-white-6);
    --color-light-monochrome-white-6-inverted: var(--color-dark-monochrome-white-6-inverted);
    --color-light-monochrome-white-8: var(--color-dark-monochrome-white-8);
    --color-light-monochrome-white-8-inverted: var(--color-dark-monochrome-white-8-inverted);
    --color-light-monochrome-white-10: var(--color-dark-monochrome-white-10);
    --color-light-monochrome-white-10-inverted: var(--color-dark-monochrome-white-10-inverted);
    --color-light-monochrome-white-12: var(--color-dark-monochrome-white-12);
    --color-light-monochrome-white-12-inverted: var(--color-dark-monochrome-white-12-inverted);
    --color-light-monochrome-white-16: var(--color-dark-monochrome-white-16);
    --color-light-monochrome-white-16-inverted: var(--color-dark-monochrome-white-16-inverted);
    --color-light-monochrome-white-20: var(--color-dark-monochrome-white-20);
    --color-light-monochrome-white-20-inverted: var(--color-dark-monochrome-white-20-inverted);
    --color-light-monochrome-white-24: var(--color-dark-monochrome-white-24);
    --color-light-monochrome-white-24-inverted: var(--color-dark-monochrome-white-24-inverted);
    --color-light-monochrome-white-32: var(--color-dark-monochrome-white-32);
    --color-light-monochrome-white-32-inverted: var(--color-dark-monochrome-white-32-inverted);
    --color-light-monochrome-white-40: var(--color-dark-monochrome-white-40);
    --color-light-monochrome-white-40-inverted: var(--color-dark-monochrome-white-40-inverted);
    --color-light-monochrome-white-44: var(--color-dark-monochrome-white-44);
    --color-light-monochrome-white-44-inverted: var(--color-dark-monochrome-white-44-inverted);
    --color-light-monochrome-white-48: var(--color-dark-monochrome-white-48);
    --color-light-monochrome-white-48-inverted: var(--color-dark-monochrome-white-48-inverted);
    --color-light-monochrome-white-56: var(--color-dark-monochrome-white-56);
    --color-light-monochrome-white-56-inverted: var(--color-dark-monochrome-white-56-inverted);
    --color-light-monochrome-white-64: var(--color-dark-monochrome-white-64);
    --color-light-monochrome-white-64-inverted: var(--color-dark-monochrome-white-64-inverted);
    --color-light-monochrome-white-72: var(--color-dark-monochrome-white-72);
    --color-light-monochrome-white-72-inverted: var(--color-dark-monochrome-white-72-inverted);
    --color-light-monochrome-white-80: var(--color-dark-monochrome-white-80);
    --color-light-monochrome-white-80-inverted: var(--color-dark-monochrome-white-80-inverted);
    --color-light-monochrome-white-88: var(--color-dark-monochrome-white-88);
    --color-light-monochrome-white-88-inverted: var(--color-dark-monochrome-white-88-inverted);
    --color-light-monochrome-white-100: var(--color-dark-monochrome-white-100);
    --color-light-monochrome-white-100-inverted: var(--color-dark-monochrome-white-100-inverted);
}
