:root {
    --color-dark-qualitative-duocolor-set-a-1: #17d055;
    --color-dark-qualitative-duocolor-set-a-2: #fe5e48;
    --color-dark-qualitative-duocolor-set-b-1: #17d055;
    --color-dark-qualitative-duocolor-set-b-2: #fda136;
    --color-dark-qualitative-duocolor-set-c-1: #71a5f2;
    --color-dark-qualitative-duocolor-set-c-2: #fda136;
    --color-dark-qualitative-duocolor-set-d-1: #9cc350;
    --color-dark-qualitative-duocolor-set-d-2: #9b95f2;
    --color-dark-qualitative-duocolor-set-e-1: #37b9bb;
    --color-dark-qualitative-duocolor-set-e-2: #fda136;
    --color-dark-qualitative-duocolor-set-f-1: #f6d53d;
    --color-dark-qualitative-duocolor-set-f-2: #9b95f2;
    --color-dark-qualitative-duocolor-set-g-1: #9cc350;
    --color-dark-qualitative-duocolor-set-g-2: #d086ec;
    --color-dark-qualitative-flexible-1: #9cc350;
    --color-dark-qualitative-flexible-10: #8376e3;
    --color-dark-qualitative-flexible-11: #6aca7a;
    --color-dark-qualitative-flexible-12: #3492b9;
    --color-dark-qualitative-flexible-13: #f6d53d;
    --color-dark-qualitative-flexible-14: #f278ca;
    --color-dark-qualitative-flexible-2: #5388e0;
    --color-dark-qualitative-flexible-3: #f76750;
    --color-dark-qualitative-flexible-4: #2a9d74;
    --color-dark-qualitative-flexible-5: #f6a850;
    --color-dark-qualitative-flexible-6: #ba63d6;
    --color-dark-qualitative-flexible-7: #fc8fb0;
    --color-dark-qualitative-flexible-8: #3b9e4d;
    --color-dark-qualitative-flexible-9: #75dddf;
    --color-dark-qualitative-monocolor-blue: #71a5f2;
    --color-dark-qualitative-monocolor-green: #17d055;
    --color-dark-qualitative-monocolor-indigo: #9b95f2;
    --color-dark-qualitative-monocolor-magenta: #f8789e;
    --color-dark-qualitative-monocolor-orange: #fda136;
    --color-dark-qualitative-monocolor-pistachio: #9cc350;
    --color-dark-qualitative-monocolor-red: #fe5e48;
    --color-dark-qualitative-monocolor-teal: #37b9bb;
    --color-dark-qualitative-monocolor-yellow: #f6d53d;
    --color-dark-qualitative-tetracolor-set-a-1: #3492b9;
    --color-dark-qualitative-tetracolor-set-a-2: #53c9a4;
    --color-dark-qualitative-tetracolor-set-a-3: #ba63d6;
    --color-dark-qualitative-tetracolor-set-a-4: #f6d53d;
    --color-dark-qualitative-tetracolor-set-b-1: #8376e3;
    --color-dark-qualitative-tetracolor-set-b-2: #53c9a4;
    --color-dark-qualitative-tetracolor-set-b-3: #3492b9;
    --color-dark-qualitative-tetracolor-set-b-4: #fda136;
    --color-dark-qualitative-tetracolor-set-c-1: #ba63d6;
    --color-dark-qualitative-tetracolor-set-c-2: #53c9a4;
    --color-dark-qualitative-tetracolor-set-c-3: #fbdf62;
    --color-dark-qualitative-tetracolor-set-c-4: #fe5e48;
    --color-dark-qualitative-tricolor-set-a-1: #9cc350;
    --color-dark-qualitative-tricolor-set-a-2: #9b95f2;
    --color-dark-qualitative-tricolor-set-a-3: #f6d53d;
    --color-dark-qualitative-tricolor-set-b-1: #53c9a4;
    --color-dark-qualitative-tricolor-set-b-2: #d086ec;
    --color-dark-qualitative-tricolor-set-b-3: #fda136;
    --color-dark-qualitative-tricolor-set-c-1: #fe5e48;
    --color-dark-qualitative-tricolor-set-c-2: #37b9bb;
    --color-dark-qualitative-tricolor-set-c-3: #fda136;
    --color-dark-qualitative-tricolor-set-d-1: #9cc350;
    --color-dark-qualitative-tricolor-set-d-2: #71a5f2;
    --color-dark-qualitative-tricolor-set-d-3: #fe5e48;
    --color-dark-qualitative-tricolor-set-e-1: #fda136;
    --color-dark-qualitative-tricolor-set-e-2: #71a5f2;
    --color-dark-qualitative-tricolor-set-e-3: #f6d53d;
    --color-light-qualitative-duocolor-set-a-1: #0cc44d;
    --color-light-qualitative-duocolor-set-a-2: #ff4837;
    --color-light-qualitative-duocolor-set-b-1: #0cc44d;
    --color-light-qualitative-duocolor-set-b-2: #fda136;
    --color-light-qualitative-duocolor-set-c-1: #5388e0;
    --color-light-qualitative-duocolor-set-c-2: #fda136;
    --color-light-qualitative-duocolor-set-d-1: #9cc350;
    --color-light-qualitative-duocolor-set-d-2: #8376e3;
    --color-light-qualitative-duocolor-set-e-1: #139c99;
    --color-light-qualitative-duocolor-set-e-2: #fda136;
    --color-light-qualitative-duocolor-set-f-1: #f6d53d;
    --color-light-qualitative-duocolor-set-f-2: #8376e3;
    --color-light-qualitative-duocolor-set-g-1: #9cc350;
    --color-light-qualitative-duocolor-set-g-2: #ba63d6;
    --color-light-qualitative-flexible-1: #9cc350;
    --color-light-qualitative-flexible-10: #7b64d3;
    --color-light-qualitative-flexible-11: #5abd69;
    --color-light-qualitative-flexible-12: #2482a2;
    --color-light-qualitative-flexible-13: #f6d53d;
    --color-light-qualitative-flexible-14: #da55b4;
    --color-light-qualitative-flexible-2: #4d75d0;
    --color-light-qualitative-flexible-3: #ec5742;
    --color-light-qualitative-flexible-4: #228c68;
    --color-light-qualitative-flexible-5: #f29b3e;
    --color-light-qualitative-flexible-6: #aa52c1;
    --color-light-qualitative-flexible-7: #f8789e;
    --color-light-qualitative-flexible-8: #358d43;
    --color-light-qualitative-flexible-9: #4ac5c7;
    --color-light-qualitative-monocolor-blue: #5388e0;
    --color-light-qualitative-monocolor-green: #0cc44d;
    --color-light-qualitative-monocolor-indigo: #8376e3;
    --color-light-qualitative-monocolor-magenta: #e35583;
    --color-light-qualitative-monocolor-orange: #fda136;
    --color-light-qualitative-monocolor-pistachio: #9cc350;
    --color-light-qualitative-monocolor-red: #ff4837;
    --color-light-qualitative-monocolor-teal: #139c99;
    --color-light-qualitative-monocolor-yellow: #f6d53d;
    --color-light-qualitative-tetracolor-set-a-1: #2482a2;
    --color-light-qualitative-tetracolor-set-a-2: #40ba93;
    --color-light-qualitative-tetracolor-set-a-3: #aa52c1;
    --color-light-qualitative-tetracolor-set-a-4: #f6d53d;
    --color-light-qualitative-tetracolor-set-b-1: #7b64d3;
    --color-light-qualitative-tetracolor-set-b-2: #40ba93;
    --color-light-qualitative-tetracolor-set-b-3: #2482a2;
    --color-light-qualitative-tetracolor-set-b-4: #fda136;
    --color-light-qualitative-tetracolor-set-c-1: #aa52c1;
    --color-light-qualitative-tetracolor-set-c-2: #40ba93;
    --color-light-qualitative-tetracolor-set-c-3: #f6d53d;
    --color-light-qualitative-tetracolor-set-c-4: #ff4837;
    --color-light-qualitative-tricolor-set-a-1: #9cc350;
    --color-light-qualitative-tricolor-set-a-2: #8376e3;
    --color-light-qualitative-tricolor-set-a-3: #f6d53d;
    --color-light-qualitative-tricolor-set-b-1: #40ba93;
    --color-light-qualitative-tricolor-set-b-2: #ba63d6;
    --color-light-qualitative-tricolor-set-b-3: #fda136;
    --color-light-qualitative-tricolor-set-c-1: #ff4837;
    --color-light-qualitative-tricolor-set-c-2: #139c99;
    --color-light-qualitative-tricolor-set-c-3: #fda136;
    --color-light-qualitative-tricolor-set-d-1: #9cc350;
    --color-light-qualitative-tricolor-set-d-2: #5388e0;
    --color-light-qualitative-tricolor-set-d-3: #ff4837;
    --color-light-qualitative-tricolor-set-e-1: #fda136;
    --color-light-qualitative-tricolor-set-e-2: #5388e0;
    --color-light-qualitative-tricolor-set-e-3: #f6d53d;
}
