:root {
    --gap-3xs: 2px; /* deprecated */
    --gap-2xs: 4px; /* deprecated */
    --gap-xs: 8px; /* deprecated */
    --gap-s: 12px; /* deprecated */
    --gap-2s: 14px; /* deprecated */
    --gap-m: 16px; /* deprecated */
    --gap-l: 20px; /* deprecated */
    --gap-xl: 24px; /* deprecated */
    --gap-2xl: 32px; /* deprecated */
    --gap-3xl: 40px; /* deprecated */
    --gap-4xl: 48px; /* deprecated */
    --gap-5xl: 64px; /* deprecated */
    --gap-6xl: 72px; /* deprecated */
    --gap-7xl: 96px; /* deprecated */
    --gap-8xl: 128px; /* deprecated */
    --gap-3xs-neg: -2px; /* deprecated */
    --gap-2xs-neg: -4px; /* deprecated */
    --gap-xs-neg: -8px; /* deprecated */
    --gap-s-neg: -12px; /* deprecated */
    --gap-m-neg: -16px; /* deprecated */
    --gap-l-neg: -20px; /* deprecated */
    --gap-xl-neg: -24px; /* deprecated */
    --gap-2xl-neg: -32px; /* deprecated */
    --gap-3xl-neg: -40px; /* deprecated */
    --gap-4xl-neg: -48px; /* deprecated */
    --gap-5xl-neg: -64px; /* deprecated */
    --gap-6xl-neg: -72px; /* deprecated */
    --gap-7xl-neg: -96px; /* deprecated */
    --gap-8xl-neg: -128px; /* deprecated */

    /* новые значения, используйте их */
    --gap-0: 0;
    --gap-2: 2px;
    --gap-4: 4px;
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-20: 20px;
    --gap-24: 24px;
    --gap-32: 32px;
    --gap-40: 40px;
    --gap-48: 48px;
    --gap-56: 56px;
    --gap-64: 64px;
    --gap-72: 72px;
    --gap-80: 80px;
    --gap-96: 96px;
    --gap-128: 128px;
    --gap-2-neg: -2px;
    --gap-4-neg: -4px;
    --gap-8-neg: -8px;
    --gap-12-neg: -12px;
    --gap-16-neg: -16px;
    --gap-20-neg: -20px;
    --gap-24-neg: -24px;
    --gap-32-neg: -32px;
    --gap-40-neg: -40px;
    --gap-48-neg: -48px;
    --gap-56-neg: -56px;
    --gap-64-neg: -64px;
    --gap-72-neg: -72px;
    --gap-80-neg: -80px;
    --gap-96-neg: -96px;
    --gap-128-neg: -128px;
}
