:root {
    --gap-3xs: 2px; /* deprecated */
    --gap-2xs: 4px; /* deprecated */
    --gap-xs: 8px; /* deprecated */
    --gap-s: 12px; /* deprecated */
    --gap-2s: 14px; /* deprecated */
    --gap-m: 16px; /* deprecated */
    --gap-l: 20px; /* deprecated */
    --gap-xl: 24px; /* deprecated */
    --gap-2xl: 32px; /* deprecated */
    --gap-3xl: 40px; /* deprecated */
    --gap-4xl: 48px; /* deprecated */
    --gap-5xl: 64px; /* deprecated */
    --gap-6xl: 72px; /* deprecated */
    --gap-7xl: 96px; /* deprecated */
    --gap-8xl: 128px; /* deprecated */
    --gap-3xs-neg: -2px; /* deprecated */
    --gap-2xs-neg: -4px; /* deprecated */
    --gap-xs-neg: -8px; /* deprecated */
    --gap-s-neg: -12px; /* deprecated */
    --gap-m-neg: -16px; /* deprecated */
    --gap-l-neg: -20px; /* deprecated */
    --gap-xl-neg: -24px; /* deprecated */
    --gap-2xl-neg: -32px; /* deprecated */
    --gap-3xl-neg: -40px; /* deprecated */
    --gap-4xl-neg: -48px; /* deprecated */
    --gap-5xl-neg: -64px; /* deprecated */
    --gap-6xl-neg: -72px; /* deprecated */
    --gap-7xl-neg: -96px; /* deprecated */
    --gap-8xl-neg: -128px; /* deprecated */

    /* новые значения, используйте их */
    --gap-0: 0px;
    --gap-2: var(--gap-3xs);
    --gap-4: var(--gap-2xs);
    --gap-8: var(--gap-xs);
    --gap-12: var(--gap-s);
    --gap-16: var(--gap-m);
    --gap-20: var(--gap-l);
    --gap-24: var(--gap-xl);
    --gap-32: var(--gap-2xl);
    --gap-40: var(--gap-3xl);
    --gap-48: var(--gap-4xl);
    --gap-56: 56px;
    --gap-64: var(--gap-5xl);
    --gap-72: var(--gap-6xl);
    --gap-80: 80px;
    --gap-96: var(--gap-7xl);
    --gap-128: var(--gap-8xl);
    --gap-2-neg: var(--gap-3xs-neg);
    --gap-4-neg: var(--gap-2xs-neg);
    --gap-8-neg: var(--gap-xs-neg);
    --gap-12-neg: var(--gap-s-neg);
    --gap-16-neg: var(--gap-m-neg);
    --gap-20-neg: var(--gap-l-neg);
    --gap-24-neg: var(--gap-xl-neg);
    --gap-32-neg: var(--gap-2xl-neg);
    --gap-40-neg: var(--gap-3xl-neg);
    --gap-48-neg: var(--gap-4xl-neg);
    --gap-56-neg: -56px;
    --gap-64-neg: var(--gap-5xl-neg);
    --gap-72-neg: var(--gap-6xl-neg);
    --gap-80-neg: -80px;
    --gap-96-neg: var(--gap-7xl-neg);
    --gap-128-neg: var(--gap-8xl-neg);
}
