@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../../vars.css';

.checkmark {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    opacity: 0;

    &.selected {
        opacity: 1;
    }

    &.before {
        margin-right: var(--gap-8);
    }

    &.after {
        margin-left: var(--gap-8);
    }
}

.displayIcon {
    display: var(--select-mobile-checkmark-display-icon);
}

.displayBadge {
    display: var(--select-mobile-checkmark-display-badge);
}
