@import '@alfalab/core-components-vars/src/index.css';
@import '../../vars.css';

.component {
    width: max-content;
    position: relative;
    outline: 0;
    max-width: 100%;
}

.popoverInner {
    padding-top: var(--select-options-list-offset);
    padding-bottom: var(--select-options-list-offset);
    border-radius: var(--border-radius-0);
    position: relative;
}

.popoverInner.popoverInner {
    background: transparent;
    box-shadow: none;
    border: none;
}

.optionsListWrapper {
    position: relative;
    box-shadow: var(--select-options-list-box-shadow);
    border-radius: var(--select-options-list-border-radius);
    background: var(--select-option-background);
    overflow: hidden;
}

.optionsListBorder {
    position: absolute;
    top: var(--gap-0);
    right: var(--gap-0);
    bottom: var(--gap-0);
    left: var(--gap-0);
    box-shadow: inset 0 0 0 1px var(--color-light-neutral-300);
    border-radius: inherit;
    pointer-events: none;
}

.nativeSelect {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: var(--gap-0);
    bottom: var(--gap-0);
    left: var(--gap-0);
    width: 100%;
    max-width: 100%;
    min-width: 0;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.block {
    width: 100%;
}

.emptySearchPlaceholder {
    text-align: center;
}

.search {
    margin: calc(var(--gap-12) - var(--select-options-list-top-padding))
        calc(var(--gap-12) - var(--select-options-list-right-padding)) var(--gap-0)
        calc(var(--gap-12) - var(--select-options-list-left-padding));

    &:last-child {
        margin-bottom: calc(var(--gap-12) - var(--select-options-list-bottom-padding));
    }
}

.option {
    border-radius: var(--select-option-border-radius);
}

.list {
    display: inline-block;
}

.matchContent {
    .scrollbar[data-simplebar] {
        .scrollable {
            display: flex;
        }

        .content {
            flex-grow: 1;
        }

        .list {
            display: inline-block;
            min-width: 100%;
        }
    }

    *:not(&) .list {
        min-width: 100%;
        max-width: 100%;
    }
}

.scrollbar {
    padding-right: var(--select-options-list-right-padding);
    padding-left: var(--select-options-list-left-padding);
    &:first-child {
        .list:before {
            content: '';
            display: block;
            padding-top: var(--select-options-list-top-padding);
        }
    }
    &:last-child {
        .list:after {
            content: '';
            display: block;
            padding-top: var(--select-options-list-bottom-padding);
        }
    }
}

:global(.simplebar-track):global(.simplebar-vertical) {
    .scrollbar:first-child & {
        top: var(--select-options-list-scrollbar-gap);
    }
    .scrollbar:last-child & {
        bottom: var(--select-options-list-scrollbar-gap);
    }
}
