@import '@alfalab/core-components-vars/src/index.css';
@import '../../vars.css';

.component {
    width: max-content;
    position: relative;
    outline: 0;
    max-width: 100%;
}

.popoverInner {
    padding-top: var(--select-options-list-offset);
    padding-bottom: var(--select-options-list-offset);
    background: transparent;
    border-radius: var(--border-radius-0);
    position: relative;
}

.popoverInner.popoverInner {
    box-shadow: none;
    border: none;
}

.optionsListWrapper {
    position: relative;
    padding-right: var(--select-options-list-right-padding);
    padding-left: var(--select-options-list-left-padding);
    box-shadow: var(--select-options-list-box-shadow);
    border-radius: var(--select-options-list-border-radius);
    background: var(--select-option-background);
    overflow: hidden;
}

.optionsListBorder {
    position: absolute;
    top: var(--gap-0);
    right: var(--gap-0);
    bottom: var(--gap-0);
    left: var(--gap-0);
    box-shadow: inset 0 0 0 1px var(--color-light-neutral-300);
    border-radius: inherit;
    pointer-events: none;
}

.nativeSelect {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: var(--gap-0);
    bottom: var(--gap-0);
    left: var(--gap-0);
    width: 100%;
    max-width: 100%;
    min-width: 0;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.block {
    width: 100%;
}

.emptySearchPlaceholder {
    text-align: center;
}

.search {
    margin: var(--gap-6) var(--gap-6) var(--gap-0);

    &:last-child {
        margin-bottom: var(--gap-6);
    }
}

.option {
    border-radius: var(--select-option-border-radius);
}

.list {
    display: inline-block;

    *:not(.matchContent) & {
        min-width: 100%;
    }
}

.optionsList {
    margin-right: calc(-1 * var(--gap-6));
    margin-left: calc(-1 * var(--gap-6));
    min-width: calc(100% + 2 * var(--gap-6));
}

.matchContent {
    .scrollbar[data-simplebar] {
        .scrollable {
            display: flex;
        }

        .content {
            display: inline-flex;
            flex-grow: 1;
        }

        .list {
            flex-grow: 1;
        }
    }
}

.scrollbar {
    margin-right: var(--gap-6);
    margin-left: var(--gap-6);
    &:first-child {
        margin-top: var(--gap-6);
        &,
        .scrollable {
            border-top-left-radius: var(--select-option-border-radius);
            border-top-right-radius: var(--select-option-border-radius);
        }
    }
    &:last-child {
        margin-bottom: var(--gap-6);
        &,
        .scrollable {
            border-bottom-left-radius: var(--select-option-border-radius);
            border-bottom-right-radius: var(--select-option-border-radius);
        }
    }

    :global(.simplebar-track) {
        &:global(.simplebar-vertical) {
            right: calc(-1 * var(--gap-6));
        }
        &:global(.simplebar-horizontal) {
            bottom: calc(-1 * var(--gap-6));
        }
    }
}
