@import '../../../../vars/src/index.css';
@import '../../vars.css';

.component {
    width: max-content;
    position: relative;
    outline: 0;
    max-width: 100%;
}

.popoverInner {
    padding-top: var(--select-options-list-offset);
    padding-bottom: var(--select-options-list-offset);
    background: transparent;
    border-radius: var(--border-radius-0);
    position: relative;
}

.popoverInner.popoverInner {
    box-shadow: none;
    border: none;
}

.optionsListWrapper {
    position: relative;
    padding-top: var(--select-options-list-top-padding);
    padding-bottom: var(--select-options-list-bottom-padding);
    box-shadow: var(--select-options-list-box-shadow);
    border-radius: var(--select-options-list-border-radius);
    background: var(--select-option-background);
    overflow: hidden;
    will-change: transform;
}

.optionsListBorder {
    position: absolute;
    top: var(--gap-0);
    right: var(--gap-0);
    bottom: var(--gap-0);
    left: var(--gap-0);
    box-shadow: inset 0 0 0 1px var(--color-light-neutral-300);
    border-radius: inherit;
    pointer-events: none;
}

.nativeSelect {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: var(--gap-0);
    bottom: var(--gap-0);
    left: var(--gap-0);
    width: 100%;
    max-width: 100%;
    min-width: 0;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.block {
    width: 100%;
}

.emptySearchPlaceholder {
    text-align: center;
}

.search {
    margin: var(--gap-12) var(--gap-12) var(--gap-0);

    &:last-child {
        margin-bottom: var(--gap-12);
    }
}
