@import '../../../../vars/src/index.css';
@import '../../vars.css';

.sheet {
    overflow: hidden;
}

.sheetContent.sheetContent {
    padding: var(--gap-0);

    & .modalContent {
        padding: var(--gap-0);
        display: flex;
        flex-direction: column;
    }
}

.sheetContainer {
    padding: var(--gap-0);
}

.optionsListWrapper {
    flex: 1;
}

.optionsList.optionsList {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollbar {
    flex: 1;
}

.search {
    padding: var(--gap-8);
}

.option.option {
    padding: var(--gap-4) var(--gap-20) var(--gap-4) var(--gap-16);

    &:before {
        display: none;
    }
}

.optionGroup.optionGroup {
    padding: var(--gap-16) var(--gap-16) var(--gap-8);
}
