@import '../../../../vars/src/index.css';
@import '../../vars.css';

.sheet {
    overflow: hidden;
}

.sheetContent.sheetContent {
    padding: 0;

    & .modalContent {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}

.sheetContainer {
    padding: 0;
}

.optionsListWrapper {
    flex: 1;
}

.optionsList.optionsList {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollbar {
    flex: 1;
}

.search {
    padding: var(--gap-xs);
}

.option.option {
    padding: var(--gap-2xs) var(--gap-l) var(--gap-2xs) var(--gap-m);

    &:before {
        display: none;
    }
}

.optionGroup.optionGroup {
    padding: var(--gap-m) var(--gap-m) var(--gap-xs);
}
