@import '../../themes/src/default.css';

.container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: var(--color-static-neutral-0-inverted);
}

.modal {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background: transparent;
}

.navigationVideo {
    background-color: var(--color-static-neutral-0-inverted);
    z-index: 3;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
}

.hideNavigation {
    transform: translateY(106px);
}
