@import '../../../../../../vars/src/index.css';

.container {
    padding: var(--gap-16);
    bottom: 0;

    &.hasScrollContent {
        border-top: unset;
    }

    &.column {
        padding: var(--gap-16);
    }
}
