@import '@alfalab/core-components-vars/src/index.css';

:root {
    --radio-hint-color: var(--color-light-text-secondary);
    --radio-label-color: var(--color-light-text-primary);

    /* unchecked */
    --radio-bg-color: var(--color-light-neutral-0);
    --radio-border-color: var(--color-light-neutral-translucent-700);
    --radio-hover-bg-color: var(--color-light-neutral-0-hover);
    --radio-hover-border-color: var(--color-light-neutral-translucent-700);
    --radio-active-bg-color: var(--color-light-neutral-0-press);
    --radio-active-border-color: var(--color-light-neutral-translucent-700);

    /* checked */
    --radio-checked-bg-color: var(--color-light-accent-secondary);
    --radio-checked-border-color: transparent;
    --radio-checked-hover-bg-color: var(--color-light-accent-secondary-hover);
    --radio-checked-hover-border-color: transparent;
    --radio-checked-active-bg-color: var(--color-light-accent-secondary-press);
    --radio-checked-active-border-color: transparent;

    /* disabled */
    --radio-disabled-color: var(--color-light-text-secondary);
    --radio-disabled-bg-color: var(--color-light-neutral-0);
    --radio-disabled-border-color: var(--color-light-neutral-translucent-300);

    /* disabled and checked */
    --radio-checked-disabled-bg-color: var(--color-light-neutral-translucent-200);
    --radio-checked-disabled-border-color: transparent;

    /* icon */
    --radio-icon-color: var(--color-light-neutral-translucent-1300-inverted);
    --radio-icon-disabled-color: var(--color-light-neutral-translucent-500);
}

.container {
    &:not(.checked):not(.disabled) {
        & .circle {
            background-color: var(--radio-bg-color);
            border: 1.5px solid var(--radio-border-color);
        }

        &:hover:not(:active) .circle {
            background-color: var(--radio-hover-bg-color);
            border-color: var(--radio-hover-border-color);
        }

        &:active .circle {
            background-color: var(--radio-active-bg-color);
            border-color: var(--radio-active-border-color);
        }
    }

    &.disabled {
        cursor: var(--disabled-cursor);

        & .circle {
            background-color: var(--radio-disabled-bg-color);
            border: 1.5px solid var(--radio-disabled-border-color);
        }

        & .label {
            color: var(--radio-disabled-color);
        }

        & .hint {
            color: var(--radio-disabled-color);
        }

        &.checked .circle:before {
            background-color: var(--radio-icon-disabled-color);
        }
    }

    &.checked {
        & .circle {
            background-color: var(--radio-checked-bg-color);
            border: 1.5px solid var(--radio-checked-border-color);
        }

        &:hover .circle {
            background-color: var(--radio-checked-hover-bg-color);
            border-color: var(--radio-checked-hover-border-color);
        }

        &:active .circle {
            background-color: var(--radio-checked-active-bg-color);
            border-color: var(--radio-checked-active-border-color);
        }
    }

    &.disabled.checked .circle {
        background-color: var(--radio-checked-disabled-bg-color);
        border-color: var(--radio-checked-disabled-border-color);
    }
}

.circle {
    &:before {
        background-color: var(--radio-icon-color);
    }
}

.label {
    color: var(--radio-label-color);
}

.hint {
    color: var(--radio-hint-color);
}
