@import '@alfalab/core-components-vars/src/index.css';

:root {
    /* Label */
    --radio-label-font-size: 14px;
    --radio-label-line-height: 20px;
    --radio-label-font-weight: 400;
    --radio-label-font-family: var(--font-family-system);
    --radio-label-size-20-font-size: 16px;
    --radio-label-size-20-line-height: 20px;
    --radio-label-size-20-font-weight: 400;
    --radio-label-size-20-font-family: var(--font-family-system);

    /* Hint */
    --radio-hint-font-size: 12px;
    --radio-hint-line-height: 16px;
    --radio-hint-font-weight: 400;
    --radio-hint-font-family: var(--font-family-system);
}

.container {
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;

    &.checked:not(:active) .circle:before,
    &.checked.disabled:active .circle:before {
        opacity: 1;
    }

    &.focused .circle {
        @mixin focus-outline;
    }

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.circle {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: var(--border-radius-circle);
    position: relative;
    margin: var(--gap-2);
    transition:
        background-color 0.2s ease,
        border 0.2s ease;

    &:before {
        content: '';
        position: absolute;
        border-radius: var(--border-radius-circle);
        left: 50%;
        right: var(--gap-0);
        top: 50%;
        bottom: var(--gap-0);
        transition: opacity 0.2s ease;
        opacity: 0;
        width: 6px;
        height: 6px;
        transform: translate(-50%, -50%);
    }
}

.size-20 .circle {
    width: 16px;
    height: 16px;

    &:before {
        border-width: 4px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: var(--gap-12);
}

.size-20 .content {
    margin-left: var(--gap-8);

    & .label {
        font-size: var(--radio-label-size-20-font-size);
        line-height: var(--radio-label-size-20-line-height);
        font-weight: var(--radio-label-size-20-font-weight);
        font-family: var(--radio-label-size-20-font-family);
    }
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.addons {
    margin-left: auto;
    padding-left: var(--gap-16);
    line-height: 24px;
}

.block {
    width: 100%;
}

.label {
    font-size: var(--radio-label-font-size);
    line-height: var(--radio-label-line-height);
    font-weight: var(--radio-label-font-weight);
    font-family: var(--radio-label-font-family);
}

.hint {
    font-size: var(--radio-hint-font-size);
    line-height: var(--radio-hint-line-height);
    font-weight: var(--radio-hint-font-weight);
    font-family: var(--radio-hint-font-family);
    margin-top: var(--gap-4);
}
