@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    & canvas {
        display: block;
        margin: 0 auto;
    }
}

.hidden {
    visibility: hidden;
}

.message {
    @mixin paragraph_primary_medium;

    text-align: center;
    padding: 0 var(--gap-16) var(--gap-40);
    min-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-light-text-primary);
}

.error {
    color: var(--color-light-text-negative);
}

.forgotBtn {
    display: block;
    min-height: var(--size-xs-height);
}
