@import '../../../../themes/src/default.css';
@import '../../vars.css';

.monthsTable {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 374px) {
        width: var(--calendar-mobile-inner-width);
    }
}

:global(.cc-calendar) {
    & .button {
        width: 33%;
        margin-bottom: var(--gap-xs);

        &:nth-child(3n) {
            margin-right: 0;
        }

        @media (max-width: 374px) {
            width: calc((var(--calendar-mobile-inner-width) / 2) - (var(--gap-2xs) / 2));

            &:nth-child(3n) {
                margin-right: var(--gap-2xs);
            }

            &:nth-child(2n) {
                margin-right: 0;
            }

            height: 36px;
        }
    }
}
