@import '../../../../vars/src/index.css';
@import '../../vars.css';

:global(.cc-calendar) {
    & .monthsTable {
        display: flex;
        flex-wrap: wrap;
        width: var(--calendar-inner-width);

        @media (max-width: 374px) {
            width: var(--calendar-mobile-inner-width);
            padding-top: var(--gap-xs);
        }

        &.responsive {
            width: 100%;

            & .button {
                width: calc(33.333% - var(--gap-2xs) / 1.5);
            }
        }

        &:not(.responsive) {
            & .button {
                width: var(--calendar-select-button-width);

                @media (max-width: 374px) {
                    width: var(--calendar-mobile-select-button-width);

                    &:nth-child(3n) {
                        margin-right: var(--gap-2xs);
                    }

                    &:nth-child(2n) {
                        margin-right: 0;
                    }

                    height: 36px;
                }
            }
        }
    }

    & .button {
        margin-right: var(--gap-2xs);
        margin-bottom: var(--gap-xs);

        &:nth-child(3n) {
            margin-right: 0;
        }

        @media (max-width: 374px) {
            height: 36px;
        }
    }
}
