@import '../../../../vars/src/index.css';
@import '../../vars.css';

.arrow {
    display: block;
    width: 24px;
    height: 24px;
    color: var(--select-arrow-color);

    transition: transform 0.15s ease-in-out, opacity 0.2s ease;

    &.size-40 {
        width: unset;
        height: unset;
    }
}

.open {
    transform: var(--arrow-transform);
}
