@define-mixin side-panel-click {
    --side-panel-footer-highlight-background: var(--color-light-base-bg-secondary);
    --side-panel-header-highlight-box-shadow: none;
    --side-panel-footer-highlight-box-shadow: none;
}
