@define-mixin form-control-corp {
    --form-control-bg-color: var(--color-light-neutral-translucent-100);
    --form-control-box-shadow: 0 0 0 1px var(--color-light-neutral-translucent-100) inset;

    /* error */
    --form-control-error-bg-color: var(--color-light-neutral-translucent-100);

    /* hover */
    --form-control-box-shadow-hover: 0 0 0 1px var(--color-light-neutral-translucent-300) inset;

    /* border-radius */
    --form-control-s-border-radius: var(--border-radius-10);
    --form-control-m-border-radius: var(--border-radius-12);
    --form-control-l-border-radius: var(--border-radius-12);
    --form-control-xl-border-radius: var(--border-radius-16);
}
