@define-mixin form-control-site {
    /* theme */
    --form-control-s-border-radius: 4px 4px 0 0;
    --form-control-m-border-radius: 4px 4px 0 0;
    --form-control-l-border-radius: 4px 4px 0 0;
    --form-control-xl-border-radius: 4px 4px 0 0;
    --form-control-mobile-s-border-radius: 4px 4px 0 0;
    --form-control-mobile-m-border-radius: 4px 4px 0 0;
    --form-control-mobile-l-border-radius: 4px 4px 0 0;
    --form-control-mobile-xl-border-radius: 4px 4px 0 0;
    --form-control-mobile-sub-paddings: 0;
    --form-control-bg-backdrop-filter: blur(20px);
    --form-control-border-bottom: 1px solid var(--color-light-border-underline);
    --form-control-inverted-border-bottom: 1px solid var(--color-light-border-underline-inverted);
    --form-control-bg-color: var(--color-light-bg-primary-inverted-alpha-7);
    --form-control-inverted-bg-color: var(--color-light-specialbg-component-inverted);
    --form-control-disabled-filled-label-color: var(--color-light-text-secondary);
    --form-control-inverted-disabled-filled-label-color: var(--color-light-text-secondary-inverted);

    /* focus */
    --form-control-focus-shadow: none;
    --form-control-focus-border-bottom: 1px solid var(--color-light-border-key);
    --form-control-inverted-focus-bg-color: var(--color-light-specialbg-component-inverted-tint-15);
    --form-control-focus-bg-color: var(--color-light-bg-primary-inverted-alpha-15);
    --form-control-inverted-focus-border-bottom: 1px solid var(--color-light-border-key-inverted);
    --form-control-inverted-focus-shadow: none;
    --form-control-focus-error-shadow: none;
    --form-control-inverted-focus-error-shadow: none;

    /* hover */
    --form-control-hover-bg-color: var(--color-light-bg-primary-inverted-alpha-15);
    --form-control-inverted-hover-bg-color: var(--color-light-specialbg-component-inverted-tint-15);

    /* error */
    --form-control-error-color: var(--color-static-text-accent);
    --form-control-inverted-error-color: var(--color-static-text-accent);
    --form-control-error-border-bottom: 1px solid var(--color-static-border-accent);
    --form-control-error-shadow: none;
    --form-control-inverted-error-shadow: none;
    --form-control-inverted-error-border-bottom: 1px solid var(--color-static-border-accent);
    --form-control-error-bg-color: var(--color-light-bg-primary-inverted-alpha-7);
    --form-control-inverted-error-bg-color: var(--color-light-specialbg-component-inverted);

    /* disabled */
    --form-control-disabled-border-bottom: 1px dashed var(--color-light-border-underline);
    --form-control-inverted-disabled-border-bottom: 1px dashed
        var(--color-light-border-underline-inverted);
    --form-control-disabled-bg-color: var(--color-light-bg-primary-inverted-alpha-15);
    --form-control-inverted-disabled-bg-color: var(
        --color-light-specialbg-component-inverted-tint-15
    );

    /* color mobile */
    --form-control-mobile-bg-color: var(--color-light-bg-primary-inverted-alpha-7);
    --form-control-inverted-mobile-bg-color: var(--color-light-specialbg-component-inverted);

    /* error mobile */
    --form-control-error-mobile-disabled-shadow: var(--form-control-focus-error-shadow);
    --form-control-inverted-error-mobile-disabled-shadow: var(
        --form-control-inverted-focus-error-shadow
    );
}
