@import '@alfalab/core-components-tab-bar-private/src/vars.css';

.tab {
    width: var(--tab-bar-private-tab-max-size);
    flex-shrink: 1;

    &.active {
        z-index: 1;
        color: var(--tab-bar-private-tab-active-color);
    }
}
