@import '../../themes/src/default.css';
@import './vars.css';

.component {
    min-height: var(--pass-code-min-height);
}

.inputProgressContainer {
    position: relative;
    flex: 1 0 auto;
}

.message {
    @mixin paragraph_primary_medium;

    min-height: 24px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-light-text-primary);
}
