:root {
    --pass-code-max-width: 500px;
    --button-bg-color: var(--color-light-specialbg-secondary-transparent);
    --button-bg-color-active: var(--color-light-specialbg-tertiary-transparent);
}
