@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

:root {
    --badge-icon-bg-color: var(--color-light-neutral-translucent-1300-inverted);
}

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);
    box-sizing: border-box;

    &.s {
        padding: var(--gap-2);
        width: 20px;
        height: 20px;
    }

    &.m {
        padding: var(--gap-2);
        width: 24px;
        height: 24px;
    }

    &.xl {
        padding: 5px;
        width: 40px;
        height: 40px;
    }
}

.component {
    @mixin accent_secondary_medium;

    position: relative;
    z-index: 2;
    box-sizing: border-box;
    border-radius: var(--border-radius-pill);
    overflow: hidden;

    &.background-accent {
        background-color: var(--color-light-accent-primary);
        color: var(--color-static-text-primary-inverted);
    }

    &.background-specialbg-secondary-transparent {
        background-color: var(--color-light-neutral-translucent-200);
        color: var(--color-light-text-primary);
    }

    &.background-primary {
        background-color: var(--color-light-neutral-0);
        color: var(--color-light-text-primary);
    }
}

.countWrapper {
    display: inline-flex;
    border-radius: var(--border-radius-pill);
}

.count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.outlineCount {
    border: 2px solid var(--badge-icon-bg-color);
}

.s {
    height: 16px;
    min-width: 16px;
    padding: var(--gap-0) var(--gap-4);
}

.m {
    height: 20px;
    min-width: 20px;
    padding: var(--gap-0) 6px;
}

.l {
    height: 24px;
    min-width: 24px;
    padding: var(--gap-0) 6px;
}

.heightS {
    @mixin accent_secondary_small;
    padding: var(--gap-0) var(--gap-4);
}

.heightM {
    @mixin accent_primary_small;
    padding: var(--gap-0) var(--gap-4);
}

.heightL {
    @mixin accent_primary_small;
    padding: var(--gap-0) var(--gap-8);
}

.heightXL {
    @mixin accent_primary_medium;
    padding: var(--gap-0) var(--gap-12);
}

.heightXXL {
    @mixin accent_primary_medium;
    padding: var(--gap-0) var(--gap-16);
}

.heightS.outlineCount {
    border: 1px solid var(--badge-icon-bg-color);
}

.icon {
    max-height: 30px;
    min-width: 0;
    padding: var(--gap-0);
    color: var(--color-light-status-positive);

    &.positive {
        color: var(--color-light-status-positive);
        background-color: var(--color-light-status-positive);
    }

    &.attention {
        color: var(--color-light-status-attention);
        background-color: var(--color-light-status-attention);
    }

    &.negative {
        color: var(--color-light-status-negative);
        background-color: var(--color-light-status-negative);
    }

    &.link {
        color: var(--color-light-status-info);
        background-color: var(--color-light-status-info);
    }

    &.tertiary {
        color: var(--color-light-neutral-500);
        background-color: var(--color-light-neutral-500);
    }

    &.secondary {
        color: var(--color-light-neutral-700);
        background-color: var(--color-light-neutral-700);
    }

    &.primary {
        color: var(--color-light-neutral-translucent-1300);
        background-color: var(--color-light-neutral-translucent-1300);
    }
}

.icon.s {
    width: 16px;
    height: 16px;
}

.icon:before {
    position: absolute;
    z-index: -1;
    left: 18%;
    right: 18%;
    top: 18%;
    bottom: 18%;
    border-radius: var(--border-radius-pill);
    content: '';
}

.graphic-static-light.icon:before {
    background-color: var(--color-static-neutral-translucent-1300-inverted);
}

.graphic-primary.icon:before {
    background-color: var(--color-light-neutral-translucent-1300);
}

.outline {
    background-color: var(--badge-icon-bg-color);
}

.outlineColor {
    background-color: var(--color-light-accent-primary);

    &.attention {
        background-color: var(--color-light-status-attention);
    }

    &.positive {
        background-color: var(--color-light-status-positive);
    }

    &.negative {
        background-color: var(--color-light-status-negative);
    }

    &.link {
        background-color: var(--color-light-status-info);
    }

    &.tertiary {
        background-color: var(--color-light-neutral-500);
    }

    &.secondary {
        background-color: var(--color-light-neutral-700);
    }

    &.primary {
        background-color: var(--color-light-neutral-translucent-1300);
    }
}

.dot {
    width: 8px;
    height: 8px;
    min-width: 0;
    padding: var(--gap-0);
}

.dot.outlineCount {
    border: 1px solid var(--badge-icon-bg-color);
}

.isHidden {
    display: none;
}

.icon svg {
    position: relative;
}

.m svg {
    top: var(--gap-2-neg);
    left: var(--gap-2-neg);
    width: 24px;
    height: 24px;
}

.xl svg {
    width: 30px;
    height: 30px;
}
