@import '../../themes/src/default.css';

:root {
    --badge-icon-bg-color: var(--color-light-bg-primary);
}

.component {
    @mixin accent_secondary_medium;

    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: var(--border-radius-pill);
    background-color: var(--color-light-bg-accent);
    color: var(--color-light-text-primary-inverted);
    overflow: hidden;
}

.count {
    display: inline-flex;
    padding: 2px;
}

.outlineCount {
    background-color: var(--badge-icon-bg-color);
    border-radius: 99px;
}

.s {
    height: 16px;
    min-width: 16px;
    padding: 0 var(--gap-2xs);
}

.m {
    height: 20px;
    min-width: 20px;
    padding: 0 6px;
}

.l {
    height: 24px;
    min-width: 24px;
    padding: 0 6px;
}

.heightS {
    padding: 0 var(--gap-2xs);
}

.heightM {
    @mixin accent_primary_small;
    padding: 0 var(--gap-2xs);
}

.heightL {
    @mixin accent_primary_small;
    padding: 0 var(--gap-xs);
}

.heightXL {
    @mixin accent_primary_medium;
    padding: 0 var(--gap-s);
}

.heightXXL {
    @mixin accent_primary_medium;
    padding: 0 var(--gap-m);
}

.wrapper {
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-flex;

    &.s {
        padding: 2px;
        min-width: 18px;
        height: 18px;
    }

    &.m {
        padding: 2px;
        width: 24px;
        height: 24px;
    }

    &.xl {
        padding: 5px;
        width: 40px;
        height: 40px;
    }
}

.icon {
    height: auto;
    min-width: 0;
    padding: 0;
    color: var(--color-light-graphic-positive);

    &.positive {
        color: var(--color-light-graphic-positive);
        background-color: var(--color-light-graphic-positive);
    }

    &.attention {
        color: var(--color-light-graphic-attention);
        background-color: var(--color-light-graphic-attention);
    }

    &.negative {
        color: var(--color-light-graphic-negative);
        background-color: var(--color-light-graphic-negative);
    }

    &.link {
        color: var(--color-light-graphic-link);
        background-color: var(--color-light-graphic-link);
    }

    &.tertiary {
        color: var(--color-light-graphic-tertiary);
        background-color: var(--color-light-graphic-tertiary);
    }

    &.secondary {
        color: var(--color-light-graphic-secondary);
        background-color: var(--color-light-graphic-secondary);
    }

    &.primary {
        color: var(--color-light-graphic-primary);
        background-color: var(--color-light-graphic-primary);
    }
}

.icon.s {
    width: 14px;
    height: 14px;
}

.icon:before {
    position: absolute;
    z-index: -1;
    left: 18%;
    right: 18%;
    top: 18%;
    bottom: 18%;
    background-color: var(--badge-icon-bg-color);
    border-radius: var(--border-radius-pill);
    content: '';
}

.outline {
    background-color: var(--badge-icon-bg-color);
}

.outlineColor {
    &.attention {
        background-color: var(--color-light-graphic-attention);
    }

    &.positive {
        background-color: var(--color-light-graphic-positive);
    }

    &.negative {
        background-color: var(--color-light-graphic-negative);
    }

    &.link {
        background-color: var(--color-light-graphic-link);
    }

    & .tertiary {
        background-color: var(--color-light-graphic-tertiary);
    }

    &.secondary {
        background-color: var(--color-light-graphic-secondary);
    }

    &.primary {
        background-color: var(--color-light-graphic-primary);
    }
}

.dot {
    width: 8px;
    height: 8px;
    min-width: 0;
    padding: 0;
}

.isHidden {
    display: none;
}

.m svg {
    width: 20px;
    height: 20px;
}
.xl svg {
    width: 30px;
    height: 30px;
}
