@import '../../themes/src/default.css';

.component {
    display: flex;
    justify-content: center;
    height: 64px;
    max-height: 64px;
    box-sizing: border-box;
    overflow: hidden;
    transition: box-shadow 0.2s ease;

    &.modal-bg-primary {
        background-color: var(--color-light-base-bg-primary);
    }

    &.modal-bg-alt-primary {
        background-color: var(--color-light-base-bg-alt-primary);
    }
}

.border {
    box-shadow: 0 -1px 0 0 var(--color-light-neutral-translucent-300);
}
