@define-mixin checkbox-site {
    /* checked */
    --checkbox-checked-bg-color: var(--color-light-accent-primary);
    --checkbox-checked-hover-bg-color: var(--color-light-accent-primary-hover);
    --checkbox-checked-active-bg-color: var(--color-light-accent-primary-press);

    /* icon */
    --checkbox-icon-color: var(--color-static-neutral-translucent-1300-inverted);
    --checkbox-icon-indeterminate-color: var(--color-static-neutral-translucent-1300-inverted);
}
