@import '@alfalab/core-components-vars/src/index.css';

.header {
    padding: var(--gap-4) var(--gap-12) var(--gap-8);

    & .content {
        padding: 9px var(--gap-12) var(--gap-8);
        min-height: 40px;
        justify-content: center;
    }
}

.bottomAddons {
    @mixin headline-system-mobile_small;
    padding: var(--gap-6) var(--gap-16);
}
