@import '../../../../themes/src/default.css';

.component {
    flex-basis: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    flex-shrink: 1;

    &.horizontal {
        /* for button */
        align-self: stretch;
    }

    &.fullStretch {
        flex-basis: 100%;
    }
}
