@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.component {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 1fr auto;

    &.horizontal {
        /* for button */
        align-self: stretch;
    }
}
