@import '../../../../themes/src/default.css';

.component {
    flex-basis: auto;
    display: grid;
    grid-template-columns: 1fr auto;

    &.horizontal {
        /* for button */
        align-self: stretch;
    }

    &.stretch {
        flex-basis: 100%;
    }
}
