@import '../../../vars.css';

.component {
    min-width: 500px;
    width: 500px;
    min-height: 264px;
    height: 100%;
    border-radius: var(--border-radius-24);
    overflow-x: hidden;

    &.top {
        margin-top: var(--gap-0);
    }

    &.bottom {
        margin-bottom: var(--gap-0);
    }

    &.overlayHidden {
        box-shadow: var(--shadow-m);
    }

    & .container {
        height: 100%;
    }
}
