@import '../../../vars.css';

:root {
    --modal-side-gap: 12px;
}

.component {
    min-width: 500px;
    width: 500px;
    min-height: 264px;
    height: calc(100% - var(--modal-side-gap) * 2);
    border-radius: var(--border-radius-24);

    &.top {
        margin-top: var(--gap-12);
    }

    &.bottom {
        margin-bottom: var(--gap-12);
    }
}
