@import '../../../vars.css';

.component {
    min-width: 500px;
    width: 500px;
    min-height: 264px;
    height: 100%;
    border-radius: var(--border-radius-24);

    &.top {
        margin-top: var(--gap-12);
    }

    &.bottom {
        margin-bottom: var(--gap-12);
    }

    &.overlayHidden {
        box-shadow: var(--shadow-m);
    }

    & .container {
        height: 100%;
    }

    & .content {
        padding: var(--gap-32) var(--gap-32) 0;
    }

    & .scrollbarWrapper {
        height: 100%;

        & .verticalBarContainer {
            top: var(--gap-16);
            height: calc(100% - 2 * 16px);
        }
    }
}
