@import '../vars.css';

.inner {
    background-color: var(--form-control-bg-color);
}

.inner:not(.focused):not(.hasError) {
    box-shadow: var(--form-control-box-shadow);
}

.inner:not(.focused):not(.hasError):not(.disabled):hover {
    box-shadow: var(--form-control-box-shadow-hover);
}

.inner.hasError {
    background-color: var(--form-control-error-bg-color);
}

/* DISABLED STATE */

.disabled.hasError {
    box-shadow: var(--form-control-error-disabled-shadow);
}
