@import '../vars.css';

.above {
    padding: var(--form-control-sub-paddings);
}

.sub {
    padding: var(--form-control-sub-paddings);
}

.error {
    padding: var(--form-control-sub-paddings);
}

/* SIZES */

.size-40 .inner {
    border-radius: var(--form-control-40-border-radius);

    &:before {
        left: 0;
    }
}

.size-48 .inner {
    border-radius: var(--form-control-s-border-radius);
}

.size-56 .inner {
    border-radius: var(--form-control-m-border-radius);
}

.size-64 .inner {
    border-radius: var(--form-control-l-border-radius);
}

.size-72 .inner {
    border-radius: var(--form-control-xl-border-radius);
}

.rightAddons {
    gap: var(--gap-4);

    &.size-40 {
        gap: 6px;
    }
}
