@import '../vars.common.css';

.inner {
    background-color: var(--form-control-inverted-bg-color);
}

.inner.hasError {
    background-color: var(--form-control-inverted-error-bg-color);
}

/* DISABLED STATE */

.disabled.hasError {
    box-shadow: var(--form-control-inverted-error-disabled-shadow);
}
