@import '@alfalab/core-components-tab-bar-private/src/vars.css';

.entry {
    @mixin reset-tap-highlight-color;

    min-width: var(--tab-bar-private-tab-min-size);
    cursor: pointer;
    color: var(--tab-bar-private-tab-color);
    user-select: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.disabled {
        cursor: not-allowed;
    }
}
