@import '../../../../../vars/src/index.css';

.scrollbarWrapper.scrollbarWrapper {
    height: 100%;

    & .verticalBarContainer {
        box-sizing: border-box;
    }

    & .scrollContentWrapper {
        display: flex;
        flex-direction: column;

        & .scrollbarContainer {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}
