@import '../../vars/src/index.css';
@import './vars.css';

.component.component {
    background-color: var(--bottom-sheet-background-color);
}

.content {
    color: var(--bottom-sheet-text-color);
}

.defaultMarker {
    background-color: var(--bottom-sheet-marker-color);
}

.hasContent {
    color: var(--bottom-sheet-text-color);
}
