@import '../../vars/src/index.css';
@import './vars.css';

.component.component {
    background-color: var(--bottom-sheet-inverted-background-color);
}

.content {
    color: var(--bottom-sheet-inverted-text-color);
}

.defaultMarker {
    background-color: var(--bottom-sheet-inverted-marker-color);
}

.hasContent {
    background-color: var(--bottom-sheet-inverted-background-color);
    color: var(--bottom-sheet-inverted-text-color);
}
