@import '../../../themes/src/default.css';

.iconContainer {
    display: flex;
    transition: transform 0.15s ease-in-out;
}

.addonsContainer {
    display: flex;

    &.showControlIcon {
        margin-right: var(--gap-4);
    }
}

.open {
    transform: var(--arrow-transform);
}

.linkOpen:not(:hover) {
    background-color: var(--color-light-transparent-default-hover);
}
