@import './vars.css';

.container {
    position: relative;
    touch-action: pan-y;
}

.wrapper {
    position: relative;
    z-index: 1;
    box-sizing: content-box;
    display: inline-flex;
    will-change: transform;
    min-height: inherit;
    height: inherit;

    &:not(.swiping) {
        transition: transform var(--carousel-animation-duration) ease-in-out;
    }
}

.item {
    position: relative;
    display: block;
    transform: translateZ(0);
    flex-shrink: 0;
}

.component {
    position: relative;
    display: flex;
    flex-direction: column;

    &.navigationHover {
        .navButton {
            opacity: 0;
        }

        @mixin hover {
            .navButton {
                opacity: 1;
            }
        }
    }

    .pagination {
        margin: var(--gap-8) auto;
    }
}

.frame {
    position: relative;
}

.navButton {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;

    &.prev {
        left: 0;
        transform: translate(-50%, 0);
    }

    &.next {
        right: 0;
        transform: translate(50%, 0);
    }
}
