@import './vars.css';

.container {
    position: relative;
    overflow: hidden;
}

.wrapper {
    position: relative;
    z-index: 1;
    box-sizing: content-box;
    display: inline-flex;
    will-change: transform;
    min-height: inherit;
    height: inherit;

    &:not(.dragging) {
        transition: transform var(--carousel-animation-duration) ease-in-out;
    }
}

.item {
    position: relative;
    display: block;
    transform: translateZ(0);
    flex-shrink: 0;
}

.component {
    position: relative;
    display: flex;
    flex-direction: column;

    .pagination {
        margin: var(--gap-8) auto;
    }
}
