@import '../../../vars/src/index.css';

.bold {
    @mixin headline-system-mobile_xsmall;
    padding: 6px var(--gap-12) 6px var(--gap-4);
}

.description {
    padding: var(--gap-0) var(--gap-12) var(--gap-4) var(--gap-4);
}

.footer {
    padding: var(--gap-8) var(--gap-0) var(--gap-4) var(--gap-4);
}

.rounded {
    border-radius: var(--plate-rounded-border-radius-mobile);

    &.shadow:after {
        border-radius: var(--plate-rounded-shadow-border-radius-mobile);
    }
}
