@import '../../themes/src/default.css';

.eye:last-child {
    height: 100%;
}

.xl {
    & .eye:last-child {
        margin-right: var(--gap-m-neg);
    }

    & .eye {
        margin-left: var(--gap-2xs);
    }
}

.addons {
    padding-right: 0;
}
