@import '../../themes/src/default.css';

.eye:last-child {
    height: 100%;
}

.size-72 {
    & .addons {
        padding-right: 0;
    }

    & .eye {
        margin-left: var(--gap-2xs);
    }
}

.addons {
    padding-right: 0;
}
