@import '@alfalab/core-components-vars/src/no-typography-index.css';

.scrollable {
    height: 100%;

    & .scrollableNode {
        display: flex;
        flex-direction: column;

        & .contentNode {
            display: flex;

            flex-direction: column;

            &:not(.hugContent) {
                flex: 1 1 auto;
            }
        }
    }
}
