@import '../../vars/src/index.css';

.component {
    @mixin paragraph_primary_small;

    display: flex;
    align-items: center;
    color: var(--color-light-text-primary);
    font-variant-numeric: tabular-nums;
}

.defaultView {
    & > * {
        margin-right: var(--gap-8);

        &:last-child {
            margin-right: 0;
        }
    }
}
