@import '../../../../vars/src/index.css';
@import '../../vars.css';

.virtualOptionsList {
    width: 100%;
    outline: none;
    box-sizing: border-box;
    position: sticky;
    justify-content: space-between;
}

.virtualOptionsListHeader {
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-light-neutral-300);
}

.virtualOptionsListFooter {
    position: sticky;
    bottom: 0;
    box-sizing: border-box;
    border-top: 1px solid transparent;

    &.withBorder {
        border-top: 1px solid var(--color-light-neutral-300);
    }
}

.scrollable {
    position: relative;
    overflow: auto;
    width: 100%;
}

.inner {
    position: relative;
    width: 100%;
}

.virtualRow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: var(--select-option-left-padding);
        right: var(--select-option-right-padding);
        top: 0;
        height: 1px;
        background: var(--select-option-divider-background);
        display: var(--select-option-divider-display);
    }

    &:first-child:before {
        display: none;
    }
}

.highlighted {
    &:before,
    & + .virtualRow:before {
        display: none;
    }
}

.emptyPlaceholder {
    padding: var(--gap-16) var(--gap-12);
    color: var(--select-options-list-empty-placeholder-color);
    flex: 1;
}

.size-64 .emptyPlaceholder,
.size-72 .emptyPlaceholder {
    padding: var(--gap-24) var(--gap-16);
}
