@import '../../vars/src/index.css';

.component {
    width: fit-content;
    padding: 10px var(--gap-16);
    background-color: var(--color-light-neutral-100);
    border-radius: var(--border-radius-4) var(--border-radius-20) var(--border-radius-20)
        var(--border-radius-20);
}

.rowLimit2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rowLimit5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
