@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';
@import '../../vars.css';

.component {
    color: var(--toast-plate-color);
    background-color: var(--toast-plate-bg-color);
}

.closeButtonWrapper {
    &:before {
        background-color: var(--color-light-neutral-300-inverted);
    }
}
