@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';
@import '../../vars.css';

.component {
    color: var(--toast-plate-inverted-color);
    background-color: var(--toast-plate-inverted-bg-color);
}

.closeButtonWrapper {
    &:before {
        background-color: var(--color-light-neutral-300);
    }
}
