@import '../../../../themes/src/default.css';

.component.size-72 {
    & .contentWrapper {
        padding: 18px 14px;
    }

    & .placeholder {
        padding-left: var(--gap-3xs);
    }

    & .input {
        margin-left: var(--gap-3xs);
    }
}

.component.size-64 {
    & .contentWrapper {
        padding: 14px 10px;
    }

    & .placeholder {
        padding-left: var(--gap-3xs);
    }

    & .input {
        margin-left: var(--gap-3xs);
    }
}

.component.size-56 {
    & .contentWrapper {
        padding: 10px;
    }

    & .placeholder {
        padding-left: var(--gap-3xs);
    }

    & .input {
        margin-left: var(--gap-3xs);
    }
}

.component.size-48 {
    & .contentWrapper {
        padding: 6px;
    }

    & .placeholder {
        padding-left: 6px;
    }

    & .input {
        margin-left: 6px;
    }
}

.component .contentWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &.hasInnerLabel {
        margin-top: var(--gap-xs);
        padding-bottom: var(--gap-xs);
    }

    &.hasTags.hasInnerLabel {
        margin-top: var(--gap-m);
        padding-bottom: var(--gap-s);
    }
}

.component:hover .addons {
    opacity: 0.7;
}

.field {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}

.input {
    @mixin paragraph_component;
    flex-grow: 1;
    flex-basis: 50px;
    min-width: 50px;
    padding: 0;
    margin: var(--gap-2xs);
    background-color: transparent;
    outline: none;
    border: none;
    font-family: var(--font-family);
    color: var(--color-light-text-primary);

    &:disabled,
    &:disabled::placeholder {
        color: var(--color-light-text-tertiary);
    }

    &::placeholder {
        color: var(--color-light-text-secondary);
    }

    &:focus::placeholder {
        color: var(--color-light-text-tertiary);
    }
}

.hidden {
    max-height: 0;
    margin: 0;
}

.focusVisible {
    @mixin focus-outline;
}

.placeholder {
    display: flex;
    align-items: center;
    min-height: 28px;
    padding-left: var(--gap-2xs);
    color: var(--color-light-text-secondary);
    pointer-events: none;
}

.addons {
    align-self: flex-start;
    padding-top: var(--gap-s);
}

.addons-size-56 {
    padding-top: var(--gap-m);
}

.addons-size-64 {
    padding-top: var(--gap-l);
}

.addons-size-72 {
    padding-top: var(--gap-xl);
}

.component.size-48 .label {
    top: 5px;
    left: 12px;
}

.component.size-56 .label {
    top: 8px;
    left: 12px;
}

.component.size-64.label {
    top: 10px;
    left: 16px;
}

.component.size-72 .label {
    top: 14px;
    left: 16px;
}

.component .label {
    top: 14px;
    align-items: flex-start;
    height: auto;
    transform: none;
    font-size: 14px;
}
