@import '../../../themes/src/default.css';

:root {
    --text-paragraph-margin-bottom: 0 0 var(--gap-s);
}

.paragraph {
    margin: 0;
    padding: 0;
}

.paragraphWithMargins {
    padding: 0;
    margin: var(--text-paragraph-margin-bottom);
}

.primary-large {
    @mixin paragraph_primary_large;
}

.primary-medium {
    @mixin paragraph_primary_medium;
}

.primary-small {
    @mixin paragraph_primary_small;
}

.secondary-large {
    @mixin paragraph_secondary_large;
}

.secondary-medium {
    @mixin paragraph_secondary_medium;
}

.secondary-small {
    @mixin paragraph_secondary_small;
}

.component {
    @mixin paragraph_component;
}

.caps {
    @mixin paragraph_caps;
}

.bold {
    font-weight: bold;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: normal;
}

.monospace {
    font-variant-numeric: tabular-nums;
}

.rowLimit1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rowLimit2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rowLimit3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
