@import '../../../vars/src/gaps.css';
@import '../../../vars/src/typography.css';
@import '../common.module.css';
@import '../row-limits/row-limits.module.css';

:root {
    --text-paragraph-margin-bottom: var(--gap-0) var(--gap-0) var(--gap-12);
}

.paragraph {
    margin: var(--gap-0);
    padding: var(--gap-0);
}

.paragraphWithMargins {
    padding: var(--gap-0);
    margin: var(--text-paragraph-margin-bottom);
}

.primary-largeView {
    @mixin paragraph_primary_large;
}

.primary-mediumView {
    @mixin paragraph_primary_medium;
}

.primary-smallView {
    @mixin paragraph_primary_small;
}

.secondary-largeView {
    @mixin paragraph_secondary_large;
}

.secondary-mediumView {
    @mixin paragraph_secondary_medium;
}

.secondary-smallView {
    @mixin paragraph_secondary_small;
}

.componentView {
    @mixin paragraph_component;
}

.component-primaryView {
    @mixin paragraph_component_primary;
}

.component-secondaryView {
    @mixin paragraph_component_secondary;
}

.capsView {
    @mixin paragraph_caps;
}

.taglineView {
    @mixin paragraph_tagline;
}

.boldWeight {
    font-weight: bold;
}

.mediumWeight {
    font-weight: 500;
}

.regularWeight {
    font-weight: normal;
}

.monospace {
    font-variant-numeric: tabular-nums;
}
