@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../common.module.css';

:root {
    --text-paragraph-margin-bottom: var(--gap-0) var(--gap-0) var(--gap-12);
}

.paragraph {
    margin: var(--gap-0);
    padding: var(--gap-0);
}

.paragraphWithMargins {
    padding: var(--gap-0);
    margin: var(--text-paragraph-margin-bottom);
}

@each $view in component, caps, tagline {
    .$(view) {
        @mixin paragraph_$(view);
    }

    .$(view).bold {
        @subtract-mixin accent_$(view), paragraph_$(view);
    }

    .$(view).medium {
        @subtract-mixin action_$(view), paragraph_$(view);
    }
}

@each $kind in primary, secondary {
    @each $size in large, medium, small {
        .$(kind)-$(size) {
            /* prettier-ignore */
            @mixin paragraph_$(kind)_$(size);
        }

        .$(kind)-$(size).bold {
            @subtract-mixin accent_$(kind)_$(size), paragraph_$(kind)_$(size);
        }

        .$(kind)-$(size).medium {
            @subtract-mixin action_$(kind)_$(size), paragraph_$(kind)_$(size);
        }
    }

    .component-$(kind) {
        @mixin paragraph_component_$(kind);

        &.bold {
            @subtract-mixin accent_component_$(kind), paragraph_component_$(kind);
        }

        &.medium {
            @subtract-mixin action_component_$(kind), paragraph_component_$(kind);
        }
    }
}

.rowLimit1 {
    @mixin row_limit 1;
    word-break: break-all;
}

.rowLimit2 {
    @mixin row_limit 2;
}

.rowLimit3 {
    @mixin row_limit 3;
}

.monospace {
    font-variant-numeric: tabular-nums;
}
