@import '../vars.css';

.checkboxList {
    padding-left: var(--checkbox-group-list-padding-left);
}

.label {
    @mixin paragraph_primary_medium;
    color: var(--checkbox-group-label-color);
    padding-left: var(--checkbox-group-sub-padding-left);
}

.sub {
    padding-left: var(--checkbox-group-sub-padding-left);
}
