@import '@alfalab/core-components-vars/src/no-typography-index.css';

:root {
    --modal-border-radius: var(--border-radius-24);
    --modal-vertical-padding: var(--gap-40);
    --modal-header-background: var(--color-light-modal-bg-primary);
    --modal-footer-background: var(--color-light-modal-bg-primary);
    --modal-footer-default-gap: var(--gap-16);

    /* sizes */
    --modal-s-width: 500px;
    --modal-m-width: 600px;
    --modal-l-width: 800px;
    --modal-xl-width: 1140px;

    /* paddings */
    --modal-s-header-paddings: 28px 28px var(--gap-0);
    --modal-s-content-paddings: var(--gap-40) var(--gap-40) var(--gap-0);
    --modal-s-content-only-bottom-padding: var(--gap-40);
    --modal-s-footer-paddings: var(--gap-24) var(--gap-40) var(--gap-40);

    /* scroll */
    --modal-header-highlight-background: var(--color-light-modal-bg-primary);
    --modal-footer-highlight-background: var(--color-light-modal-bg-primary);
    --modal-header-highlight-box-shadow: 0 1px 0 0 var(--color-light-neutral-300);
    --modal-footer-highlight-box-shadow: 0 -1px 0 0 var(--color-light-neutral-300);

    /* desktop */
    --modal-s-header-desktop-content-paddings: var(--gap-12);
    --modal-s-header-desktop-font-size: 22px;
    --modal-s-header-desktop-line-height: 26px;
    --modal-l-header-desktop-content-paddings: 6px var(--gap-12) var(--gap-16);
    --modal-l-header-desktop-font-size: 30px;
    --modal-l-header-desktop-line-height: 36px;
    --modal-header-desktop-font-weight: bold;
    --modal-header-desktop-font-family: var(--font-family-system);

    /* mobile */
    --modal-header-mobile-content-paddings: 10px var(--gap-8);
    --modal-header-mobile-font-size: 20px;
    --modal-header-mobile-line-height: 28px;
    --modal-header-mobile-font-family: var(--font-family-system);
    --modal-header-mobile-font-weight: 600;

    /* paddings */
    --modal-header-mobile-top-padding: var(--gap-4);
    --modal-header-mobile-paddings: var(--modal-header-mobile-top-padding) var(--gap-8) var(--gap-4)
        var(--gap-8);
}
