@import '../../../../themes/src/default.css';
@import '../../vars.css';
@import '../../../../modal/src/vars.css';

.wrapper {
    background: var(--color-light-bg-primary);
}

.withZIndex {
    z-index: 2;
}

.calendar th {
    border-bottom: 1px solid var(--color-light-border-primary);
}
