@import '../../../../themes/src/default.css';
@import '../../../../tag/src/vars.css';

.tag {
    padding: 0 0 0 var(--gap-xs);
    margin: var(--gap-3xs);
    cursor: default;

    &:not(.tagNoClose):active:not(:disabled) {
        background-color: var(--tag-background-color-checked);
        color: var(--tag-text-color-checked);
    }

    &:not(.tagNoClose):hover:not(:disabled):not(:active) {
        background-color: var(--tag-background-color-checked);
        color: var(--tag-text-color-checked);
    }

    & > span {
        width: 100%;
        height: 100%;
    }
}

.tag.tag {
    min-width: unset;
}

.tagNoClose {
    padding-right: var(--gap-xs);
    padding-left: var(--gap-xs);
}

.tagContentWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.cursorPointer {
    cursor: pointer;
}

.tagCross {
    padding: 0 6px;
    height: 100%;

    & > svg {
        fill: var(--color-light-neutral-translucent-700-inverted);
    }

    &:hover > svg {
        fill: var(--color-light-neutral-translucent-700-inverted-hover);
    }

    &:active > svg {
        fill: var(--color-light-neutral-translucent-700-inverted-press);
    }

    & svg {
        height: 100%;
    }
}
