@import '@alfalab/core-components-vars/src/no-typography-index.css';

.gradient {
    width: 100%;
    height: 100%;
    animation: gradient_rotate 1.5s linear infinite;
}

.loading {
    color: var(--color-light-neutral-500);
}

@keyframes gradient_rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
