@define-mixin button-click {
    --button-border-radius: var(--border-radius-s);
    --button-xxs-size-border-radius: var(--border-radius-s);
    --button-active-transform: none;

    /* secondary */
    --button-secondary-base-bg-color: var(--color-light-bg-primary-inverted-alpha-16);
    --button-secondary-hover-bg-color: var(--color-light-bg-primary-inverted-alpha-12);
    --button-secondary-active-bg-color: var(--color-light-bg-primary-inverted-alpha-8);
    --button-secondary-disabled-bg-color: var(--color-light-bg-primary-inverted-alpha-4);
    --button-secondary-color: var(--color-light-text-primary);
    --button-secondary-disabled-color: var(--color-light-text-primary-alpha-30);

    /* inverted-secondary */
    --button-inverted-secondary-base-bg-color: var(--color-light-bg-quaternary-inverted);
    --button-inverted-secondary-hover-bg-color: var(--color-light-bg-quaternary-inverted-tint-15);
    --button-inverted-secondary-active-bg-color: var(--color-light-bg-quaternary-inverted-tint-20);
    --button-inverted-secondary-disabled-bg-color: var(
        --color-light-bg-quaternary-inverted-alpha-30
    );
}
