@define-mixin button-corp {
    /* primary */
    --button-primary-base-bg-color: var(--color-light-bg-accent);
    --button-primary-hover-bg-color: var(--color-light-bg-accent-shade-7);
    --button-primary-active-bg-color: var(--color-light-bg-accent-shade-15);
    --button-primary-disabled-bg-color: var(--color-light-specialbg-secondary-transparent);
    --button-primary-color: var(--color-static-text-primary-light);
    --button-primary-disabled-color: var(--color-light-text-tertiary);

    /* primary-inverted */
    --button-inverted-primary-base-bg-color: var(--color-light-bg-accent);
    --button-inverted-primary-hover-bg-color: var(--color-light-bg-accent-tint-15);
    --button-inverted-primary-active-bg-color: var(--color-light-bg-accent-tint-20);
    --button-inverted-primary-disabled-bg-color: var(
        --color-light-specialbg-secondary-transparent-inverted
    );
    --button-inverted-primary-disabled-color: var(--color-light-text-tertiary-inverted);
    --button-inverted-primary-color: var(--color-static-text-primary-light);

    /* accent */
    --button-accent-base-bg-color: var(--color-light-bg-secondary-inverted);
    --button-accent-hover-bg-color: var(--color-light-bg-secondary-inverted-tint-15);
    --button-accent-active-bg-color: var(--color-light-bg-secondary-inverted-tint-20);
    --button-accent-disabled-bg-color: var(--color-light-specialbg-secondary-transparent);
    --button-accent-color: var(--color-light-text-primary-inverted);
    --button-accent-disabled-color: var(--color-light-text-tertiary);

    /* accent-inverted */
    --button-inverted-accent-base-bg-color: var(--color-light-bg-secondary);
    --button-inverted-accent-hover-bg-color: var(--color-light-bg-secondary-shade-7);
    --button-inverted-accent-active-bg-color: var(--color-light-bg-secondary-shade-15);
    --button-inverted-accent-disabled-bg-color: var(
        --color-light-specialbg-secondary-transparent-inverted
    );
    --button-inverted-accent-disabled-color: var(--color-light-text-tertiary-inverted);
    --button-inverted-accent-color: var(--color-light-text-primary);
}
