@define-mixin button-corp {
    /* primary */
    --button-primary-base-bg-color: var(--color-light-accent-primary);
    --button-primary-hover-bg-color: var(--color-light-accent-primary-hover);
    --button-primary-active-bg-color: var(--color-light-accent-primary-press);
    --button-primary-disabled-bg-color: var(--color-light-neutral-translucent-100);
    --button-primary-color: var(--color-static-text-primary-inverted);

    /* primary-inverted */
    --button-inverted-primary-base-bg-color: var(--color-light-accent-primary-inverted);
    --button-inverted-primary-hover-bg-color: var(--color-light-accent-primary-inverted-hover);
    --button-inverted-primary-active-bg-color: var(--color-light-accent-primary-inverted-press);
    --button-inverted-primary-disabled-bg-color: var(
        --color-light-neutral-translucent-100-inverted
    );
    --button-inverted-primary-color: var(--color-static-text-primary-inverted);

    /* accent */
    --button-accent-base-bg-color: var(--color-light-accent-secondary);
    --button-accent-hover-bg-color: var(--color-light-accent-secondary-hover);
    --button-accent-active-bg-color: var(--color-light-accent-secondary-press);
    --button-accent-disabled-bg-color: var(--color-light-neutral-translucent-100);
    --button-accent-color: var(--color-light-text-primary-inverted);

    /* accent-inverted */
    --button-inverted-accent-base-bg-color: var(--color-light-accent-secondary-inverted);
    --button-inverted-accent-hover-bg-color: var(--color-light-accent-secondary-inverted-hover);
    --button-inverted-accent-active-bg-color: var(--color-light-accent-secondary-inverted-press);
    --button-inverted-accent-disabled-bg-color: var(--color-light-neutral-translucent-100-inverted);
    --button-inverted-accent-color: var(--color-light-text-primary);

    /* spinner */
    --button-spinner-static-color: var(--color-light-neutral-translucent-1300-inverted);
    --button-spinner-inverted-static-color: var(--color-light-neutral-translucent-1300);
    --button-spinner-primary-color: var(--color-static-neutral-translucent-1300-inverted);
    --button-spinner-inverted-primary-color: var(--color-static-neutral-translucent-1300-inverted);

    /* border-radius desktop */
    --button-xxs-size-border-radius: var(--border-radius-8);
    --button-xs-size-border-radius: var(--border-radius-10);
    --button-s-size-border-radius: var(--border-radius-10);
    --button-m-size-border-radius: var(--border-radius-12);
    --button-l-size-border-radius: var(--border-radius-14);
    --button-xl-size-border-radius: var(--border-radius-14);

    /* border-radius mobile */
    --button-xxs-size-mobile-border-radius: var(--border-radius-8);
}
