@define-mixin button-intranet {
    /* theme */
    --button-border-radius: var(--border-radius-l);
    --button-active-transform: none;

    /* primary */
    --button-primary-base-bg-color: var(--color-light-bg-secondary-inverted);
    --button-primary-hover-bg-color: var(--color-light-bg-secondary-inverted-tint-15);
    --button-primary-active-bg-color: var(--color-light-bg-secondary-inverted-tint-20);
    --button-primary-disabled-bg-color: var(--color-light-bg-secondary-inverted);
    --button-primary-disabled-color: var(--color-light-text-tertiary-inverted-transparent);
    --button-primary-color: var(--color-light-text-primary-inverted);

    /* primary-inverted */
    --button-inverted-primary-base-bg-color: var(--color-light-bg-secondary);
    --button-inverted-primary-hover-bg-color: var(--color-light-bg-secondary-shade-7);
    --button-inverted-primary-active-bg-color: var(--color-light-bg-secondary-shade-15);
    --button-inverted-primary-disabled-bg-color: var(--color-light-bg-secondary);
    --button-inverted-primary-disabled-color: var(--color-light-text-tertiary-transparent);
    --button-inverted-primary-color: var(--color-light-text-primary);
}
