@define-mixin button-mobile {
    /* theme */
    --button-active-transform: none;

    /* border-radius */
    --button-xxs-size-border-radius: var(--border-radius-m);
    --button-xs-size-border-radius: var(--border-radius-l);
    --button-s-size-border-radius: var(--border-radius-l);
    --button-m-size-border-radius: var(--border-radius-xl);
    --button-l-size-border-radius: var(--border-radius-xl);
    --button-xl-size-border-radius: var(--border-radius-xl);

    /* primary */
    --button-primary-disabled-bg-color: var(--color-light-bg-secondary-inverted);
    --button-primary-disabled-color: var(--color-light-text-tertiary-inverted);

    /* primary-inverted */
    --button-inverted-primary-disabled-bg-color: var(--color-light-bg-secondary);
    --button-inverted-primary-disabled-color: var(--color-light-text-tertiary);

    /* secondary */
    --button-secondary-base-bg-color: var(--color-light-specialbg-secondary-transparent);
    --button-secondary-hover-bg-color: var(--color-light-specialbg-secondary-transparent-shade-7);
    --button-secondary-active-bg-color: var(--color-light-specialbg-secondary-transparent-shade-15);
    --button-secondary-disabled-bg-color: var(--color-light-bg-primary-inverted-alpha-5);
    --button-secondary-disabled-color: var(--color-light-text-primary-alpha-30);
    --button-inverted-secondary-base-bg-color: var(
        --color-light-specialbg-secondary-transparent-inverted
    );
    --button-inverted-secondary-hover-bg-color: var(
        --color-light-specialbg-secondary-transparent-inverted-tint-15
    );
    --button-inverted-secondary-active-bg-color: var(
        --color-light-specialbg-secondary-transparent-inverted-tint-20
    );
    --button-inverted-secondary-disabled-bg-color: var(--color-light-bg-primary-alpha-8);
    --button-inverted-secondary-disabled-color: var(--color-light-text-primary-inverted-alpha-30);

    /* tertiary */
    --button-tertiary-hover-border-color: var(--color-light-border-underline-inverted);
    --button-tertiary-disabled-border-color: var(--color-light-border-underline-inverted-alpha-30);
    --button-tertiary-disabled-color: var(--color-light-text-primary-alpha-30);
    --button-inverted-tertiary-hover-border-color: var(--color-light-border-underline);
    --button-inverted-tertiary-disabled-border-color: var(--color-light-border-underline-alpha-30);
    --button-inverted-tertiary-disabled-color: var(--color-light-text-primary-inverted-alpha-30);

    /* link */
    --button-link-disabled-color: var(--color-light-text-primary-alpha-30);
    --button-inverted-link-disabled-color: var(--color-light-text-primary-inverted-alpha-30);

    /* ghost */
    --button-ghost-hover-color: var(--color-light-text-primary-tint-30);
    --button-ghost-active-color: var(--color-light-text-primary-tint-50);
    --button-ghost-disabled-color: var(--color-light-text-primary-alpha-30);
    --button-inverted-ghost-hover-color: var(--color-light-text-primary-inverted-shade-30);
    --button-inverted-ghost-active-color: var(--color-light-text-primary-inverted-shade-50);
    --button-inverted-ghost-disabled-color: var(--color-light-text-primary-inverted-alpha-30);

    /* primary mobile */
    --button-primary-mobile-disabled-color: var(--color-light-text-tertiary-inverted);
    --button-primary-mobile-disabled-bg-color: var(--color-light-bg-secondary-inverted);

    /* primary inverted mobile */
    --button-inverted-primary-mobile-disabled-bg-color: var(--color-light-bg-secondary);
    --button-inverted-primary-mobile-disabled-color: var(--color-light-text-tertiary);
}
