@define-mixin button-site {
    /* primary */
    --button-primary-base-bg-color: var(--color-light-bg-accent);
    --button-primary-hover-bg-color: var(--color-light-bg-accent-shade-7);
    --button-primary-active-bg-color: var(--color-light-bg-accent-shade-15);
    --button-primary-color: var(--color-static-text-primary-light);
    --button-primary-disabled-bg-color: var(--color-light-bg-accent-alpha-30);
    --button-primary-disabled-color: var(--color-static-text-primary-light);

    /* primary-inverted */
    --button-inverted-primary-base-bg-color: var(--color-light-bg-accent);
    --button-inverted-primary-hover-bg-color: var(--color-light-bg-accent-tint-15);
    --button-inverted-primary-active-bg-color: var(--color-light-bg-accent-tint-20);
    --button-inverted-primary-color: var(--color-static-text-primary-light);
    --button-inverted-primary-disabled-bg-color: var(--color-light-bg-accent-alpha-30);
    --button-inverted-primary-disabled-color: var(--color-static-text-primary-light-alpha-30);

    /* spinner */
    --button-spinner-primary-color: var(--color-static-graphic-light);
    --button-spinner-inverted-primary-color: var(--color-static-graphic-light);
}
