@define-mixin button-site {
    /* primary */
    --button-primary-base-bg-color: var(--color-light-accent-primary);
    --button-primary-hover-bg-color: var(--color-light-accent-primary-hover);
    --button-primary-active-bg-color: var(--color-light-accent-primary-press);
    --button-primary-color: var(--color-static-text-primary-inverted);
    --button-primary-disabled-bg-color: var(--color-light-neutral-translucent-100);

    /* primary-inverted */
    --button-inverted-primary-base-bg-color: var(--color-light-accent-primary-inverted);
    --button-inverted-primary-hover-bg-color: var(--color-light-accent-primary-inverted-hover);
    --button-inverted-primary-active-bg-color: var(--color-light-accent-primary-inverted-press);
    --button-inverted-primary-color: var(--color-static-text-primary-inverted);
    --button-inverted-primary-disabled-bg-color: var(
        --color-light-neutral-translucent-100-inverted
    );

    /* spinner */
    --button-spinner-primary-color: var(--color-static-neutral-1500-inverted);
    --button-spinner-inverted-primary-color: var(--color-static-neutral-1500-inverted);
}
