@define-mixin confirmation-click {
    /* desktop */
    --confirmation-header-desktop-font-size: 24px;
    --confirmation-header-desktop-line-height: 32px;
    --confirmation-header-desktop-font-weight: 500;
    --confirmation-header-desktop-font-family: var(--font-family-styrene);
    --confirmation-header-font-feature-settings: 'ss01';

    /* mobile */
    --confirmation-header-mobile-font-weight: 500;
    --confirmation-header-mobile-font-family: var(--font-family-styrene);
}
