@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.component {
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dot {
    margin: var(--gap-0) 6px;
    width: 12px;
    height: 12px;
    background: var(--color-light-neutral-translucent-300);
    border-radius: var(--border-radius-circle);
    flex-shrink: 0;
    transition: background 75ms ease-in;
    will-change: transform, opacity;

    &.error {
        background: var(--color-light-status-negative);
        transition: none;
    }
}

.filled {
    background: var(--color-light-neutral-translucent-1300);
}
