@import '@alfalab/core-components-vars/src/index.css';

.container {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    margin-right: var(--gap-12);
}

.content {
    flex: 1;
}
