@import './vars.css';

.accent {
    color: var(--button-accent-color);
    background-color: var(--button-accent-base-bg-color);
    border: 1px solid transparent;

    &:active {
        background-color: var(--button-accent-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-static-color);
    }
}

.primary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-base-bg-color);
    border: 1px solid transparent;

    &:active {
        background-color: var(--button-primary-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-primary-color);
    }
}

.secondary {
    color: var(--button-secondary-color);
    background-color: var(--button-secondary-base-bg-color);
    border: 1px solid var(--button-secondary-base-border-color);

    &:active {
        background-color: var(--button-secondary-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }
}

.tertiary {
    color: var(--button-tertiary-color);
    background-color: var(--button-tertiary-base-bg-color);
    border: 1px solid var(--button-tertiary-base-border-color);

    &:active {
        background-color: var(--button-tertiary-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }
}

.link {
    color: var(--button-link-base-color);
    background-color: transparent;
    border: 1px solid transparent;

    &:active {
        background-color: var(--button-link-active-bg-color);
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }
}

.ghost {
    color: var(--button-ghost-base-color);

    &:active {
        color: var(--button-ghost-active-color);
    }

    & > .loader {
        color: var(--button-spinner-default-color);
    }
}

/* Disabled */

.component[disabled] {
    &.accent {
        color: var(--button-accent-disabled-color);
        background-color: var(--button-accent-disabled-bg-color);

        &.loading {
            background-color: var(--button-accent-base-bg-color);
        }
    }

    &.primary {
        color: var(--button-primary-disabled-color);
        background-color: var(--button-primary-disabled-bg-color);

        &.loading {
            background-color: var(--button-primary-base-bg-color);
        }
    }

    &.secondary {
        color: var(--button-secondary-disabled-color);
        background-color: var(--button-secondary-disabled-bg-color);
        border-color: var(--button-secondary-disabled-border-color);

        &.loading {
            color: var(--button-secondary-color);
            background-color: var(--button-secondary-base-bg-color);
            border-color: var(--button-secondary-base-border-color);
        }
    }

    &.tertiary {
        color: var(--button-tertiary-disabled-color);
        background-color: var(--button-tertiary-disabled-bg-color);
        border-color: var(--button-tertiary-disabled-border-color);

        &.loading {
            color: var(--button-tertiary-color);
            border-color: var(--button-tertiary-base-border-color);
        }
    }

    &.link {
        color: var(--button-link-disabled-color);
        background-color: transparent;

        &.loading {
            color: var(--button-link-base-color);
        }
    }

    &.ghost {
        color: var(--button-ghost-disabled-color);

        &.loading {
            color: var(--button-ghost-base-color);
        }
    }
}
