@import './vars.css';

.xxs {
    border-radius: var(--button-xxs-size-mobile-border-radius);
}

.xs {
    border-radius: var(--button-xs-size-mobile-border-radius);
}

.s {
    border-radius: var(--button-s-size-mobile-border-radius);
}

.m {
    border-radius: var(--button-m-size-mobile-border-radius);
}

.l {
    border-radius: var(--button-l-size-mobile-border-radius);
}

.xl {
    border-radius: var(--button-xl-size-mobile-border-radius);
}
