@import '../../themes/src/default.css';

:root {
    /* misc */
    --button-font-family: var(--font-family);
    --button-font-weight: 500;

    /* border-radius desktop */
    --button-xxs-size-border-radius: 6px;
    --button-xs-size-border-radius: var(--border-radius-m);
    --button-s-size-border-radius: var(--border-radius-m);
    --button-m-size-border-radius: var(--border-radius-l);
    --button-l-size-border-radius: var(--border-radius-l);
    --button-xl-size-border-radius: var(--border-radius-l);

    /* primary */
    --button-primary-base-bg-color: var(--color-light-accent-secondary);
    --button-primary-hover-bg-color: var(--color-light-accent-secondary-hover);
    --button-primary-active-bg-color: var(--color-light-accent-secondary-press);
    --button-primary-disabled-bg-color: var(--color-light-neutral-translucent-100);
    --button-primary-color: var(--color-light-text-primary-inverted);
    --button-primary-disabled-color: var(--color-light-text-tertiary);

    /* accent */
    --button-accent-base-bg-color: var(--color-light-accent-primary);
    --button-accent-hover-bg-color: var(--color-light-accent-primary-hover);
    --button-accent-active-bg-color: var(--color-light-accent-primary-press);
    --button-accent-disabled-bg-color: var(--color-light-neutral-translucent-100);
    --button-accent-color: var(--color-static-text-primary-inverted);
    --button-accent-disabled-color: var(--color-light-text-tertiary);

    /* secondary */
    --button-secondary-base-bg-color: var(--color-light-neutral-translucent-300);
    --button-secondary-hover-bg-color: var(--color-light-neutral-translucent-300-hover);
    --button-secondary-active-bg-color: var(--color-light-neutral-translucent-300-press);
    --button-secondary-disabled-bg-color: var(--color-light-neutral-translucent-100);
    --button-secondary-base-border-color: transparent;
    --button-secondary-disabled-border-color: transparent;
    --button-secondary-color: var(--color-light-text-primary);
    --button-secondary-disabled-color: var(--color-light-text-tertiary);

    /* tertiary */
    --button-tertiary-base-bg-color: var(--color-light-transparent-default);
    --button-tertiary-hover-bg-color: var(--color-light-transparent-default-hover);
    --button-tertiary-active-bg-color: var(--color-light-transparent-default-press);
    --button-tertiary-hover-border-color: var(--color-light-neutral-1500);
    --button-tertiary-disabled-bg-color: var(--color-light-transparent-default);
    --button-tertiary-base-border-color: var(--color-light-neutral-1500);
    --button-tertiary-disabled-border-color: var(--color-light-neutral-translucent-500);
    --button-tertiary-color: var(--color-light-text-primary);
    --button-tertiary-disabled-color: var(--color-light-text-tertiary);

    /* outlined */
    --button-outlined-base-bg-color: transparent;
    --button-outlined-hover-bg-color: rgba(0, 0, 0, 0.07);
    --button-outlined-active-bg-color: rgba(0, 0, 0, 0.15);
    --button-outlined-disabled-bg-color: transparent;
    --button-outlined-base-border-color: var(--color-light-border-underline-inverted);
    --button-outlined-disabled-border-color: var(--color-light-border-underline-inverted-alpha-30);
    --button-outlined-color: var(--color-light-text-primary);
    --button-outlined-disabled-color: var(--color-light-text-primary-alpha-30);

    /* ghost */
    --button-ghost-base-color: var(--color-light-text-primary);
    --button-ghost-hover-color: var(--color-light-text-primary-hover);
    --button-ghost-active-color: var(--color-light-text-primary-press);
    --button-ghost-disabled-color: var(--color-light-text-tertiary);

    /* link */
    --button-link-base-color: var(--color-light-text-primary);
    --button-link-hover-bg-color: var(--color-light-transparent-default-hover);
    --button-link-active-bg-color: var(--color-light-transparent-default-press);
    --button-link-disabled-color: var(--color-light-text-tertiary);

    /* loader */
    --button-spinner-static-color: var(--color-static-neutral-1500-inverted);
    --button-spinner-primary-color: var(--color-light-neutral-1500-inverted);
    --button-spinner-default-color: var(--color-light-neutral-1500);

    /* primary inverted */
    --button-inverted-primary-base-bg-color: var(--color-light-accent-secondary-inverted);
    --button-inverted-primary-hover-bg-color: var(--color-light-accent-secondary-inverted-hover);
    --button-inverted-primary-active-bg-color: var(--color-light-accent-secondary-inverted-press);
    --button-inverted-primary-disabled-bg-color: var(
        --color-light-neutral-translucent-100-inverted
    );
    --button-inverted-primary-disabled-color: var(--color-light-text-tertiary-inverted);
    --button-inverted-primary-color: var(--color-light-text-primary);

    /* accent inverted */
    --button-inverted-accent-base-bg-color: var(--color-light-accent-primary-inverted);
    --button-inverted-accent-hover-bg-color: var(--color-light-accent-primary-inverted-hover);
    --button-inverted-accent-active-bg-color: var(--color-light-accent-primary-inverted-press);
    --button-inverted-accent-disabled-bg-color: var(--color-light-neutral-translucent-100-inverted);
    --button-inverted-accent-disabled-color: var(--color-light-text-tertiary-inverted);
    --button-inverted-accent-color: var(--color-static-text-primary-inverted);

    /* secondary inverted */
    --button-inverted-secondary-base-bg-color: var(--color-light-neutral-translucent-300-inverted);
    --button-inverted-secondary-hover-bg-color: var(
        --color-light-neutral-translucent-300-inverted-hover
    );
    --button-inverted-secondary-active-bg-color: var(
        --color-light-neutral-translucent-300-inverted-press
    );
    --button-inverted-secondary-disabled-bg-color: var(
        --color-light-neutral-translucent-100-inverted
    );
    --button-inverted-secondary-base-border-color: transparent;
    --button-inverted-secondary-disabled-border-color: transparent;
    --button-inverted-secondary-color: var(--color-light-text-primary-inverted);
    --button-inverted-secondary-disabled-color: var(--color-light-text-tertiary-inverted);

    /* tertiary inverted */
    --button-inverted-tertiary-base-bg-color: var(--color-light-transparent-default);
    --button-inverted-tertiary-hover-bg-color: var(
        --color-light-transparent-default-inverted-hover
    );
    --button-inverted-tertiary-active-bg-color: var(
        --color-light-transparent-default-inverted-press
    );
    --button-inverted-tertiary-hover-border-color: var(--color-light-neutral-1500-inverted);
    --button-inverted-tertiary-disabled-bg-color: var(--color-light-transparent-default);
    --button-inverted-tertiary-base-border-color: var(--color-light-neutral-1500-inverted);
    --button-inverted-tertiary-disabled-border-color: var(
        --color-light-neutral-translucent-500-inverted
    );
    --button-inverted-tertiary-color: var(--color-light-text-primary-inverted);
    --button-inverted-tertiary-disabled-color: var(--color-light-text-tertiary-inverted);

    /* outlined inverted */
    --button-inverted-outlined-base-bg-color: transparent;
    --button-inverted-outlined-hover-bg-color: rgba(255, 255, 255, 0.15);
    --button-inverted-outlined-active-bg-color: rgba(0, 0, 0, 0.15);
    --button-inverted-outlined-disabled-bg-color: transparent;
    --button-inverted-outlined-base-border-color: var(--color-light-border-underline-inverted);
    --button-inverted-outlined-disabled-border-color: color-mod(
        var(--color-dark-border-tertiary) alpha(30%)
    );
    --button-inverted-outlined-color: var(--color-dark-text-primary);
    --button-inverted-outlined-disabled-color: color-mod(var(--color-dark-text-primary) alpha(30%));

    /* ghost inverted */
    --button-inverted-ghost-base-color: var(--color-light-text-primary-inverted);
    --button-inverted-ghost-hover-color: var(--color-light-text-primary-inverted-hover);
    --button-inverted-ghost-active-color: var(--color-light-text-primary-inverted-press);
    --button-inverted-ghost-disabled-color: var(--color-light-text-tertiary-inverted);

    /* link inverted */
    --button-inverted-link-base-color: var(--color-light-text-primary-inverted);
    --button-inverted-link-hover-bg-color: var(--color-light-transparent-default-inverted-hover);
    --button-inverted-link-active-bg-color: var(--color-light-transparent-default-inverted-press);
    --button-inverted-link-disabled-color: var(--color-light-text-tertiary-inverted);

    /* loader inverted */
    --button-spinner-inverted-static-color: var(--color-static-neutral-1500-inverted);
    --button-spinner-inverted-color: var(--color-light-neutral-1500-inverted);
    --button-spinner-inverted-primary-color: var(--color-light-neutral-1500);

    /* border-radius mobile */
    --button-xxs-size-mobile-border-radius: var(--border-radius-m);
    --button-xs-size-mobile-border-radius: var(--border-radius-l);
    --button-s-size-mobile-border-radius: var(--border-radius-l);
    --button-m-size-mobile-border-radius: var(--border-radius-xl);
    --button-l-size-mobile-border-radius: var(--border-radius-xl);
    --button-xl-size-mobile-border-radius: var(--border-radius-xl);

    /* primary mobile */
    --button-primary-mobile-disabled-color: var(--color-light-text-tertiary);
    --button-primary-mobile-disabled-bg-color: var(--color-light-neutral-translucent-100);

    /* primary inverted mobile */
    --button-inverted-primary-mobile-disabled-bg-color: var(
        --color-light-neutral-translucent-100-inverted
    );
    --button-inverted-primary-mobile-disabled-color: var(--color-light-text-tertiary-inverted);

    /* secondary mobile */
    --button-secondary-mobile-base-bg-color: var(--color-light-neutral-translucent-100);
    --button-secondary-mobile-active-bg-color: var(--color-light-neutral-translucent-100-press);
    --button-secondary-mobile-disabled-bg-color: var(--color-light-neutral-translucent-100);
    --button-secondary-mobile-disabled-color: var(--color-light-text-tertiary);

    /* secondary inverted mobile */
    --button-inverted-secondary-mobile-base-bg-color: var(
        --color-light-neutral-translucent-100-inverted
    );
    --button-inverted-secondary-mobile-active-bg-color: var(
        --color-light-neutral-translucent-100-inverted-press
    );
    --button-inverted-secondary-mobile-disabled-bg-color: var(
        --color-light-neutral-translucent-100-inverted
    );
    --button-inverted-secondary-mobile-disabled-color: var(--color-light-text-tertiary-inverted);

    /* tertiary mobile */
    --button-tertiary-mobile-disabled-border-color: var(--color-light-neutral-translucent-500);
    --button-tertiary-mobile-disabled-color: var(--color-light-text-tertiary);

    /* tertiary inverted mobile */
    --button-inverted-tertiary-mobile-disabled-border-color: var(
        --color-light-neutral-translucent-500-inverted
    );
    --button-inverted-tertiary-mobile-disabled-color: var(--color-light-text-tertiary-inverted);

    /* link mobile */
    --button-link-mobile-disabled-color: var(--color-light-text-tertiary);

    /* link inverted mobile */
    --button-inverted-link-mobile-disabled-color: var(--color-light-text-tertiary-inverted);

    /* ghost mobile */
    --button-ghost-mobile-active-color: var(--color-light-text-primary-press);
    --button-ghost-mobile-disabled-color: var(--color-light-text-tertiary);

    /* ghost mobile inverted */
    --button-inverted-ghost-mobile-active-color: var(--color-light-text-primary-inverted-press);
    --button-inverted-ghost-mobile-disabled-color: var(--color-light-text-tertiary-inverted);
}
