@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import './vars.css';

.component {
    max-width: var(--pass-code-max-width);
    margin: var(--gap-8) var(--gap-0);
}

.message {
    @mixin paragraph_primary_medium;

    min-height: 24px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-light-text-primary);
}

.error {
    color: var(--color-light-text-negative);
}
