@import '../../../packages/themes/src/default.css';

.tabsTypes {
    margin-top: var(--gap-xl);
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid var(--color-light-neutral-300);
    border-radius: var(--border-radius-s);
    margin-top: var(--gap-xl);
    color: var(--color-light-text-secondary);
}
