@import '../../../packages/vars/src/index.css';

.tabsTypes {
    margin-top: var(--gap-24);
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid var(--color-light-neutral-300);
    border-radius: var(--border-radius-4);
    margin-top: var(--gap-24);
    color: var(--color-light-text-secondary);
}
