@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../../vars.css';

.checkmark {
    flex-shrink: 0;
    box-sizing: border-box;

    &.start {
        align-self: start;
    }

    &.center {
        align-self: center;
    }
}

.single {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    &.selected {
        opacity: 1;
    }
}
