@import '@alfalab/core-components-vars/src/index.css';
@import '../../vars.css';

.checkmark {
    flex-shrink: 0;
    box-sizing: border-box;

    &.before {
        margin-right: var(--gap-12);
    }

    &.after {
        margin-left: var(--gap-12);
    }

    &.start {
        align-self: start;
    }

    &.center {
        align-self: center;
    }
}

.singleIcon {
    flex-shrink: 0;
    opacity: 0;

    &.before {
        margin-right: var(--gap-12);
    }

    &.after {
        margin-left: var(--gap-12);
    }

    &.selected {
        opacity: 1;
    }
}
