@import '../../themes/src/default.css';

:root {
    --scrollbar-rail-size: 12px;
    --scrollbar-thumb-size: 4px;
    --scrollbar-thumb-hovered-size: 6px;
    --scrollbar-thumb-border-radius: 3px;
    --scrollbar-thumb-side-offset: 4px;
}

.component {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    & .wrapper {
        overflow: hidden;
        width: inherit;
        height: inherit;
        max-width: inherit;
        max-height: inherit;
    }

    & .heightAutoObserverWrapper {
        box-sizing: inherit;
        height: 100%;
        width: 100%;
        max-width: 1px;
        position: relative;
        float: left;
        max-height: 1px;
        overflow: hidden;
        z-index: -1;
        padding: 0;
        margin: 0;
        pointer-events: none;
        flex-grow: inherit;
        flex-shrink: 0;
        flex-basis: 0;
    }

    & .heightAutoObserver {
        box-sizing: inherit;
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 1000%;
        width: 1000%;
        min-height: 1px;
        min-width: 1px;
        overflow: hidden;
        pointer-events: none;
        z-index: -1;
    }

    & .mask {
        direction: inherit;
        position: absolute;
        overflow: hidden;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: auto;
        height: auto;
        z-index: 0;
    }

    & .offset {
        direction: inherit;
        box-sizing: inherit;
        resize: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0;
        margin: 0;
        -webkit-overflow-scrolling: touch;
    }

    & .contentWrapper {
        direction: inherit;
        box-sizing: border-box;
        position: relative;
        display: block;
        height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
        width: auto;
        max-width: 100%; /* Not required for horizontal scroll to trigger */
        max-height: 100%; /* Needed for vertical scroll to trigger */
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    & .placeholder {
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        pointer-events: none;
    }

    & :global(.track) {
        z-index: 1;
        position: absolute;
        right: 0;
        bottom: 0;
        pointer-events: auto;
        overflow: hidden;

        &.vertical {
            top: 0;
            width: var(--scrollbar-rail-size);

            &.hover {
                & :global(.scrollbar) {
                    width: var(--scrollbar-thumb-hovered-size);
                }
            }

            & :global(.scrollbar) {
                width: var(--scrollbar-thumb-size);
                transition: width 0.2s ease-in-out;
                margin: 0 auto;

                &:before {
                    top: var(--scrollbar-thumb-side-offset);
                    bottom: calc(var(--scrollbar-thumb-side-offset) * 2);
                }
            }
        }

        &.horizontal {
            left: 0;
            height: var(--scrollbar-rail-size);

            &.hover {
                & :global(.scrollbar) {
                    height: var(--scrollbar-thumb-hovered-size);
                    bottom: calc(
                        (var(--scrollbar-rail-size) - var(--scrollbar-thumb-hovered-size)) / 2
                    );
                }
            }

            & :global(.scrollbar):before {
                height: 100%;
                left: var(--scrollbar-thumb-side-offset);
                right: calc(var(--scrollbar-thumb-side-offset) * 2);
            }

            & :global(.scrollbar) {
                right: auto;
                left: 0;
                bottom: var(--scrollbar-thumb-side-offset);
                height: var(--scrollbar-thumb-size);
                min-height: 0;
                min-width: 40px;
                width: auto;
                transition-property: height, bottom;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
            }
        }
    }

    & :global(.scrollbar) {
        position: absolute;
        left: 0;
        right: 0;
        min-height: 40px;

        &:before {
            position: absolute;
            content: '';
            border-radius: var(--scrollbar-thumb-border-radius);
            left: 0;
            right: 0;
            opacity: 0;
            transition: opacity 0.2s linear;
        }

        &:global(.visible):before {
            /* When hovered, remove all transitions from drag handle */
            opacity: 1;
            transition: opacity 0s linear;
        }
    }

    &:global(.dragging) .content {
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
    }

    &:global(.dragging .track) {
        pointer-events: all;
    }

    & .fakeContent {
        position: absolute;
        left: -10000px;
        visibility: hidden;
    }
}

:global(.simplebar-hide-scrollbar) {
    position: fixed;
    left: 0;
    visibility: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
