@import '@alfalab/core-components-vars/src/index.css';

:root {
    --scrollbar-inverted-background-color: var(--color-light-neutral-translucent-500-inverted);
    --scrollbar-inverted-background-color-active: var(
        --color-light-neutral-translucent-500-inverted-press
    );
}

.component {
    & :global(.scrollbar) {
        &:before {
            background-color: var(--scrollbar-inverted-background-color);
        }
    }

    &:global(.dragging .track) {
        & :global(.scrollbar.visible):before {
            background-color: var(--scrollbar-inverted-background-color-active);
        }
    }
}
