@import '../../vars.css';

.pageIndicator {
    display: flex;
    width: 100%;
}

.element {
    list-style-type: none;
    flex-grow: 1;
    transition: backgroud var(--page-indicator-animation-duration)
        var(--page-indicator-animation-timing-function);
}
