.component {
    margin: 0;
    padding: 0;

    &.bold {
        font-weight: bold;
    }

    &.semibold {
        font-weight: 600;
    }

    &.medium {
        font-weight: 500;
    }

    &.regular {
        font-weight: normal;
    }
}
