@import '../../../vars/src/index.css';

.component {
    margin: var(--gap-0);
    padding: var(--gap-0);

    &.bold {
        font-weight: bold;
    }

    &.semibold {
        font-weight: 600;
    }

    &.medium {
        font-weight: 500;
    }

    &.regular {
        font-weight: normal;
    }
}

.rowLimit1 {
    @mixin row_limit 1;
    word-break: break-all;
}

.rowLimit2 {
    @mixin row_limit 2;
}

.rowLimit3 {
    @mixin row_limit 3;
}
