@define-mixin code-input-corp {
    --code-input-box-shadow: 0 0 0 1px var(--color-light-neutral-translucent-100) inset;

    /* border */
    --code-input-border-radius: var(--border-radius-6);

    /* hover */
    --code-input-box-shadow-hover: 0 0 0 1px var(--color-light-neutral-translucent-300) inset;

    /* error */
    --code-input-error-box-shadow: 0 0 0 1px var(--color-light-status-muted-alt-negative) inset;
}
