@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '@alfalab/core-components-button/src/vars.css';

.component {
    overflow: hidden;

    &.border {
        border: var(--button-border-width) solid transparent;
    }

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        transition: background 0.2s;
    }

    /* prettier-ignore */
    @each $content-color, $color in
        (white, --color-light-text-primary-inverted),
        (black, --color-light-text-primary),
        (static-white, --color-static-text-primary-inverted),
        (static-black, --color-static-text-primary) {
        &.$(content-color) {
            &,
            & .loader {
                color: var($(color));
            }
        }
    }

    @mixin not-disabled {
        /* prettier-ignore */
        @each $state, $hover, $active in
            (darkening, var(--color-light-neutral-translucent-200), var(--color-light-neutral-translucent-400)),
            (lightening, var(--color-light-neutral-translucent-200-inverted), var(--color-light-neutral-translucent-400-inverted)),
            (static-darkening, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.15)),
            (static-lightening, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.15)) {
            &.$(state) {
                @mixin hover {
                    &:before {
                        background: $hover;
                    }
                }

                &:active:before {
                    background: $active;
                }
            }
        }
    }

    /* Disabled */

    @mixin disabled {
        &:not(.loading) {
            /* prettier-ignore */
            @each $disable-state, $color, $background in
                (disableType-default, --color-light-text-tertiary, --color-light-neutral-translucent-100),
                (disableType-static, --color-static-text-tertiary, --color-static-neutral-translucent-100),
                (disableType-inverted, --color-light-text-tertiary-inverted, --color-light-neutral-translucent-100-inverted),
                (disableType-static-inverted, --color-static-text-tertiary-inverted, --color-static-neutral-translucent-100-inverted) {
                &.$(disable-state) {
                    color: var($(color));
                    background: var($(background));
                }
            }
        }
    }
}
