@import '../../themes/src/default.css';
@import './vars.css';

.component {
    width: var(--day-of-month-picker-width);
    height: var(--day-of-month-picker-height);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    outline: none;

    @media (max-width: 374px) {
        align-items: center;
        width: 100%;
        height: 321px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--gap-m);
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden;

    @media (max-width: 374px) {
        width: 288px;
    }
}

.calendarContainer {
    display: inline-block;
    box-sizing: border-box;
    border-radius: var(--border-radius-m);
    border: 1px solid var(--color-light-border-secondary);

    @media (max-width: 374px) {
        width: 100%;
        min-width: 288px;
    }
}
