:root {
    --day-of-month-picker-height: 290px;
    --day-of-month-picker-width: 312px;

    /* day */
    --day-of-month-picker-day-size: 40px;
    --day-of-month-picker-day-border-radius: var(--border-radius-pill);
}
