.appear,
.enter {
    opacity: 0;
    transform: scale(0.9) translateZ(0);
}

.appearActive,
.enterActive {
    opacity: 1;
    transform: translateX(0) translateZ(0);
    transition:
        opacity 200ms ease-in,
        transform 200ms ease-in;
}

.exit {
    opacity: 1;
}

.exitActive,
.exitDone {
    opacity: 0;
    transform: scale(0.9) translateZ(0);
    transition:
        opacity 200ms ease-out,
        transform 200ms ease-out;
}
