@import '../../vars.css';

.shapeInner {
    color: inherit;

    & svg {
        fill: var(--color-light-text-primary);
    }

    &:active:not(:disabled) svg {
        fill: var(--color-light-text-primary-inverted);
    }
}

.shapePath {
    fill: var(--tag-indicator-filled-background-color, var(--tag-filled-background-color));
}

.checkedShapePath {
    fill: var(--tag-background-color-checked);
}

.checkedInner {
    & svg {
        fill: var(--tag-text-color-checked);
    }
}

.badgeIcon {
    color: var(--tag-text-color);

    &:active:not(:disabled) .shapePath {
        fill: var(--tag-indicator-filled-background-color-active, var(--tag-filled-background-color-active));
    }

    &.checked .shapePath {
        fill: var(--tag-background-color-checked);
    }

    &.checked .shapeInner {
        & svg {
            fill: var(--tag-text-color-checked);
        }
    }

    @media (hover: hover) {
        &:hover .shapePath {
            fill: var(--tag-indicator-filled-background-color-hover, var(--tag-filled-background-color-hover));
        }

        &.checked:hover:not(:disabled) .shapePath {
            fill: var(--tag-background-color-checked-hover);
        }
    }
}
