@import '../../vars.css';

.mask {
    fill: var(--tag-inverted-filled-mask-positive-color);
}

.shapeInner {
    color: inherit;

    & svg {
        fill: var(--color-light-text-primary-inverted);
    }

    &:active:not(:disabled) svg {
        fill: var(--color-light-text-primary-inverted);
    }
}

.checkedInner {
    background: var(--tag-inverted-background-color-checked);

    & svg {
        fill: var(--tag-inverted-text-color-checked);
    }
}

.badgeIcon {
    color: var(--tag-inverted-text-color);

    &:active:not(:disabled) .shapeInner {
        background-color: var(--tag-inverted-filled-background-color-active);
    }

    &.checked .shapeInner {
        background-color: var(--tag-inverted-background-color-checked);

        & svg {
            fill: var(--tag-inverted-text-color-checked);
        }
    }

    @media (hover: hover) {
        &:hover .shapeInner {
            background-color: var(--tag-inverted-filled-background-color-hover);
        }

        &.checked:hover:not(:disabled) .shapeInner {
            background-color: var(--tag-inverted-background-color-checked-hover);
        }
    }
}
