@import './vars.css';

.radioList {
    padding-left: var(--radio-group-mobile-list-padding-left);
}

.label {
    padding-left: var(--radio-group-mobile-sub-padding-left);
}

.sub {
    padding-left: var(--radio-group-mobile-sub-padding-left);
}
