@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

:root {
    --radio-group-error-color: var(--color-light-text-negative);
    --radio-group-hint-color: var(--color-light-text-secondary);
    --radio-group-label-color: var(--color-light-text-primary);
    --radio-group-sub-padding-left: var(--gap-0);
    --radio-group-list-padding-left: var(--gap-0);

    /* mobile */
    --radio-group-mobile-sub-padding-left: var(--gap-4);
    --radio-group-mobile-list-padding-left: var(--gap-2);
    --radio-group-mobile-label-color: var(--color-light-text-secondary);
}
