@import '@alfalab/core-components-vars/src/index.css';
@import '../vars.css';

.component {
    margin: var(--gap-0) auto;
    min-width: var(--pattern-lock-min-width);
}

.forgotBtn {
    margin: var(--gap-8) auto var(--gap-0);
}
