@import '../../../themes/src/default.css';
@import '../vars.css';

.component {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 auto;
    min-width: var(--pattern-lock-min-width);
    height: 100%;
}

.forgotBtn {
    margin: var(--gap-xl) auto 0;
}
