@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../vars.css';

.component {
    max-width: var(--pattern-lock-v1-max-width);
    margin: var(--gap-8) var(--gap-0) var(--gap-24) var(--gap-0);
}

.forgotBtn {
    margin: var(--gap-24) auto var(--gap-0);
}

@media screen and (min-width: 360px) {
    .forgotBtn {
        margin-top: var(--gap-32);
        min-height: var(--size-s-height);
    }

    .component {
        margin-bottom: var(--gap-12);
    }
}

@media screen and (min-width: 390px) {
    .forgotBtn {
        min-height: var(--size-m-height);
    }

    .component {
        margin-bottom: var(--gap-20);
    }
}
