@import '../vars.css';

.filled {
    background-color: var(--tag-filled-mobile-background-color);

    &:disabled {
        background-color: var(--tag-filled-mobile-background-color-disabled);
    }

    @media (hover: hover) {
        &:hover:not(:disabled) {
            background-color: var(--tag-filled-mobile-background-color-hover);
        }
    }

    &:active:not(:disabled) {
        background-color: var(--tag-filled-mobile-background-color-active);
    }
}
