@import '../vars.css';

.badgeIcon {
    &.filled {
        path.shapePath {
            fill: var(--tag-mobile-filled-background-color-inverted);
        }

        &:active:not(:disabled) path.shapePath {
            fill: var(--tag-mobile-filled-background-color-active-inverted);
        }

        @media (hover: hover) {
            path.shapePath:hover {
                fill: var(--tag-mobile-filled-background-color-hover-inverted);
            }
        }
    }
}

.filled {
    background-color: var(--tag-mobile-filled-background-color-inverted);

    &:disabled {
        background-color: var(--tag-mobile-filled-background-color-disabled-inverted);
    }

    @media (hover: hover) {
        &:hover:not(:disabled) {
            background-color: var(--tag-mobile-filled-background-color-hover-inverted);
        }
    }

    &:active:not(:disabled) {
        background-color: var(--tag-mobile-filled-background-color-active-inverted);
    }
}

.muted {
    background-color: var(--tag-mobile-muted-background-color-inverted);

    &:disabled {
        background-color: var(--tag-mobile-muted-background-color-disabled-inverted);
    }

    @media (hover: hover) {
        &:hover:not(:disabled) {
            background-color: var(--tag-mobile-muted-background-color-hover-inverted);
        }
    }

    &:active:not(:disabled) {
        background-color: var(--tag-mobile-muted-background-color-active-inverted);
    }

    &.checked {
        background-color: var(--tag-mobile-muted-checked-background-color-inverted);

        &:disabled {
            background-color: var(--tag-mobile-muted-checked-background-color-disabled-inverted);
        }

        @media (hover: hover) {
            &:hover:not(:disabled) {
                background-color: var(--tag-mobile-muted-checked-background-color-hover-inverted);
            }
        }

        &:active:not(:disabled) {
            background-color: var(--tag-mobile-muted-checked-background-color-active-inverted);
        }
    }
}
