@import '../vars.css';

.filled {
    --tag-inverted-filled-background-color: var(--tag-mobile-filled-background-color-inverted);
    --tag-inverted-filled-background-color-hover: var(
        --tag-mobile-filled-background-color-hover-inverted
    );
    --tag-inverted-filled-background-color-active: var(
        --tag-mobile-filled-background-color-active-inverted
    );

    background-color: var(--tag-mobile-filled-background-color-inverted);

    &:disabled {
        background-color: var(--tag-mobile-filled-background-color-disabled-inverted);
    }

    @media (hover: hover) {
        &:hover:not(:disabled) {
            background-color: var(--tag-mobile-filled-background-color-hover-inverted);
        }
    }

    &:active:not(:disabled) {
        background-color: var(--tag-mobile-filled-background-color-active-inverted);
    }
}

.muted {
    --tag-inverted-muted-background-color-checked: var(
        --tag-mobile-muted-checked-background-color-inverted
    );
    --tag-inverted-muted-background-color-checked-hover: var(
        --tag-mobile-muted-checked-background-color-hover-inverted
    );
    --tag-inverted-muted-background-color-checked-active: var(
        --tag-mobile-muted-checked-background-color-active-inverted
    );
    --tag-inverted-muted-background-color-checked-disabled: var(
        --tag-mobile-muted-checked-background-color-disabled-inverted
    );

    background-color: var(--tag-inverted-muted-background-color);

    &:disabled {
        background-color: var(--tag-inverted-muted-background-color-disabled);
    }

    @media (hover: hover) {
        &:hover:not(:disabled) {
            background-color: var(--tag-inverted-muted-background-color-hover);
        }
    }

    &:active:not(:disabled) {
        background-color: var(--tag-inverted-muted-background-color-active);
    }
}
