@import '../vars.css';

.rectangular {
    &.size-32 {
        border-radius: var(--tag-rectangular-mobile-xxs-border-radius);
    }

    &.size-40 {
        border-radius: var(--tag-rectangular-mobile-xs-border-radius);
    }

    &.size-48 {
        border-radius: var(--tag-rectangular-mobile-s-border-radius);
    }

    &.size-56,
    &.size-64,
    &.size-72 {
        border-radius: var(--tag-alt-mobile-border-radius);
    }
}
