@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.subtitle {
    display: block;

    &.truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.size {
    margin-right: var(--gap-8);
}
