@import '../../../../themes/src/default.css';
@import '../../vars.css';

.component {
    display: flex;
}

.input {
    flex-shrink: 0;
    width: 36px;
    height: 48px;
    margin-right: var(--gap-xs);
    padding: 0;
    border: none;
    border-radius: var(--border-radius-s);
    box-sizing: border-box;
    outline: none;
    color: var(--code-input-text-color);
    text-align: center;
    font-size: var(--code-input-font-size);
    font-weight: var(--code-input-font-weight);
    font-family: var(--code-input-font-family);

    &:last-child {
        margin-right: 0;
    }

    &.hasError {
        color: var(--color-light-text-negative);
        caret-color: var(--code-input-text-color);
        background-color: var(--code-input-error-bg-color);
    }

    &.disabled {
        color: var(--color-light-text-tertiary);
        opacity: 1;
    }

    &:-webkit-autofill {
        -webkit-text-fill-color: var(--code-input-text-color);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        /* Hack from http://stackoverflow.com/a/29350537 */
        transition: background-color 999999s ease-in-out 0s;
    }
}

.compact {
    width: 32px;
    height: 48px;
}
