@import '../../themes/src/default.css';

:root {
    /* primary */
    --icon-button-inverted-primary-base-color: var(--color-light-graphic-primary-inverted);
    --icon-button-inverted-primary-hover-color: var(--color-light-graphic-primary-inverted-shade-7);
    --icon-button-inverted-primary-active-color: var(
        --color-light-graphic-primary-inverted-shade-15
    );
    --icon-button-inverted-primary-disabled-color: var(
        --color-light-graphic-primary-inverted-alpha-30
    );

    /* secondary */
    --icon-button-inverted-secondary-base-color: var(--color-light-graphic-secondary-inverted);
    --icon-button-inverted-secondary-hover-color: var(
        --color-light-graphic-secondary-inverted-tint-15
    );
    --icon-button-inverted-secondary-active-color: var(
        --color-light-graphic-secondary-inverted-tint-20
    );
    --icon-button-inverted-secondary-disabled-color: var(
        --color-light-graphic-secondary-inverted-alpha-30
    );

    /* transparent */
    --icon-button-inverted-transparent-base-color: var(
        --color-light-graphic-primary-inverted-alpha-30
    );
    --icon-button-inverted-transparent-hover-color: var(
        --color-light-graphic-primary-inverted-alpha-40
    );
    --icon-button-inverted-transparent-active-color: var(
        --color-light-graphic-primary-inverted-alpha-50
    );
    --icon-button-inverted-transparent-disabled-color: var(
        --color-light-graphic-primary-inverted-alpha-40
    );

    /* tertiary */
    --icon-button-inverted-tertiary-base-color: var(--color-light-graphic-tertiary-inverted);
    --icon-button-inverted-tertiary-hover-color: var(
        --color-light-graphic-tertiary-inverted-tint-15
    );
    --icon-button-inverted-tertiary-active-color: var(
        --color-light-graphic-tertiary-inverted-tint-20
    );
    --icon-button-inverted-tertiary-disabled-color: var(
        --color-light-graphic-tertiary-inverted-alpha-30
    );

    /* negative */
    --icon-button-inverted-negative-base-color: var(--color-light-graphic-negative);
    --icon-button-inverted-negative-hover-color: var(--color-light-graphic-negative-shade-7);
    --icon-button-inverted-negative-active-color: var(--color-light-graphic-negative-shade-15);
    --icon-button-inverted-negative-disabled-color: var(--color-light-graphic-negative-alpha-30);
}

:global(.cc-icon-button) {
    &.primary {
        color: var(--icon-button-inverted-primary-base-color);

        &:hover {
            color: var(--icon-button-inverted-primary-hover-color);
        }

        &:active {
            color: var(--icon-button-inverted-primary-active-color);
        }
    }

    &.secondary {
        color: var(--icon-button-inverted-secondary-base-color);

        &:hover {
            color: var(--icon-button-inverted-secondary-hover-color);
        }

        &:active {
            color: var(--icon-button-inverted-secondary-active-color);
        }
    }

    &.transparent {
        color: var(--icon-button-inverted-transparent-base-color);

        &:hover {
            color: var(--icon-button-inverted-transparent-hover-color);
        }

        &:active {
            color: var(--icon-button-inverted-transparent-active-color);
        }
    }

    &.negative {
        color: var(--icon-button-inverted-negative-base-color);

        &:hover {
            color: var(--icon-button-inverted-negative-hover-color);
        }

        &:active {
            color: var(--icon-button-inverted-negative-active-color);
        }
    }

    &.tertiary {
        color: var(--icon-button-inverted-tertiary-base-color);

        &:hover {
            color: var(--icon-button-inverted-tertiary-hover-color);
        }

        &:active {
            color: var(--icon-button-inverted-tertiary-active-color);
        }
    }

    &.component:disabled {
        &.primary {
            color: var(--icon-button-inverted-primary-disabled-color);

            &.loader {
                color: var(--icon-button-inverted-primary-base-color);
            }
        }

        &.secondary {
            color: var(--icon-button-inverted-secondary-disabled-color);

            &.loader {
                color: var(--icon-button-inverted-secondary-base-color);
            }
        }

        &.negative {
            color: var(--icon-button-inverted-negative-disabled-color);

            &.loader {
                color: var(--icon-button-inverted-negative-base-color);
            }
        }

        &.tertiary {
            color: var(--icon-button-inverted-tertiary-disabled-color);

            &.loader {
                color: var(--icon-button-inverted-tertiary-base-color);
            }
        }
    }
}
