@import '../../vars/src/index.css';
@import '../../button/src/vars.css';

:root {
    --icon-button-xxs-size: 24px;
    --icon-button-xs-size: 32px;
    --icon-button-40-size: 40px;
    --icon-button-s-size: 48px;
    --icon-button-56-size: 56px;

    /* border */

    /*
        в компоненте жестко зашит размер для кнопки size='s'
        поэтому изначальный радиус можно указать вне компонента Button для последующей темизации (так как радиус внутри Button меняться не будет)
    */
    --icon-button-24-size-border-radius: var(--button-s-size-mobile-border-radius);
    --icon-button-32-size-border-radius: var(--button-s-size-mobile-border-radius);
    --icon-button-40-size-border-radius: var(--button-s-size-mobile-border-radius);
    --icon-button-48-size-border-radius: var(--button-s-size-mobile-border-radius);
    --icon-button-56-size-border-radius: var(--button-s-size-mobile-border-radius);
    --icon-button-64-size-border-radius: var(--button-s-size-mobile-border-radius);
    --icon-button-72-size-border-radius: var(--button-s-size-mobile-border-radius);
}
