@import '@alfalab/core-components-vars/src/no-typography-index.css';

:root {
    --icon-button-xxs-size: 24px;
    --icon-button-xs-size: 32px;
    --icon-button-40-size: 40px;
    --icon-button-s-size: 48px;
    --icon-button-56-size: 56px;
}
