@import '../../../../vars/src/index.css';

.component {
    border-radius: var(--border-radius-pill);

    & svg > path {
        transition: fill 0.2s ease;
        fill: var(--color-light-neutral-translucent-1300);
    }

    &:hover {
        & svg > path {
            fill: var(--color-light-neutral-translucent-1300-hover);
        }
    }

    &:active {
        & svg > path {
            fill: var(--color-light-neutral-translucent-1300-press);
        }
    }
}

.flex {
    display: flex;
    align-items: center;
}

.iconWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);
}
