@import '@alfalab/core-components-vars/src/index.css';
@import '@alfalab/core-components-vars/src/colors-monochrome.css';
@import '../../vars.css';

.component {
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius-pill);
    min-width: 48px;

    & svg > path {
        transition: fill 0.2s ease;
    }
}

.mobileComponent {
    min-width: 32px;

    backdrop-filter: none;
    background: none;
}

.flex {
    display: flex;
    align-items: center;
}

.iconWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    margin: var(--gap-0) var(--gap-8) var(--gap-0) var(--gap-12);
    border-radius: var(--border-radius-circle);
}

.mobileWrapper {
    width: 40px;
    height: 40px;
    backdrop-filter: blur(10px);
    margin: var(--gap-0);
}
