@import '../../themes/src/default.css';

.container {
    min-width: auto;
}

:global(.cc-picker-button) {
    &.optionsPopover {
        &.sideGap {
            padding: 0 var(--gap-8);
        }
    }

    & .option {
        padding: 0 var(--gap-16);

        &:before {
            /* Удаляем разделители у опций выпадающего списка. */
            display: none;
        }
    }
}
