@import '@alfalab/core-components-vars/src/no-typography-index.css';

.container {
    min-width: auto;
}

:global(.cc-picker-button) {
    &.optionsPopover {
        &.sideGap {
            padding: var(--gap-0) var(--gap-8);
        }
    }

    & .option {
        padding: var(--gap-0) var(--gap-16);

        &:before {
            /* Удаляем разделители у опций выпадающего списка. */
            display: none;
        }
    }
}
