@import '../../themes/src/default.css';

.container {
    min-width: auto;
}

:global(.cc-picker-button) {
    &.optionsPopover {
        padding: var(--gap-2xs) 0;

        &.sideGap {
            padding: 0 var(--gap-xs);
        }
    }

    & .optionsListContainer {
        border-radius: var(--border-radius-m);
    }

    & .option {
        padding: 0 var(--gap-m);
    }
}
