@import '../../themes/src/default.css';

.component {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    flex-shrink: 0;
    border-radius: var(--border-radius-pill);
    color: var(--color-static-text-primary-inverted);
    background-color: var(--color-light-accent-primary);
}

.red {
    background-color: var(--color-light-accent-primary);
    color: var(--color-static-text-primary-inverted);

    &.border {
        outline: 2px solid var(--color-light-neutral-translucent-1300-inverted);
    }
}

.white {
    background-color: var(--color-light-neutral-0);
    color: var(--color-light-text-primary);

    &.border {
        outline: 2px solid var(--color-light-neutral-translucent-1300-inverted);
    }
}

.grey {
    background-color: var(--color-light-neutral-translucent-200);
    color: var(--color-light-text-primary);

    &.border {
        outline: 2px solid var(--color-light-neutral-translucent-1300-inverted);
    }
}

.size-8 {
    height: 8px;
    min-width: 8px;
}

.size-16 {
    height: 16px;
    min-width: 16px;

    & .content {
        @mixin accent_secondary_small;
        padding: 0 var(--gap-4);
    }
}

.size-20 {
    height: 20px;
    min-width: 20px;

    & .content {
        @mixin accent_secondary_medium;
        padding: 0 var(--gap-4);
    }
}

.size-24 {
    height: 24px;
    min-width: 24px;

    & .content {
        @mixin accent_primary_small;
        padding: 0 var(--gap-4);
    }
}

.size-40 {
    height: 40px;
    min-width: 40px;

    & .content {
        @mixin accent_primary_medium;
        padding: 0 var(--gap-12);
    }
}

.size-48 {
    & .content {
        @mixin accent_primary_medium;
        padding: 0 var(--gap-16);
    }
}
