@define-mixin slider-input-site {
    --slider-input-s-border-bottom-radius: 0;
    --slider-input-m-border-bottom-radius: 0;
    --slider-input-l-border-bottom-radius: 0;
    --slider-input-xl-border-bottom-radius: 0;
    --slider-input-progress-margin-horizontal: 0;
    --slider-input-xl-progress-margin-horizontal: 0;
    --slider-input-progress-border-radius: 0;
    --slider-input-progress-bg-color: var(--color-light-neutral-300);
    --slider-input-progress-hover-bg-color: var(--color-light-neutral-300);
    --slider-input-origin-width: 100%;
    --slider-input-origin-right: var(--gap-0);
}
