@define-mixin slider-input-site {
    --slider-input-s-border-bottom-radius: 0;
    --slider-input-m-border-bottom-radius: 0;
    --slider-input-l-border-bottom-radius: 0;
    --slider-input-xl-border-bottom-radius: 0;
    --slider-input-progress-bg-color: var(--color-light-bg-quaternary);
    --slider-input-progress-hover-bg-color: var(--color-light-bg-quaternary);
}
