@import '../../../../vars/src/index.css';

.component {
    @mixin button-reset;

    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex: 1 0 0;
    align-items: center;
    padding: var(--gap-8) var(--gap-0);
    color: var(--color-light-neutral-translucent-700);
}

.primary {
    color: var(--color-light-accent-primary);
}

.secondary {
    color: var(--color-light-accent-secondary);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.label {
    @mixin row_limit 1;
    word-break: break-all;
    flex-shrink: 0;

    color: var(--color-light-text-secondary);
}

.labelSelected {
    color: inherit;
}

.indicator {
    position: absolute;
    top: 3px;
    left: calc(50% + var(--gap-4));
    height: 16px;
    min-width: 16px;
}
