@import '../../../vars.css';

.content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    z-index: 0;
    padding: var(--gap-32) var(--gap-32) var(--gap-32);
    flex: 1 1 auto;

    &.withHeader {
        padding-top: var(--gap-0);
    }

    &.withFooter {
        padding-bottom: var(--gap-0);
    }
}
