@import '@alfalab/core-components-vars/src/no-typography-index.css';

.component {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 48px;
}

.restore {
    margin-left: var(--gap-12);
    margin-top: var(--gap-2);
}
