@import '../vars.css';

.secondary {
    background-color: var(--button-secondary-mobile-base-bg-color);

    &:active {
        background-color: var(--button-secondary-mobile-active-bg-color);
    }
}

.ghost {
    &:active {
        color: var(--button-ghost-mobile-active-color);
    }
}

.component[disabled] {
    &.primary {
        color: var(--button-primary-mobile-disabled-color);
        background-color: var(--button-primary-mobile-disabled-bg-color);
    }

    &.secondary {
        color: var(--button-secondary-mobile-disabled-color);
        background-color: var(--button-secondary-mobile-disabled-bg-color);
    }

    &.tertiary {
        color: var(--button-tertiary-mobile-disabled-color);
        border-color: var(--button-tertiary-mobile-disabled-border-color);
    }

    &.link {
        color: var(--button-link-mobile-disabled-color);
    }

    &.ghost {
        color: var(--button-ghost-mobile-disabled-color);
    }
}
