@import '../../../../vars/src/index.css';
@import './animations.module.css';

.container {
    position: relative;

    & .progress {
        position: absolute;
        top: var(--gap-4-neg);
        left: var(--gap-4-neg);
        z-index: 1;

        width: 56px;
        height: 56px;

        background-image: url('./icons/progress.svg');
        mask-image: conic-gradient(red 0, transparent 0);

        &.success {
            animation: successAnimation 400ms ease-in forwards;
        }

        &.error {
            background-image: url('./icons/progress-error.svg');
        }

        &.success,
        &.error {
            mask-image: conic-gradient(red 360deg, transparent 0);
        }
    }
}
