@import '../../vars/src/colors-bluetint.css';

.tertiaryColor {
    color: var(--color-light-text-tertiary);
}

.disabledColor {
    color: var(--color-light-text-quaternary);
}

.accentColor {
    color: var(--color-light-accent-primary);
}

.primaryColor {
    color: var(--color-light-text-primary);
}

.attentionColor {
    color: var(--color-light-text-attention);
}

.positiveColor {
    color: var(--color-light-text-positive);
}

.secondaryColor {
    color: var(--color-light-text-secondary);
}

.tertiary-invertedColor {
    color: var(--color-light-text-tertiary-inverted);
}

.primary-invertedColor {
    color: var(--color-light-text-primary-inverted);
}

.secondary-invertedColor {
    color: var(--color-light-text-secondary-inverted);
}

.linkColor {
    color: var(--color-light-text-info);
}

.negativeColor {
    color: var(--color-light-text-negative);
}

.static-primary-lightColor {
    color: var(--color-static-text-primary-light);
}

.static-secondary-lightColor {
    color: var(--color-static-text-secondary-light);
}

.static-tertiary-lightColor {
    color: var(--color-static-text-tertiary-light);
}

.static-primary-darkColor {
    color: var(--color-static-text-primary-dark);
}

.static-secondary-darkColor {
    color: var(--color-static-text-secondary-dark);
}

.static-tertiary-darkColor {
    color: var(--color-static-text-tertiary-dark);
}

.static-accentColor {
    color: var(--color-static-accent-primary);
}
