@define-mixin margin-large {
    margin: 0 0 var(--gap-24);
}

@define-mixin margin-medium {
    margin: var(--gap-48) 0 var(--gap-24);
}

@define-mixin margin-small {
    margin: var(--gap-40) 0 var(--gap-16);
}
