@import '../../themes/src/default.css';

:root {
    --form-control-s-min-height: var(--size-s-height);
    --form-control-m-min-height: var(--size-m-height);
    --form-control-l-min-height: var(--size-l-height);
    --form-control-xl-min-height: var(--size-xl-height);
    --form-control-border-radius: 4px 4px 0 0;
    --form-control-bg-backdrop-filter: unset;

    /* paddings */
    --form-control-paddings: 0 var(--gap-s);
    --form-control-xl-paddings: 0 var(--gap-m);
    --form-control-labeled-s-paddings: 24px var(--gap-s) 4px;
    --form-control-labeled-m-paddings: 28px var(--gap-s) 8px;
    --form-control-labeled-l-paddings: 32px var(--gap-s) 12px;
    --form-control-labeled-xl-paddings: 38px var(--gap-m) 14px;
    --form-control-sub-paddings: 0;

    /* disabled */
    --form-control-disabled-opacity: 1;

    /* font */
    --form-control-font-family: var(--font-family);
}
