@import '../../vars/src/index.css';
@import './vars.common.css';

:root {
    /* color mobile */
    --form-control-mobile-bg-color: var(--color-light-neutral-translucent-100);
    --form-control-inverted-mobile-bg-color: var(--color-light-neutral-translucent-100-inverted);

    /* error mobile */
    --form-control-error-mobile-disabled-shadow: var(--form-control-error-shadow);
    --form-control-inverted-error-mobile-disabled-shadow: var(--form-control-inverted-error-shadow);

    /* paddings mobile */
    --form-control-mobile-sub-paddings: var(--gap-0) var(--gap-4);

    /* border-radius mobile */
    --form-control-mobile-s-border-radius: var(--border-radius-10);
    --form-control-mobile-m-border-radius: var(--border-radius-10);
    --form-control-mobile-l-border-radius: var(--border-radius-10);
    --form-control-mobile-xl-border-radius: var(--border-radius-10);
}
