@import '../../themes/src/default.css';

:root {
    --form-control-border-bottom: 0;
    --form-control-bg-color: var(--color-light-neutral-translucent-300);
    --form-control-color: var(--color-light-text-primary);
    --form-control-label-color: var(--color-light-text-secondary);
    --form-control-hint-color: var(--color-light-text-secondary);
    --form-control-inverted-border-bottom: 0;
    --form-control-inverted-bg-color: var(--color-light-neutral-translucent-300-inverted);
    --form-control-inverted-color: var(--color-light-text-primary-inverted);
    --form-control-inverted-label-color: var(--color-light-text-secondary-inverted);
    --form-control-inverted-hint-color: var(--color-light-text-secondary-inverted);

    /* disabled */
    --form-control-disabled-bg-color: var(--color-light-neutral-translucent-100);
    --form-control-disabled-border-bottom: 0;
    --form-control-disabled-color: var(--color-light-text-secondary);
    --form-control-disabled-filled-label-color: var(--color-light-text-tertiary);
    --form-control-disabled-shadow: none;
    --form-control-inverted-disabled-bg-color: var(--color-light-neutral-translucent-100-inverted);
    --form-control-inverted-disabled-border-bottom: 0;
    --form-control-inverted-disabled-color: var(--color-light-text-secondary-inverted);
    --form-control-inverted-disabled-filled-label-color: var(--color-light-text-tertiary-inverted);
    --form-control-inverted-disabled-shadow: none;

    /* focus */
    --form-control-focus-shadow: inset 0 0 0 2px var(--color-light-neutral-translucent-700);
    --form-control-focus-error-shadow: inset 0 0 0 2px var(--color-light-status-negative);
    --form-control-focus-border-bottom: 0;
    --form-control-focus-bg-color: var(--color-light-neutral-0);
    --form-control-inverted-focus-shadow: inset 0 0 0 2px
        var(--color-light-neutral-translucent-700-inverted);
    --form-control-inverted-focus-error-shadow: inset 0 0 0 2px
        var(--color-light-status-negative-inverted);
    --form-control-inverted-focus-border-bottom: 0;
    --form-control-inverted-focus-bg-color: var(--color-light-neutral-0-inverted);

    /* hover */
    --form-control-hover-bg-color: var(--color-light-neutral-translucent-100);
    --form-control-inverted-hover-bg-color: var(--color-light-neutral-translucent-100-inverted);

    /* error */
    --form-control-error-color: var(--color-light-text-negative);
    --form-control-error-label-color: var(--color-light-text-secondary);
    --form-control-error-shadow: inset 0 0 0 2px var(--color-light-status-negative);
    --form-control-error-disabled-shadow: var(--form-control-error-shadow);
    --form-control-error-border-bottom: 0;
    --form-control-inverted-error-color: var(--color-light-text-negative);
    --form-control-inverted-error-label-color: var(--color-light-text-secondary-inverted);
    --form-control-inverted-error-shadow: inset 0 0 0 2px
        var(--color-light-status-negative-inverted);
    --form-control-inverted-error-disabled-shadow: var(--form-control-inverted-error-shadow);
    --form-control-inverted-error-border-bottom: 0;
    --form-control-error-bg-color: var(--color-light-neutral-translucent-100);
    --form-control-inverted-error-bg-color: var(--color-light-neutral-translucent-100-inverted);

    /* height */
    --form-control-s-min-height: var(--size-s-height);
    --form-control-m-min-height: var(--size-m-height);
    --form-control-l-min-height: var(--size-l-height);
    --form-control-xl-min-height: var(--size-xl-height);
    --form-control-border-radius: 4px 4px 0 0;
    --form-control-bg-backdrop-filter: unset;

    /* paddings */
    --form-control-paddings: 0 var(--gap-s);
    --form-control-xl-paddings: 0 var(--gap-m);
    --form-control-labeled-s-paddings: 24px var(--gap-s) 4px;
    --form-control-labeled-m-paddings: 28px var(--gap-s) 8px;
    --form-control-labeled-l-paddings: 32px var(--gap-s) 12px;
    --form-control-labeled-xl-paddings: 38px var(--gap-m) 14px;
    --form-control-sub-paddings: 0;

    /* disabled */
    --form-control-disabled-opacity: 1;

    /* font */
    --form-control-font-family: var(--font-family);

    /* border-radius */
    --form-control-s-border-radius: var(--border-radius-m);
    --form-control-m-border-radius: var(--border-radius-m);
    --form-control-l-border-radius: var(--border-radius-m);
    --form-control-xl-border-radius: var(--border-radius-l);

    /* paddings mobile */
    --form-control-mobile-sub-paddings: 0 var(--gap-2xs);

    /* border-radius mobile */
    --form-control-mobile-s-border-radius: 10px;
    --form-control-mobile-m-border-radius: 10px;
    --form-control-mobile-l-border-radius: 10px;
    --form-control-mobile-xl-border-radius: 10px;

    /* color mobile */
    --form-control-mobile-bg-color: var(--color-light-neutral-translucent-100);
    --form-control-inverted-mobile-bg-color: var(--color-light-neutral-translucent-100-inverted);

    /* error mobile */
    --form-control-error-mobile-disabled-shadow: var(--form-control-error-mobile-shadow);
    --form-control-inverted-error-mobile-disabled-shadow: var(
        --form-control-inverted-error-mobile-shadow
    );
}

@define-mixin form-control-sub {
    display: block;

    /* adjusting overall height 👌 */
    margin-top: 6px;
}
