@import '@alfalab/core-components-vars/src/no-typography-index.css';
@import '../vars.css';

.component {
    max-width: var(--pattern-lock-v1-desktop-max-width);
    margin: var(--gap-8) var(--gap-0) var(--gap-24) var(--gap-0);
}

.forgotBtn {
    margin: var(--gap-24) auto var(--gap-0);
}

.hiddenBtn {
    display: none;
}
