@import '../../../vars/src/index.css';
@import '../vars.css';

.component {
    max-width: var(--pattern-lock-v1-desktop-max-width);
    margin: var(--gap-8) 0 var(--gap-24) 0;
}

.forgotBtn {
    margin: var(--gap-24) auto 0;
}

.hiddenBtn {
    display: none;
}
