@import '@alfalab/core-components-vars/src/index.css';

.component {
    text-align: unset;
    box-sizing: border-box;
}

.horizontal {
    display: flex;
    width: 100%;
}

.vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button {
    font-family: inherit;
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    padding: var(--gap-0);

    &.hover {
        opacity: 0.8;
    }

    &.active {
        opacity: 0.6;
    }
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &.hover {
        opacity: 0.8;
    }

    &.active {
        opacity: 0.6;
    }
}
.none {
    padding: var(--gap-0);
}

.airy {
    padding: var(--gap-16) var(--gap-0);
}

.default {
    padding: var(--gap-12) var(--gap-0);
}

.compact {
    padding: var(--gap-8) var(--gap-0);
}

.tiny {
    padding: var(--gap-4) var(--gap-0);
}

.noneTop {
    padding-top: var(--gap-0);
}

.airyTop {
    padding-top: var(--gap-16);
}

.defaultTop {
    padding-top: var(--gap-12);
}

.compactTop {
    padding-top: var(--gap-8);
}

.tinyTop {
    padding-top: var(--gap-4);
}

.noneBottom {
    padding-bottom: var(--gap-0);
}

.airyBottom {
    padding-bottom: var(--gap-16);
}

.defaultBottom {
    padding-bottom: var(--gap-12);
}

.compactBottom {
    padding-bottom: var(--gap-8);
}

.tinyBottom {
    padding-bottom: var(--gap-4);
}

.left {
    padding-left: var(--gap-16);
}

.right {
    padding-right: var(--gap-16);
}

.both {
    padding-right: var(--gap-16);
    padding-left: var(--gap-16);
}

.focused {
    @mixin focus-outline;
}
