@import '../../themes/src/default.css';

.component {
    text-align: unset;
    box-sizing: border-box;
}

.horizontal {
    display: flex;
    width: 100%;
}

.vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button {
    font-family: inherit;
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    padding: 0;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}
.none {
    padding: 0;
}

.airy {
    padding: var(--gap-m) 0;
}

.default {
    padding: var(--gap-s) 0;
}

.compact {
    padding: var(--gap-xs) 0;
}

.tiny {
    padding: var(--gap-2xs) 0;
}

.noneTop {
    padding-top: 0;
}

.airyTop {
    padding-top: var(--gap-m);
}

.defaultTop {
    padding-top: var(--gap-s);
}

.compactTop {
    padding-top: var(--gap-xs);
}

.tinyTop {
    padding-top: var(--gap-2xs);
}

.noneBottom {
    padding-bottom: 0;
}

.airyBottom {
    padding-bottom: var(--gap-m);
}

.defaultBottom {
    padding-bottom: var(--gap-s);
}

.compactBottom {
    padding-bottom: var(--gap-xs);
}

.tinyBottom {
    padding-bottom: var(--gap-2xs);
}

.left {
    padding-left: var(--gap-m);
}

.right {
    padding-right: var(--gap-m);
}

.both {
    padding-right: var(--gap-m);
    padding-left: var(--gap-m);
}

.focused {
    @mixin focus-outline;
}
