.marginBox {
    margin-top: var(--universal-modal-margin-top, 0);
    margin-right: var(--universal-modal-margin-right, 0);
    margin-bottom: var(--universal-modal-margin-bottom, 0);
    margin-left: var(--universal-modal-margin-left, 0);
}

/* prettier-ignore */
@each $size in 0, 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80, 96, 128 {
    [data-universal-modal-margin-top='$(size)'] {
        --universal-modal-margin-top: $(size)px;
    }

    [data-universal-modal-margin-right='$(size)'] {
        --universal-modal-margin-right: $(size)px;
    }

    [data-universal-modal-margin-bottom='$(size)'] {
        --universal-modal-margin-bottom: $(size)px;
    }

    [data-universal-modal-margin-left='$(size)'] {
        --universal-modal-margin-left: $(size)px;
    }
}
