@define-mixin radio-site {
    /* checked */
    --radio-checked-bg-color: var(--color-light-accent-primary);
    --radio-checked-hover-bg-color: var(--color-light-accent-primary-hover);
    --radio-checked-active-bg-color: var(--color-light-accent-primary-press);

    /* icon */
    --radio-icon-color: var(--color-static-neutral-translucent-1300-inverted);
}
