@import '@alfalab/core-components-vars/src/index.css';

.component {
    display: flex;
    align-items: center;
    flex-direction: row;

    &.vertical {
        flex-direction: column;
        align-items: flex-start;
    }
}

.scrollbar :global(.simplebar-track) {
    display: none;
}

.scrollbarControl {
    display: flex;
    position: sticky;
    right: 0;

    &:not(.show) {
        display: none;
    }
}

.content {
    display: flex;
    align-items: center;

    & > * {
        flex-shrink: 0;
    }
}

.noShrink {
    flex-shrink: 0;
}
