@import '../../../../themes/src/default.css';

.component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: var(--gap-3xl);
    grid-row-gap: var(--gap-2s);
    margin: 0 auto;
    min-width: var(--pass-code-v2-min-width);

    & .digit.digit {
        font-size: 36px;
        line-height: 1;
    }
}
