@import '@alfalab/core-components-vars/src/no-typography-index.css';

.component {
    box-sizing: border-box;
}

.wrapper {
    padding: var(--gap-0) var(--gap-16) var(--gap-16);
    background: var(--color-light-base-bg-primary);
    box-shadow: var(--shadow-xs-hard);
    border-radius: var(--border-radius-8);
    overflow: auto;
}

.stickyHeader {
    max-height: 100%;
}

.hasPagination {
    padding-bottom: var(--gap-0);
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;

    /* TODO: Хак для выравнивания чекбокса */
    & td:first-child,
    & th:first-child {
        & label > *[class^='box'] {
            margin-top: var(--gap-0);
        }
    }
}
