@import '../../../vars/src/index.css';
@import '../vars.css';

.component {
    width: 100%;
    outline: none;
}

.field:not(.disabled) {
    cursor: pointer;
}

.errorIcon {
    display: var(--input-error-icon-display);
}

* + .errorIcon {
    display: var(--input-error-icon-not-alone-display);
}

.successIcon {
    display: var(--input-success-icon-display);
}

.disabled {
    cursor: var(--disabled-cursor);
}

.placeholder {
    color: var(--color-light-text-secondary);
}

.contentWrapper {
    @mixin paragraph_component;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.value {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.focusVisible {
    @mixin focus-outline;
}
