@import '@alfalab/core-components-vars/src/no-typography-index.css';

.component {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    overflow: visible;
}

.separator {
    height: 18px;
    width: 1px;
}

.button {
    width: 40px;
    height: 40px;
}

.size-40 {
    margin-right: var(--gap-8-neg);
    height: 32px;
}

.size-48 {
    margin-right: var(--gap-8-neg);
}

.size-56 {
    margin-right: var(--gap-4-neg);
}
