@import '../../../../../themes/src/default.css';
@import '../../../vars.css';

.component {
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: var(--gap-xl);
}

.phone {
    margin-bottom: var(--gap-2xl);
}

.compact {
    margin-bottom: var(--gap-xl);
}

.loaderWrap {
    display: flex;
    align-items: center;
}

.center {
    align-items: center;
    text-align: center;

    & .codeInput,
    & .loaderWrap {
        justify-content: center;
    }

    & input {
        margin: 0 var(--gap-2xs);
    }
}

.smsComeLink {
    @mixin action_primary_small;
}

.countdownContainer {
    margin-bottom: var(--gap-xl);
}

.getCodeButton {
    position: relative;
    top: var(--gap-2xs-neg);
    margin-bottom: var(--gap-m);
}
