@import '../../../vars.css';

.component {
    display: flex;
    flex-direction: column;
}
.typographyTheme {
    @mixin _confirmation-text;
}

.phone {
    color: var(--color-light-text-primary);
    margin-bottom: var(--gap-2xl);
}

.compact {
    margin-bottom: var(--gap-xl);
}

.loaderWrap {
    display: flex;
    align-items: center;
}

.left {
    align-items: flex-start;
}

.center {
    align-items: center;
    text-align: center;

    & .loaderWrap {
        justify-content: center;
    }

    & input {
        margin: 0 var(--gap-2xs);
    }
}

.codeInput {
    margin-bottom: var(--gap-s);
}

.smsComeLink {
    @mixin action_primary_small;
}

.countdownContainer {
    color: var(--color-light-text-secondary);
    margin-bottom: var(--gap-xl);
}

.countdownMobile {
    margin-bottom: var(--gap-l);
}
.countdownLoaderMobile {
    margin-bottom: var(--gap-m);
}

.getCodeButton {
    position: relative;
    top: var(--gap-2xs-neg);
    margin-bottom: var(--gap-m);
}

.getCodeButtonMobile {
    margin-bottom: 0;
}

.containerInput {
    min-height: 80px;
}
