@import '../../../vars.css';

.component {
    display: flex;
    flex-direction: column;
}

.typographyTheme.typographyTheme {
    @mixin _confirmation-text;
}

.phone.phone {
    color: var(--color-light-text-primary);
    margin-bottom: var(--gap-32);
}

.compact {
    margin-bottom: var(--gap-24);
}

.loaderWrap {
    display: flex;
    align-items: center;
}

.left {
    align-items: flex-start;
}

.center {
    align-items: center;
    text-align: center;

    & .loaderWrap {
        justify-content: center;
    }
}

.codeInput {
    margin-bottom: var(--gap-12);
}

.smsBtn.smsBtn {
    min-height: var(--size-xs-height);
}

.smsComeLink.smsComeLink {
    @mixin action_primary_small;
}

.countdownContainer.countdownContainer {
    color: var(--color-light-text-secondary);
    margin-bottom: var(--gap-24);
}

.countdownMobile.countdownMobile {
    margin-bottom: var(--gap-20);
}
.countdownLoaderMobile.countdownLoaderMobile {
    margin-bottom: var(--gap-16);
}

.getCodeButton {
    position: relative;
    top: var(--gap-4-neg);
    margin-bottom: var(--gap-16);
}

.getCodeButtonMobile {
    margin-bottom: 0;
}

.containerInput {
    min-height: 80px;
}
