@import '../../../../themes/src/default.css';

.horizontal {
    padding: var(--gap-3xs) 0;
}

.rowLimit1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rowLimit2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.component {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: var(--gap-3xs) 0;
}

.component {
    & .multiline {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    & .vertical {
        justify-content: center;
    }
}

.title {
    margin-right: var(--gap-m);
}
