@import '@alfalab/core-components-vars/src/index.css';

.horizontal {
    padding: var(--gap-2) var(--gap-0);
}

.rowLimit1 {
    @mixin row_limit 1;
    word-break: break-all;
}

.rowLimit2 {
    @mixin row_limit 2;
}

.component {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: var(--gap-2) var(--gap-0);
    word-break: break-word;
}

.component {
    & .vertical {
        justify-content: center;
    }
}

.title + .value {
    margin-left: var(--gap-16);
    flex-shrink: 0;
}
