@define-mixin tabs-click {
    /* theme */
    --primary-tablist-s-padding: var(--gap-12) var(--gap-0);
    --primary-tablist-m-padding: var(--gap-12) var(--gap-0);
    --primary-tablist-l-padding: var(--gap-20) var(--gap-0);
    --primary-tablist-xl-padding: var(--gap-24) var(--gap-4);
    --primary-tablist-mobile-padding: var(--gap-2) var(--gap-0) 14px;
}
