@define-mixin tabs-corp {
    /* theme */
    --primary-tablist-bottom-border-color: var(--color-light-neutral-translucent-300);

    /* mobile */
    --primary-tablist-mobile-padding: 0 0 var(--gap-16);
    --primary-tablist-mobile-gaps: var(--gap-32);
}
