@define-mixin tabs-site {
    /* theme */
    --primary-tablist-m-gaps: var(--gap-48);
    --primary-tablist-l-gaps: var(--gap-48);
    --primary-tablist-bottom-border-color: var(--color-light-neutral-500);
}
