@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.component {
    position: sticky;
    left: var(--gap-0);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: var(--gap-24) var(--gap-16) var(--gap-32);
    border-top: 1px solid var(--color-light-neutral-400);
    box-sizing: border-box;
}

.pagesWrapper {
    display: flex;
}

.tag.tag {
    flex-shrink: 0;
    margin-right: var(--gap-8);
    padding: var(--gap-0) var(--gap-8);
    min-width: 32px;

    &:last-child {
        margin-right: var(--gap-0);
    }

    &.tagActive {
        cursor: default;
    }
}

.pagination {
    margin-left: auto;
}

.menu {
    margin: var(--gap-4) var(--gap-0);
}

.option {
    min-width: 208px;
}
