@import '../../themes/src/default.css';
@import './vars.css';

.actionSection {
    align-items: var(--toast-plate-action-align);
}

.title {
    @mixin paragraph_component;
    font-weight: var(--toast-plate-title-font-weight);
    @mixin row_limit 1;
    word-break: break-all;
}

.closeButtonWrapper {
    &:before {
        display: var(--toast-plate-action-divider-display);
        position: absolute;
        right: 51px;
        top: var(--gap-s);
        bottom: var(--gap-s);
        width: 1px;
        content: '';
    }
}

.closeButton {
    align-items: var(--toast-plate-close-button-align);
}
