@import '../../vars/src/index.css';

:root {
    /* default */
    --toast-plate-bg-color: var(--color-light-modal-bg-primary-inverted);
    --toast-plate-color: var(--color-light-text-primary-inverted);
    --toast-plate-border-radius: var(--border-radius-l);
    --toast-plate-title-font-weight: 700;
    --toast-plate-action-align: center;
    --toast-plate-action-margin: var(--gap-2);
    --toast-plate-action-padding: var(--gap-0) var(--gap-32);
    --toast-plate-action-bottom-padding: var(--gap-4) var(--gap-0) var(--gap-0);
    --toast-plate-action-divider-display: block;
    --toast-plate-content-with-closer-right-padding: var(--gap-16);
    --toast-plate-close-button-align: center;

    /* inverted */
    --toast-plate-inverted-color: var(--color-light-text-primary);
    --toast-plate-inverted-bg-color: var(--color-light-modal-bg-primary);
}
