@import '../../themes/src/default.css';

:root {
    --toast-plate-bg-color: var(--color-light-bg-primary-inverted);
    --toast-plate-color: var(--color-light-text-primary-inverted);
    --toast-plate-border-radius: var(--border-radius-m);
    --toast-plate-title-font-weight: 700;
    --toast-plate-action-align: center;
    --toast-plate-action-padding: 0 var(--gap-2xl);
    --toast-plate-action-divider-display: block;
    --toast-plate-content-with-closer-right-padding: var(--gap-m);
    --toast-plate-close-button-align: center;
}
