@import '../../../../themes/src/default.css';

.component {
    height: 100%;
    background: var(--color-light-bg-primary-alpha-40);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius-pill);

    & svg > path {
        transition: fill 0.2s ease;
        fill: var(--color-light-neutral-1500);
    }

    &:hover {
        & svg > path {
            fill: var(--color-light-neutral-1500-hover);
        }
    }

    &:active {
        & svg > path {
            fill: var(--color-light-neutral-1500-press);
        }
    }
}

.mobileComponent {
    height: 32px;
    margin: 0 var(--gap-xs);
    backdrop-filter: none;
    background: none;
}

.flex {
    display: flex;
    align-items: center;
}

.iconWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    margin: 0 var(--gap-xs) 0 var(--gap-s);
    border-radius: var(--border-radius-circle);

    & + .text {
        margin-right: var(--gap-s);
    }
}

.mobileWrapper {
    width: 32px;
    height: 32px;
    background: var(--color-light-neutral-translucent-100);
    backdrop-filter: blur(10px);
    margin: 0;

    & + .text {
        margin: 0 var(--gap-s) 0 var(--gap-xs);
    }

    & svg > path {
        fill: var(--color-light-neutral-translucent-700);
    }
}
