@import '../../themes/src/default.css';
@import '../../form-control/src/vars.css';

:root {
    /* min-height */
    --textarea-s-min-height: var(--form-control-s-min-height);
    --textarea-m-min-height: var(--form-control-m-min-height);
    --textarea-l-min-height: var(--form-control-l-min-height);
    --textarea-xl-min-height: var(--form-control-xl-min-height);

    /* border */
    --textarea-border-style: solid transparent;
    --textarea-s-border: 14px;
    --textarea-m-border: 18px;
    --textarea-l-border: 22px;
    --textarea-xl-border: 24px;

    /* filled border-top */
    --textarea-s-filled-border-top: 24px;
    --textarea-m-filled-border-top: 24px;
    --textarea-l-filled-border-top: 32px;
    --textarea-xl-filled-border-top: 34px;

    /* filled padding-bottom */
    --textarea-s-filled-border-bottom: 4px;
    --textarea-m-filled-border-bottom: 8px;
    --textarea-l-filled-border-bottom: 12px;
    --textarea-xl-filled-border-bottom: 14px;

    /* filled min-height */
    --textarea-s-filled-min-height: calc(
        var(--textarea-s-min-height) - var(--textarea-s-filled-border-top) -
            var(--textarea-s-filled-border-bottom)
    );
    --textarea-m-filled-min-height: calc(
        var(--textarea-m-min-height) - var(--textarea-m-filled-border-top) -
            var(--textarea-m-filled-border-bottom)
    );
    --textarea-l-filled-min-height: calc(
        var(--textarea-l-min-height) - var(--textarea-l-filled-border-top) -
            var(--textarea-l-filled-border-bottom)
    );
    --textarea-xl-filled-min-height: calc(
        var(--textarea-xl-min-height) - var(--textarea-xl-filled-border-top) -
            var(--textarea-xl-filled-border-bottom)
    );
}

.textarea {
    @mixin paragraph_component;
    position: relative;
    display: block;
    width: 100%;
    min-height: 100%;
    background: none;
    border: none;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    resize: none;
    -webkit-appearance: none;
    &.s {
        padding-top: var(--textarea-s-padding-top);
        padding-bottom: var(--gap-xs);
    }

    &.m {
        padding-top: var(--textarea-m-padding-top);
        padding-bottom: var(--gap-xs);
    }

    &.l {
        padding-top: var(--textarea-l-padding-top);
        padding-bottom: var(--gap-xs);
    }

    &.xl {
        padding-top: var(--textarea-xl-padding-top);
        padding-bottom: var(--gap-xs);
    }
}

.customScrollbar {
    @mixin custom-scrollbar;
}

.textarea::placeholder {
    transition: opacity 0.2s ease, color 0.2s ease;
}

.hasInnerLabel::placeholder {
    opacity: 0;
}

.resizeVertical {
    resize: vertical;
}

.pseudoTextarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: pre-wrap;
    z-index: -1;
    overflow: hidden;
    max-height: 100%;
    & span {
        color: transparent;
    }
    & .overflow {
        background-color: var(--color-light-graphic-negative-alpha-40);
    }
    &.nativeScrollbar {
        overflow: auto;
    }
}

.sub {
    @mixin paragraph_component_secondary;
    @mixin form-control-sub;
}

/* SIZES */

.textarea {
    &.s {
        min-height: var(--textarea-s-min-height);
    }

    &.m {
        min-height: var(--textarea-m-min-height);
    }

    &.l {
        min-height: var(--textarea-l-min-height);
    }

    &.xl {
        min-height: var(--textarea-xl-min-height);
    }
}

/* DISABLED STATE */

.textarea:disabled {
    cursor: var(--disabled-cursor);
    opacity: 1;
}

/* READ-ONLY STATE */

.textarea:read-only {
    cursor: var(--disabled-cursor);
}

/* FOCUS STATE */

.textarea:focus.hasInnerLabel::placeholder {
    opacity: 1;
}

.focusVisible {
    @mixin focus-outline;
}

/* FILLED STATE */

.textarea.filled.hasInnerLabel {
    padding-top: 0;

    &.s {
        margin-top: var(--textarea-s-filled-margin-top);
        min-height: var(--textarea-s-filled-min-height);
        height: var(--textarea-s-filled-min-height);
    }

    &.m {
        margin-top: var(--textarea-m-filled-margin-top);
        min-height: var(--textarea-m-filled-min-height);
        height: var(--textarea-m-filled-min-height);
    }

    &.l {
        margin-top: var(--textarea-l-filled-margin-top);
        min-height: var(--textarea-l-filled-min-height);
        height: var(--textarea-l-filled-min-height);
    }

    &.xl {
        margin-top: var(--textarea-xl-filled-margin-top);
        min-height: var(--textarea-xl-filled-min-height);
        height: var(--textarea-xl-filled-min-height);
    }
}

/* Correct pseudoTextarea size */
.pseudoTextarea.filled.hasInnerLabel {
    &.s {
        min-height: calc(100% - var(--textarea-s-filled-border-top));
    }

    &.m {
        min-height: calc(100% - var(--textarea-m-filled-border-top));
    }

    &.l {
        min-height: calc(100% - var(--textarea-l-filled-border-top));
    }

    &.xl {
        min-height: calc(100% - var(--textarea-xl-filled-border-top));
    }
}

.wrapper {
    &.resizeVertical {
        resize: vertical;
        min-height: 48px;
    }
}

.textarea {
    &.s {
        border-top: var(--textarea-s-border) var(--textarea-border-style);
        border-bottom: var(--textarea-s-border) var(--textarea-border-style);
    }

    &.m {
        border-top: var(--textarea-m-border) var(--textarea-border-style);
        border-bottom: var(--textarea-m-border) var(--textarea-border-style);
    }

    &.l {
        border-top: var(--textarea-l-border) var(--textarea-border-style);
        border-bottom: var(--textarea-l-border) var(--textarea-border-style);
    }

    &.xl {
        border-top: var(--textarea-xl-border) var(--textarea-border-style);
        border-bottom: var(--textarea-xl-border) var(--textarea-border-style);
    }

    &.hasInnerLabel {
        &.s {
            border-top: 24px var(--textarea-border-style);
            border-bottom: 4px var(--textarea-border-style);
        }

        &.m {
            border-top: 24px var(--textarea-border-style);
            border-bottom: 8px var(--textarea-border-style);
        }

        &.l {
            border-top: 32px var(--textarea-border-style);
            border-bottom: 12px var(--textarea-border-style);
        }

        &.xl {
            border-top: 34px var(--textarea-border-style);
            border-bottom: 14px var(--textarea-border-style);
        }
    }
}
