.container {
    padding: var(--gap-20) var(--gap-20) 0;

    &.hasScrollContent {
        border-bottom: 1px solid var(--color-light-neutral-translucent-300);
    }
}

.backButton,
.closeButton button {
    background-color: var(--color-light-bg-primary);
}

.backButton.backButton {
    padding: 0 var(--gap-12);
}

.title {
    @mixin headline-system_small;
    padding-left: var(--gap-12);

    &.medium {
        @mixin headline-system_medium;
    }
}
