.enterLeft {
    transform: translateX(-100%);
}

.enterRight {
    transform: translateX(100%);
}

.enterActive {
    transition: transform 200ms ease-in;
    transform: translateX(0);
}

.enterDone {
    transform: translateX(0);
}

.exit {
    transform: translateX(0);
}

.exitActiveLeft {
    transition: transform 200ms ease-out;
    transform: translateX(-100%);
}

.exitActiveRight {
    transition: transform 200ms ease-out;
    transform: translateX(100%);
}
