@import './vars.css';

.component {
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 600px;
}

.component.component {
    position: fixed;
    flex: 1;
}

.mobileContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}
