@import '../../vars/src/index.css';

:root {
    --side-panel-border-radius: var(--border-radius-12);
    --side-panel-vertical-padding: var(--gap-40);
    --side-panel-header-background: var(--color-light-modal-bg-primary);
    --side-panel-footer-background: var(--color-light-modal-bg-primary);
    --side-panel-footer-default-gap: var(--gap-16);

    /* sizes */
    --side-panel-s-width: 500px;

    /* paddings */
    --side-panel-s-header-paddings: 28px 28px var(--gap-0);
    --side-panel-s-content-paddings: var(--gap-40) var(--gap-40) var(--gap-0);
    --side-panel-s-footer-paddings: var(--gap-24) var(--gap-40) var(--gap-40);

    /* scroll */
    --side-panel-header-highlight-background: var(--color-light-modal-bg-primary);
    --side-panel-footer-highlight-background: var(--color-light-modal-bg-primary);
    --side-panel-header-highlight-box-shadow: 0 1px 0 0 var(--color-light-neutral-300);
    --side-panel-footer-highlight-box-shadow: 0 -1px 0 0 var(--color-light-neutral-300);

    /* desktop */
    --side-panel-s-header-desktop-content-paddings: 6px var(--gap-12) var(--gap-16);
    --side-panel-s-header-desktop-font-size: 30px;
    --side-panel-s-header-desktop-line-height: 36px;
    --side-panel-header-desktop-font-weight: bold;
    --side-panel-header-desktop-font-family: var(--font-family-system);

    /* mobile */
    --side-panel-header-mobile-content-paddings: 10px var(--gap-8);
    --side-panel-header-mobile-font-size: 20px;
    --side-panel-header-mobile-line-height: 28px;
    --side-panel-header-mobile-font-family: var(--font-family-system);
    --side-panel-header-mobile-font-weight: 600;

    /* paddings */
    --side-panel-header-mobile-top-padding: var(--gap-4);
    --side-panel-header-mobile-paddings: var(--side-panel-header-mobile-top-padding) var(--gap-8)
        var(--gap-4) var(--gap-8);
}
