@import '@alfalab/core-components-vars/src/index.css';

:root {
    --underline-border-color-accent: var(--color-light-accent-primary);
    --underline-border-color-key: var(--color-light-neutral-translucent-1300);
    --underline-border-color-key-inverted: var(--color-light-neutral-translucent-1300-inverted);
    --underline-border-color-link: var(--color-light-status-info);
    --underline-border-color-primary: var(--color-light-neutral-400);
    --underline-border-color-primary-inverted: var(--color-light-neutral-400-inverted);
    --underline-border-color-secondary: var(--color-light-neutral-300);
    --underline-border-color-secondary-inverted: var(--color-light-neutral-300-inverted);
    --underline-border-color-tertiary: var(--color-light-neutral-200);
    --underline-border-color-tertiary-inverted: var(--color-light-neutral-200-inverted);
    --underline-border-color-underline: var(--color-light-neutral-500);
    --underline-border-color-underline-inverted: var(--color-light-neutral-500-inverted);
    --underline-border-color-graphic-attention: var(--color-light-status-attention);
    --underline-border-color-graphic-link: var(--color-light-status-info);
    --underline-border-color-graphic-negative: var(--color-light-status-negative);
    --underline-border-color-graphic-positive: var(--color-light-status-positive);
    --underline-border-color-specialbg-secondary-transparent: var(
        --color-light-neutral-translucent-200
    );
    --underline-border-color-specialbg-secondary-transparent-inverted: var(
        --color-light-neutral-translucent-200-inverted
    );
    --underline-border-color-specialbg-tertiary-transparent: var(
        --color-light-neutral-translucent-300
    );
    --underline-border-color-specialbg-tertiary-transparent-inverted: var(
        --color-light-neutral-translucent-300-inverted
    );
}

.component {
    display: flex;
    box-sizing: border-box;
}

.content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.overflowHide {
    overflow: hidden;
}

@mixin bg-class-list;

@each $size in 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl, 4xl, 5xl, 6xl {
    .padding-top-$(size) {
        padding-top: var(--gap-$(size));
    }
    .padding-right-$(size) {
        padding-right: var(--gap-$(size));
    }
    .padding-bottom-$(size) {
        padding-bottom: var(--gap-$(size));
    }
    .padding-left-$(size) {
        padding-left: var(--gap-$(size));
    }
}

@each $size in xs, s, m, l, xl, xxl, 3xl {
    .border-bottom-left-$(size) {
        border-bottom-left-radius: var(--border-radius-$(size));
    }
    .border-bottom-right-$(size) {
        border-bottom-right-radius: var(--border-radius-$(size));
    }
    .border-top-left-$(size) {
        border-top-left-radius: var(--border-radius-$(size));
    }
    .border-top-right-$(size) {
        border-top-right-radius: var(--border-radius-$(size));
    }
}

@each $shadow in shadow-xs, shadow-s, shadow-m, shadow-l, shadow-xl, shadow-xs-hard, shadow-s-hard,
    shadow-m-hard, shadow-l-hard, shadow-xl-hard, shadow-xs-up, shadow-s-up, shadow-m-up,
    shadow-l-up, shadow-xl-up, shadow-xs-hard-up, shadow-s-hard-up, shadow-m-hard-up,
    shadow-l-hard-up, shadow-xl-hard-up
{
    .$(shadow) {
        box-shadow: var(--$(shadow));
    }
}

@each $borderColor in accent, key, key-inverted, link, primary, primary-inverted, secondary,
    secondary-inverted, tertiary, tertiary-inverted, underline, underline-inverted,
    graphic-attention, graphic-link, graphic-negative, graphic-positive,
    specialbg-secondary-transparent, specialbg-secondary-transparent-inverted,
    specialbg-tertiary-transparent, specialbg-tertiary-transparent-inverted
{
    .border-color-$(borderColor) {
        border-color: var(--underline-border-color-$(borderColor));
    }
}

@each $radius in xs, s, m, l, xl, xxl, 3xl {
    .border-radius-$(radius) {
        border-radius: var(--border-radius-$(radius));
    }
}

/* prettier-ignore */
@each $width in 1, 2, 4 {
    .border-width-$(width) {
        border-width: $(width)px;
        border-style: solid;
    }
}

.direction-vertical {
    flex-direction: column;
}

.direction-horizontal {
    flex-direction: row;
}

.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.align-fill {
    align-items: stretch;
}

.justify-start {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}

.backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
}
