@import '../../themes/src/default.css';
@import '../../slider/src/vars.css';
@import '../../form-control/src/vars.css';

:root {
    --slider-input-steps-color: var(--color-light-text-secondary);
    --slider-input-info-color: var(--color-light-text-secondary);
    --slider-input-font-weight: 700;
    --slider-input-s-border-bottom-radius: var(--border-radius-m);
    --slider-input-m-border-bottom-radius: var(--border-radius-m);
    --slider-input-l-border-bottom-radius: var(--border-radius-m);
    --slider-input-xl-border-bottom-radius: var(--border-radius-l);
    --slider-input-progress-margin-horizontal: var(--gap-12);
    --slider-input-xl-progress-margin-horizontal: var(--gap-16);
    --slider-input-progress-border-radius: var(--border-radius-s);
    --slider-input-progress-bg-color: var(--color-light-neutral-700);
    --slider-input-progress-hover-bg-color: var(--color-light-neutral-700);
    --slider-input-origin-width: calc(100% - 16px);
    --slider-input-origin-right: 8px;
}

.component {
    position: relative;
    display: inline-block;
}

.block {
    display: block;
}

.slider {
    width: calc(100% - var(--slider-input-progress-margin-horizontal) * 2);
    margin-left: var(--slider-input-progress-margin-horizontal);
    margin-right: var(--slider-input-progress-margin-horizontal);
    margin-top: calc(var(--slider-progress-s-height) / -2);
    transform: translateY(-1px);

    &.size-72 {
        width: calc(100% - var(--slider-input-xl-progress-margin-horizontal) * 2);
        margin-left: var(--slider-input-xl-progress-margin-horizontal);
        margin-right: var(--slider-input-xl-progress-margin-horizontal);
    }

    & :global(.noUi-base) {
        border-radius: var(--slider-input-progress-border-radius);
    }

    & :global(.noUi-base):hover {
        & > :global(.noUi-connects) {
            background-color: var(--slider-input-progress-hover-bg-color);
        }
    }

    & :global(.noUi-connects) {
        border-radius: var(--slider-input-progress-border-radius);
        background-color: var(--slider-input-progress-bg-color);
    }

    & :global(.noUi-origin) {
        width: var(--slider-input-origin-width);
        right: var(--slider-input-origin-right);
    }

    /* TODO исправить на 6px когда слайдеру добавят position: absolute */
    & + * {
        margin-top: 5px;
    }
}

.hidePips {
    & :global(.noUi-pips) {
        display: none;
    }
}

.component .field {
    &.size-48 {
        border-bottom-left-radius: var(--slider-input-s-border-bottom-radius);
        border-bottom-right-radius: var(--slider-input-s-border-bottom-radius);
    }

    &.size-56 {
        border-bottom-left-radius: var(--slider-input-m-border-bottom-radius);
        border-bottom-right-radius: var(--slider-input-m-border-bottom-radius);
    }

    &.size-64 {
        border-bottom-left-radius: var(--slider-input-l-border-bottom-radius);
        border-bottom-right-radius: var(--slider-input-l-border-bottom-radius);
    }

    &.size-72 {
        border-bottom-left-radius: var(--slider-input-xl-border-bottom-radius);
        border-bottom-right-radius: var(--slider-input-xl-border-bottom-radius);
    }
}

.input {
    & input,
    & input + div {
        font-weight: var(--slider-input-font-weight);
        font-variant-numeric: tabular-nums;
    }

    & input::placeholder {
        font-weight: 400;
    }
}

.steps {
    @mixin paragraph_component_secondary;

    display: flex;
    justify-content: space-between;
    margin-top: var(--gap-8);
    color: var(--slider-input-steps-color);
}

.info {
    @mixin paragraph_component;

    color: var(--slider-input-info-color);
    box-sizing: border-box;
    opacity: 0;
    transition: 0.2s ease;
    visibility: hidden;
}

.size-48.hasLabel .info:first-child {
    padding: var(--form-control-labeled-s-paddings);
    padding-left: 0;
    padding-right: 0;
}

.size-56.hasLabel .info:first-child {
    padding: var(--form-control-labeled-m-paddings);
    padding-left: 0;
    padding-right: 0;
}

.size-64.hasLabel .info:first-child {
    padding: var(--form-control-labeled-l-paddings);
    padding-left: 0;
    padding-right: 0;
}

.size-72.hasLabel .info:first-child {
    padding: var(--form-control-labeled-xl-paddings);
    padding-left: 0;
    padding-right: 0;
}

.focused .info,
.filled .info {
    visibility: visible;
    opacity: 1;
}
