@import '../../vars/src/index.css';
@import '../../input/src/vars.css';

.suffixContainer {
    @mixin paragraph_component;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    display: none;
    pointer-events: none;
}

input:focus:not(:read-only) + .suffixContainer,
.suffixVisible .suffixContainer {
    display: inline-flex;
}

.hasSuffix input:focus::placeholder {
    color: transparent;
    transition: none;
}

.spacer {
    visibility: hidden;
    flex-shrink: 0;
    white-space: pre;
}

.suffix {
    white-space: pre;
}

.disabled {
    color: var(--input-disabled-color);

    &.inverted {
        color: var(--input-inverted-disabled-color);
    }
}

.readOnly {
    color: var(--input-read-only-color);

    &.inverted {
        color: var(--input-inverted-read-only-color);
    }
}
