:root {
    --timeout: 200ms;
}

/* TODO Добавить плагин для переменных */

/* prettier-ignore */
@each $size in 0, 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80, 96, 128 {
    .enterLeft-$(size) {
        transform: translateX(calc(-100% - $(size)px));
    }
}

/* prettier-ignore */
@each $size in 0, 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80, 96, 128 {
    .enterRight-$(size) {
        transform: translateX(calc(100% + $(size)px));
    }
}

.enterActive {
    transform: translateX(0);
    transition: transform var(--timeout) ease-in;
}

.enterDone {
    transform: translateX(0);
}

.exit {
    transform: translateX(0);
}

/* prettier-ignore */
@each $size in 0, 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80, 96, 128 {
    .exitActiveLeft-$(size) {
        transform: translateX(calc(-100% - $(size)px));
        transition: transform var(--timeout) ease-out;
    }
}

/* prettier-ignore */
@each $size in 0, 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80, 96, 128 {
    .exitActiveRight-$(size) {
        transform: translateX(calc(100% + $(size)px));
        transition: transform var(--timeout) ease-out;
    }
}
