@import '../../../../vars/src/index.css';

.component {
    display: flex;
    justify-content: center;
    width: 100%;
}

.column {
    flex-flow: column nowrap;

    & > * {
        margin-bottom: var(--gap-16);
    }

    & > *:last-child,
    & > *:only-child {
        margin-bottom: 0;
    }
}

.row {
    flex-flow: row nowrap;

    & > * {
        margin-right: var(--gap-16);
    }

    & > *:last-child,
    & > *:only-child {
        margin-right: 0;
    }
}

.stretch {
    & > * {
        flex: 1;
    }
}
