@import '../../../../vars/src/index.css';

.overlay {
    position: absolute;
    top: var(--gap-0);
    bottom: var(--gap-0);
    left: var(--gap-0);
    right: var(--gap-0);
    border-radius: inherit;
    pointer-events: none;
    z-index: 3;
    opacity: 0;
}

.visible {
    opacity: 1;
}

.default {
    background: var(--color-static-neutral-translucent-700-inverted);
}

.inverted {
    background: var(--color-static-neutral-translucent-700);
}
