@import '../../../vars.css';
@import '@alfalab/core-components-vars/src/no-typography-index.css';

.header {
    width: 100%;
    box-sizing: border-box;
    transition:
        box-shadow 0.2s ease,
        background 0.2s ease;
    padding: var(--gap-20) var(--gap-20) 0;
}

.highlighted {
    background: var(--universal-modal-header-highlight-background);
    box-shadow: var(--universal-modal-header-highlight-box-shadow);
}

.sticky {
    position: sticky;
    z-index: 1;

    &.hasContent {
        background: var(--universal-modal-header-background);
    }
}
