@import '../../../vars.css';
@import '@alfalab/core-components-vars/src/no-typography-index.css';

.header {
    width: 100%;
    box-sizing: border-box;
    transition:
        box-shadow 0.2s ease,
        background 0.2s ease;

    &.highlighted {
        background: var(--universal-modal-header-highlight-background);
        box-shadow: var(--universal-modal-header-highlight-box-shadow);
    }

    &.sticky {
        position: sticky;
        top: var(--gap-0);
        z-index: 1;

        &.hasContent {
            background: var(--universal-modal-header-background);
        }
    }
}
