@import '@alfalab/core-components-vars/src/no-dynamic-mixins-index.css';

.content {
    display: flex;
    align-items: flex-start;
}

.icon {
    cursor: pointer;
    margin-left: var(--gap-8);

    /**
     * иконка сортировки должна быть выровнена по верхнему краю,
     * т.к. текст может быть в две строки
     */
    margin-top: 1px;
    color: var(--color-light-neutral-700);
    transition: color 0.2s ease;
    flex-shrink: 0;

    &:hover {
        color: var(--color-light-neutral-translucent-1300);
    }
}

.reverse {
    flex-direction: row-reverse;

    & .icon {
        margin-left: var(--gap-0);
        margin-right: var(--gap-8);
    }
}

.sorted {
    color: var(--color-light-status-info);

    &:hover {
        color: var(--color-light-status-info);
    }
}
