.seek {
    box-sizing: border-box;
    position: absolute;
    bottom: 80px;
    background-color: var(--color-static-monochrome-black-24);
    padding: var(--gap-8) var(--gap-12);
    border-radius: var(--border-radius-pill);
    pointer-events: none;
    display: flex;
    align-items: center;
    gap: 2px;
    backdrop-filter: blur(80px);
    width: 110px;
    height: 36px;
    z-index: 2;
}

.arrows {
    transform: translateY(1px);
}
