@import '../../themes/src/default.css';

.component {
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &:after {
        z-index: 1;
    }

    &:before {
        z-index: 0;
        border-radius: inherit;
    }

    & > .content {
        position: relative;
        z-index: 2;
        height: 100%;
    }
}

.regular {
    &:after {
        background-color: var(--color-light-bg-blur-regular-top);
        mix-blend-mode: var(--blur-regular-mix-blend-mode);
    }

    &:before {
        background-color: var(--color-light-bg-blur-regular-bottom);
        backdrop-filter: blur(40px);
    }
}

.primary {
    &:after {
        background-color: var(--color-light-bg-blur-primary-top);
        mix-blend-mode: overlay;
    }

    &:before {
        background-color: var(--color-light-bg-blur-primary-bottom);
        mix-blend-mode: luminosity;
        backdrop-filter: blur(22px);
    }
}

.tertiary {
    &:after {
        background-color: var(--color-light-bg-blur-tertiary-top);
        mix-blend-mode: overlay;
    }

    &:before {
        background-color: var(--color-light-bg-blur-tertiary-bottom);
        mix-blend-mode: luminosity;
        backdrop-filter: blur(22px);
    }
}
