@define-mixin icon-button-click {
    /* primary */
    --icon-button-inverted-primary-hover-color: var(
        --color-light-graphic-primary-inverted-shade-10
    );
    --icon-button-inverted-primary-active-color: var(
        --color-light-graphic-primary-inverted-shade-30
    );

    /* secondary */
    --icon-button-inverted-secondary-hover-color: var(
        --color-light-graphic-secondary-inverted-shade-10
    );
    --icon-button-inverted-secondary-active-color: var(
        --color-light-graphic-secondary-inverted-shade-30
    );

    /* negative */
    --icon-button-negative-base-color: var(--color-light-graphic-negative);
    --icon-button-negative-hover-color: var(--color-light-graphic-negative-tint-20);
    --icon-button-negative-active-color: var(--color-light-graphic-negative-tint-30);
    --icon-button-inverted-negative-hover-color: var(--color-light-graphic-negative-shade-7);
    --icon-button-inverted-negative-active-color: var(--color-light-graphic-negative-shade-30);
}
