@import '../../../../vars/src/index.css';
@import '../../vars.css';

.footer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: var(--gap-16) var(--gap-16);
    background-color: var(--color-light-modal-bg-primary);

    & .button:first-of-type {
        margin-right: var(--gap-16);
    }
}

.button {
    width: 50%;
}

.highlighted {
    border-top: 1px solid var(--color-light-neutral-300);
    background-color: var(--color-light-modal-bg-primary);
}
