@import '../../../vars.css';

.typographyTheme {
    @mixin _confirmation-text;
}

.left {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.button {
    margin-top: var(--gap-2xl);
}
