@import '../../themes/src/default.css';
@import '../../tag/src/vars.css';

.component {
    &.rectangular {
        &.xxs {
            border-radius: var(--tag-rectangular-mobile-xxs-border-radius);
        }

        &.xs {
            border-radius: var(--tag-rectangular-mobile-xs-border-radius);
        }

        &.s {
            border-radius: var(--tag-rectangular-mobile-s-border-radius);
        }
    }

    &.checked {
        &:not(.disabled) {
            background-color: var(--tag-mobile-background-color-checked);
        }

        @media (hover: hover) {
            &:not(.disabled):hover {
                background-color: var(--tag-mobile-background-color-checked-hover);
            }
        }

        &:not(.disabled):active {
            background-color: var(--tag-mobile-background-color-checked-active);
        }
    }
}

.valueButton {
    &.rectangular {
        &.xxs {
            border-radius: var(--tag-rectangular-mobile-xxs-border-radius);
        }

        &.xs {
            border-radius: var(--tag-rectangular-mobile-xs-border-radius);
        }

        &.s {
            border-radius: var(--tag-rectangular-mobile-s-border-radius);
        }
    }

    &.filled {
        background-color: var(--tag-filled-mobile-background-color);

        &:disabled {
            background-color: var(--tag-filled-mobile-background-color-disabled);
        }

        @media (hover: hover) {
            &:not(:disabled):hover {
                background-color: var(--tag-filled-mobile-background-color-hover);
            }
        }

        &:not(:disabled):active {
            background-color: var(--tag-filled-mobile-background-color-active);
        }
    }

    &.checked {
        background-color: var(--tag-mobile-background-color-checked);

        &.rectangular {
            &.xxs {
                border-radius: var(--tag-rectangular-mobile-xxs-border-radius) 0 0
                    var(--tag-rectangular-mobile-xxs-border-radius);
            }

            &.xs {
                border-radius: var(--tag-rectangular-mobile-xs-border-radius) 0 0
                    var(--tag-rectangular-mobile-xs-border-radius);
            }

            &.s {
                border-radius: var(--tag-rectangular-mobile-s-border-radius) 0 0
                    var(--tag-rectangular-mobile-s-border-radius);
            }

            &:disabled,
            &.close {
                &.xxs {
                    border-radius: var(--tag-rectangular-mobile-xxs-border-radius);
                }

                &.xs {
                    border-radius: var(--tag-rectangular-mobile-xs-border-radius);
                }

                &.s {
                    border-radius: var(--tag-rectangular-mobile-s-border-radius);
                }
            }
        }

        @media (hover: hover) {
            &:not(:disabled):hover {
                background-color: var(--tag-mobile-background-color-checked-hover);
            }
        }

        &:not(:disabled):active {
            background-color: var(--tag-mobile-background-color-checked-active);
        }

        &:disabled {
            background-color: var(--tag-mobile-background-color-checked-disabled);
        }
    }
}

.clear {
    background-color: var(--tag-mobile-background-color-checked);

    &.rectangular {
        &.xxs {
            border-radius: 0 var(--tag-rectangular-mobile-xxs-border-radius)
                var(--tag-rectangular-mobile-xxs-border-radius) 0;
        }

        &.xs {
            border-radius: 0 var(--tag-rectangular-mobile-xs-border-radius)
                var(--tag-rectangular-mobile-xs-border-radius) 0;
        }

        &.s {
            border-radius: 0 var(--tag-rectangular-mobile-s-border-radius)
                var(--tag-rectangular-mobile-s-border-radius) 0;
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--tag-mobile-background-color-checked-hover);
        }
    }

    &:active {
        background-color: var(--tag-mobile-background-color-checked-active);
    }
}
